@charset "UTF-8";

/* header */
/*
.idpt-header-wrap { position:fixed; top:0; left:0; width:100%; padding:1.5625rem 1rem; background-color:#fff; z-index:25; box-sizing:border-box; }
.idpt-header-wrap .idpt-header { position:relative; }
.idpt-header-wrap .idpt-header h1 { font-size: 1.125rem; color:#000; line-height:1.125rem; text-align:center}
.idpt-header-wrap .idpt-header .btn-back { position: absolute; top:0; left:0; width:1.125rem; height:1.03125rem; background:url('../img/customer/common/btn-back.png'); background-size:100%; overflow:hidden; text-indent:100%; }
.idpt-header-wrap .idpt-header .btn-menu { position: absolute; top:0; left:0; width:1.25rem; height:1.25rem; background:url('../img/customer/common/btn-menu.png'); background-size:100%; overflow:hidden; text-indent:100%; }
.idpt-header-wrap .idpt-header .btn-search { position: absolute; top:0; right:0; width:1.25rem; height:1.25rem; background:url('../img/customer/common/btn-search.png'); background-size:100%; overflow:hidden; text-indent:100%; }
*/

/* layer popup header */
.idpt-header-wrap .idpt-popup-header { position:relative; }
.idpt-header-wrap .idpt-popup-header h1 { font-size: 1.125rem; color:#000; line-height:1.125rem; }
.idpt-header-wrap .idpt-popup-header .btn-close { position: absolute; top:0; right:0; width:1.0625rem; height:1.0625rem; background:url('../img/customer/common/btn-close.png'); background-size:100%; overflow:hidden; text-indent:100%; }

/* common */
.idpt-container .h-tit {text-align:center !important}
.idpt-container .cs-title {font-size:0.9375rem !important; font-weight:600}
.idpt-container h2.howdo-title {font-size:1.45rem; font-weight:400; }
.idpt-container h3.howdo-title {font-size:1.375rem; font-weight:400; }
.idpt-container h2.prev-title {font-size:1.45rem; font-weight:400; }
.idpt-container h3.prev-title {font-size:0.875rem; font-weight:600; margin-top:0.675rem}
.idpt-container .tit-paddingleft {padding-left:0.625rem}
.idpt-container a {color:#000}

.idpt-container .idpt-mt0 { margin-top:0!important; }
.idpt-container .idpt-mt10 { margin-top:0.3rem!important; }
.idpt-container .idpt-mt20 { margin-top:0.625rem!important; }
.idpt-container .idpt-mt24 { margin-top:0.75rem!important; }
.idpt-container .idpt-mt30 { margin-top:0.9375rem!important; }
.idpt-container .idpt-mt40 { margin-top:1.25rem!important; }
.idpt-container .idpt-mt50 { margin-top:1.5rem!important; }
.idpt-container .idpt-mt60 { margin-top:1.875rem!important; }
.idpt-container .idpt-mt70 { margin-top:2.62rem!important; }
.idpt-container .idpt-mt80 { margin-top:2.5rem!important; }
.idpt-container .idpt-mt100 { margin-top:3.125rem!important; }

/* popup */
.idpt-popup { display:none; position:fixed; top:0; left:0; width:100%; height:100%; z-index:1000; }
.idpt-popup-wrap { display:none; width:100%; height:100%; background-color:#fff; }
.idpt-popup-wrap.show { display:block; }
.idpt-popup-header { position:relative; height:2.75rem; -webkit-box-sizing: border-box; box-sizing: border-box; border-bottom:1px solid #eeeeee; }
.idpt-popup-header p.popup-title { font-size: 0.8125rem; color:#000; font-weight: 500; line-height: 2.75rem; text-align:center; }
.idpt-popup-header p.popup-title.long-title { line-height:1.4em; padding-top:0.125rem; }
.idpt-popup-header .idpt-popup-close { position: absolute; display: block; top:1rem; right:1rem; width:0.8125rem; height:0.8125rem; text-indent: -9999px; background:url('../img/customer/common/button-popup-close_m.png') center center no-repeat; background-size:100%; }
.idpt-popup-cont-wrap { height:calc(100% - 3.75rem); overflow-y: auto; -webkit-overflow-scrolling: touch;}
.idpt-popup-cont-wrap.with-bottom-button { height:calc(100% - 4.75rem) !important; overflow-y: auto; }
.idpt-popup-cont { padding:1.375rem 1rem; }
.idpt-popup-cont p.popup-txt { font-size: 0.875rem; color:#000; }
.idpt-popup-cont p.popup-txt.with-margin { margin-top:2rem; }
.idpt-popup-cont .tbl-wrap { margin-top:1.4375rem; }
.idpt-popup-cont .benefit-img { margin-top:1.5625rem; }

.idpt-popup-cont.roaming { display:none; padding:1.6875rem 0 1rem; }
.idpt-popup-cont.roaming.show { display:block; }
.idpt-popup-cont.roaming p.popup-cont-title { font-size: 0.875rem; color:#000; font-weight: 700; padding:0 1rem; }
.idpt-popup-cont.roaming .benefit-img { margin-top:0.625rem; }
.idpt-popup-cont.roaming .tbl-wrap { margin-top:1.875rem; padding:0 1rem 0.5rem 1rem; overflow-x: auto; white-space: nowrap; }
.idpt-popup-cont.roaming .idpt-tbl-discount { width:56.0625rem; border-top:0; white-space: normal; }
.idpt-popup-cont.roaming .idpt-tbl-discount thead th { border-top:1px solid #cfcfcf; }

.idpt-popup-cont.allfamily-plan { display:none; }
.idpt-popup-cont.allfamily-plan.show { display:block; }

.idpt-radio-wrap.call-cont02 { display:none; }
.idpt-radio-wrap.center-cont02 { display:none; }


/* common popup */
/* popup style */

.tooltip-popup {display:none; }
.tooltip-popup .popup-info {display:none; }
.tooltip-popup .popup-info.show {display:block; }

/* button style */
.idpt-container a.idpt-link-default { display:inline-block; border:none; color:#188bce; text-decoration:underline; }
.idpt-container a.small {font-size:0.75rem; }
.idpt-container a.right {text-align:right; }
.idpt-container a.idpt-link-black { display:inline-block; border:none; color:#000; }
.idpt-container a.link-ra {display:block; width:100%; height:auto; background:url(../img/customer/common/btn-right-arrow.png) no-repeat; background-size:0.4375rem 0.6875rem; background-position:100% 50%; }
.idpt-container a.underline { text-decoration:underline; }
.idpt-container a.idpt-link-eng { display:inline-block; border:none; color:#188bce; text-decoration:underline; word-break:break-all; word-wrap:break-word; }
.idpt-container a.underline { text-decoration:underline; }
.idpt-container .idpt-link-solo {text-align:center}
.idpt-container .idpt-link-solo a.ghost_normal {display:inline-block; color:#000; height:1.75rem; line-height:1.75rem; font-size:0.75rem; background-color:#fff; border:1px solid #f9f9f9; padding:0 1rem; border-radius:0.9375rem; }
.idpt-container .idpt-link-solo a.ghost_normal.near-search { width:7.1875rem; padding:0; }

/* seperator */
.idpt-container .idpt-seperator { width:100%; height:0.625rem; background-color:#edeef0; border-top:1px solid #e6e7e8; }
.idpt-container .idpt-seperator.no-border { border-top:0; }
.idpt-container hr.idpt-down-box { clear:both; width:100%; height:0.375rem; background:url('../img/customer/common/btn-arrow-down.png') 50% 0 no-repeat; background-size:0.75rem 0.375rem; border:0; margin:0.75rem 0}
.idpt-container hr.idpt-underline { clear:both; width:100%; height:0.75rem; border-bottom:1px solid #e1e1e1; margin:0.75rem 0}
.idpt-container hr.clear { clear:both; width:100%; height:0; }

.popup-page .idpt-container { height:100%; overflow-y:auto; }

.idpt-container .idpt-cont-title { background-color:#edeef0; padding:0 1rem; }
.idpt-container .idpt-cont-title p { font-size: 0.875rem; color:#000; line-height:2.6875rem; font-weight:600}
.idpt-container .idpt-cont-check {background-color:#edeef0; padding:0.75rem 1rem; box-sizing:border-box}
.idpt-container .idpt-cont-check span {font-size: 0.75rem; color:#000; font-weight:600; padding-left:0.1rem}
.idpt-container .idpt-popcont-title { background-color:#f5f5f5; padding:1.25rem; box-sizing:border-box}
.idpt-container .idpt-popcont-title p { font-size: 0.8125rem; color:#3d3d3d; line-height:2.6875rem; }

.idpt-container .idpt-cont-box { padding:1.25rem 1rem; background-color:#fff; border-bottom:1px solid #e1e1e1; box-sizing:border-box; }
.idpt-container .idpt-cont-box.gray { background-color:#f9f9f9}
.idpt-container .idpt-cont-box.no-border {border-bottom:0 !important}
.idpt-container .idpt-cont-box.no-padding {padding-top:0 !important; padding-bottom:0 !important}
.idpt-container .idpt-cont-box.howdo { padding:2.5rem 1rem 1.875rem 1rem; min-height:10.5rem; box-sizing:border-box}
.idpt-container .idpt-cont-box.howdo.mh {padding-bottom:0 !important}
.idpt-container .idpt-cont-box p.title-howdo {font-size:0.875rem; color:#000; font-weight:600; }

.idpt-container .idpt-cont-box.howdo-bg01 { background:url('../img/customer/howdo/howdo_title_bg01.png') #fbfbfb 100% 100% no-repeat; background-size:8.6875rem 6.6875rem; padding-top:1.875rem !important; }
.idpt-container .idpt-cont-box.howdo-bg02 { background:url('../img/customer/howdo/howdo_title_bg02.png') #fbfbfb 100% 100% no-repeat; background-size:8.6875rem 6.6875rem; padding-top:1.875rem !important; }
.idpt-container .idpt-cont-box.howdo-bg03 { background:url('../img/customer/howdo/howdo_title_bg03.png') #fbfbfb 100% 100% no-repeat; background-size:8.6875rem 6.6875rem; padding-top:1.875rem !important; }
.idpt-container .idpt-cont-box.howdo-bg04 { background:url('../img/customer/howdo/howdo_title_bg04.png') #fbfbfb 100% 100% no-repeat; background-size:8.6875rem 6.6875rem; padding-top:1.875rem !important; }
.idpt-container .idpt-cont-box.howdo-bg05 { background:url('../img/customer/howdo/howdo_title_bg05.png') #fbfbfb 100% 100% no-repeat; background-size:8.6875rem 6.6875rem; padding-top:1.875rem !important; }
.idpt-container .idpt-cont-box.howdo-bg06 { background:url('../img/customer/howdo/howdo_title_bg06.png') #fbfbfb 100% 100% no-repeat; background-size:8.6875rem 6.6875rem; padding-top:1.875rem !important; }
.idpt-container .idpt-cont-box.howdo-bg07 { background:url('../img/customer/howdo/howdo_title_bg07.png') #fbfbfb 100% 100% no-repeat; background-size:8.6875rem 6.6875rem; padding-top:1.875rem !important; }
.idpt-container .idpt-cont-box.howdo-bg08 { background:url('../img/customer/howdo/howdo_title_bg08.png') #fbfbfb 100% 100% no-repeat; background-size:8.6875rem 6.6875rem; padding-top:1.875rem !important; }
.idpt-container .idpt-cont-box.howdo-bg09 { background:url('../img/customer/howdo/howdo_title_bg09.png') #fbfbfb 100% 100% no-repeat; background-size:8.6875rem 6.6875rem; padding-top:1.875rem !important; }
.idpt-container .idpt-cont-box.howdo-bg10 { background:url('../img/customer/howdo/howdo_title_bg10.png') #fbfbfb 100% 100% no-repeat; background-size:8.6875rem 6.6875rem; padding-top:1.875rem !important; }
.idpt-container .idpt-cont-box.howdo-bg11 { background:url('../img/customer/howdo/howdo_title_bg11.png') #fbfbfb 100% 100% no-repeat; background-size:8.6875rem 6.6875rem; padding-top:1.875rem !important; }
.idpt-container .idpt-cont-box.howdo-bg12 { background:url('../img/customer/howdo/howdo_title_bg12.png') #fbfbfb 100% 100% no-repeat; background-size:8.6875rem 6.6875rem; padding-top:1.875rem !important; }
.idpt-container .idpt-cont-box.howdo-bg13 { background:url('../img/customer/howdo/howdo_title_bg13.png') #fbfbfb 100% 100% no-repeat; background-size:8.6875rem 6.6875rem; padding-top:1.875rem !important; }
.idpt-container .idpt-cont-box.howdo-bg14 { background:url('../img/customer/howdo/howdo_title_bg14.png') #fbfbfb 100% 100% no-repeat; background-size:8.6875rem 6.6875rem; padding-top:1.875rem !important; }
.idpt-container .idpt-cont-box.howdo-bg15 { background:url('../img/customer/howdo/howdo_title_bg15.png') #fbfbfb 100% 100% no-repeat; background-size:8.6875rem 6.6875rem; padding-top:1.875rem !important; }
.idpt-container .idpt-cont-box.howdo-bg16 { background:url('../img/customer/howdo/howdo_title_bg16.png') #fbfbfb 100% 100% no-repeat; background-size:8.6875rem 6.6875rem; padding-top:1.875rem !important; }
.idpt-container .idpt-cont-box.howdo-bg17 { background:url('../img/customer/howdo/howdo_title_bg17.png') #fbfbfb 100% 100% no-repeat; background-size:8.6875rem 6.6875rem; padding-top:1.875rem !important; }
.idpt-container .idpt-cont-box.howdo-bg18 { background:url('../img/customer/howdo/howdo_title_bg18.png') #fbfbfb 100% 100% no-repeat; background-size:8.6875rem 6.6875rem; padding-top:1.875rem !important; }
.idpt-container .idpt-cont-box.howdo-bg19 { background:url('../img/customer/howdo/howdo_title_bg19.png') #fbfbfb 100% 100% no-repeat; background-size:8.6875rem 6.6875rem; padding-top:1.875rem !important; }
.idpt-container .idpt-cont-box.howdo-bg20 { background:url('../img/customer/howdo/howdo_title_bg20.png') #fbfbfb 100% 100% no-repeat; background-size:8.6875rem 6.6875rem; padding-top:1.875rem !important; }
.idpt-container .idpt-cont-box.howdo-bg21 { background:url('../img/customer/howdo/howdo_title_bg21.png') #fbfbfb 100% 100% no-repeat; background-size:8.6875rem 6.6875rem; padding-top:1.875rem !important; }
.idpt-container .idpt-cont-box.howdo-bg22 { background:url('../img/customer/howdo/howdo_title_bg22.png') #fbfbfb 100% 100% no-repeat; background-size:8.6875rem 6.6875rem; padding-top:1.875rem !important; }
.idpt-container .idpt-cont-box.howdo-bg23 { background:url('../img/customer/howdo/howdo_title_bg23.png') #fbfbfb 100% 100% no-repeat; background-size:8.6875rem 6.6875rem; padding-top:1.875rem !important; }
.idpt-container .idpt-cont-box.howdo-bg24 { background:url('../img/customer/howdo/howdo_title_bg24.png') #fbfbfb 100% 100% no-repeat; background-size:8.6875rem 6.6875rem; padding-top:1.875rem !important; }
.idpt-container .idpt-cont-box.howdo-bg25 { background:url('../img/customer/howdo/howdo_title_bg25.png') #fbfbfb 100% 100% no-repeat; background-size:8.6875rem 6.6875rem; padding-top:1.875rem !important; }
.idpt-container .idpt-cont-box.howdo-bg26 { background:url('../img/customer/howdo/howdo_title_bg26.png') #fbfbfb 100% 100% no-repeat; background-size:8.6875rem 6.6875rem; padding-top:1.875rem !important; }
.idpt-container .idpt-cont-box.howdo-bg27 { background:url('../img/customer/howdo/howdo_title_bg27.png') #fbfbfb 100% 100% no-repeat; background-size:8.6875rem 6.6875rem; padding-top:1.875rem !important; }
.idpt-container .idpt-cont-box.howdo-bg28 { background:url('../img/customer/howdo/howdo_title_bg28.png') #fbfbfb 100% 100% no-repeat; background-size:8.6875rem 6.6875rem; padding-top:1.875rem !important; }
.idpt-container .idpt-cont-box.howdo-bg29 { background:url('../img/customer/howdo/howdo_title_bg29.png') #fbfbfb 100% 100% no-repeat; background-size:8.6875rem 6.6875rem; padding-top:1.875rem !important; }
.idpt-container .idpt-cont-box.howdo-bg30 { background:url('../img/customer/howdo/howdo_title_bg30.png') #fbfbfb 100% 100% no-repeat; background-size:8.6875rem 6.6875rem; padding-top:1.875rem !important; }
.idpt-container .idpt-cont-box.howdo-bg31 { background:url('../img/customer/howdo/howdo_title_bg31.png') #fbfbfb 100% 100% no-repeat; background-size:8.6875rem 6.6875rem; padding-top:1.875rem !important; }
.idpt-container .idpt-cont-box.nopadding-bottom { padding-bottom:0 !important}

.idpt-container .idpt-cont-box.prev-bg01 { background:url('../img/customer/damage-pre/prev_title_bg01.png') #fbfbfb 92% 100% no-repeat; background-size:4.9375rem 6.375rem; padding-top:1.875rem !important; }
.idpt-container .idpt-cont-box.prev-bg02 { background:url('../img/customer/damage-pre/prev_title_bg02.png') #fbfbfb 92% 100% no-repeat; background-size:4.9375rem 6.375rem; padding-top:1.875rem !important; }
.idpt-container .idpt-cont-box.prev-bg03 { background:url('../img/customer/damage-pre/prev_title_bg03.png') #fbfbfb 92% 100% no-repeat; background-size:4.9375rem 6.375rem; padding-top:1.875rem !important; }
.idpt-container .idpt-cont-box.prev-bg04 { background:url('../img/customer/damage-pre/prev_title_bg04.png') #fbfbfb 92% 100% no-repeat; background-size:4.9375rem 6.375rem; padding-top:1.875rem !important; }
.idpt-container .idpt-cont-box.prev-bg05 { background:url('../img/customer/damage-pre/prev_title_bg05.png') #fbfbfb 92% 100% no-repeat; background-size:4.9375rem 6.375rem; padding-top:1.875rem !important; }
.idpt-container .idpt-cont-box.prev-bg06 { background:url('../img/customer/damage-pre/prev_title_bg06.png') #fbfbfb 92% 100% no-repeat; background-size:4.9375rem 6.375rem; padding-top:1.875rem !important; }
.idpt-container .idpt-cont-box.prev-bg07 { background:url('../img/customer/damage-pre/prev_title_bg07.png') #fbfbfb 92% 100% no-repeat; background-size:4.9375rem 6.375rem; padding-top:1.875rem !important; }
.idpt-container .idpt-cont-box.prev-bg08 { background:url('../img/customer/damage-pre/prev_title_bg08.png') #fbfbfb 92% 100% no-repeat; background-size:4.9375rem 6.375rem; padding-top:1.875rem !important; }
.idpt-container .idpt-cont-box.prev-bg09 { background:url('../img/customer/damage-pre/prev_title_bg09.png') #fbfbfb 92% 100% no-repeat; background-size:4.9375rem 6.375rem; padding-top:1.875rem !important; }
.idpt-container .idpt-cont-box.prev-bg10 { background:url('../img/customer/damage-pre/prev_title_bg10.png') #fbfbfb 92% 100% no-repeat; background-size:4.9375rem 6.375rem; padding-top:1.875rem !important; }
.idpt-container .idpt-cont-box.prev-bg11 { background:url('../img/customer/damage-pre/prev_title_bg11.png') #fbfbfb 92% 100% no-repeat; background-size:4.9375rem 6.375rem; padding-top:1.875rem !important; }
.idpt-container .idpt-cont-box.prev-bg12 { background:url('../img/customer/damage-pre/prev_title_bg12.png') #fbfbfb 92% 100% no-repeat; background-size:4.9375rem 6.375rem; padding-top:1.875rem !important; }

.idpt-container .idpt-cont-box.top-border { border-top:1px solid #e1e1e1; }
.idpt-container .idpt-cont-box.top-nopadding {padding-top:0 !important}
.idpt-container .idpt-dropdown { margin-top:0.9375rem; }
.idpt-container .idpt-dropdown .btn-dropdown { position:relative; width:100%; height:2.5rem; padding-left:0.9375rem; padding-right:2rem; font-size: 0.9375rem; color:#000; background-color:#f7f7f7; border-radius:0.3125rem; text-align:left; overflow:hidden; white-space:nowrap; text-overflow:ellipsis}
.idpt-container .idpt-dropdown .btn-dropdown::after { position: absolute; content:''; display:block; width:0.75rem; height:0.375rem; top:50%; right:0.875rem; background:url('../img/customer/common/btn-arrow-down.png') no-repeat; background-size:100% 100%; transform:translateY(-50%); }
.idpt-container .idpt-dropdown .btn-dropdown.dropdown-full { width:100%; }
.idpt-container .idpt-img-box { text-align:center; max-width:22.5rem; margin:0 auto; }
.idpt-container .idpt-img-box.left { text-align:left !important; }
.idpt-container .idpt-img-box.right { text-align:right !important; }
.idpt-container .idpt-img-box img { width:100%; }

.idpt-container .idpt-product-box { display:table; width:100%; font-size:0.875rem; background-color:#fff; box-sizing:border-box}
.idpt-container .idpt-product-box td {border:1px solid #e1e1e1; border-radius:0.25rem; padding:0.752rem; }

.idpt-container .idpt-cont-inbox { padding:1rem; background-color:#fff; border:1px solid #e1e1e1; border-radius:0.25rem}
.idpt-container .idpt-cont-inbox.gray { background-color:#f6f6f6}

/* form & input style */
.idpt-container form.idpt-form { border:0; font-size:0.8125rem; color:#000; }
.idpt-container form.idpt-form input { display:inline-block; width:100%; border-radius:0.25rem; }
.idpt-container form.idpt-form input.idpt-input-text {width:100%; font-size:0.8125rem; color:#000; padding:0.75rem 0.625rem; background:#f7f7f7; box-sizing:border-box; }
.idpt-container form.idpt-form input.idpt-input-text::placeholder { font-size:0.8125rem; color:#c1c1c1; background:#f7f7f7; }

.idpt-container form.idpt-form input[type="radio"] { visibility:hidden;overflow:hidden;position:absolute;top:0;left:0;width:0;height:0;font-size:0;line-height:0; }
.idpt-container form.idpt-form input[type="radio"] + label { display:inline-block; background:url('../img/customer/common/idpt-radio.png') 0 0 no-repeat; background-size:1.625rem 1.625rem; line-height:1.625rem; height:1.625rem; padding-left:2rem; }
.idpt-container form.idpt-form input[type="radio"]:checked + label { background:url('../img/customer/common/idpt-radio-checked.png') 0 0 no-repeat; background-size:1.625rem 1.625rem; line-height:1.625rem; height:1.625rem; padding-left:2rem; }
.idpt-container form.idpt-form input[type="radio"] + label { margin-right:0.65rem; }

.idpt-container form.idpt-form input[type="checkbox"] { visibility:hidden;overflow:hidden;position:absolute;top:0;left:0;width:0;height:0;font-size:0;line-height:0; }
.idpt-container form.idpt-form input[type="checkbox"] + label { display:inline-block; background:url('../img/customer/common/idpt-checkbox.png') 0 0 no-repeat; background-size:1.625rem 1.625rem; line-height:1.625rem; height:1.625rem; padding-left:2rem; }
.idpt-container form.idpt-form input[type="checkbox"]:checked + label { background:url('../img/customer/common/idpt-checkbox-checked.png') 0 0 no-repeat; background-size:1.625rem 1.625rem; line-height:1.625rem; height:1.625rem; padding-left:2rem; }
.idpt-container form.idpt-form input[type="checkbox"] + label { margin-right:0.65rem; }

.idpt-container .recently-tel-box {position:relative}
.idpt-container .inputbox.bt-add {display:flex; position:relative; ms-flex-wrap:wrap; flex-wrap:wrap; }
.idpt-container .inputbox.bt-add input {display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-flex:10; -ms-flex:10; flex:10}

.idpt-container .idpt-link-wrap {position:relative; width:100%}
.idpt-container .idpt-link-wrap .input_area {display:block; width:100%; color:#c1c1c1; background:#f7f7f7; box-sizing:border-box; }
.idpt-container .idpt-link-wrap .link-btn-search {position:absolute; right:0.625rem; top:0.75rem; display:block; width:1.25rem; height:1.25rem; background:url('../img/customer/common/btn-search.png') no-repeat;  background-size:1.25rem 1.25rem; }

.idpt-container .idpt-search-result {display:none; width:100%; height:auto}
.idpt-container .idpt-search-result.on {display:block !important}

.idpt-container form.idpt-form .idpt-select { width:auto; height:auto; min-height:1.25rem; border:1px solid #e1e1e1; padding:0.75rem; box-sizing:border-box; background:url('../img/customer/common/btn-arrow-down.png') 97% 50% no-repeat; background-size:0.8125rem; vertical-align:center }
.idpt-container form.idpt-form .idpt-select.w100 { width:100%; }
.idpt-container form.idpt-form .idpt-select.w90 { width:96%; display:inline-block; }
.idpt-container form.idpt-form .idpt-select.w60 { width:60%; display:inline-block; }
.idpt-container form.idpt-form .idpt-select.w30 { width:30%; display:inline-block; }
.idpt-container form.idpt-form .align-right {text-align:right}

.idpt-container form.idpt-form .idpt-input { display:inline-block; width:auto; height:auto; min-height:1.25rem; border:1px solid #e1e1e1; padding:0.75rem; box-sizing:border-box; border-radius:0; vertical-align:center; }
.idpt-container form.idpt-form .idpt-input.w100 {width:100%; }
.idpt-container form.idpt-form .idpt-input.w90 {width:96%; display:inline-block; }
.idpt-container form.idpt-form .idpt-input.w60 {width:60%; display:inline-block; }
.idpt-container form.idpt-form .idpt-input.w30 {width:30%; display:inline-block; }

/* text */
.idpt-container .accordian-cont-title { position:relative; font-size: 0.875rem; color:#000; font-weight: 700; margin-top:2.5rem; }
.idpt-container .accordian-cont-title-sub { position:relative; font-size: 0.875rem; color:#000; margin-top:1.875rem; }
.idpt-container .accordian-cont-desc { position:relative; font-size: 0.875rem; color:#000; margin-top:0.875rem; }
.idpt-container .accordian-cont-box-title { position:relative; font-size: 0.8125rem; color:#000; font-weight: 700; margin-top:1.25rem; }
.idpt-container .accordian-cont-box-txt { position:relative; font-size: 0.8125rem; color:#959595; }
.idpt-container .with-dot,
.idpt-container .with-dot-black { padding-left:0.4375rem; }
.idpt-container .with-dot::before { position: absolute; content:''; top:0.375rem; left:0; display:block; width:0.1875rem; height:0.1875rem; background:url('../img/customer/common/list-type-disc.png'); background-size:100%; }
.idpt-container .with-dot-black::before { position: absolute; content:''; top:0.375rem; left:0; display:block; width:0.1875rem; height:0.1875rem; background:url('../img/customer/common/list-type-disc-black.png'); background-size:100%; }
.idpt-container .txt-black { position:relative; font-size: 0.8125rem; color:#000; }
.idpt-container .black-title { font-size: 0.75rem; color:#000; font-weight: 700; }
.idpt-container .black-sub { font-size: 0.75rem; color:#000; padding-left:0.4375rem; }
.idpt-container .txt-small { font-size: 0.62rem; color:#000; }
.idpt-container .txt-gray { position:relative; font-size: 0.8125rem; color:#666; }
.idpt-container .gray-title { font-size: 0.75rem; color:#666; font-weight: 700; }
.idpt-container .gray-sub { font-size: 0.75rem; color:#959595; padding-left:0.4375rem; }
.idpt-container .sub-gray { font-size: 0.8125rem; color:#959595; padding-left:0.4375rem; }
.idpt-container .with-star { padding-left:0.5375rem; }
.idpt-container .with-star::before { position:absolute; content:'*'; left:0; }
.idpt-container .align-center { text-align:center; }
.idpt-container .align-right { text-align:right; }
.idpt-container .weight-bold { font-weight:600; font-weight:bold}
.idpt-container .idpt-bold { font-weight: 600; }
.idpt-container .idpt-txt-red {font-size:0.75rem; color:#f76252; }
.idpt-container .underline-gray {border-bottom:1px solid #e5e5e5; padding-bottom:0.75rem; }
.idpt-container .underline-black {border-bottom:1px solid #000; }

.idpt-container .idpt-mask-img {display:inline-block; width:0.65rem; height:0.65rem; background:url('../img/customer/common/img_masking3.png') 0 0 no-repeat; background-size:100% 100%; margin-left:0.25rem; }

/* 안내문구 */
.idpt-container .idpt-cont-box .info-txt { position:relative; font-size:0.875rem; color:#000; }
.idpt-container .idpt-cont-box .info-txt + .info-txt { margin-top:1.25rem; }
.idpt-container .idpt-cont-box .info-txt-sub { position:relative; font-size:0.875rem; color:#959595; }
.idpt-container .idpt-cont-box .info-txt + .info-txt-sub { margin-top:0.5rem; }

.idpt-container .idpt-cont-box .info-txt + .info-box { margin-top:2.5rem; }
.idpt-container .idpt-cont-box .info-box .info-box-txt { position:relative; font-size: 0.875rem; color:#000; }
.idpt-container .idpt-cont-box .info-box .info-box-txt-sub { position:relative; font-size: 0.75rem; color:#959595; margin-top:0.625rem; }

.idpt-container .info-txt + .idpt-btn-wrap { margin-top:1.25rem; }
.idpt-container .info-txt-sub + .idpt-btn-wrap { margin-top:1.875rem; }

.idpt-container .idpt-vat-area {clear:both; width:100%; height:auto}
.idpt-container .idpt-vat-area .vat-right { float:right }

.idpt-container .idpt-cont-box .info-tooltip { position:relative; }
.idpt-container .idpt-cont-box .info-tooltip > p { float:left; font-size: 0.875rem; color:#000; line-height:0.9375rem; }
.idpt-container .idpt-cont-box .info-tooltip.d0004 > p { float:none; }
.idpt-container .idpt-cont-box .info-tooltip.d0004 > p:nth-child(2) { padding-left:0.8125rem; font-size: 0.8125rem; color:#666; margin-top:0.5rem; }
.idpt-container .idpt-cont-box .info-tooltip .btn-tooltip-open { float:left; display:block; width:1.5625rem; height:0.875rem; background:url('../img/customer/common/btn-tooltip-open.png'); background-size:100%; overflow:hidden; text-indent:100%; margin-left:0.375rem}
.idpt-container .idpt-cont-box .info-tooltip .idpt-tooltip-layer { display:none; position:absolute; width:11.625rem; padding:0.75rem 1.875rem 0.75rem 0.875rem; -webkit-box-sizing:border-box; box-sizing:border-box; font-size: 0.6875rem; color:#666; background-color:#fff; border:1px solid #178bce; top:1.25rem; z-index:20; }
.idpt-container .idpt-cont-box .info-tooltip .idpt-tooltip-layer .btn-tooltip-close { position:absolute; width:0.625rem; height:0.625rem; top:0.75rem; right:0.875rem; background:url('../img/customer/common/btn-tooltip-close.jpg'); background-size:100%; overflow:hidden; text-indent:100%; }
.idpt-container .idpt-cont-box .info-tooltip .idpt-tooltip-layer::before { position: absolute; content:''; display:block; width:0.5rem; height:0.375rem; top:-0.375rem; left:1.25rem; background:url('../img/customer/common/tooltip-point.png'); background-size:100%; }

.idpt-container .bt-fixed-area { position:fixed; left:0; bottom:0; z-index:25; width:100% }
.idpt-container .bt-fixed-area .bt-slice { width:100%; font-size:0; }
.idpt-container .bt-fixed-area .bt-slice > li {height:2.5rem; vertical-align:middle; display:inline-block; width:100%; margin-top:0; -webkit-box-sizing:border-box; box-sizing:border-box; margin-top:0.375rem; }
.idpt-container .bt-fixed-area .bt-slice > li:first-of-type { margin-top:0; }
.idpt-container .bt-fixed-area .bt-slice.full {width:100%}
.idpt-container .bt-fixed-area .bt-slice.full li { height:3.75rem; }
.idpt-container .bt-fixed-area .bt-slice.full li button { border-radius:0; font-size:1.125rem; text-align:center; }
.idpt-container .bt-fixed-area .bt-slice > li button {width:100%; height:100%; }
.idpt-container .bt-fixed-area .bt-slice > li.bt-red1 button {color:#fff; background:#e22f26}

/* accordian */
.idpt-container .idpt-accordian > li { position:relative; background:#fff; }
.idpt-container .idpt-accordian > li > a { position:relative; display:block; width:calc(100% - 2rem); height:3.5rem; line-height:3.5rem; font-size: 0.875rem; color:#000; font-weight: 600; -webkit-box-sizing:border-box; box-sizing:border-box; border-bottom:1px solid #e1e1e1; margin:0 auto;}
.idpt-container .idpt-accordian > li.two-line {padding-top:0.9rem}
.idpt-container .idpt-accordian > li.two-line > a { position:relative; display:block; width:calc(100% - 2rem); height:3.5rem; line-height:1.4rem; font-size: 0.875rem; color:#000; font-weight: 600; -webkit-box-sizing:border-box; box-sizing:border-box; border-bottom:1px solid #e1e1e1; margin:0 auto;}
.idpt-container .idpt-accordian > li > a.no-border {border-bottom:0 !important}
.idpt-container .idpt-accordian > li > a::after { position:absolute; content:''; display:block; width:0.75rem; height:0.375rem; top:50%; right:0; background:url('../img/customer/common/btn-arrow-down.png') no-repeat; background-size:100% 100%; -webkit-transform:translateY(-50%); transform:translateY(-50%); }
.idpt-container .idpt-accordian > li:last-child > a { border-bottom:0; }
.idpt-container .idpt-accordian > li > a.open { border-bottom:0; }
.idpt-container .idpt-accordian > li > a.open::after { -webkit-transform:rotate(180deg); transform:rotate(180deg); }

.idpt-container .idpt-accordian-cont { display:none; padding:1.625rem 1rem; background-color:#fff; border-top:1px solid #e1e1e1;}

.idpt-container .idpt-accordian.no-padding li { position:relative}
.idpt-container .idpt-accordian.no-padding > li > a {width:100% !important}
.idpt-container .idpt-accordian-cont.no-padding {padding:1.625rem 0 !important}

.idpt-container .card-list { margin-top:0.9375rem; }
.idpt-container .card-list > li { border:1px solid #e1e1e1; border-radius:0.25rem; background-color:#fff; }
.idpt-container .card-list > li + li { margin-top:0.625rem; }
.idpt-container .card-list .card-list-num { float:left; width:2.5rem; }
.idpt-container .card-list .card-list-num > p { font-size: 0.875rem; color:#000; font-weight: 600; text-align:center; margin-top:1.25rem; }
.idpt-container .card-list .card-list-cont { float:left; width:calc(100% - 2.5rem); border-left:1px solid #e1e1e1; -webkit-box-sizing:border-box; box-sizing:border-box; padding:1.25rem 0.9375rem; }
.idpt-container .card-list .card-list-cont .card-list-title { font-size: 0.875rem; color:#000; font-weight: 600; margin-top:1.25rem; }

.idpt-container .idpt-dot-list { margin-top:0.5rem; }
.idpt-container .idpt-dot-list > li { position:relative; font-size: 0.8125rem; color:#666; padding-left:0.625rem; }
.idpt-container .idpt-dot-list > li::before { position: absolute; display:block; content:''; width:0.1875rem; height:0.1875rem; background:url('../img/customer/common/list-type-disc.png'); background-size:100%; top:0.375rem; left:0; }
.idpt-container .idpt-dot-list > li + li { margin-top:0.375rem; }
.idpt-container .idpt-dot-list-black { margin-top:0.5rem; }
.idpt-container .idpt-dot-list-black > li { position:relative; font-size: 0.8125rem; color:#000; padding-left:0.625rem; }
.idpt-container .idpt-dot-list-black > li::before { position: absolute; display:block; content:''; width:0.1875rem; height:0.1875rem; background:url('../img/customer/common/list-type-disc-black.png'); background-size:100%; top:0.375rem; left:0; }
.idpt-container .idpt-dot-list-black > li + li { margin-top:0.375rem; }
.idpt-container .idpt-num-list { padding-left:0.8125rem; }
.idpt-container .idpt-num-list > li { list-style-type: decimal; font-size: 0.8125rem; color:#666; }
.idpt-container .idpt-num-list > li + li { margin-top:0.375rem; }
.idpt-container .idpt-num-list-black { padding-left:0.8125rem; }
.idpt-container .idpt-num-list-black > li { list-style-type: decimal; font-size: 0.8125rem; color:#000; }
.idpt-container .idpt-num-list-black > li + li { margin-top:0.375rem; }

.idpt-container .idpt-oneline-list { width:100%; height:auto; box-sizing:border-box; }
.idpt-container .idpt-oneline-list li { clear:both; font-size:0.875rem; width:100%; height:auto; min-height:1rem; padding:1rem 0; border-bottom:1px solid #e1e1e1}
.idpt-container .idpt-oneline-list li .oneline-subject {display:inline-block; width:30%; float:left; text-align:left;}
.idpt-container .idpt-oneline-list li .oneline-cont {display:inline-block; float:left; width:70%; text-align:right; font-weight:600; }
.idpt-container .idpt-oneline-list li .oneline-last {display:inline-block; width:40%; text-align:left}
.idpt-container .idpt-oneline-list li.top-border {border-top:1px solid #e1e1e1}
.idpt-container .idpt-oneline-list li.no-border { border-bottom:0 !important; }
.idpt-container .idpt-oneline-list li .one-title {color:#000; font-size:0.875rem; }
.idpt-container .idpt-oneline-list li .idpt-link-tel {display:inline-block; text-align:right; float:right}

.idpt-container .idpt-imgline-list {height:auto; box-sizing:border-box; }
.idpt-container .idpt-imgline-list li {font-size:0.875rem; width:100%; min-height:3.5rem; padding:1rem 0; border-bottom:1px solid #e1e1e1; box-sizing:border-box}
.idpt-container .idpt-imgline-list li.two_line { min-height:4rem !important; }
.idpt-container .idpt-imgline-list li.three_line { min-height:6.5rem !important; }
.idpt-container .idpt-imgline-list li.four_line { min-height:7.25rem !important; }
.idpt-container .idpt-imgline-list li.five_line { min-height:8.2rem !important; }
.idpt-container .idpt-imgline-list li > div {display:block; float:left; }
.idpt-container .idpt-imgline-list li .imgline-subject {display:inline-block; width:30%; max-width:4.5rem}
.idpt-container .idpt-imgline-list li .imgline-cont {display:inline-block; width:calc(100% - 4.5rem); -webkit-box-sizing: border-box; box-sizing: border-box; }
/* .idpt-container .idpt-imgline-list li.right-arrow .imgline-cont { padding-right:1rem; } */
.idpt-container .idpt-imgline-list li.right-arrow.idpt-re-padding .imgline-cont {padding-right:0;}
.idpt-container .idpt-imgline-list li.right-arrow.idpt-re-padding .imgline-cont a {display:block;padding-right:1rem;}
.idpt-container .idpt-imgline-list li .imgline-first {display:inline-block; width:20%}
.idpt-container .idpt-imgline-list li .imgline-second {display:inline-block; width:40%; }
.idpt-container .idpt-imgline-list li .imgline-third {display:inline-block; width:60%; }
.idpt-container .idpt-imgline-list li.top-border {border-top:1px solid #e1e1e1}
.idpt-container .idpt-imgline-list li.no-border { border-bottom:0 !important; }
.idpt-container .idpt-imgline-list li .idpt-img-box {text-align:left !important; margin-top:0.45rem; }
.idpt-container .idpt-imgline-list li .idpt-img-box.boxalign-right {text-align:right !important; margin-top:0.45rem; }

.idpt-container .idpt-oneline-list-sm {height:auto; box-sizing:border-box; }
.idpt-container .idpt-oneline-list-sm li {font-size:0.75rem; width:100%; padding:0.75rem 0.625rem; border-bottom:1px solid #e1e1e1; box-sizing:border-box}
.idpt-container .idpt-oneline-list-sm li .oneline-subject {display:inline-block; width:60%; text-align:left}
.idpt-container .idpt-oneline-list-sm li .oneline-cont {display:inline-block; width:40%; text-align:right; font-weight:600; }
.idpt-container .idpt-oneline-list-sm li.top-border {border-top:1px solid #e1e1e1}
.idpt-container .idpt-oneline-list-sm li.no-border { border-bottom:0 !important; }

.idpt-container .idpt-oneline-list-dotted {height:auto; box-sizing:border-box; }
.idpt-container .idpt-oneline-list-dotted > li {font-size:0.75rem; width:100%; padding:0.75rem 0; border-bottom:1px dotted #e1e1e1; box-sizing:border-box}
.idpt-container .idpt-oneline-list-dotted li .oneline-subject {display:inline-block; width:60%; text-align:left}
.idpt-container .idpt-oneline-list-dotted li .oneline-cont {display:inline-block; width:40%; text-align:right; font-weight:600; }
.idpt-container .idpt-oneline-list-dotted li.top-border {border-top:1px solid #e1e1e1}
.idpt-container .idpt-oneline-list-dotted li.no-border { border-bottom:0 !important; }
.idpt-container .idpt-oneline-list-dotted > li > a {display:block;}

.idpt-container .idpt-twocont-list {height:auto; box-sizing:border-box; }
.idpt-container .idpt-twocont-list li { display:block; font-size:0.8125rem; width:100%; height:3.9rem; border:1px solid #e1e1e1; margin-bottom:0.75rem}
.idpt-container .idpt-twocont-list li .twocont-subject { float:left; display:inline-block; width:50%; height:100%; background-color:#f5f5f5; border-right:1px solid #e1e1e1; padding:0.725rem; box-sizing:border-box; }
.idpt-container .idpt-twocont-list li .twocont-cont { float:left; display:inline-block; width:50%; height:100%; padding:0.725rem; box-sizing:border-box; }
.idpt-container .idpt-twocont-list li.top-border {border-top:1px solid #e1e1e1}
.idpt-container .idpt-twocont-list li.no-border { border-bottom:0 !important; }

.idpt-container .idpt-tag-box {width:100%; margin:0; padding:0}
.idpt-container .idpt-tag-box li {display:inline-block; color:#178bce}
.idpt-container .idpt-tag-box li a {display:inline-block; height:1.875rem; line-height:1.875rem; font-size:0.75rem; background-color:#eff6fb; color:#178bce; font-weight:600; padding:0 0.75rem; margin:0 0.375rem 0.75rem 0; border-radius:0.9375rem; }
.idpt-container .idpt-tag-box.b00042 > li + li { margin-left:1rem; }
.idpt-container .idpt-tag-box.b00042 > li > a { height:auto; line-height:inherit; font-size: 0.8125rem; background-color:transparent; font-weight: 400; padding:0; margin:0; text-decoration: underline; }

.idpt-container .idpt-ghost-box {width:100%; margin:0; padding:0}
.idpt-container .idpt-ghost-box li {display:inline-block; color:#000}
.idpt-container .idpt-ghost-box li a {display:inline-block; height:1.75rem; line-height:1.75rem; font-size:0.75rem; background-color:#fff; border:1px solid #cfcfcf; color:#000; padding:0 1rem; margin:0 0.375rem 0.75rem 0; border-radius:0.9375rem; }
.idpt-cont-box.howdo table.b00042 tbody tr td { padding-top:0.6125rem; }
.idpt-cont-box.howdo table.b00042 tbody tr:first-child td { padding-top:0; }
.idpt-container .idpt-ghost-box.b00042 > li > a { height:auto; line-height:inherit; font-size: 0.8125rem; color:#178bce; background-color:transparent; font-weight: 400; padding:0; margin:0; text-decoration: underline; border:0; }

.idpt-container .idpt-link-box {width:100%; margin:0; padding:0}
.idpt-container .idpt-link-box.right-align {text-align:right}
.idpt-container .idpt-link-box li {display:inline-block; border:0; color:#188bce}
.idpt-container .idpt-link-box li a { display:inline-block; font-size:0.8125rem !important; color:#188bce; margin-right:0.5rem; text-decoration:underline }

.idpt-container ul li.right-arrow {background:url(../img/customer/common/btn-right-arrow.png) no-repeat; background-size:0.4375rem 0.6875rem; background-position:100% 50%; }
.idpt-container .right-arrow {background:url(../img/customer/common/btn-right-arrow.png) no-repeat; background-size:0.4375rem 0.6875rem; background-position:100% 50%; }

.idpt-container .idpt-accordian-cont .accordian-cont-box { padding:1.25rem; background-color:#fff; border:1px solid #e1e1e1; border-radius:0.25rem; margin-top:0.9375rem; }
.idpt-container .idpt-accordian-cont .accordian-cont-box + .accordian-cont-box { margin-top:0.625rem; }

.idpt-container .idpt-box-list { margin-top:1rem; width:100%; height:auto; -webkit-box-sizing:border-box; box-sizing:border-box; background:#fff; border-top:1px solid #e5e5e5; border-left:1px solid #e5e5e5; }
.idpt-container .idpt-box-list > li { position:relative; width:50%; min-height:3.1875rem; float:left; display:inline-block; text-align:center; border-bottom:1px solid #e5e5e5; border-right:1px solid #e5e5e5; padding:1rem; font-size:0.8125rem; -webkit-box-sizing:border-box; box-sizing:border-box; }
.idpt-container .idpt-box-list > li.b00065 { height:6.5625rem; }
.idpt-container .idpt-box-list li .box-title {color:#000; font-weight:600; }
.idpt-container .idpt-box-list > li .box-cont {color:#666666; }
.idpt-container .idpt-box-list > li:after, .idpt-box-list > li:before {top: 100%; left: 50%; border: solid transparent; content: ""; height: 0; width: 0; position: absolute; }
.idpt-container .idpt-box-list > li:after {border-color: rgba(255, 255, 255, 0); border-top-color: #fff; border-width: 7px; margin-left: -7px; }
.idpt-container .idpt-box-list > li:before {	border-color: rgba(229, 229, 229, 0); border-top-color: #e5e5e5; border-width: 8px; margin-left: -8px; }
.idpt-container .idpt-box-list > li.w100 {clear:both; float:none; width:100% !important; }
.idpt-container .idpt-box-list > li.w100:after, .idpt-box-list > li.w100:before {border:0 !important; }
.idpt-container .idpt-box-list > li.w100-arrow {clear:both; float:none; width:100% !important}

/* FAQ */
.idpt-container .idpt-toggle-btn { position:relative; width:100%; height:3.5rem; padding:0 1rem; font-size: 0.875rem; color:#000; text-align:left; font-weight:600; background-color:#fff; border-bottom:1px solid #e1e1e1; }
.idpt-container .idpt-toggle-btn::before { position: absolute; content:''; display:block; width:0.8125rem; height:0.125rem; background-color:#a9a9a9; top:1.625rem; right:1.25rem; }
.idpt-container .idpt-toggle-btn::after { position: absolute; content:''; display:block; height:0.8125rem; width:0.125rem; background-color:#a9a9a9; top:1.325rem; right:1.64rem; }
.idpt-container .idpt-toggle-btn.open::after { display:none; }

.idpt-container .idpt-toggle-cont { display:none; }
.idpt-container .idpt-faq-question { position:relative; padding:1.25rem 1.25rem 1.25rem 2.2625rem; background-color:#fff; border-bottom:1px solid #e5e5e5; }
.idpt-container .idpt-faq-answer-sw { position:relative; padding:1.25rem 1.25rem 1.25rem 2.2625rem; background-color:#f5f5f5; border-bottom:1px solid #e5e5e5; }
.idpt-container .idpt-toggle-cont .faq-icon-txt {position:absolute; left:1rem; font-weight:600; font-size:0.875rem; }
.idpt-container .idpt-toggle-cont .idpt-faq-question .faq-icon-txt { top:1.25rem; }
.idpt-container .idpt-toggle-cont .idpt-faq-answer-sw .faq-icon-txt { top:1.45rem; }
.idpt-container .idpt-faq-question > p { font-size:0.875rem; color:#000}
.idpt-container .idpt-faq-answer-sw > p { font-size: 0.8125rem; color:#000; line-height:1.6em; }
.idpt-container .idpt-faq-answer-sw > ul { padding-left:0.8125rem; }
.idpt-container .idpt-faq-answer-sw > ul > li { list-style-type: decimal; font-size: 0.8125rem; color:#000; line-height:1.6em; }
.idpt-container .idpt-faq-answer-sw > ul > li + li { margin-top:0.375rem; }
.idpt-container .idpt-faq-btn { padding:1.875rem 1.25rem; background-color:#fff; border-bottom:1px solid #e5e5e5; }

/* 이용안내 */
.idpt-container .idpt-guide-title { padding:1.125rem; background-color:#fff; border-bottom:1px solid #e5e5e5; }
.idpt-container .idpt-guide-title > p { font-size: 0.875rem; color:#000; font-weight: 700; }
.idpt-container .idpt-guide-cont { padding:1.25rem; background-color:#fff; border-bottom:1px solid #e5e5e5; }

/* button */
.idpt-container .idpt-btn-wrap {display:block;}
.idpt-container .idpt-btn-wrap.right {text-align:right; }
.idpt-container .idpt-btn-wrap.w50 {text-align:center; margin:0 auto}
.idpt-container .idpt-btn-wrap.w50 > a {width:48%; display:inline-block; margin-right:1%; }
.idpt-container .idpt-btn-wrap.w60 {text-align:center; margin:0 auto; width:60%}
.idpt-container .idpt-btn-wrap.w80 {text-align:center; margin:0 auto; width:80%}
.idpt-container .idpt-btn-wrap.w100 {width:100%; text-align:right; margin:0 auto}
.idpt-container .idpt-btn-wrap.w100 > a {width:auto; display:inline-block; margin-right:0.5rem; }
.idpt-container .idpt-btn-wrap.maxw {width:100%; text-align:center; margin:0 auto}
.idpt-container .idpt-btn-wrap.long-title a {white-space:nowrap; margin:0}

.idpt-container .idpt-btn-cs { display:block; height:2.25rem; font-size: 0.875rem; text-align:center; line-height:2.25rem; border-radius:1.125rem; border:1px solid #999; box-sizing:border-box;}
.idpt-container .idpt-btn-cs.btn-full { width:100%; }
.idpt-container .idpt-btn-cs.btn-blue { color:#f76252; border-color:#f76252; }
.idpt-container .idpt-btn-cs.btn-blue-noborder { color:#fff; border:0; background-color:#f76252; }
.idpt-container .idpt-btn-cs.btn-blue-nostyle { font-size:0.8125rem; border:none; color:#2e8fcc; background:#fff; text-align:right; text-decoration:underline; }
.idpt-container .idpt-btn-cs.btn-blue-nostyle.left { border:none; color:#2e8fcc; background:#fff; text-align:left; text-decoration:underline; }
.idpt-container .idpt-btn-cs.btn-blue-nostyle.small {font-size:0.8125rem}
.idpt-container .idpt-btn-cs + .idpt-btn-cs { margin-top:0.625rem; }
.idpt-container .idpt-reference { display:inline-block; font-size: 0.8125rem; color:#000; text-decoration: underline !important; }

.idpt-container .idpt-btn-table { display:block; height:auto; }
.idpt-container .idpt-btn-table.btn-blue-nostyle { font-size:0.875rem; border:none; color:#2e8fcc; text-align:right; text-decoration:underline}
.idpt-container .idpt-btn-table.btn-blue-nostyle.left { border:none; color:#2e8fcc; text-align:left; text-decoration:underline; }
.idpt-container .idpt-btn-table.btn-blue-nostyle.center { border:none; color:#2e8fcc; text-align:center; text-decoration:underline; }
.idpt-container .idpt-btn-table.btn-blue-nostyle.small {font-size:0.8125rem}

/* tab */
.idpt-container .idpt-tab-area { display:block; background:#fff; }
.idpt-container .idpt-tab-wrap { padding-bottom:1.7rem}
.idpt-container .idpt-tab-wrap .tab-menu { width:100%; border-bottom:1px solid #f2f2f2; padding-left:0.6125rem; }
.idpt-container .idpt-benefit.benefit-gray .idpt-tab-wrap .tab-menu { border-color:#e5e5e5; }
.idpt-container .idpt-benefit.benefit-sky .idpt-tab-wrap .tab-menu { border-color:#dbe3ee; }
.idpt-container .idpt-tab-wrap .tab-menu > li { position:relative; float:left; font-size: 0.8125rem; color:#959595; font-weight: 600; padding:0.5rem 0; cursor: pointer;}
.idpt-container .idpt-tab-wrap .tab-menu.b00062 > li { width:30%; text-align: center; }
.idpt-container .idpt-tab-wrap .tab-menu > li.on { color:#000; }
.idpt-container .idpt-tab-wrap .tab-menu > li.on::after { position:absolute; content:''; display:block; width:100%; height:1px; bottom:-1px; left:0; background-color:#000; }
.idpt-container .idpt-tab-wrap .tab-menu > li + li { margin-left:0.5rem; }
.idpt-container .idpt-tab-wrap .tab-contents { display:none; padding:0 1rem; }
.idpt-container .idpt-tab-wrap .tab-contents.show { display:block; }
.idpt-container .idpt-tab-wrap .tab-contents .idpt-country-list { margin-top:1.875rem; }
.idpt-container .idpt-tab-wrap .tab-contents span.icon_wifi {content:""; display:inline-block; background:url('../img/customer/howdo/howdo_cont28_icon-wifi.jpg') 0 0 no-repeat; width:1.125rem; height:1.125rem; }

/* 2018.11.15 추가 */
/* table style */
.idpt-container .idpt-tbl-type01 { margin-top:0.9375rem; border:1px solid #cfcfcf; background-color:#fff; }
.idpt-container .idpt-tbl-type01 thead { background-color:#f5f5f5; }
.idpt-container .idpt-tbl-type01 thead tr,
.idpt-container .idpt-tbl-type01 tbody tr { border-bottom:1px solid #cfcfcf; }
.idpt-container .idpt-tbl-type01 thead th,
.idpt-container .idpt-tbl-type01 thead td { font-size: 0.75rem; color:#878787; border-right:1px solid #cfcfcf; padding:0.6875rem; text-align:left; vertical-align: top; -webkit-box-sizing:border-box; box-sizing:border-box; }
.idpt-container .idpt-tbl-type01 thead th:last-child,
.idpt-container .idpt-tbl-type01 thead td:last-child { border-right:0; }
.idpt-container .idpt-tbl-type01 tbody th,
.idpt-container .idpt-tbl-type01 tbody td { font-size: 0.75rem; color:#000; border-right:1px solid #cfcfcf; padding:0.6875rem; text-align:left; vertical-align: top; -webkit-box-sizing:border-box; box-sizing:border-box; }
.idpt-container .idpt-tbl-type01 tbody th { font-weight: 600; background-color:#f5f5f5; }
.idpt-container .idpt-tbl-type01 li { font-size: 0.75rem; }
.idpt-container .idpt-tbl-type01 p { font-size:0.75rem !important}

.idpt-container .idpt-tbl-type02 { margin-top:0.9375rem; border:1px solid #cfcfcf; background-color:#fff; }
.idpt-container .idpt-tbl-type02 thead { background-color:#f5f5f5; }
.idpt-container .idpt-tbl-type02 thead th,
.idpt-container .idpt-tbl-type02 thead td { font-size: 0.75rem; color:#000; border-bottom:1px solid #cfcfcf; padding:0.6875rem; text-align:left; vertical-align: top; -webkit-box-sizing:border-box; box-sizing:border-box; font-weight:600}
.idpt-container .idpt-tbl-type02 thead th.red {color:#f76252 !important}
.idpt-container .idpt-tbl-type02 tbody tr.line_sec {border-top:1px solid #cfcfcf}
.idpt-container .idpt-tbl-type02 tbody td { font-size: 0.75rem; color:#000; padding:0.6rem; vertical-align: top; -webkit-box-sizing:border-box; box-sizing:border-box; }
.idpt-container .idpt-tbl-type02 tbody td.align-right {text-align:right}

.idpt-container .idpt-tbl-type03 { margin-top:0.9375rem; background-color:none; }
.idpt-container .idpt-tbl-type03 thead { background-color:#fff; }
.idpt-container .idpt-tbl-type03 thead th,
.idpt-container .idpt-tbl-type03 thead td { font-size: 0.8125rem; border-bottom:1px solid #cfcfcf; text-align:left; vertical-align:top; -webkit-box-sizing:border-box; box-sizing:border-box; font-weight:600}
.idpt-container .idpt-tbl-type03 tbody tr.line_sec {border-top:1px solid #cfcfcf}
.idpt-container .idpt-tbl-type03 tbody td { font-size: 0.8125rem !important; color:#000; vertical-align: top; -webkit-box-sizing:border-box; box-sizing:border-box; padding-bottom:0.75rem; }
.idpt-container .idpt-tbl-type03 tbody td.nopadding {padding-bottom:0 !important}
.idpt-container .idpt-tbl-type03 tbody .noborder {border-bottom:0 !important}
.idpt-container .idpt-tbl-type03.popup-table tbody tr { border-bottom:1px dotted #cfcfcf; }
.idpt-container .idpt-tbl-type03.popup-table tbody tr:last-child {border-bottom:0}
.idpt-container .idpt-tbl-type03.popup-table tbody td {padding:1rem 0; }
.idpt-container .idpt-tbl-type03.popup-table tbody td > .idpt-img-box {text-align:left !important; padding-top:0.2rem}
.idpt-container .idpt-tbl-type03 tbody.b00039 td { padding:0.5rem; }

.idpt-container .idpt-tbl-type04 { background-color:#fff; border-top:1px solid #cfcfcf; border-left:1px solid #cfcfcf; }
.idpt-container .idpt-tbl-type04 thead { background-color:#f5f5f5; }
.idpt-container .idpt-tbl-type04 thead th,
.idpt-container .idpt-tbl-type04 thead td { font-size: 0.75rem; color:#000; padding:0.6875rem; text-align:left; vertical-align: top; -webkit-box-sizing:border-box; box-sizing:border-box; font-weight:600}
.idpt-container .idpt-tbl-type04 tbody th,
.idpt-container .idpt-tbl-type04 tbody td { font-size: 0.75rem; color:#000; padding:0.6875rem; vertical-align: top; -webkit-box-sizing:border-box; box-sizing:border-box; border-bottom:1px solid #cfcfcf; border-right:1px solid #cfcfcf}

.idpt-container .idpt-tbl-type05 thead { background-color:#f5f5f5; }
.idpt-container .idpt-tbl-type05 thead th,
.idpt-container .idpt-tbl-type05 thead td { font-size: 0.75rem; color:#000; padding:1rem 0; text-align:left; vertical-align: top; -webkit-box-sizing:border-box; box-sizing:border-box; font-weight:600}
.idpt-container .idpt-tbl-type05 tbody th,
.idpt-container .idpt-tbl-type05 tbody td { font-size: 0.75rem; color:#000; padding:1.75rem 0; vertical-align: top; -webkit-box-sizing:border-box; box-sizing:border-box}
.idpt-container .idpt-tbl-type05 tbody tr {border-bottom:1px solid #f6f6f6}

.idpt-container .idpt-tbl-type06 thead { background-color:#f5f5f5; }
.idpt-container .idpt-tbl-type06 thead th,
.idpt-container .idpt-tbl-type06 thead td { font-size: 0.75rem; color:#000; padding:1rem 0; text-align:left; vertical-align: center; -webkit-box-sizing:border-box; box-sizing:border-box; font-weight:600}
.idpt-container .idpt-tbl-type06 tbody th,
.idpt-container .idpt-tbl-type06 tbody td { font-size: 0.75rem; color:#000; padding:1rem 0; vertical-align: center; -webkit-box-sizing:border-box; box-sizing:border-box}
.idpt-container .idpt-tbl-type06 tbody td.right-arrow {background-position:90% 50% !important}
.idpt-container .idpt-tbl-type06 tbody td.align-center { text-align:center; }
.idpt-container .idpt-tbl-type06 tbody td.border {border-left:1px solid #cfcfcf; border-top:1px solid #cfcfcf; border-right:1px solid #cfcfcf; }
.idpt-container .idpt-tbl-type06 tbody tr {border-bottom:1px solid #cfcfcf}
.idpt-container .idpt-tbl-type06 tbody tr.noborder {border-bottom:0 !important}
.idpt-container .idpt-tbl-type06 tbody td .blue {color:#2e8fcc !important}

.idpt-container .accordian-cont-box .cont-box-arrow {width:100%; display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center;
background:url('../img/customer/common/btn-right-arrow.png') center 40% no-repeat; background-size:0.4375rem 0.6875rem;}
.idpt-container .accordian-cont-box .cont-box-arrow .cont-box-half {width:50%; float:left; display:inline-block; padding-bottom:0.6875rem; }
.idpt-container .accordian-cont-box .cont-box-bottom {clear:both; float:none; display:block; width:100%; border-top:1px solid #e1e1e1; padding-top:0.6875rem; }

/* 2018.11.16 추가 */
.idpt-container .idpt-circle-num-list { counter-reset: numList; }
.idpt-container .idpt-circle-num-list > li { position:relative; padding-left:0.975rem; font-size: 0.8125rem; color:#959595; }
.idpt-container .idpt-circle-num-list > li::before { position:absolute; display:block; counter-increment: numList; content: counter(numList); top:0.09rem; left:0; width:0.8rem; height:0.8rem; line-height:0.8rem; font-size: 0.6rem; color:#959595; text-align:center; border:1px solid #959595; border-radius:0.4rem; -webkit-box-sizing:border-box; box-sizing:border-box; }
.idpt-container .idpt-circle-num-list > li + li { margin-top:0.375rem; }
.idpt-container .idpt-circle-num-list.black > li { color:#000; }
.idpt-container .idpt-circle-num-list.black > li::before { color:#000; border-color:#000; }

/* 2019.02.26 */
.idpt-tab-wrap .tab-menu.new-tab { width:100%; padding:0; border:0; }
.idpt-tab-wrap .tab-menu.new-tab li + li { margin:0; }
.idpt-tab-wrap .tab-menu.new-tab > li { position:relative; text-align:center; height:3.625rem; font-size: 0.8125rem; font-weight: 400; color:#959595; background-color:#edeef0; -webkit-box-sizing: border-box; box-sizing: border-box; }
.idpt-tab-wrap .tab-menu.new-tab.tab33 > li { width:33.3%; padding-top:0.8125rem; }
.idpt-tab-wrap .tab-menu.new-tab.tab50 > li { width:50%; padding-top:1.25rem; }
.idpt-tab-wrap .tab-menu.new-tab > li.on { font-weight: 700; color:#f76252; background-color:#fff; }
.idpt-tab-wrap .tab-menu.new-tab > li.on:after { position:absolute; content:''; display:block; width:100%; height:0.15625rem; top:0; left:0; background-color:#f76252; }
.idpt-tab-wrap .tab-menu.new-tab.tab33 > li:first-child.on:before { position:absolute; content:''; display:block; width:1px; height:2.1875rem; top:0.75rem; right:-100%; background-color:#d4d5d6; z-index:1; }
.idpt-tab-wrap .tab-menu.new-tab.tab33 > li:last-child.on:before { position:absolute; content:''; display:block; width:1px; height:2.1875rem; top:0.75rem; left:-100%; background-color:#d4d5d6; z-index:1; }

.idpt-container .txt-icon { font-size: 1rem; font-weight: 700; color:#f76252; line-height:1.2em; padding-left:1.5rem; background:url('../img/customer/common/txt-icon.png') left 1px no-repeat; background-size:1.25rem 1rem; }

.idpt-container .idpt-box-list.new-box-list .box-cont { color:#000; }
.idpt-container .idpt-box-list.new-box-list .txt-gray { color:#666; }
.idpt-container .idpt-box-list.new-box-list .txt-gray span { display:inline-block; font-size: 0.625rem; margin-top:0.25rem; }

.idpt-container .idpt-box-list > li .idpt-circle-num-list > li { text-align:left; color:#666; }
.idpt-container .idpt-box-list > li .txt-black { text-align: left; font-weight: 500; }
.idpt-container .idpt-box-list > li .txt-gray.gray-sub.with-star { text-align:left; color:#959595; }

/* 2019.02.27 */
.idpt-container .idpt-accordian > li > a.no-accordian { cursor: default; pointer-events: none; }
.idpt-container .idpt-accordian > li > a.no-accordian::after { display:none; }
