
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">이럴 땐 이렇게 하세요</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box howdo howdo-bg27">
                <h2 class="howdo-title">해외여행 다녀와서<br>챙겨야 할 것은?</h2>
            </div>
            <!--// 타이틀 영역 -->

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo mh">

                <h3 class="howdo-title idpt-mt0">
					데이터 접속이 안되시나요?
				</h3>
				<ul class="idpt-imgline-list idpt-mt30">
					<li class="four_line no-border">
						<div class="imgline-subject">
							<div class="idpt-img-box left">
								<img src="{{cdn}}/img/customer/howdo/howdo_cont27_1.jpg" alt="" style="max-width:3.875rem">
							</div>
						</div>
						<div class="imgline-cont">
							<p>
								<span class="txt-black">여행 다녀온 후<br>데이터 접속이 잘 안되신다면</span>
							</p>
							<p class="txt-gray idpt-mt20">휴대폰의 네트워크 설정을 확인해 보세요.<br>휴대폰에 따라 설정 방법이 달라요.</p>
						</div>
						<ul class="idpt-link-box right-align idpt-mt40">
							<li>
								<!--<a href="idpt_howdo_cs25(popup01).html" class="fe-link-internal">스마트폰 네트워크 설정 방법 보기</a>-->
								<a href="javascript:void(0)" data-popup="popup01" class="idpt-popup-open">스마트폰 네트워크 설정 방법 보기</a>
							</li>
						</ul>

					</li>
				</ul>
			</div>

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
                <h3 class="howdo-title">
					요금안내서와 사용내역 조회는?
				</h3>
				<ul class="idpt-imgline-list idpt-mt30">
					<li class="four_line no-border">
						<div class="imgline-subject">
							<div class="idpt-img-box left">
								<img src="{{cdn}}/img/customer/howdo/howdo_cont27_2.jpg" alt="" style="max-width:3.6875rem">
							</div>
						</div>
						<div class="imgline-cont">
							<p>
								<span class="txt-black">1개월 후 요금안내서 발송</span>
							</p>
							<p class="txt-gray idpt-mt20">로밍 이용요금은 마지막 로밍 이용일 기준 1개월 후 청구되며, 최대 2~3개월 후까지 분할 청구되는 경우도 있어요.</p>
						</div>
						<ul class="idpt-link-box right-align idpt-mt40">
							<li><a href="/myt-fare/billguide/guide" class="fe-link-internal">청구내역 확인하기</a></li>
						</ul>
					</li>
				</ul>

				<ul class="idpt-imgline-list idpt-mt0">
					<li class="four_line no-border">
						<div class="imgline-subject">
							<div class="idpt-img-box left">
								<img src="{{cdn}}/img/customer/howdo/howdo_cont27_3.jpg" alt="" style="max-width:3.6875rem">
							</div>
						</div>
						<div class="imgline-cont">
							<p>
								<span class="txt-black">전화, 지점 방문하여 내역 조회</span>
							</p>
							<p class="txt-gray idpt-mt20">로밍 중 통화와 데이터 사용에 대한 총 이용요금 또는 일자 / 시간별 상세내역을 확인하실 수 있어요.</p>
						</div>

						<hr class="clear">

						<div class="idpt-btn-wrap w100 idpt-mt40">
							<!--<a href="idpt_howdo_cs27(popup01).html" class="fe-link-internal idpt-btn-table btn-blue-nostyle small">사용 내역 조회 안내</a>-->
							<a href="javascript:void(0)" data-popup="popup02" class="idpt-popup-open idpt-btn-table btn-blue-nostyle small">사용내역 조회 안내</a>
							<a href="tel:02-6343-9000" class="fe-link-internal idpt-btn-table btn-blue-nostyle small">T로밍 고객센터 연결</a>
						</div>

						<hr class="clear">

						<p class="txt-gray gray-sub with-star idpt-mt40">발신번호가 모두 표시된 통화내역 열람을 원하시면 신분증을 가지고 가까운 지점을 방문해 주세요.</p>
					</li>
				</ul>

			</div>

						<!-- popup 시작 -->
						<div class="idpt-popup">

							<div class="idpt-popup-wrap" id="popup01">
								<div class="idpt-popup-header">
									<p class="popup-title">스마트폰 네트워크 설정 방법 안내</p>
									<a href="javascript:void(0)" onclick="history.back();" class="idpt-popup-close">팝업닫기</a>
								</div>
								<div class="idpt-popup-cont-wrap">
									<div class="idpt-popup-cont">

										<p class="txt-black idpt-bold idpt-mt60">
											안드로이드 폰 네트워크 수동 설정 방법
										</p>
										<table class="idpt-tbl-type03 popup-table">
											<caption>안드로이드 네트워크 수동 설정 방법</caption>
											<colgroup>
												<col style="width:30%">
												<col style="width:auto">
											</colgroup>
											<thead>
											</thead>
											<tbody>
												<tr >
													<td>
														<div class="idpt-img-box left">
															<img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup25-1.jpg" alt="" style="max-width:4.6rem" alt="">
														</div>
													</td>
													<td>
														<p class="txt-black idpt-bold">
															수동 설정 순서
														</p>
														<p class="txt-black idpt-mt20">
															‘설정’ 아이콘 선택 > ‘해외로밍’ 메뉴 선택 > ‘로밍네트워크 설정’ 선택 > 자동설정 항목 선택
														</p>
													</td>
												</tr>
											</tbody>
										</table>
										<p class="txt-black idpt-bold idpt-mt60">
											아이폰 네트워크 수동 설정 방법
										</p>
										<table class="idpt-tbl-type03 popup-table">
											<caption>아이폰 네트워크 수동 설정 방법</caption>
											<colgroup>
												<col style="width:30%">
												<col style="width:auto">
											</colgroup>
											<thead>
											</thead>
											<tbody>
												<tr>
													<td>
														<div class="idpt-img-box left">
															<img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup25-2.jpg" alt="" style="max-width:4.6rem" alt="">
														</div>
													</td>
													<td>
														<p class="txt-black idpt-bold">
															수동 설정 순서
														</p>
														<p class="txt-black idpt-mt20">
															‘설정’ 아이콘 선택 > ‘셀룰러’ 메뉴 선택 > 셀룰러 데이터 항목 활성 선택
														</p>
													</td>
												</tr>
											</tbody>
										</table>

									</div>
								</div>
							</div>

							<div class="idpt-popup-wrap" id="popup02">
								<div class="idpt-popup-header">
									<p class="popup-title">사용내역 조회 안내</p>
									<a href="javascript:void(0)" onclick="history.back();" class="idpt-popup-close">팝업닫기</a>
								</div>
								<div class="idpt-popup-cont-wrap">
									<div class="idpt-popup-cont">

										<p class="info-txt idpt-bold">전화로 확인하는 요금 간단 조회</p>
										<table class="idpt-tbl-type01">
										<caption>전화로 확인하는 요금 간단 조회</caption>
											<colgroup>
												<col style="width:25%">
												<col style="width:auto">
												<col style="width:auto">
											</colgroup>
											<thead>
											<tr>
												<th>구분</th>
												<th>개인</th>
												<th>법인</th>
											</tr>
											</thead>
											<tbody>
												<tr>
													<td>정보확인</td>
													<td>본인정보 확인</td>
													<td>개인정보 확인</td>
												</tr>
												<tr>
													<td>확인<br>가능<br>항목</td>
													<td colspan="2">수신 / 발신 통화요금과 데이터 사용요금 등 총 이용요금만 조회하실 수 있어요.<br>(이용 요금은 팩스, 이메일, 우편 등으로 받아보실 수도 있어요.)</td>
												</tr>
											</tbody>
										</table>

										<p class="info-txt idpt-bold idpt-mt60">지점 방문하여 상세내역 조회</p>
										<table class="idpt-tbl-type01">
										<caption></caption>
											<colgroup>
												<col style="width:25%">
												<col style="width:auto">
												<col style="width:auto">
											</colgroup>
											<thead>
												<tr>
													<th>구분</th>
													<th>개인</th>
													<th>법인</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>본인</td>
													<td>본인 신분증,<br>자필 작성 신청서</td>
													<td rowspan="2">사업자등록증 사본, 위임장, 대리인 신분증, 요금 조회할 휴대폰</td>
												</tr>
												<tr>
													<td>대리인</td>
													<td>대리인 신분증,<br>명의자 신분증 사본, <br>명의자 자필 작성 신청서</td>
												</tr>
												<tr>
													<td>확인<br>가능<br>항목</td>
													<td colspan="2">일자, 시간별 수신 / 발신 통화내역과 데이터 사용에 대한 각각의 상세 요금을 조회하실 수 있어요.<br>
													(이용 요금은 팩스, 이메일, 우편 등으로 받아보실 수도 있어요.)</td>
												</tr>
											</tbody>
										</table>

									</div>
								</div>
							</div>

						</div>
						<!--// popup 끝 -->

        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
