
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">목소리 인증/전화 상담에 대한 안내</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box">
                <h2 class="cs-title">음성 인식 ARS</h2>
				 <p class="info-txt idpt-mt30">
					고객의 음성 인식 ARS와 주고받은 내용을 휴대폰으로 보여주는 T보이는 음성안내를 이용해 보세요.
				</p>

				<p class="txt-black idpt-bold idpt-mt60">
					이용 안내
				</p>
				<p class="txt-gray idpt-mt20">
					T전화에서 아래 번호를 누르시면 보이는 ARS 서비스가 시작됩니다.
				</p>

				<ul class="idpt-oneline-list">
					<li>114 (무료)
						<span class="idpt-link-tel">
							<a href="tel:114"><img src="{{cdn}}/img/customer/service/idpt-icon-telphone.png" alt="114 (무료) 전화걸기" style="max-width:1.5rem; vertical-align:middle"></a>
						</span>
					</li>
					<li>080-011-6000 (무료)
						<span class="idpt-link-tel">
							<a href="tel:080-011-6000"><img src="{{cdn}}/img/customer/service/idpt-icon-telphone.png" alt="080-011-6000 (무료) 전화걸기" style="max-width:1.5rem; vertical-align:middle"></a>
						</span>
					</li>
					<li>1599-0011 (유료)
						<span class="idpt-link-tel">
							<a href="tel:1599-0011"><img src="{{cdn}}/img/customer/service/idpt-icon-telphone.png" alt="1599-0011 (유료) 전화걸기" style="max-width:1.5rem; vertical-align:middle"></a>
						</span>
					</li>
				</ul>

				<!-- 링크 스타일 변경 2019/01/21 이용규
				<table class="idpt-tbl-type06 idpt-mt30">
					<caption>휴대폰에서 아래 번호를 누르시면 ARS서비스가 시작됩니다.</caption>
					<colgroup>
						<col style="width:50%">
						<col style="width:50%">
					</colgroup>
					<thead>
					</thead>
					<tbody>
						<tr>
							<td class="right-arrow border align-center"><p class="box-title">무료</p><p class="box-cont"><a href="tel:114" class="fe-link-external idpt-link-default">114</a></p></td>
							<td class="right-arrow border align-center"><p class="box-title">무료</p><p class="box-cont"><a href="tel:1599-0011" class="fe-link-external idpt-link-default">1599-0011</a></p></td>
						</tr>
						<tr>
							<td class="right-arrow border align-center"colspan="2">
								<p class="box-title">유료</p><p class="box-cont"><a href="tel:1599-0011" class="fe-link-external idpt-link-default">1599-0011</a></p>
							</td>
						</tr>
					</tbody>
				</table>
				-->

				<div class="idpt-cont-inbox gray idpt-mt30">
					<p class="txt-black align-center">A/S센터 업무 시간</p>
					<p class="txt-black idpt-bold align-center idpt-mt10">오전 9시~오후 6시</p>
					<p class="txt-black align-center idpt-mt10">(365일 연중무휴)</p>
				</div>

				<ul class="idpt-dot-list idpt-mt30">
					<li>
						통화 품질, 분실, 습득, 로밍 관련 상담은 365일 24시간 운영됩니다.
						휴대폰: 통화 품질, 분실, 습득, 로밍 상담은 365일 24시간 운영합니다.<br>
						유선 전화: 인터넷 유선 전화, 인터넷 전화, TV 품질 관련 장애 상담은 365일 24시간 운영합니다.
					</li>
					<li>
						점심시간(12:00~13:00)에는 긴급 전문 상담만 하실 수 있습니다.<br>
						무선: 분실, 습득, 통화 품질, 로밍, T map 관련 상담<br/>유선: 장애, 해지 관련 상담
					</li>
				</ul>

				<p class="txt-black idpt-bold idpt-mt60">T보이는 음성안내</p>
				<p class="txt-gray idpt-mt30">
					기존의 복잡한 ARS 방식을 벗어나, 음성으로 찾고, 화면으로 보여주는 신개념 상담 서비스입니다.
				</p>
				<div class="idpt-img-box idpt-mt30">
					<img src="{{cdn}}/img/customer/service/img_pcs68_01.png" alt="음성인식+화면서비스, 컨텐츠+서비스가이드" style="max-width:14rem">
				</div>

				<p class="txt-black idpt-bold idpt-mt60">서비스 이용 안내</p>
				<div class="idpt-img-box idpt-mt30">
					<img src="{{cdn}}/img/customer/service/img_pcs68_02.png" alt="" style="max-width:18rem">
				</div>
				<ul class="idpt-num-list-black idpt-mt30">
					<li>앱을 실행한 뒤, 초기 화면의 ‘SK텔레콤 고객센터 114’를 선택하여 고객센터에 연결합니다.</li>
					<li>고객센터 연결 확인에서 ‘예’를 선택합니다.</li>
					<li>연결 확인 후 ‘음성 인식 서비스’를 선택합니다.</li>
					<li>앱이 실행되고 음성 멘트가 화면에 나타납니다.</li>
					<li>마이크를 누른 상태에서 궁금하신 점을 질문하면 질문과 답변이 화면에 나타납니다.</li>
				</ul>

				<p class="txt-black idpt-bold idpt-mt60">앱 설치 방법</p>
				<p class="txt-gray idpt-mt30">
					궁금한 사항을 음성 인식으로 바로 찾고, 상담 내용을 화면으로 직접 볼 수 있는 T보이는 음성안내 서비스를 만나 보세요.
				</p>

				<p class="txt-black idpt-bold idpt-mt60">다운로드 안내</p>
				<p class="txt-gray idpt-mt30">
					앱 다운로드는 안드로이드 4.0 이상에서만 가능합니다.
				</p>
				<table class="idpt-tbl-type02">
					<caption></caption>
					<colgroup>
						<col style="width:30%">
						<col style="width:70%">
					</colgroup>
					<thead>
					</thead>
					<tbody>
						<tr>
							<td>
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/service/img_pcs79_02.png" alt="">
								</div>
							</td>
							<td>
								<p class="txt-black"><span class="idpt-bold">원스토어</span> (www.onestore.co.kr)</p>
								<p class="txt-gray idpt-mt20">앱 > 라이프스타일 > T보이는 음성안내</p>
								<div class="idpt-btn-wrap idpt-mt30">
									<a href="https://onestore.co.kr/userpoc/apps/view?pid=0000278445" class="fe-link-external idpt-btn-cs btn-full btn-blue" target="_blank">다운로드 바로가기</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<p class="txt-black idpt-bold idpt-mt60">이용 안내</p>
				<p class="txt-black idpt-mt30">
					고객센터 114에 전화를 걸어 ‘말하는 ARS’를 선택하면, 음성 안내와 함께 화면 안내가 시작됩니다.
				</p>
				<p class="txt-gray gray-sub with-star idpt-mt30">
					고객센터(114) 연결 > 말로 하는 ARS 선택 > T보이는 음성안내 자동 실행 > 음성 안내를 들으며 화면 안내 확인<br/>
					(T보이는 음성안내 앱 다운로드 후 1회 실행이 필요함)
				</p>
            </div>

        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
