
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">T world 이용법</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box">
                <h2 class="cs-title">다회선 설정하기</h2>
            </div>
            <!--// 타이틀 영역 -->

			<hr class="idpt-seperator no-border">
			<div class="idpt-cont-box">
				<p class="info-txt idpt-bold">설정하기1.<br>새로워진 T world 앱으로 업데이트 하셨다면,</p>
				<p class="txt-gray idpt-mt20">
					고객님이 가입하신 SK텔레콤의 회선을 별도의 등록 절차 없이 [회원정보] > [회선관리]에서 확인할 수 있습니다.<br>(SK텔레콤 법인실사용자로 등록된 법인회선도 확인 가능합니다.)
				</p>
				<div class="idpt-img-box idpt-mt30">
					<img src="{{cdn}}/img/customer/service/img_cs3_2_1t_4_1.jpg" alt="회원정보를 클릭하시면 회선관리를 설정할 수 있습니다.">
				</div>
			</div>

			<hr class="idpt-seperator no-border">
			<div class="idpt-cont-box">
				<p class="info-txt idpt-bold">설정하기2.<br>회선관리 페이지에서</p>
				<p class="txt-gray idpt-mt20">
					T world에서 사용할 회선을 추가, 제외, 닉네임 변경, 순서 변경, 기준회선으로 등록할 수 있습니다.
				</p>
				<div class="idpt-img-box idpt-mt30">
					<img src="{{cdn}}/img/customer/service/img_cs3_2_1t_4_2.jpg" alt="편집과 아래 화살표 버튼을 클릭하시면 여러가지 수정을 할 수 있습니다.">
				</div>
			</div>

			<hr class="idpt-seperator no-border">
			<div class="idpt-cont-box">
				<p class="info-txt idpt-bold">설정하기3.<br>T world에서 관리하고 싶은 회선이 있다면,</p>
				<p class="txt-gray idpt-mt20">
					사용회선으로 추가하실 수 있습니다. ‘추가 가능한 회선’은 SK텔레콤에 가입된 회선이지만, T world 이용회선으로 등록되지 않은 회선입니다.<br><br>[편집]을 누르신 후 원하시는 회선의 [추가]버튼을 눌러주세요.
				</p>
				<div class="idpt-img-box idpt-mt30">
					<img src="{{cdn}}/img/customer/service/img_cs3_2_1t_4_3.jpg" alt="">
				</div>
			</div>

			<hr class="idpt-seperator no-border">
			<div class="idpt-cont-box">
				<p class="info-txt idpt-bold">설정하기4.<br>T world에서 더 이상 관리하고 싶지 않은 회선이 이용 중인 회선으로 있다면,</p>
				<p class="txt-gray idpt-mt20">
					[편집]을 누르신 후, 그 회선의 [삭제] 버튼을 눌러주세요. 고객님의 회선은 언제든지 다시 추가할 수 있습니다.
				</p>
				<div class="idpt-img-box idpt-mt30">
					<img src="{{cdn}}/img/customer/service/img_cs3_2_1t_4_4.jpg" alt="">
				</div>
			</div>

			<hr class="idpt-seperator no-border">
			<div class="idpt-cont-box">
				<p class="info-txt idpt-bold">설정하기5.<br>회선들의 순서를 변경하고 싶다면,</p>
				<p class="txt-gray idpt-mt20">
					[편집]을 누르신 후, 옮기고 싶은 회선의 오른쪽에 있는 이동 버튼을 꾹 누르고 옮기거나 왼쪽에 있는 화살표 버튼을 눌러 한 칸씩 위, 아래로 이동시킬 수 있습니다.
				</p>
				<div class="idpt-img-box idpt-mt30">
					<img src="{{cdn}}/img/customer/service/img_cs3_2_1t_4_5.jpg" alt="화살표 버튼이나 이동버튼으로 회선을 이동시킬 수 있습니다.">
				</div>
			</div>

			<hr class="idpt-seperator no-border">
			<div class="idpt-cont-box">
				<p class="info-txt idpt-bold">설정하기6.<br>자주 사용하는 회선이 있다면,</p>
				<p class="txt-gray idpt-mt20">
					[기준 회선으로 등록하기]를 클릭하면 어느 화면에서든 회선 목록의 가장 첫번째로 보여지는 회선이 됩니다.<br><br>자주 사용하는 회선을 기준 회선으로 설정하시면 편리하게 T world를 이용할 수 있습니다.
				</p>
				<div class="idpt-img-box idpt-mt30">
					<img src="{{cdn}}/img/customer/service/img_cs3_2_1t_4_6.jpg" alt="기준회선으로 등록하기를 클릭하시면 기준회선으로 볼 수 있습니다.">
				</div>
			</div>
			<hr class="idpt-seperator no-border">
			<div class="idpt-cont-box">
				<p class="info-txt idpt-bold">주의사항</p>
				<ul class="idpt-dot-list idpt-mt30">
					<li>다회선 서비스는 SK텔레콤에 가입하신 본인명의의 무선/유선 회선번호를 여러 개 사용하고 계시는 회원님께 제공되는 서비스 입니다.</li>
					<li>하나의 아이디로 여러 회선에 대한 업무를 처리하기 때문에 현재 처리하고 있는 번호가 무엇인지 반드시 확인하여 이용상 실수가 없도록 주의하여 이용해 주세요.</li>
					<li>기준회선 외의 회선 정렬은 SK텔레콤 가입일자기준의 순서대로 최초 정렬되지만, 고객님께서 원하는 순서로도 정렬 할 수 있습니다.</li>
					<li>본인명의 휴대폰번호 및 법인명의 휴대폰번호 (공공기관 제외)만 조회하실 수 있으며, 다른 사람 명의 휴대폰번호는 조회할 수 없습니다.</li>
				</ul>
			</div>

        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
