
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">T world 이용법</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <div class="idpt-cont-box">
                <h2 class="cs-title">가려진 정보 확인 방법</h2>
				<!-- 0.05 삭제 20190115 이용규
                <div class="idpt-dropdown">
                    <button class="btn-dropdown dropdown-full">가려진 정보를 보는 방법</button>
                </div>
				-->
                <div class="idpt-cont-inbox gray idpt-mt30">
					<p class="info-txt">가려진 정보란, 고객님의 소중한 정보가 * 으로 가려져 보이는 것입니다.</p>
				</div>
            </div>


			<div class="idpt-cont-box">
				<p class="info-txt idpt-bold">왜 가렸을까요?</p>
				<p class="txt-gray idpt-mt20">
					최근 사회적으로 개인정보 유출 및 스미싱의 위험이 많아지고 있어, 고객님의 소중한 정보를 보다 안전하게 보호하기 위한 것 입니다.
				</p>
			</div>

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box">
				<p class="info-txt idpt-bold">Q. 정보를 어떻게 가렸을까요?</p>
				<p class="txt-gray idpt-mt20">
					A. 고객님의 소중한 정보를 *으로 가렸습니다.
				</p>
				<div class="idpt-img-box idpt-mt30">
					<img src="{{cdn}}/img/customer/service/img_cont_p91_01.png" alt="고객님의 이름, 휴대폰 번호, 주소 등 개인정보가 *로 보여요" style="max-width:14rem">
				</div>
				<!--
				<div class="idpt-img-box idpt-mt30">
					<img src="img/customer/service/img_cs3_2_1t_2_2.png" alt="가려진 정보보기 안내 - 숫자 자리수 유추가 가능한 정보는 ㅁ로 보여요">
				</div>
				-->
			</div>

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box">
				<p class="info-txt idpt-bold">Q. 가려진 정보를 볼 수 없나요?</p>
				<p class="txt-gray idpt-mt20">
					A. 아래와 같이 가려진 정보보기 버튼을 클릭 후 본인인증을 하시면 고객님의 가려진 정보를 보실 수 있습니다.<br><br>한 번만 인증하시면 로그아웃 전까지 가려진 정보가 유지됩니다.<br>(단, 민감한 정보는 인증을 해도 가려진 상태로 보일 수 있으며, 다회선 사용자의 경우, 회선 별로 적용되어 가려진 정보 보기를 위한 인증을 또 수행할 수 있습니다.)
				</p>
				<div class="idpt-img-box idpt-mt30">
					<img src="{{cdn}}/img/customer/service/img_cont_p91_02.png" alt="화면 상단과 하단에 위치한 자물쇠 모양의 [가려진 정보보기] 버튼을 클릭 후 본인인증을 하시면 고객님의 가려진 정보를 보실 수 있습니다." style="max-width:14rem">
				</div>
			</div>

        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
