
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">이럴 땐 이렇게 하세요</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box howdo howdo-bg20">
                <h2 class="howdo-title">T멤버십<br>기본혜택은?</h2>
            </div>
            <!--// 타이틀 영역 -->

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
				<h3 class="howdo-title">
					SK텔레콤이 고객님을 위해<br>챙겨드리는 T멤버십과 함께 하세요
				</h3>

				<table class="idpt-tbl-type03 idpt-mt60">
					<caption>SK텔레콤이 고객님을 위해 챙겨드리는 T멤버십과 함께 하세요</caption>
					<colgroup>
						<col style="width:30%">
						<col style="width:30%">
						<col style="width:30%">
					</colgroup>
					<thead>
					</thead>
					<tbody>
						<tr>
							<td>
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont20_1.jpg" alt="T멤버십 카드 이미지1" style="max-width:6.2rem">
								</div>
							</td>
							<td>
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont20_2.jpg" alt="T멤버십 카드 이미지2" style="max-width:6.2rem">
								</div>
							</td>
							<td>
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont20_3.jpg" alt="T멤버십 카드 이미지3" style="max-width:6.2rem">
								</div>
							</td>
						</tr>
					</tbody>
				</table>

				<div class="idpt-btn-wrap w60 idpt-mt10">
					<a href="#none" class="fe-link-internal idpt-btn-cs btn-full btn-blue-noborder">T멤버십 카드 신청하기</a>
				</div>

				<p class="txt-gray with-star idpt-mt30">
					고객센터와 즉시발급점(지점/대리점)에서도 멤버십 카드 발급이 가능합니다.
				</p>

				<div class="idpt-btn-wrap idpt-mt20">
					<a href="#none" class="fe-link-internal idpt-btn-table btn-full btn-blue-nostyle small">고객센터(국번없이) 114</a>
				</div>
				<div class="idpt-btn-wrap idpt-mt10">
					<a href="#none" class="fe-link-internal idpt-btn-table btn-full btn-blue-nostyle small">즉시 발급점 찾기</a>
				</div>

				<div class="idpt-btn-wrap w80 idpt-mt40">
					<!--<a href="idpt_howdo_cs20(popup01).html" class="fe-link-internal idpt-btn-cs btn-full btn-blue-noborder">T멤버십 등급과 이용내역 확인하기</a>-->
					<a href="javascript:void(0)" data-popup="popup01" class="idpt-popup-open idpt-btn-cs btn-full btn-blue-noborder">T멤버십 등급과 이용내역 확인하기</a>
				</div>

					<!-- popup 시작 -->
					<div class="idpt-popup">
						<div class="idpt-popup-wrap" id="popup01">
							<div class="idpt-popup-header">
								<p class="popup-title">T멤버십 등급과 할인혜택 확인하기</p>
								<a href="javascript:void(0)" onclick="history.back();" class="idpt-popup-close">팝업닫기</a>
							</div>
							<div class="idpt-popup-cont-wrap">
								<div class="idpt-popup-cont">

									<p class="txt-black idpt-bold align-center idpt-mt20">
										이미 멤버십 카드를 발급받으신 고객이라면~<br>
										T멤버십 등급과 할인혜택을 확인하세요!
									</p>
									<div class="idpt-cont-box no-padding">

										<table class="idpt-tbl-type03 popup-table">
											<caption>T멤버십 등급과 할인혜택 확인하기</caption>
											<colgroup>
												<col style="width:30%">
												<col style="width:auto">
											</colgroup>
											<thead>
											</thead>
											<tbody>
												<tr >
													<td>
														<div class="idpt-img-box left">
															<img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup20-1.jpg" alt="" style="max-width:4.6rem" alt="">
														</div>
													</td>
													<td>
														<p class="txt-black idpt-bold">
															T멤버십 등급
														</p>
														<p class="txt-black idpt-mt20">
															T멤버십 등급은 VIP, 골드, 실버로 구분되고, 등급에 따라 할인혜택 자동 적용
														</p>
													</td>
												</tr>
												<tr>
													<td>
														<div class="idpt-img-box left">
															<img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup20-2.jpg" alt="" style="max-width:4.6rem" alt="">
														</div>
													</td>
													<td>
														<p class="txt-black idpt-bold">
															T멤버십 할인혜택
														</p>
														<p class="txt-black idpt-mt20">
															온/오프라인 멤버십 제휴처 이용 시, 현금처럼 할인을 받을 수 있음
														</p>
													</td>
												</tr>
												<tr>
													<td>
														<div class="idpt-img-box left">
															<img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup20-3.jpg" alt="" style="max-width:4.6rem" alt="">
														</div>
													</td>
													<td>
														<ul class="idpt-num-list-black">
															<li>로그인 후 홈 화면 > 멤버십 카드</li>
															<li>메뉴 > 멤버십/포인트 > My 멤버십</li>
														</ul>
														<div class="idpt-btn-wrap idpt-mt20">
															<a href="#none" class="idpt-btn-table btn-blue-nostyle small left">바로 가기</a>
														</div>
													</td>
												</tr>
												<tr>
													<td>
														<div class="idpt-img-box left">
															<img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup20-4.jpg" alt="" style="max-width:4.6rem" alt="">
														</div>
													</td>
													<td>
														<ul class="idpt-num-list-black">
															<li>로그인 후 화면</li>
															<li>메뉴 > 마이페이지</li>
														</ul>
														<div class="idpt-btn-wrap idpt-mt20">
															<a href="#none" class="idpt-btn-table btn-blue-nostyle small left">바로 가기</a>
														</div>
													</td>
												</tr>

											</tbody>
										</table>

								   </div>

								</div>
							</div>
						</div>
					</div>
					<!--// popup 끝 -->

			</div>

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
				<h3 class="howdo-title">
					생활의 혜택, 놀라운 할인!<br>T멤버십에 다양한 혜택을 즐기세요
				</h3>

				<table class="idpt-tbl-type03 idpt-mt60">
					<caption>생활의 혜택, 놀라운 할인! T멤버십에 다양한 혜택을 즐기세요</caption>
					<colgroup>
						<col style="width:30%">
						<col style="width:30%">
						<col style="width:30%">
					</colgroup>
					<thead>
					</thead>
					<tbody>
						<tr>
							<td>
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont20_4.jpg" alt="TOUS les JOURS 15% 할인" style="max-width:6.2rem">
								</div>
							</td>
							<td>
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont20_5.jpg" alt="PARIS BAGGUETTE VIP 1000원당 150원" style="max-width:6.2rem">
								</div>
							</td>
							<td>
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont20_6.jpg" alt="CU VIP/골드 1000원당 100원 할인" style="max-width:6.2rem">
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont20_7.jpg" alt="7-ELEVEN VIP/골드 1000원당 100원 할인" style="max-width:6.2rem">
								</div>
							</td>
							<td>
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont20_8.jpg" alt="MEGABOX VIP 연6회 무료(1회/월)" style="max-width:6.2rem">
								</div>
							</td>
							<td>
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont20_9.jpg" alt="Dominos Pizza VIP 30%할인" style="max-width:6.2rem">
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont20_10.jpg" alt="아름다운커피 VIP 30%할인" style="max-width:6.2rem">
								</div>
							</td>
							<td>
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont20_11.jpg" alt="TGI FRIDAYS VIP/골드/T커플/커플 20%할인" style="max-width:6.2rem">
								</div>
							</td>
							<td>
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont20_12.jpg" alt="VIP/골드 20%할인" style="max-width:6.2rem">
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont20_13.jpg" alt="롯데월드 자유이용권 40%할인" style="max-width:6.2rem">
								</div>
							</td>
							<td>
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont20_14.jpg" alt="옥수수 VIP/골드 월정액/단품 30%할인" style="max-width:6.2rem">
								</div>
							</td>
							<td>
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont20_15.jpg" alt="이마트 VIP/골드 짝수월 7%할인, 홀수원 3%할인" style="max-width:6.2rem">
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<p class="txt-gray gray-sub with-star idpt-mt20">
					멤버십 제휴사 할인 혜택은 멤버십 등급 및 카드 종류, 제휴사 사정에 따라 상이할 수 있습니다. 상세내용은 전체 제휴사 혜택에서 확인해 보세요.
				</p>
				<div class="idpt-btn-wrap idpt-mt10">
					<a href="#none" class="fe-link-internal idpt-btn-table btn-full btn-blue-nostyle small">제휴사 혜택 더 보기</a>
				</div>

				<hr class="idpt-underline" aria-hidden="true"/>

				<h3 class="howdo-title idpt-mt60">
					T멤버십 발급 받으면 따라오는<br>추가 스페셜 혜택
				</h3>

				<table class="idpt-tbl-type06 idpt-mt30">
					<caption>분실물 보관센터 안내</caption>
					<colgroup>
						<col style="width:4.8rem">
						<col style="width:auto">
					</colgroup>
					<thead>
					</thead>
					<tbody>
						<tr class="noborder">
							<td>
								<div class="idpt-img-box left">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont20_16.jpg" alt="T해피패스 이미지" style="max-width:3.5rem">
								</div>
							</td>
							<td>
								<p class="txt-gray">파격적으로 할인된 입장권/관람권</p>
								<p class="txt-black idpt-mt10">T해피패스</p>
							</td>
						</tr>
						<tr class="noborder">
							<td>
								<div class="idpt-img-box left">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont20_17.jpg" alt="T멤버십 더블 하나카드 이미지" style="max-width:3.5rem">
								</div>
							</td>
							<td>
								<p class="txt-gray">멤버십과 체크카드를 하나로</p>
								<p class="txt-black idpt-mt10">T멤버십 더블 하나카드</p>
							</td>
						</tr>
					</body>
				</table>

				<div class="idpt-btn-wrap idpt-mt10">
					<a href="#none" class="fe-link-internal idpt-btn-table btn-full btn-blue-nostyle small">스페셜 혜택 더 보기</a>
				</div>

			</div>

        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
