
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">다이렉트샵 / 멤버십 / 로밍에 대한 안내</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box">
                <h2 class="cs-title">배송 개통</h2>
                <div class="idpt-dropdown">
                    <button class="btn-dropdown dropdown-full">배송 방법</button>
                </div>
            </div>
            <!--// 타이틀 영역 -->

            <hr class="idpt-seperator no-border" aria-hidden="true"/>

            <!-- 안내문구 -->
            <!-- case1. 안내문구 only -->
            <div class="idpt-cont-box">
                <p class="info-txt">휴대폰 및 액세서리 구매 후 배송 방법을 알려드립니다.</p>
            </div>
            <!--// case1. 안내문구 only -->

            <!--// 안내문구 -->

            <hr class="idpt-seperator no-border" aria-hidden="true"/>

            <div class="idpt-cont-box">
                <p class="info-txt idpt-bold idpt-mt0">배송 및 수령 안내</p>

				<ul class="idpt-oneline-list-dotted">
					<li>
						<div class="idpt-img-box">
							<img src="{{cdn}}/img/customer/service/ico_direct_list1.png" alt="" style="max-width:4.5rem">
						</div>
						<p class="txt-black align-center idpt-mt20">
							SK텔레콤 프리미엄 서비스</br>
							<span class="idpt-bold">찾아가는 개통 서비스!</span>
						</p>
						<p class="txt-gray align-center idpt-mt20">원하시는 시간대에 컨설턴트가 직접 찾아가서 개통해 드립니다.</p>
					</li>
					<li>
						<div class="idpt-img-box">
							<img src="{{cdn}}/img/customer/service/ico_direct_list2.png" alt="" style="max-width:4.5rem">
						</div>
						<p class="txt-black align-center idpt-mt20">
							전국 무료 배송</br>
							<span class="idpt-bold">택배 서비스!</span>
						</p>
						<p class="txt-gray align-center idpt-mt20">단, 제주도, 도서, 산간지역은 1~3일 정도 더 걸릴 수 있습니다.</p>
					</li>
					<li class="no-border">
						<div class="idpt-img-box idpt-mt20">
							<img src="{{cdn}}/img/customer/service/ico_direct_list3.png" alt="" style="max-width:4.5rem">
						</div>
						<p class="txt-black align-center idpt-mt20">
							온라인에서 오프라인으로!</br>
							<span class="idpt-bold">바로픽업 서비스!</span>
						</p>
						<p class="txt-black align-center idpt-mt30">T world 다이렉트샵에서 휴대폰, 태블릿을 주문하고 원하는 SK텔레콤 공식인증매장에 직접 방문하여 기기를 받아 개통하는 서비스입니다.</p>
						<ul class="idpt-num-list-black idpt-mt30">
							<li>휴대폰/태블릿 상세 페이지에서 ‘바로픽업’ 버튼을 클릭하여 방문하려는 매장과 방문일시 선택</li>
							<li>온라인 구매 및 바로픽업 서비스 신청 완료</li>
							<li>선택한 매장과 방문일시에 오프라인 매장 방문</li>
							<li>주문한 날 기기 수령 및 개통 </li>
						</ul>

						<div class="idpt-cont-inbox gray idpt-mt30">
							<p class="txt-black idpt-bold">바로픽업, 이럴 때 이용하시면 편리합니다!</p>
							<ul class="idpt-dot-list-black">
								<li>출/퇴근길에 바로 받아서 가져가고 싶을 때</li>
								<li>주말이라 택배 배송이 안 될 때</li>
								<li>주문한 상품을 직접 확인한 뒤 받고 싶을 때</li>
							</ul>
						</div>

					</li>
				</ul>
			</div>

            <hr class="idpt-seperator no-border" aria-hidden="true"/>

				<div class="idpt-cont-box">
					<p class="info-txt idpt-bold idpt-mt0">배송 및 수령 단계 안내</p>
					<p class="txt-black idpt-mt40">찾아가는 개통 서비스, 택배 서비스를 선택한 경우</p>

					<ul class="idpt-box-list">
						<li class="w100-arrow"><p class="box-title">1. 신청서 작성 중</p><p class="box-cont">신청서 작성을 완료하시면 배송 준비를 시작합니다.</p></li>
						<li class="w100-arrow"><p class="box-title">2. 주문 완료</p><p class="box-cont">고객님이 주문한 내역의 확인이 완료되었습니다.</p></li>
						<li class="w100-arrow"><p class="box-title">3. 배송 준비</p><p class="box-cont">주문이 확인되어 상품 발송을 위해 준비 중입니다.</p></li>
						<li class="w100-arrow"><p class="box-title">4. 배송 중</p><p class="box-cont">고객님께 물품을 배송하고 있습니다.</p></li>
						<li class="w100"><p class="box-title">5. 배송 완료</p><p class="box-cont">고객님께 안전하게 물품이 배송되었습니다.</p></li>
					</ul>
					<p class="txt-gray with-star idpt-mt24">액세서리 구매 시, 신청서 작성 단계는 제외됩니다.</p>

					<p class="txt-black idpt-mt40">바로 픽업 서비스를 선택한 경우</p>
					<ul class="idpt-box-list">
						<li class="w100-arrow"><p class="box-title">1. 신청서 작성 중</p><p class="box-cont">신청서 작성을 완료하시면 개통 신청이 접수됩니다.</p></li>
						<li class="w100-arrow"><p class="box-title">2. 주문 완료</p><p class="box-cont">고객님이 주문한 내역의 확인이 완료되었습니다.</p></li>
						<li class="w100-arrow"><p class="box-title">3. 방문 대기 중</p><p class="box-cont">선택하신 매장에서 상품 준비를 완료한 후 고객님의 방문을 기다리는 중입니다.</p></li>
						<li class="w100"><p class="box-title">4. 바로픽업 완료</p><p class="box-cont">고객님께 물품이 안전하게 배송되었습니다.</p></li>
					</ul>

					<p class="txt-gray with-star idpt-mt24">상품 구매 후 my T > 나의 활동 > 나의 문의 내역 > 쇼핑문의 내역 > 다이렉트샵 구매/발송</p>

				</div>

        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
