
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">이럴 땐 이렇게 하세요</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box howdo howdo-bg14">
                <h2 class="howdo-title">스미싱,<br>대처방법을 알려주세요</h2>
            </div>
            <!--// 타이틀 영역 -->

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
                <h3 class="howdo-title">
					스미싱이란?
				</h3>
				<p class="txt-gray idpt-mt30">
					문자(SMS)와 피싱(Phising)의 합성어<br>
					인터넷 주소를 담은 문자 형태로, 주소 클릭 시 소액결제 및 금융정보를 빼내는 수법
				</p>
			</div>

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
                <h3 class="howdo-title">
					의심스러운 문자는<br>받는 즉시 삭제
				</h3>

				<div class="idpt-img-box idpt-mt60">
					<img src="{{cdn}}/img/customer/howdo/howdo_cont14_1.jpg" alt="유형1 법원 등기 발송 사칭문자(등기발송 하였으나 부재중으로 전달불가 하였습니다. 내용확인 sky1004.cc), 유형2 지인 경조등의 사칭문자 (10월30일 저희 결혼해요. 축하해주세요. 모시는글 http://ed99.uso.com), 유형3 결제내역 알림 사칭문자 ([소액결제]OO 10/26 결제금액:55000원. 결제내역확인 http://goglep.net)">
				</div>

				<div class="idpt-btn-wrap idpt-mt10">
					<a href="https://www.boho.or.kr/cyber/smishing.do" class="fe-link-external idpt-btn-table btn-blue-nostyle small" target="_blank">최신 스미싱 문자 유형 확인하기</a>
				</div>

			</div>

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
                <h3 class="howdo-title">
					앱 보안설정 꼭 체크하세요.
				</h3>
				<p class="txt-gray idpt-mt30">
					앱 함부로 다운로드 받지 말고 보안설정 체크하세요.
				</p>

				<div class="idpt-img-box idpt-mt60">
					<img src="{{cdn}}/img/customer/howdo/howdo_cont14_3.jpg" alt="" style="max-width:9.375rem">
				</div>
				<p class="txt-black align-center idpt-mt20">설정 > 잠금 화면 및 보안</p>
				<hr class="idpt-down-box" aria-hidden="true"/>

				<div class="idpt-img-box idpt-mt60">
					<img src="{{cdn}}/img/customer/howdo/howdo_cont14_4.jpg" alt="" style="max-width:9.375rem">
				</div>
				<p class="txt-black align-center idpt-mt20">주기적으로<br>보안 업데이트 확인</p>
				<hr class="idpt-down-box" aria-hidden="true"/>

				<div class="idpt-img-box idpt-mt60">
					<img src="{{cdn}}/img/customer/howdo/howdo_cont14_5.jpg" alt="" style="max-width:9.375rem">
					<p class="txt-black align-center idpt-mt10">출처를 알 수 없는 앱 설치<br>'허용 안 됨'으로 유지</p>
				</div>

			</div>

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
				<h3 class="howdo-title">
					스미싱으로 인한 소액결제 피해,<br>신고하세요.
				</h3>

				<table class="idpt-tbl-type03 idpt-mt40">
					<caption>스미싱으로 인한 소액결제 신고방법</caption>
					<colgroup>
						<col style="width:32%">
						<col style="width:32%">
						<col style="width:32%">
					</colgroup>
					<thead>
					</thead>
					<tbody>
						<tr>
							<td>
								<div class="idpt-img-box right-arrow">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont14_6.jpg" alt="소액결제 내역확인" style="max-width:5.625rem">
								</div>
								<p class="txt-gray gray-sub align-center idpt-mt20">소액결제 내역을 수시로 확인해 주세요.</p>
								<a href="/myt-fare/bill/small" class="fe-link-internal idpt-btn-table center small btn-blue-nostyle idpt-mt20">바로가기</a>
							</td>
							<td>
								<div class="idpt-img-box right-arrow">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont14_7.jpg" alt="가까운 경찰서 신고" style="max-width:5.625rem">
								</div>
								<p class="txt-gray gray-sub align-center idpt-mt20">경찰서에서 사건사고 사실원을 받으세요.</p>
							</td>
							<td>
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont14_8.jpg" alt="SK텔레콤 사고접수" style="max-width:5.625rem">
								</div>
								<p class="txt-gray gray-sub align-center idpt-mt20">SK텔레콤 고객센터로 사건사고 사실확인원을 팩스로 발송해 주세요.</p>
							</td>
						</tr>

					</tbody>
				</table>
				<p class="txt-gray with-star idpt-mt40">
					원활한 피해신고 협의가 불가능하여 중재신청이 필요하신 경우 오프넷 센터: www.opennetcs.or.kr / 1600-8272
				</p>

				<div class="idpt-btn-wrap idpt-mt30">
					<!--<a href="idpt_howdo_cs14(popup01).html" class="fe-link-internal idpt-btn-table btn-blue-nostyle small" target="_blank">소액결제 사기 피해 예방법</a>-->
					<a href="javascript:void(0)" data-popup="popup01" class="idpt-popup-open idpt-btn-table btn-blue-nostyle small">소액결제 사기 피해 예방법</a>
				</div>
				<!-- popup 시작 -->
				<div class="idpt-popup">
					<div class="idpt-popup-wrap" id="popup01">
						<div class="idpt-popup-header">
							<p class="popup-title">소액결제 사기 피해 예방법 안내</p>
							<a href="javascript:void(0)" onclick="history.back();" class="idpt-popup-close">팝업닫기</a>
						</div>
						<div class="idpt-popup-cont-wrap">
							<div class="idpt-popup-cont">

								<table class="idpt-tbl-type03">
									<caption>소액결제 사기 피해 예방법 안내</caption>
									<colgroup>
										<col style="width:30%">
										<col style="width:auto">
									</colgroup>
									<thead>
									</thead>
									<tbody>
										<tr class="line_dot">
											<td>
												<div class="idpt-img-box left">
													<img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup14-1.jpg" alt="" style="max-width:4.5rem">
												</div>
											</td>
											<td>
												<p class="txt-black idpt-bold">
													소액결제 한도 변경, 이용제한 설정
												</p>
												<p class="txt-black idpt-mt20">
													소액결제 이용 차단과 결제금액 한도 설정으로 더 안전하게 관리하세요. (구글 Play 스토어, 원스토어 콘텐츠 구입 차단은 고객센터/지점/대리점에서 신청해 주세요.)
												</p>
												<div class="idpt-btn-wrap">
													<a href="/myt-fare/bill/small" class="fe-link-internal idpt-btn-cs btn-full btn-blue-nostyle small left">소액결제 한도 설정</a>
												</div>
											</td>
										</tr>
										<tr class="line_dot">
											<td>
												<div class="idpt-img-box left">
													<img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup14-2.jpg" alt="" style="max-width:4.5rem">
												</div>
											</td>
											<td>
												<p class="txt-black idpt-bold">
													소액결제 비밀번호 설정
												</p>
												<p class="txt-black idpt-mt20">
													소액결제 비밀번호를 설정해 두면 결제 시 비밀번호를 한번 더 체크해 주세요. (T world에서 설정하실 수 있어요.)
												</p>
											</td>
										</tr>
										<tr class="line_dot">
											<td>
												<div class="idpt-img-box left">
													<img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup14-3.jpg" alt="" style="max-width:4.5rem">
												</div>
											</td>
											<td>
												<p class="txt-black idpt-bold">
													T가드 백신
												</p>
												<p class="txt-black idpt-mt20">
													소액결제 전용 백신 탑재로 소액결제 변종 앱까지 탐색하실 수 있어요.
												</p>
												<div class="idpt-btn-wrap">
													<a href="https://m.onestore.co.kr/mobilepoc/apps/appsDetail.omp?prodId=0000329718" class="fe-link-external idpt-btn-cs btn-full btn-blue-nostyle small left" target="_blank">다운로드</a>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div class="idpt-img-box left">
													<img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup14-4.jpg" alt="" style="max-width:4.5rem">
												</div>
											</td>
											<td>
												<p class="txt-black idpt-bold">
													SK텔레콤 안심 메시지
												</p>
												<p class="txt-black idpt-mt20">
													말풍선 대화창 밖의 SK텔레콤 안심인증마크를 확인해 주세요.
												</p>
												<div class="idpt-btn-wrap">
													<a href="https://www.sktinsight.com/55353" class="fe-link-external idpt-btn-cs btn-full btn-blue-nostyle small left" target="_blank">자세히 보기</a>
												</div>
											</td>
										</tr>
									</tbody>
								</table>

							</div>
						</div>
					</div>
				</div>
				<!--// popup 끝 -->
            </div>


        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
