
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">휴대폰 요금기준 안내</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box">
                <h2 class="cs-title">데이터 사용요금</h2>
                <div class="idpt-dropdown">
                    <button class="btn-dropdown dropdown-full">데이터 사용 유의사항</button>
                </div>
            </div>
            <!--// 타이틀 영역 -->

            <hr class="idpt-seperator no-border" aria-hidden="true"/>

            <!-- 안내문구 -->
            <!-- case1. 안내문구 only -->
            <div class="idpt-cont-box">
                <p class="info-txt">SK텔레콤 데이터 사용요금 기준과 데이터 사용 시 유용한 정보를 안내해 드립니다.</p>
            </div>
            <!--// case1. 안내문구 only -->

            <!--// 안내문구 -->

            <!-- accordian -->
            <div class="idpt-cont-title">
                <p>안내 유형을 선택하세요.</p>
            </div>

            <ul class="idpt-accordian">
                <li>
                    <a href="javascript:void(0)" role="button" aria-pressed="false">데이터 사용 시 유용한 정보</a>
                    <div class="idpt-accordian-cont">
                        <p class="txt-black">
							항상 부족한 데이터가 걱정이라면?<br>부족한 데이터는 채우고 친구/가족과 함께 데이터를 나눠 쓰는 방법등, 데이터를 잘 쓰는 방법을 알려 드립니다.
						</p>
                        <div class="accordian-cont-box align-center">
                            <p class="txt-gray">이럴 땐 이렇게 하세요.</p>
                            <p class="accordian-cont-title idpt-mt0">데이터가 부족하신가요?</p>
                            <div class="idpt-img-box idpt-mt30">
                                <img src="{{cdn}}/img/customer/service/img_cs44_01.png" alt="" style="max-width:7rem">
                            </div>
                            <p class="txt-black idpt-mt20">1. 다 써버린 데이터, 채우고 나눠 쓸 수 있어요!<br>2. 내가 찾는 요금제는 데이터를 무제한으로!<br>3. 더 저렴하게 사용할 수 있어요.</p>
                            <div class="idpt-btn-wrap idpt-mt30">
                                <a href="/customer/faq/do-like-this?id=B00035" class="fe-link-internal idpt-btn-cs btn-full btn-blue-noborder">자세히 보기</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="javascript:void(0)" role="button" aria-pressed="false">데이터 사용 시 유의사항</a>
                    <div class="idpt-accordian-cont">
                        <p class="txt-black">
							스마트폰은 기기의 특성상 메일 동기화 및 자동 업데이트, 앱 실행 등으로 고객님께서 별도의 무선인터넷 접속을 하지 않더라도 배터리 소모 및 데이터 사용요금이 발생할 수 있습니다. 아래 방법을 이용하시면, 예상치 못한 데이터 통화요금 발생 또는 배터리 소모 등을 예방하실 수 있습니다.
						</p>
                        <p class="accordian-cont-title-sub">스마트폰 사용할 경우 데이터 요금제 가입을 권해 드려요.</p>
                        <p class="txt-black idpt-mt20">
							스마트폰의 다양한 기능을 충분히 이용하시려면 데이터 사용요금 걱정 없이 무선인터넷을 사용하실 수 있도록 데이터 요금제에 가입하실 것을 권해 드립니다.
						</p>
                        <p class="accordian-cont-title-sub">다른 화면으로 이동할 때는 사용하던 앱을 종료하세요.</p>
                        <p class="txt-black idpt-mt20">
							스마트폰의 다양한 기능을 충분히 이용하시려면 데이터 사용요금 걱정 없이 무선인터넷을 이용하실 수 있도록 데이터 요금제에 가입하실 것을 권해 드립니다.
						</p>
                        <div class="accordian-cont-box">
                            <p class="accordian-cont-title idpt-mt0">앱 종료 방법 보기</p>
							<div class="idpt-img-box idpt-mt30">
								<img src="{{cdn}}/img/customer/service/img_cs3_1_2_4_2_1.png" alt="">
							</div>
                            <ul class="idpt-dot-list idpt-mt20">
                                <li>앱 실행 상태에서 스마트폰의 [취소]버튼 누르기</li>
                                <li>로그인하여 사용하는 서비스의 경우 로그아웃 처리</li>
                                <li>스마트폰 > 설정 > 작업관리자 > 실행중인 프로그램 종료</li>
                            </ul>
                        </div>
                        <p class="accordian-cont-title-sub">자동 동기화 기능 및 동기화 계정 관리를 활용하세요.</p>
                        <p class="txt-black idpt-mt20">
							자동 동기화 기능을 해제하거나 주기를 조정하면, 원치 않는 데이터 접속을 막을 수 있습니다.
							단, 자동 동기화 기능을 해제하면 이메일 등을 실시간 알림으로 받지 못할 수도 있습니다.
						</p>
                        <div class="accordian-cont-box">
                            <p class="accordian-cont-title idpt-mt0">자동 동기화 기능 및 동기화 계정 관리 방법 보기</p>
                            <p class="accordian-cont-box-title with-dot-black">관리방법</p>
                            <p class="txt-gray">스마트폰 > 메뉴 > 환경설정 > 계정 및 동기화 > 자동 동기화 해제, 계정관리</p>
							<div class="idpt-img-box idpt-mt30">
								<img src="{{cdn}}/img/customer/service/img_cs3_1_2_4_2_2.png" alt="">
							</div>
                        </div>
                        <p class="accordian-cont-title-sub">3G 데이터 접속 차단 기능을 사용하세요.</p>
                        <p class="txt-black idpt-mt20">
							3G 데이터 접속을 차단할 경우, 스마트폰에서 데이터 접속이 안되므로 데이터 사용요금이 발생하지 않습니다. 인터넷을 사용할 때는 차단을 해제하여 사용하시면 됩니다.
						</p>
                        <div class="accordian-cont-box">
                            <p class="accordian-cont-title idpt-mt0">3G 데이터 접속 차단 방법 보기</p>
                            <p class="accordian-cont-box-title with-dot-black">차단/해제 방법</p>
                            <p class="txt-gray">스마트폰 > 메뉴 > 환경설정 > 무선 및 네트워크 > 데이터 네트워크 설정</p>
							<div class="idpt-img-box idpt-mt30">
								<img src="{{cdn}}/img/customer/service/img_cs3_1_2_4_2_3.png" alt="">
							</div>
                        </div>
                    </div>
                </li>
            </ul>
            <!--// accordian -->

        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
