
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">이럴 땐 이렇게 하세요</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box howdo howdo-bg01">
                <h2 class="howdo-title">마음껏 데이터를<br>쓰고 싶다면~</h2>
            </div>
            <!--// 타이틀 영역 -->

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
                <h3 class="howdo-title">데이터 맘껏 쓰고 나눠쓰는 T플랜</h3>
				<p class="idpt-mt20">
					<span class="txt-black idpt-bold">집전화 / 이동전화 기본제공<br> + 데이터 무제한 ~ 1.2GB</span>
					<span class="txt-gray">&nbsp; 까지 다양한 DATA 플랜 제공 (상품에 따라 기본 데이터 모두 사용 후 속도제어)</span><br>
					<span class="txt-black idpt-bold">+ 가족끼리 데이터 공유 가능<br>+ oksusu(옥수수)/클라우드베리/FLO</span><span class="txt-gray">&nbsp; 등 추가 혜택 이용 할 수 있는 요금제</span>
				</p>

				<div class="idpt-img-box idpt-mt60">
					<img src="{{cdn}}/img/customer/howdo/howdo_cont01_1.jpg" alt="집/이동전화 무제한 + 데이터 무제한 + 최신 콘텐츠">
				</div>

                <div class="idpt-btn-wrap idpt-mt30">
                    <a href="/product/callplan?prod_id=NA00005958" class="fe-link-internal idpt-btn-cs btn-full btn-blue-nostyle">T플랜 패밀리 자세히 보기</a>
                </div>
            </div>


			<div class="idpt-cont-box nopadding-bottom">

				<p class="cs-title" >연관 상품</p>
				<ul class="idpt-oneline-list idpt-mt40">
					<li><a href="/product/callplan?prod_id=NA00005959" class="fe-link-internal link-ra">Data 인피니티</a></li>
					<li><a href="/product/callplan?prod_id=NA00005957" class="fe-link-internal link-ra">라지</a></li>
				</ul>

			</div>

			<hr class="idpt-seperator no-border" aria-hidden="true"/>
			<div class="idpt-cont-box howdo">
                <h3 class="howdo-title">안심하고 쓸 수 있는<br>안심옵션 요금제</h3>
				<p class="idpt-mt20">
					<span class="txt-gray">매일 500MB 씩 데이터가 충전되고, 기본 데이터를 모두 사용하고도</span>
					<span class="txt-black idpt-bold">&nbsp;SNS / 웹서핑 / 이메일</span>
					<span class="txt-gray">&nbsp;서비스를 이용하실 수 있어요.</span>
				</p>

				<div class="idpt-img-box idpt-mt60">
					<img src="{{cdn}}/img/customer/howdo/howdo_cont01_2.jpg" alt="기본 데이터 소진 후 SNS/웹서핑/메일 서비스 이용 가능">
				</div>
				<p class="txt-gray align-center idpt-mt40">기본 데이터를 모두 사용한 후에는 데이터 속도가 조절되므로 대용량 서비스를 이용할 때 불편하실 수 있어요.</p>

                <div class="idpt-btn-wrap idpt-mt30">
                    <a href="/product/callplan?prod_id=NA00005037" class="idpt-btn-cs btn-full btn-blue-nostyle">안심옵션 프리미엄 자세히 보기</a>
                </div>
            </div>


			<div class="idpt-cont-box nopadding-bottom">

				<p class="cs-title" >연관 상품</p>
				<ul class="idpt-oneline-list idpt-mt40">
                    <li><a href="/product/callplan?prod_id=NA00003362" class="fe-link-internal link-ra">LTE 안심옵션</a></li>
                    <li class="no-border"><a href="/product/callplan?prod_id=NA00004655" class="fe-link-internal link-ra">LTE 팅 안심옵션</a></li>
				</ul>

			</div>

        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
