
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">T world 이용법</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box">
                <h2 class="cs-title">T world에 등록된 법인명의 휴대폰번호 삭제 방법</h2>
            </div>
            <!--// 타이틀 영역 -->

			<hr class="idpt-seperator no-border">
			<div class="idpt-cont-box">
				<p class="info-txt idpt-bold">삭제하기1.<br>[회선관리] 페이지에서 별도의 등록절차 없이
                    조회되고 있는 법인회선이라면</p>
				<p class="txt-gray idpt-mt20">
                    [회원정보] > [회선관리] 페이지에서 [편집]을 누르신 후, 더 이상 사용하지 않을 법인 회선의 [삭제] 버튼을 눌러주세요. SK텔레콤 법인실사용자로 등록된 고객님의 회선은 언제든지 다시 추가할 수 있습니다.<br><br>법인실사용자를 해지하시려면 법인위임대리인만 처리 가능하며 T world 법인폰 홈페이지에서 이용 가능합니다.
				</p>
				<div class="idpt-img-box idpt-mt30">
					<img src="{{cdn}}/img/customer/service/img_cs3_2_1t_3_1.jpg" alt="">
				</div>
			</div>

			<hr class="idpt-seperator no-border">
			<div class="idpt-cont-box">
				<p class="info-txt idpt-bold">삭제하기2.<br>[회선관리]에서 수동으로 등록한 법인회선이라면,</p>
				<p class="txt-gray idpt-mt20">
                    [회원정보] > [회선관리] 화면에서 [편집]을 누르신 후, 더 이상 사용하지 않을 법인 회선의 [삭제] 버튼을 눌러주세요.<br><br>[회선관리] 화면에서 [편집] 모드 > 이용안내 화면에서 [법인명의 회선 등록하기] 를 통해 법인회선을 직접 등록하셨다면, 해당 법인회선은 삭제하셔도 ‘추가 가능한 회선’에 보이지 않게 됩니다.<br><br>삭제 후 다시 사용하시려면 직접 재등록 하셔야 합니다.
				</p>
				<div class="idpt-img-box idpt-mt30">
					<img src="{{cdn}}/img/customer/service/img_cs3_2_1t_3_2.jpg" alt="선택하신 회선을 사용 가능 회선 목록으로 이동 시 회선관리 목록에서 삭제됩니다. 삭제 후 다시 사용하시려면 직접 등록하셔야 가능합니다.">
				</div>
			</div>

        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
