
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">이럴 땐 이렇게 하세요</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box howdo howdo-bg24">
                <h2 class="howdo-title">데이터 사용을<br>차단하고 싶어요</h2>
            </div>
            <!--// 타이틀 영역 -->

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
                <h3 class="howdo-title">
					이럴 때 데이터 요금이<br>발생될 수 있으니 데이터를<br>사용하지 않을 경우 차단해 주세요.
				</h3>

				<div class="idpt-img-box idpt-mt80">
					<img src="{{cdn}}/img/customer/howdo/howdo_cont24_1.jpg" alt="" style="max-width:20.5rem">
				</div>

				<p class="txt-gray gray-sub with-star idpt-mt60">
					카카오톡으로 사진 수신할 경우 100KB정도일 때 약 979원(부가세 포함), 노래 한 곡을 다운로드 받을 경우 4MB정도일 때 약40,700원(부가세 포함)의 사용요금이 발생 돼요.
				</p>
				<p class="txt-gray gray-sub with-star idpt-mt20">
					구글 자동백업은 로밍 뿐만 아니라 평소에도 데이터 사용요금이 발생할 수 있어요. 원하지 않을 경우 자동 백업 설정을 해제해 주세요.
				</p>

				<ul class="idpt-link-box right-align idpt-mt40">
					<li>
						<!--<a href="idpt_howdo_cs02(popup01).html" class="fe-link-internal">자세히 보기</a>-->
						<a href="javascript:void(0)" data-popup="popup01" class="idpt-popup-open">자세히 보기</a>
					</li>
				</ul>
				<div class="idpt-btn-wrap w50 idpt-mt20">

					<a href="javascript:void(0)" data-popup="popup02" class="idpt-popup-open idpt-btn-cs btn-full btn-blue">와이파이 연결 확인 방법</a>
					<a href="javascript:void(0)" data-popup="popup03" class="idpt-popup-open idpt-btn-cs btn-full btn-blue">3G 허용 팝업 예시</a>
				</div>
				<p class="txt-gray gray-sub align-center idpt-mt50">
					이것저것 해도 불안하다면 데이터로밍 확실히 차단하는<br>서비스를 가입하세요.(MMS 수신 가능)
				</p>
				<div class="idpt-btn-wrap maxw idpt-mt40">
					<a href="/product/callplan?prod_id=NA00003158" class="fe-link-internal idpt-btn-cs btn-full btn-blue">데이터로밍 무조건차단 서비스(무료) 신청하기</a>
				</div>
				<p class="txt-gray gray-sub with-star idpt-mt40">
					기기에서도 데이터로밍을 차단할 수 있어요.<br>(기기에서 차단할 경우 문자(MMS)는 수신할 수 없음)
				</p>
				<ul class="idpt-link-box right-align idpt-mt40">
					<li>
						<a href="javascript:void(0)" data-popup="popup04" class="idpt-popup-open">데이터로밍 차단 방법 보기</a>
					</li>
				</ul>
			</div>
				<!-- popup 시작 -->
				<div class="idpt-popup">
					<!-- popup 내용01 -->
					<div class="idpt-popup-wrap" id="popup01">
						<div class="idpt-popup-header">
							<p class="popup-title">구글 사진과 동영상 자동백업 해지 방법</p>
							<a href="javascript:void(0)" onclick="history.back();" class="idpt-popup-close">팝업닫기</a>
						</div>
						<div class="idpt-popup-cont-wrap">
							<div class="idpt-popup-cont">
								<div class="idpt-cont-box">
									<ul>
										<li>
											<p class="info-txt">1. 내 휴대폰에서 '사진' 또는 '구글+'앱을 선택해 주세요.</p>
											<div class="idpt-img-box idpt-mt30">
												<img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup02-1.jpg" alt="">
											</div>
										</li>
										<li>
											<p class="info-txt idpt-mt30">2. 메뉴 버튼 또는 오른쪽 위의 아이콘을 탭하여 설정을 선택해 주세요.</p>
										</li>
										<li>
											<p class="info-txt idpt-mt30">3. 자동백업을 탭하여 해제해요.</p>
										</li>
									</ul>
							   </div>
							</div>
						</div>
					</div>
					<!--// popup 내용01 -->
					<!-- popup 내용02 -->
					<div class="idpt-popup-wrap" id="popup02">
						<div class="idpt-popup-header">
							<p class="popup-title">와이파이 연결상태 확인 방법 안내</p>
							<a href="javascript:void(0)" onclick="history.back();" class="idpt-popup-close">팝업닫기</a>
						</div>
						<div class="idpt-popup-cont-wrap">
							<div class="idpt-popup-cont">
								<ul>
									<li>
										<p class="info-txt">와이파이로 연결 중일 때 표시</p>
										<div class="idpt-img-box idpt-mt30">
											<img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup24-1.jpg" alt="휴대폰 상단 상태바에 와이파이 아이콘 표시됨" >
										</div>
									</li>
									<li>
										<p class="info-txt idpt-mt30">3G 연결 중 > 데이터로밍 사용요금 발생</p>
										<div class="idpt-img-box idpt-mt30">
											<img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup24-2.jpg" alt="휴대폰 상단 상태바에 와이파이 아이콘이 없고 LTE가 표시됨">
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!--// popup 내용02 -->
					<!-- popup 내용03 -->
					<div class="idpt-popup-wrap" id="popup03">
						<div class="idpt-popup-header">
							<p class="popup-title">3G 허용 팝업 예시 안내</p>
							<a href="javascript:void(0)" onclick="history.back();" class="idpt-popup-close">팝업닫기</a>
						</div>
						<div class="idpt-popup-cont-wrap">
							<div class="idpt-popup-cont">
								<p class="info-txt idpt-bold">
									3G를 사용해야 한다는 팝업이 있다면<br>반드시 ‘아니오’ 또는 ‘취소’를 선택해 주세요.
								</p>

								<ul class="idpt-mt30">
									<li>
										<p class="info-txt">예1) 다시 부팅할 경우 팝업이 뜬다면 ‘취소’ 선택</p>
										<div class="idpt-img-box idpt-mt30">
											<img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup24-3.jpg" alt="모바일 데이터 접속을 허용합니다. 가입하신 요금제에 따라 모바일 데이터 접속 및 GPS 정보 전송, 이메일 계정 싱크 등 스마트폰 특성으로 인한 데이터 통화료가 발생할 수 있습니다. 취소 확인">
										</div>
									</li>
									<li>
										<p class="info-txt idpt-mt30">예2) 지도 서비스 앱 실행 시 팝업이 뜬다면 ‘아니요’ 선택</p>
										<div class="idpt-img-box idpt-mt30">
											<img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup24-4.jpg" alt="계속하려면 Google 위치 서비스를 사용하는 기기 위치 기능을 사용 설정하세요. 아니요 확인">
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!--// popup 내용03 -->
					<!-- popup 내용04 -->
					<div class="idpt-popup-wrap" id="popup04">
						<div class="idpt-popup-header">
							<p class="popup-title">스마트폰에서 데이터로밍 차단 방법</p>
							<a href="javascript:void(0)" onclick="history.back();" class="idpt-popup-close">팝업닫기</a>
						</div>
						<div class="idpt-popup-cont-wrap">
							<div class="idpt-popup-cont">
								<div class="idpt-cont-box">
									<p class="info-txt idpt-bold">갤럭시 설정</p>
									<ul>
										<li>
											<p class="txt-gray idpt-mt30">1. 설정 선택</p>
											<div class="idpt-img-box idpt-mt30">
												<img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup04-1.jpg" alt="">
											</div>
										</li>
										<li>
											<p class="txt-gray idpt-mt30">2. T로밍 선택</p>
											<div class="idpt-img-box idpt-mt30">
												<img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup04-2.jpg" alt="">
											</div>
										</li>
										<li>
											<p class="txt-gray idpt-mt30">3. 3G 데이터 로밍 사용에 체크박스 선택을 해제합니다.</p>
											<div class="idpt-img-box idpt-mt30">
												<img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup04-3.jpg" alt="">
											</div>
										</li>
									</ul>
							   </div>
								<div class="idpt-cont-box">
									<p class="info-txt idpt-bold">아이폰 설정</p>
									<ul>
										<li>
											<p class="txt-gray idpt-mt30">1. 설정 선택</p>
											<div class="idpt-img-box idpt-mt30">
												<img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup05-1.jpg" alt="">
											</div>
										</li>
										<li>
											<p class="txt-gray idpt-mt30">2. 셀룰러 선택</p>
											<div class="idpt-img-box idpt-mt30">
												<img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup05-2.jpg" alt="">
											</div>
										</li>
										<li>
											<p class="txt-gray idpt-mt30">3. 셀룰러 데이터 옵션 선택</p>
											<div class="idpt-img-box idpt-mt30">
												<img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup05-3.jpg" alt="">
											</div>
										</li>
										<li>
											<p class="txt-gray idpt-mt30">4. LTE 활성화 선택</p>
											<div class="idpt-img-box idpt-mt30">
												<img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup05-4.jpg" alt="">
											</div>
										</li>
										<li>
											<p class="txt-gray idpt-mt30">5. LTE 활성화 끔</p>
											<div class="idpt-img-box idpt-mt30">
												<img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup05-5.jpg" alt="">
											</div>
										</li>
									</ul>
							   </div>
							</div>
						</div>
					</div>
					<!--// popup 내용04 -->
				</div>
				<!--// popup 끝 -->

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
                <h3 class="howdo-title">
					이건 꼭 알아 두세요!
				</h3>
				<ul class="idpt-imgline-list idpt-mt30">
					<li class="four_line">
						<div class="imgline-subject">
							<div class="idpt-img-box left">
								<img src="{{cdn}}/img/customer/howdo/howdo_cont24_2.jpg" alt="" style="max-width:3.6875rem">
							</div>
						</div>
						<div class="imgline-cont">
							<p>
								<span class="txt-black">전화는 걸 때, 받을 때 모두 요금 발생</span>
							</p>
							<p class="txt-gray idpt-mt20">여행하시는 국가 / 지역별 요금기준에 따라 통화료가 발생 돼요.</p>
						</div>
						<ul class="idpt-link-box right-align idpt-mt40">
							<li><a href="/product/roaming/do/search-before" class="fe-link-internal">국가 / 지역별 요금안내 바로가기</a></li>
						</ul>
					</li>
					<li class="four_line">
						<div class="imgline-subject">
							<div class="idpt-img-box left">
								<img src="{{cdn}}/img/customer/howdo/howdo_cont24_3.jpg" alt="" style="max-width:3.6875rem">
							</div>
						</div>
						<div class="imgline-cont">

								<p>
									<span class="txt-black">국내 요금제는 국내에서만 적용</span>
								</p>
								<p class="txt-gray idpt-mt20">국내에서 음성통화 또는 데이터 무제한 요금제를 사용 중이라도 해외에서 똑같이 무제한 혜택을 적용 받을 수 없어요.</p>

						</div>
					</li>
					<li class="four_line no-border">
						<div class="imgline-subject">
							<div class="idpt-img-box left">
								<img src="{{cdn}}/img/customer/howdo/howdo_cont24_4.jpg" alt="" style="max-width:3.6875rem">
							</div>
						</div>
						<div class="imgline-cont">

								<p>
									<span class="txt-black">2G폰은 문자 수신만 무료</span>
								</p>
								<p class="txt-gray idpt-mt20">2G폰은 문자 수신/발신 시 데이터 사용요금이 발생 돼요.(3G 스마트폰, LTE 스마트폰은 문자 수신 무료)</p>

						</div>
					</li>
				</ul>
			</div>

        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
