
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">이럴 땐 이렇게 하세요</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box howdo howdo-bg03">
                <h2 class="howdo-title">데이터를 다 썼는데<br>어떻게 하지?</h2>
            </div>
            <!--// 타이틀 영역 -->

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
                <h3 class="howdo-title">걱정마세요.<br>데이터로 리필이 된대요</h3>
				<!--<p class="txt-black align-center idpt-bold idpt-mt30">장기 가입고객</p>-->
				<div class="idpt-img-box idpt-mt60">
					<img src="{{cdn}}/img/customer/howdo/howdo_cont03_1.jpg" alt="2년이상 가입고객 데이터 리필 4장, 3년이상 가입고객 데이터리필 5장, 4년이상 가입고객 데이터리필 6장">
				</div>
				<p class="txt-gray gray-sub with-star idpt-mt40">리필한 데이터는 꼭 리필한 달에만 사용하실 수 있어요.</p>
				<div class="idpt-btn-wrap w50 idpt-mt40">
					<a href="/myt-data/recharge/coupon" class="fe-link-internal idpt-btn-cs btn-full btn-blue-noborder">데이터 리필하기</a>
				</div>
            </div>

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
                <h3 class="howdo-title">리필쿠폰이 없거나 다 썼다면<br>T데이터쿠폰으로 해결하세요.</h3>
				<p class="txt-gray idpt-mt30">
					T데이터쿠폰은 SK텔레콤 고객님이 국내에서 데이터를<br>
					사용하실 수 있는 선불쿠폰이예요. 100MB에서<br>
					5GB까지 다양한 용량의 쿠폰을 구입해 사용하실 수 있어요.
				</p>
				<div class="idpt-img-box idpt-mt60">
					<img src="{{cdn}}/img/customer/howdo/howdo_cont03_2.jpg" alt="100MB 2000원, 500MB 10000원, 1GB 15000원, 2GB 19000원, 5GB 33000원">
				</div>
				<div class="idpt-vat-area center idpt-mt40">
					<div class="vat-right">
						<p class="txt-gray gray-sub with-star ">부가세 포함</p>
					</div>
					<hr class="clear" aria-hidden="true"/>
				</div>
				<p class="txt-gray gray-sub with-star idpt-mt30">T데이터쿠폰은 T world, 오픈마켓<br>(11번가, G마켓, 옥션, 네이버N샵 등), 전국 편의점에서<br>구매하실 수 있어요.</p>


				<div class="idpt-btn-wrap idpt-mt40">
					<a href="/product/callplan?prod_id=TW00000013" class="fe-link-internal idpt-btn-cs btn-full btn-blue-noborder">T데이터쿠폰 구매</a>
				</div>

            </div>

        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
