
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">다이렉트샵 / 멤버십 / 로밍에 대한 안내</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box">
                <h2 class="cs-title">할인 / 혜택</h2>
                <div class="idpt-dropdown">
                    <button class="btn-dropdown dropdown-full">결합 할인</button>
                </div>
            </div>
            <!--// 타이틀 영역 -->

            <hr class="idpt-seperator no-border" aria-hidden="true"/>

            <!-- 안내문구 -->
            <!-- case1. 안내문구 only -->
            <div class="idpt-cont-box">
                <p class="info-txt">비싼 휴대폰을 할인받고 구매하는 방법, 매달 요금을 할인 받을 수 있는 방법, 묶을수록 커지는 요금할인에 대해 안내해 드립니다.</p>
            </div>
            <!--// case1. 안내문구 only -->

            <!--// 안내문구 -->

            <!-- accordian -->
            <div class="idpt-cont-title">
                <p>안내 유형을 선택하세요.</p>
            </div>

            <ul class="idpt-accordian">
                <li>
                    <a href="javascript:void(0)" role="button" aria-pressed="false">인터넷/IPTV 결합 할인</a>
                    <div class="idpt-accordian-cont">
                        <p class="txt-black">요금약정할인을 24개월 동안 이용하는 모든 고객님께 혜택을 드리는 할인제도</p>

                        <p class="accordian-cont-title">온가족플랜</p>
                        <p class="txt-gray idpt-mt20">혜택이 더욱 커진 SK텔레콤 온가족플랜 이동전화 할인+인터넷 할인, 모두 받아보세요!</p>

						<div class="idpt-img-box idpt-mt30">
							<img src="{{cdn}}/img/customer/service/20161021133305_file0.png" alt="이동전화(2~5회선)+인터넷=5회선 결합시 최대 39600원 할인" style="max-width:12rem">
						</div>

                        <p class="txt-gray gray-sub with-star idpt-mt30">
							이동전화와 결합하는 인터넷의 경우, SK텔레콤 지점/대리점을 통해 신규로 가입한 상품만 가능합니다. 인터넷은 신규 개통 후 30일 안에 이동전화와 결합해야 하며, 인터넷을 이미 이용 중인 고객님께서는 해당 상품의 약정기간이 끝난 후 다시 가입하셔야 합니다.
						</p>

                        <p class="accordian-cont-title">TB끼리 온가족프리</p>
                        <p class="txt-gray idpt-mt20">
							가족구성원이 SK텔레콤 이동전화 고객님일 경우, 이동전화 1~4회선(신규, 기존)과 초고속 인터넷 1회선(신규)을 묶을 수 있는 통신요금 절감형 상품입니다.
						</p>

						<div class="idpt-img-box idpt-mt30">
							<img src="{{cdn}}/img/customer/service/20161021155337_file1.png" alt="T이동전화(1~4회선)+가족구성원 T이동전화 회선 수+초고속 인터넷(신규)=결합시 최대 14300원 할인,가족끼리 또는 친구랑(망내지정 1회선) 음성/문자 무료" style="max-width:15rem">
						</div>
                        <p class="txt-gray gray-sub with-star idpt-mt30">
							이동전화, 인터넷을 사용하는 가족들을 묶으면 LTE 데이터 무제한, 이동전화 3,300원, Giga인터넷 결합할 경우 총 11,000원(이동전화 4회선 결합 기준)이 할인됩니다..
						</p>

                        <p class="accordian-cont-title">한가족 할인</p>
                        <p class="txt-gray idpt-mt20">
							SK텔레콤 이동전화와 인터넷을 결합해서 이용하면 인터넷의 기본요금이 8,800원 할인(부가세 포함)되는 결합상품입니다.
						</p>

						<div class="idpt-img-box idpt-mt30">
							<img src="{{cdn}}/img/customer/service/20161021133305_file2.png" alt="이동전화(1회선)+초고속 인터넷=초고속 요금 8800원할인" style="max-width:10rem">
						</div>

                        <p class="txt-gray gray-sub with-star idpt-mt30">
							제공되는 초고속인터넷 상품은 재판매(SK텔레콤 지점/대리점/T world 등을 통해 가입한 유선상품) 상품에 한하며,
							휴대폰 band데이터 3.5G(월정액 부가세 포함 68,200원) 이상 가입된 고객님에 한하여 가입하실 수 있습니다.
						</p>

                        <p class="accordian-cont-title">TB끼리 TV플러스</p>
                        <p class="txt-gray idpt-mt20">이동전화와 Btv(IPTV)를 결합하면 2,200원 추가 요금할인</p>

						<div class="idpt-img-box idpt-mt30">
							<img src="{{cdn}}/img/customer/service/20161021133305_file3.png" alt="이동전화(1회선)+IPTV=이동전화 월정액 1100원 할인, IPTV 기본료 1100원 할인" style="max-width:12rem">
						</div>

                        <p class="txt-gray gray-sub with-star idpt-mt30">
							Btv 약정에 따라 총 할인금액은 1년 550원, 2년 1,100원, 3년 2,200원입니다. 유무선 결합상품과 중복으로 가입할 수 있습니다.<br>
							이동전화와 결합하는 ‘Btv’ 상품의 경우, Btv베이직 이상<br>
							(구 Btv Digital 실속형 이상)에 한합니다. Btv의 경우, 신규 가입일로부터 30일 안에만 가입할 수 있으며, 이미 Btv를 사용하고 계신 고객님께서는
							해당 상품의 약정기간 끝난 후 다시 가입하셔야 합니다.
						</p>

                        <div class="accordian-cont-box">
                            <p class="accordian-cont-box-title idpt-mt0 align-center">자세한 상담을 원하시면<br>고객센터로 문의해 주세요!</p>
                            <p class="accordian-cont-box-txt align-center">09:30~18:30(평일)</p>

                            <div class="idpt-img-box idpt-mt30">
                                <img src="{{cdn}}/img/customer/service/bg_directcustom.png" alt="" style="max-width:10rem">
                            </div>

                            <p class="txt-black align-center idpt-mt30">유료/유선 및 다른 이동통신사</p>
                            <p class="txt-black idpt-bold align-center idpt-mt10">1599-0224</p>
                            <p class="txt-black align-center idpt-mt30">무료/SK텔레콤 휴대폰</p>
                            <p class="txt-black idpt-bold align-center idpt-mt10">010-1500-0114</p>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="javascript:void(0)" role="button" aria-pressed="false">신한 T주거래 통장</a>
                    <div class="idpt-accordian-cont">
                        <p class="txt-black">SK텔레콤과 신한은행의 특별한 만남! 추가 데이터와 쇼핑 혜택이 쏟아지는 "신한 T주거래 통장"</p>
                        <p class="txt-gray gray-title with-star idpt-mt30">신한 T주거래 통장이란?</p>
                        <p class="txt-gray gray-sub">신한은행 통장으로 SK텔레콤의 통신요금을 자동이체하면, 추가 데이터, 11번가 할인쿠폰, 은행 거래 수수료 면제 등의 혜택을 드리는 서비스입니다.</p>

                        <p class="accordian-cont-title">신한 T주거래 통장 혜택</p>

						<ul class="idpt-oneline-list">
							<li>
								<p class="txt-black idpt-bold idpt-mt30">데이터 50% 추가 제공!</p>
								<p class="txt-black idpt-mt30">
									가입하신 다음 달부터 3개월 동안 기본제공 데이터의 50%를 추가로 드립니다.
								</p>
								<p class="txt-gray gray-sub with-star idpt-mt24">
									예) 최대 5천 원 한도, 다른 쿠폰과 중복 사용가능, 유효기간 1개월
								</p>
							</li>
							<li>
								<p class="txt-black idpt-bold idpt-mt30">11번가 11% 할인쿠폰 제공!</p>
								<p class="txt-black idpt-mt30">
									가입하신 다음 달부터 3개월 동안 매달 1장씩, 11번가 11% 할인쿠폰을 드립니다.
								</p>
								<p class="txt-gray gray-sub with-star idpt-mt24">
									예) 최대 5천 원 한도, 다른 쿠폰과 중복 사용 가능, 유효기간 1개월
								</p>
							</li>
							<li class="no-border">
								<p class="txt-black idpt-bold idpt-mt30">신한은행 거래 수수료 평생 면제!</p>
								<p class="txt-black idpt-mt30">
									SK텔레콤 통신요금 자동이체 할 경우, 신한은행 거래 수수료가 평생 면제되는 혜택을 드립니다.
								</p>
								<p class="txt-gray gray-sub with-star idpt-mt24">
									예) 전자금융이체수수료, 납부자동이체수수료, 은행 마감 후 신한 ATM인출 수수료, 신한 ATM을 이용한 다른 은행 이체 수수료(월 5회)
								</p>
							</li>
						</ul>

                        <p class="accordian-cont-title-sub idpt-bold">가입 조건</p>

						<p class="txt-black idpt-bold idpt-mt30">가입대상</p>
						<p class="txt-gray idpt-mt30">
							15세 이상 개인 고객님 (법인 고객님 제외)
						</p>

						<p class="txt-black idpt-bold idpt-mt30">대상 요금제</p>
						<p class="txt-gray idpt-mt30">
							UMTS(3G), LTE 스마트폰 요금제
						</p>

						<p class="txt-black idpt-bold idpt-mt30">신한은행 거래 수수료 평생 면제</p>
						<ul class="idpt-dot-list">
							<li>신한 T주거래 통장 개설 + SK텔레콤 통신요금 자동 이체</li>
							<li>회선과 통장의 명의가 동일할 경우</li>
						</ul>

                        <p class="accordian-cont-title-sub idpt-bold">가입 절차</p>
                        <ul class="card-list">
                            <li class="clearfix">
                                <div class="card-list-num">
                                    <p>1</p>
                                </div>
                                <div class="card-list-cont">
                                    <p class="card-list-title idpt-mt0">상품 가입 신청</p>
                                    <ul class="idpt-dot-list">
                                        <li>신한은행 영업점에 직접 방문하여 신청합니다.</li>
                                        <li>신한 T주거래 통장 안내 웹사이트에 방문하여 신청합니다.</li>
                                    </ul>
                                    <div class="idpt-btn-wrap idpt-mt30">
                                        <a href="https://bank.shinhan.com/" class="fe-link-external idpt-btn-cs btn-full btn-blue" target="_blank">신한 T주거래 통장 안내 사이트</a>
                                    </div>
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="card-list-num">
                                    <p>2</p>
                                </div>
                                <div class="card-list-cont">
                                    <p class="card-list-title idpt-mt0">신한은행 통장 보유</p>
                                    <p class="txt-gray idpt-mt20">신한 T주거래 통장으로 전환</p>
                                    <p class="txt-gray gray-sub with-star">기존의 계좌를 신한 주거래 통장으로 계좌번호 변경하지 않고 사용할 수 있습니다.</p>

                                    <p class="card-list-title">신한은행 통장 보유하지 않음</p>
                                    <p class="txt-gray idpt-mt20">신한 T주거래 통장 신규 개설</p>
                                    <p class="txt-gray gray-sub with-star">신한은행 계좌를 보유하지 않은 고객님은 신한 T주거래 통장을 신규 개설하여 이용하실 수 있습니다.</p>
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="card-list-num">
                                    <p>3</p>
                                </div>
                                <div class="card-list-cont">
                                    <p class="card-list-title idpt-mt0">SK Telecom 요금 자동이체 신청</p>
                                    <p class="txt-gray idpt-mt20">
										신한 T주거래 통장으로 SK텔레콤 통신요금을 자동이체 신청합니다. SK텔레콤 회선과 신한 T주거래 통장의 명의가 같아야 혜택을 받으실 수 있습니다.
									</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <!--// accordian -->

            <hr class="idpt-seperator no-border" aria-hidden="true"/>

            <!-- FAQ -->
            <div class="idpt-toggle-set">
                    <button class="idpt-toggle-btn" aria-pressed="false">FAQ</button>
                    <div class="idpt-toggle-cont">
                        <div class="idpt-faq-question">
							<div class="faq-icon-txt" aria-hidden="true"/>Q</div>
                            <p>[신한T주거래] 데이터 및 11번가 할인쿠폰은 언제 받을 수 있나요?</p>
                        </div>
                        <div class="idpt-faq-answer-sw">
							<div class="faq-icon-txt" aria-hidden="true"/>A</div>
                            <p>통장 개설과 SK텔레콤 통신요금의 자동이체 여부가 최종 확인된 다음 달부터 3개월 동안 받으실 수 있습니다.</p>
                        </div>
                        <div class="idpt-faq-question">
							<div class="faq-icon-txt" aria-hidden="true"/>Q</div>
                            <p>[신한T주거래] 데이터 및 11번가 할인쿠폰은 어떤 방식으로 받게 되나요?</p>
                        </div>
                        <div class="idpt-faq-answer-sw">
							<div class="faq-icon-txt" aria-hidden="true"/>A</div>
                            <p>매달 마지막 날을 기준으로 자동이체 여부를 확인하여, 다음 달 1일에 MMS로 받으실 수 있습니다. MMS에는 고객님께서 받으실 추가 데이터와 11번가 쿠폰 번호 및 이용방법 등이 담겨 있습니다. 이를 참고하여 사용하시면 됩니다.</p>
                        </div>
                        <div class="idpt-faq-question">
							<div class="faq-icon-txt" aria-hidden="true"/>Q</div>
                            <p>[신한T주거래] 회선이 일시정지될 경우, 데이터와 쿠폰  혜택은 어떻게 되나요?</p>
                        </div>
                        <div class="idpt-faq-answer-sw">
							<div class="faq-icon-txt" aria-hidden="true"/>A</div>
                            <p>데이터와 쿠폰 혜택은 신한 T주거래 통장 가입 및 자동이체가 확인된 다음 달부터 3개월 동안 받으실 수 있는 혜택이기 때문에 일시정지 중에도 받으실 수 있습니다. 단, 3개월이 지나면 혜택이 종료됩니다.</p>
                        </div>
                        <div class="idpt-faq-question">
							<div class="faq-icon-txt" aria-hidden="true"/>Q</div>
                            <p>[신한T주거래] 데이터와 11번가 쿠폰 제공기간 안(3개월)에 자동이체가 해지되면 어떻게 되나요?</p>
                        </div>
                        <div class="idpt-faq-answer-sw">
							<div class="faq-icon-txt" aria-hidden="true"/>A</div>
                            <p>자동이체가 중도 해지되거나 변경되면, 혜택도 중단되며 다시 신한 T주거래 통장으로 자동이체 변경을 하더라도 추가로 혜택을 받으실 수 없습니다.</p>
                        </div>
                        <div class="idpt-faq-question">
							<div class="faq-icon-txt" aria-hidden="true"/>Q</div>
                            <p>[신한T주거래] 통장 수수료 면제는 어떤 기준으로 제공 되나요?</p>
                        </div>
                        <div class="idpt-faq-answer-sw">
							<div class="faq-icon-txt" aria-hidden="true"/>A</div>
								<p>최초 3개월이 되는 달의 15일까지는 자동이체 여부와 상관없이 혜택을 받으실 수 있습니다. 3개월이 지난 후로는 매달 마지막 날을 기준으로 자동이체 신청 고객님께만 다음 달 16일부터 다음다음 달 15일까지 수수료가 면제됩니다.</p>
                        </div>
						<div class="idpt-faq-btn">
							<a href="/customer/faq" class="fe-link-internal idpt-btn-cs btn-full btn-blue-noborder">FAQ 바로가기</a>
						</div>
                    </div>
                </div>
                <!--// FAQ -->

        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
