
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">T world 이용법</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box">
                <h2 class="cs-title">[법인명의 태블릿] 다회선 등록하기</h2>
            </div>
            <!--// 타이틀 영역 -->

			<hr class="idpt-seperator no-border">
			<div class="idpt-cont-box">
				<p class="info-txt idpt-bold">등록하기1.<br>회선관리에서 조회되지 않는 법인회선이 있다면,</p>
				<p class="txt-gray idpt-mt20">
                    [편집] > [이용안내]를 누르신 후, 해당 화면의 [법인명의 회선 등록하기] 버튼을 통해 직접 회선을 등록할 수 있습니다.
				</p>
				<div class="idpt-img-box idpt-mt30">
					<img src="{{cdn}}/img/customer/service/img_cs3_2_1t_6_1.jpg" alt="현재 '회선 관리'목록에서 바로 확인하실 수 없는 법인명의 회선이 있다면, 직접 회선 정보를 등록하셔야 합니다. '법인명의 회선 등록하기' 버튼을 눌러 추가해 주세요.">
				</div>
			</div>

			<hr class="idpt-seperator no-border">
			<div class="idpt-cont-box">
				<p class="info-txt idpt-bold">등록하기2.<br>법인명의 회선 등록 페이지에서,</p>
				<p class="txt-gray idpt-mt20">
					등록하실 법인명의 휴대폰번호, 법인명, 법인등록번호 13자리를 입력후 [등록하기] 버튼을 눌러주세요.
				</p>
				<div class="idpt-img-box idpt-mt30">
					<img src="{{cdn}}/img/customer/service/img_cs3_2_1t_6_2.jpg" alt="">
				</div>
			</div>

			<hr class="idpt-seperator no-border">
			<div class="idpt-cont-box">
				<p class="info-txt idpt-bold">등록하기3.<br>고객님의 개인정보보호를 위해</p>
				<p class="txt-gray idpt-mt20">
					본인인증을 추가로 받고 있습니다. 휴대폰번호 인증을 완료하시면 등록이 완료됩니다.<br><br>법인명의 태블릿의 경우 법인명의 법인번호가 정확히 일치할 때 별도의 인증 절차 없이 다회선 등록이 완료됩니다.
				</p>
				<div class="idpt-img-box idpt-mt30">
					<img src="{{cdn}}/img/customer/service/img_cs3_2_1t_6_3.jpg" alt="법인회선이 등록 되었습니다.">
				</div>
			</div>

			<hr class="idpt-seperator no-border">
			<div class="idpt-cont-box">
				<p class="info-txt idpt-bold">주의사항</p>
				<ul class="idpt-dot-list idpt-mt30">
					<li>다회선 서비스는 SK텔레콤에 가입하신 본인명의의 무선/유선 회선번호를 여러 개 사용하고 계시는 회원님께 제공되는 서비스 입니다.</li>
                    <li>하나의 아이디로 여러 회선에 대한 업무를 처리하기 때문에 현재 처리하고 있는 번호가 무엇인지 반드시 확인하여 이용상 실수가 없도록 주의하여 이용해 주세요.</li>
                    <li>기준회선 외의 회선 정렬은 SK텔레콤 가입일자기준의 순서대로 최초 정렬되지만, 고객님께서 원하는 순서로도 정렬 할 수 있습니다.</li>
                    <li>본인명의 휴대폰번호 및 법인명의 휴대폰번호 (공공기관 제외)만 조회하실 수 있으며, 다른 사람 명의 휴대폰번호는 조회할 수 없습니다.</li>
				</ul>
			</div>

        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
