
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">이럴 땐 이렇게 하세요</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box howdo howdo-bg12">
                <h2 class="howdo-title">안심백업하셨나요?<br>데이터 복원하기</h2>
            </div>
            <!--// 타이틀 영역 -->

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box no-border howdo">
                <h3 class="howdo-title">
					데이터 백업 서비스 안내
				</h3>
				<table class="idpt-tbl-type03 idpt-mt60">
					<caption>데이터 백업 서비스 안내</caption>
					<colgroup>
						<col style="width:5.125rem">
						<col style="width:auto">
					</colgroup>
					<thead>
					</thead>
					<tbody>
						<tr>
							<td>
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont12_1.jpg" alt="" style="max-width:3.75rem">
								</div>
							</td>
							<td>
								<p class="txt-gray">
									클라우드베리 서비스는 사진, 문서, 오디오, 파일에서부터 주소록, 문자, 일정, 앱 목록까지 내 손안의 모든 데이터를 저장하고 복원할 수 있어요.
								</p>
							</td>
						</tr>
					</tbody>
				</table>
				<p class="txt-black idpt-bold idpt-mt40">클라우드베리 다운로드</p>
				<div class="idpt-btn-wrap w50 idpt-mt20">
					<a href="https://play.google.com/store/apps/details?id=com.skt.prod.cloud" class="fe-link-external idpt-btn-cs btn-full btn-blue" target="_blank">안드로이드 버전</a>
					<a href="https://itunes.apple.com/kr/app/cloudberry/id1139665119" class="fe-link-external idpt-btn-cs btn-full btn-blue-noborder" target="_blank">iOS 버전</a>
				</div>
			</div>

			<div class="idpt-cont-box top-nopadding no-border gray">
				<table class="idpt-tbl-type03">
					<caption></caption>
					<colgroup>
						<col style="width:5.125rem">
						<col style="width:auto">
					</colgroup>
					<thead>
					</thead>
					<tbody>
						<tr>
							<td>
								<div class="idpt-img-box idpt-mt20">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont12_2.jpg" alt="" style="max-width:3.75rem">
								</div>
							</td>
							<td>
								<p class="txt-gray idpt-mt20">
									T연락처는 자동으로 연락처를 업데이트해주는 스마트한 연락처 관리 앱
								</p>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="idpt-btn-wrap w50 idpt-mt10">
					<a href="https://play.google.com/store/apps/details?id=com.skt.prod.phonebook&hl=ko" class="fe-link-external idpt-btn-cs btn-full btn-blue-noborder" target="_blank">T연락처 다운로드</a>
				</div>
				<p class="txt-gray align-center idpt-mt30">(안드로이드 폰만 이용 가능)</p>
			</div>

			<div class="idpt-cont-box">
				<p class="txt-gray">
					N드라이브에 백업해 둔 데이터가 있는지 확인해 보세요.
				</p>

				<ul class="idpt-tag-box b00042 idpt-mt30">
					<li><a href="https://play.google.com/store/apps/details?id=com.nhn.android.addressbookbackup&hl=ko" class="fe-link-external" target="_blank">네이버 주소록</a></li>
					<li><a href="https://play.google.com/store/apps/details?id=com.google.android.contacts&hl=ko" class="fe-link-external" target="_blank">구글 연락처</a></li>
					<li><a href="https://play.google.com/store/apps/details?id=com.facebook.orca&hl=ko" class="fe-link-external" target="_blank">페이스북 연락처</a></li>
				</ul>
			</div>

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
				<h3 class="howdo-title">
					그 외 백업 서비스 안내
				</h3>
				<p class="txt-gray idpt-mt30">
					다른 백업 서비스에서 이미 백업해 둔 사진 / 동영상 / 음악 / 문서 등은 없는지 확인해 보세요.
				</p>

				<table class="b00042 idpt-mt30">
					<caption>그 외 백업서비스 안내</caption>
					<colgroup>
						<col style="width:60%">
						<col style="width:40%">
					</colgroup>
					<thead>
					</thead>
					<tbody>
						<tr>
							<td><span class="txt-gray">아이폰 고객님이라면?</span></td>
							<td>
								<ul class="idpt-ghost-box b00042 align-right">
									<li><a href="https://support.apple.com/ko_KR/downloads/itunes" class="fe-link-external" target="_blank">iTunes</a></li>
									<li style="margin-left:0.5rem"><a href="https://support.apple.com/ko_KR/downloads/icloud" class="fe-link-external" target="_blank">iCloud</a></li>
								</ul>
							</td>
						</tr>
						<tr>
							<td><span class="txt-gray">갤럭시, 노트 고객님이라면?</span></td>
							<td>
								<ul class="idpt-ghost-box b00042 align-right">
									<li><a href="https://www.samsungsvc.co.kr/online/faqView.do?domainId=NODE0000033866&node_Id=NODE0000124880&faqId=KNOW0000032168&pageNo=1" class="fe-link-external" target="_blank">삼성 Kies</a></li>
								</ul>
							</td>
						</tr>
						<tr>
							<td><span class="txt-gray">옵티머스 고객님이라면?</span></td>
							<td>
								<ul class="idpt-ghost-box b00042 align-right">
									<li><a href="https://www.lge.co.kr/lgekor/download-center/downloadCenterList.do" class="fe-link-external" target="_blank">LG Suite</a></li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
				<p class="txt-gray idpt-mt40">
					N드라이브에 백업해 둔 데이터가 있는지 확인해 보세요.
				</p>
				<ul class="idpt-ghost-box b00042 align-right idpt-mt10">
					<li><a href="https://play.google.com/store/apps/details?id=com.nhn.android.ndrive&hl=ko" class="fe-link-external" target="_blank">N드라이브 바로가기</a></li>
				</ul>

            </div>


        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
