
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">다이렉트샵 / 멤버십 / 로밍에 대한 안내</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box">
                <h2 class="cs-title">배송개통</h2>
                <div class="idpt-dropdown">
                    <button class="btn-dropdown dropdown-full">개통 방법</button>
                </div>
            </div>
            <!--// 타이틀 영역 -->

            <hr class="idpt-seperator no-border" aria-hidden="true"/>

            <!-- case4. 안내문구 + 링크버튼 -->
            <div class="idpt-cont-box">
                <p class="info-txt">받으신 휴대폰의 개통 및 설정 방법에 대해 알려드립니다.</p>
            </div>
            <!--// case4. 안내문구 + 버튼 -->

            <!-- accordian -->
            <div class="idpt-cont-title">
                <p>안내 유형을 선택하세요.</p>
            </div>

			<ul class="idpt-accordian">
                <li>
                    <a href="javascript:void(0)" role="button" aria-pressed="false">개통 신청 안내/방법</a>
					<div class="idpt-accordian-cont">
						<p class="txt-black idpt-bold idpt-mt0">개통 신청 안내</p>

						<p class="txt-black idpt-mt20">다이렉트샵에서는 고객님이 직접 휴대폰 개통 신청을 하실 수 있습니다. 다이렉트샵에서 구매하신 기기는 택배 배송 단계부터 사이트를 통해 개통 신청을 하실 수 있으며, 신청 후 2시간 안에 당일 개통됩니다.
						</p>
						<p class="txt-gray with-star idpt-mt20">
							기기변경은 평일 오후 8시 30분 / 번호이동은 평일 오후 7시 30분 전까지 개통을 신청하면 당일 개통되며, 이후에 신청하면 다음 날 오전 9시 이후에 개통됩니다. 단, 토요일은 오후 2시 전에 신청해야 당일 개통됩니다.(공휴일/일요일 개통 불가)
						</p>

						<p class="txt-black idpt-bold idpt-mt40">개통 신청 방법</p>
						<p class="txt-black idpt-bold idpt-mt20">1. MMS로 신청하기</p>
						<p class="txt-black idpt-mt10">기기 발송시점에 MMS로 전송된 문자를 통해 신청하실 수 있습니다.</p>

						<ul class="card-list">
                            <li class="clearfix">
                                <div class="card-list-num">
                                    <p>1</p>
                                </div>
                                <div class="card-list-cont">
									<div class="idpt-img-box">
										<img src="{{cdn}}/img/customer/service/img_cs_3.1.a.3t.2t.1.png" alt="">
									</div>
									<p class="txt-black idpt-mt20">고객님께서 받으신 MMS에서 ‘직접 개통 신청하러 가기’ URL로 접속해 주세요.</p>
									<p class="txt-black idpt-mt30">직접 개통 신청하러 가기</p>
									<p class="txt-black idpt-mt20"><a href="http://m.tworlddirect.com/handler/Activation-Request" class="idpt-link-default" target="_blank">http://m.tworlddirect.com/handler/Activation-Request</a>
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="card-list-num">
                                    <p>2</p>
                                </div>
                                <div class="card-list-cont">
									<div class="idpt-img-box">
										<img src="{{cdn}}/img/customer/service/img_cs_3.1.a.3t.2t.2.png" alt="">
									</div>
									<p class="txt-black idpt-mt20">개통 신청 페이지에서 ‘개통 신청하기’ 버튼을 눌러주세요.</p>
									<p class="txt-black with-dot idpt-mt30">이이후 신청할 경우 다음 날 오전 9시 이후에 개통이 진행됩니다.</p>
									<p class="txt-black with-dot idpt-mt20">개통 보류 사유가 발생할 경우 2시간 안에 개통이 안 될 수도 있습니다.</p>
									<p class="txt-black with-dot idpt-mt20">일요일, 공휴일에는 개통이 진행되지 않습니다.</p>
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="card-list-num">
                                    <p>3</p>
                                </div>
                                <div class="card-list-cont">
									<div class="idpt-img-box">
										<img src="{{cdn}}/img/customer/service/img_cs_3.1.a.3t.2t.3.png" alt="">
									</div>
									<p class="txt-black idpt-mt20">신청 내역을 조회하기 위해 로그인해 주세요. 비회원 주문을 하신 경우 ‘비회원 주문 조회’에서 조회하실 수 있습니다.</p>
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="card-list-num">
                                    <p>4</p>
                                </div>
                                <div class="card-list-cont">
									<div class="idpt-img-box">
										<img src="{{cdn}}/img/customer/service/img_cs_3.1.a.3t.2t.4.png" alt="">
									</div>
									<p class="txt-black idpt-mt20">쇼핑 내역 목록 또는 주문번호를 누른 후 쇼핑 내역 상세 페이지에서 ‘개통 신청하기’를 눌러주시면 완료됩니다.</p>
                                </div>
                            </li>
						</ul>


						<p class="txt-black idpt-bold idpt-mt40">2. 쇼핑 내역에서 신청하기</p>
						<p class="txt-black idpt-mt10">로그인 후 My T shop > 쇼핑 내역에서 ‘개통 신청’ 버튼을 클릭하면 개통 신청 접수가 완료됩니다.</p>
						<div class="idpt-img-box idpt-mt30">
							<img src="{{cdn}}/img/customer/service/img_cs_3.1.a.3t.2t.5.gif" title="">
						</div>

						<p class="txt-black idpt-bold idpt-mt40">3. 고객센터로 신청하기</p>
						<p class="txt-black idpt-mt10">고객센터(SK텔레콤 고객님: 1525(무료), 유선 및 다른 이동통신사 고객님: 1599-0224(유료))로 연락 후 개통 신청을 해주세요.</p>

						<p class="txt-black with-dot idpt-mt20">기기변경은 평일 오후 8시 30분 / 번호이동은 평일 오후 7시 30분 전까지 개통을 신청해야 당일 개통되며, 이후로 신청하면 다음 날 오전 9시 이후에 개통됩니다.</p>
						<p class="txt-black with-dot idpt-mt20">단, 토요일은 오후 2시 전에 신청해야 당일 개통됩니다.(공휴일/일요일 개통 불가)</p>
						<p class="txt-black with-dot idpt-mt20">별도의 개통 신청이 없는 경우 택배 발송 2일 후 오전 9시부터 순서대로 자동 개통됩니다.</p>


					</div>
				</li>

                <li>
					<a href="javascript:void(0)" role="button" aria-pressed="false">개통 신청 후 휴대폰 설정 방법</a>
					<div class="idpt-accordian-cont">
						<p class="txt-black idpt-mt0">
							개통 신청 후, 구매하신 휴대폰의 개통이 완료되면 기존 휴대폰 화면에 ‘개통 후 사용하세요’ 또는 ‘미등록 기기입니다’라는 문구가 나타납니다.<br>
							이후 아래의 방법에 따라 휴대폰을 설정하시면 사용하실 수 있습니다.
						</p>
						<p class="txt-gray with-star idpt-mt24">010 신규의 경우 먼저 개통 진행을 한 후에 보내드립니다.</p>

						<p class="txt-black idpt-bold idpt-mt40">안드로이드 스마트폰</p>
						<div class="idpt-img-box idpt-mt30">
							<img src="{{cdn}}/img/customer/service/20180725133004_file0.jpg" alt="" style="max-width:11rem">
						</div>
						<ul class="idpt-num-list-black idpt-mt40">
							<li>휴대폰에 유심칩을 꽂은 후 전원을 켭니다.</li>
							<li>구글계정을 생성/등록하고, 기본 설정을 완료합니다.</li>
							<li>#758353266#646# 입력 후, 개통 설정 화면에서 ‘예’를 선택합니다.</li>
							<li>스마트폰이 자동으로 꺼졌다가 켜지면 다운로드가 진행되고 한 번 더 꺼졌다 켜지면 사용하실 수 있습니다.</li>
						</ul>


							<p class="txt-black idpt-bold idpt-mt80">유심칩 장착 방법 및 휴대폰 설정 방법을 동영상으로 쉽게 알아보세요.</p>
							<p class="txt-black idpt-mt30">유심 삽입 방법</p>
							<div class="idpt-img-box idpt-mt30">
								<a href="https://www.youtube.com/watch?v=niuhDslUnEQ" class="fe-link-external" target="_blank" title="유심 삽입 방법 동영상 보기"><img src="{{cdn}}/img/customer/service/20180724121521_file0.jpg" alt="유심 삽입 방법 동영상 보기"></a>
							</div>

							<p class="txt-black idpt-mt30">최초 세팅 방법</p>
							<div class="idpt-img-box idpt-mt30">
								<a href="https://www.youtube.com/watch?v=tgAZDj0kIXQ" class="fe-link-external" target="_blank" title="최초 세팅 방법 동영상 보기"><img src="{{cdn}}/img/customer/service/20180724122433_file0.jpg" alt="최초 세팅 방법 동영상 보기"></a>
							</div>

							<p class="txt-black idpt-mt30">유심 등록 방법</p>
							<div class="idpt-img-box idpt-mt30">
								<a href="https://www.youtube.com/watch?v=dclpkgiwCr8" class="fe-link-external" target="_blank" title="유심 등록 방법 동영상 보기"><img src="{{cdn}}/img/customer/service/20180724122624_file0.jpg" alt="유심 등록 방법 동영상 보기"></a>
							</div>

							<p class="txt-black idpt-mt30">데이터 이동 방법</p>
							<div class="idpt-img-box idpt-mt30">
								<a href="https://www.youtube.com/watch?v=OJIeTWRoh58" class="fe-link-external" target="_blank" title="데이터 이동 방법1 동영상 보기"><img src="{{cdn}}/img/customer/service/20180724123038_file0.jpg" alt="데이터 이동 방법1 동영상 보기"></a>
							</div>
							<div class="idpt-img-box idpt-mt30">
								<a href="https://www.youtube.com/watch?v=YYmEbp4hGC8" class="fe-link-external" target="_blank" title="데이터 이동 방법2 동영상 보기"><img src="{{cdn}}/img/customer/service/20180724123038_file1.jpg" alt="데이터 이동 방법2 동영상 보기"></a>
							</div>
							<div class="idpt-img-box idpt-mt30">
								<a href="https://www.youtube.com/watch?v=af7p6Ds5HwQ" class="fe-link-external" target="_blank" title="데이터 이동 방법3 동영상 보기"><img src="{{cdn}}/img/customer/service/20180724123038_file2.jpg" alt="데이터 이동 방법3 동영상 보기"></a>
							</div>

							<p class="txt-black idpt-bold idpt-mt80">Apple iOS 스마트폰</p>

							<ul class="idpt-box-list">
								<li class="w100-arrow">
									<div class="idpt-img-box">
										<img src="{{cdn}}/img/customer/service/img_cs_3.1.a.3t.2t.7.gif" alt="" style="max-width:7rem">
									</div>
									<p class="box-cont idpt-mt20">휴대폰에 USIM칩을 꽂은 후 전원을 켭니다.</p>
								</li>
								<li class="w100-arrow">
									<p class="box-cont">와이파이(무선 인터넷) 접속이 되는 경우</p>
									<div class="idpt-img-box idpt-mt30">
										<img src="{{cdn}}/img/customer/service/img_cs_3.1.a.3t.2t.8.gif" alt="" style="max-width:7rem">
									</div>
									<p class="box-cont idpt-mt20">
										네트워크에 접속 후 다음 단계로 이동합니다<br>
										아이폰/아이패드 활성화가 진행됩니다.<br>
										애플 계정을 생성/등록하고<br>
										기본 설정을 완료합니다.<br>
										이후 개통이 완료됩니다.<br>
									</p>
								</li>
								<li class="w100">
									<p class="box-cont">와이파이(무선 인터넷) 접속이 안 되는 경우</p>
									<div class="idpt-img-box idpt-mt30">
										<img src="{{cdn}}/img/customer/service/img_cs_3.1.a.3t.2t.9.gif" alt="" style="max-width:7rem">
									</div>
									<p class="box-cont idpt-mt20">
										네트워크에 목록 아래에 ‘iTunes에 연결’을 선택합니다.<br>
										컴퓨터와 아이폰/아이패드를 연결 후 활성화를 진행합니다.<br>
										애플 계정을 생성/등록하고 기본 설정을 완료합니다.<br>
										이후 개통이 완료됩니다.
									</p>
								</li>
							</ul>

							<p class="txt-black idpt-bold idpt-mt80">유심칩 장착 방법 및 휴대폰 설정 방법을 동영상으로 쉽게 알아보세요.</p>
							<p class="txt-black idpt-mt30">유심 삽입 방법</p>
							<div class="idpt-img-box idpt-mt30">
								<a href="https://www.youtube.com/watch?v=ib1dO8l1hNI" class="fe-link-external" target="_blank" title="유심 삽입 방법 동영상 보기"><img src="{{cdn}}/img/customer/service/20180724124740_file0.jpg" alt="유심 삽입 방법 동영상 보기"></a>
							</div>

							<p class="txt-black idpt-mt30">최초 세팅 방법</p>
							<div class="idpt-img-box idpt-mt30">
								<a href="https://www.youtube.com/watch?v=lzxgXuBmHhg" class="fe-link-external" target="_blank" title="최초 세팅 방법 동영상 보기"><img src="{{cdn}}/img/customer/service/20180724124740_file1.jpg" alt="최초 세팅 방법 동영상 보기"></a>
							</div>

							<p class="txt-black idpt-mt30">데이터 이동 방법</p>
							<div class="idpt-img-box idpt-mt30">
								<a href="https://www.youtube.com/watch?v=4F1v3vep43I" class="fe-link-external" target="_blank" title="데이터 이동 방법1 동영상 보기"><img src="{{cdn}}/img/customer/service/20180724124740_file2.jpg" alt="데이터 이동 방법1 동영상 보기"></a>
							</div>
							<div class="idpt-img-box idpt-mt30">
								<a href="https://www.youtube.com/watch?v=TNK5B3jes_A" class="fe-link-external" target="_blank" title="데이터 이동 방법2 동영상 보기"><img src="{{cdn}}/img/customer/service/20180724124740_file3.jpg" alt="데이터 이동 방법2 동영상 보기"></a>
							</div>

							<p class="txt-black idpt-bold idpt-mt80">폴더폰</p>
							<div class="idpt-img-box idpt-mt30">
								<img src="{{cdn}}/img/customer/service/20180725134025_file0.jpg" alt="" style="max-width:11rem">
							</div>
							<ul class="idpt-num-list-black idpt-mt40">
								<li>휴대폰에 유심칩을 꽂은 후 전원을 켭니다.</li>
								<li>#758353266#646#  입력합니다.</li>
								<li>휴대폰이 자동으로 꺼졌다가 켜지면 유심 다운로드가 진행됩니다.</li>
								<li>다운로드 완료 후 휴대폰을 다시 부팅하면 사용하실 수 있습니다.</li>
							</ul>

							<p class="txt-black idpt-bold idpt-mt80">유심칩 장착 방법 및 휴대폰 설정 방법을 동영상으로 쉽게 알아보세요.</p>
							<!--<p class="txt-black idpt-mt30">유심 삽입 방법</p>-->
							<div class="idpt-img-box idpt-mt30">
								<a href="https://www.youtube.com/watch?v=OybpaXGPNps" class="fe-link-external" target="_blank" title="폴더폰 유심 삽입 방법 동영상 보기"><img src="{{cdn}}/img/customer/service/20180724125315_file0.jpg" alt="폴더폰 유심 삽입 방법 동영상 보기"></a>
							</div>
					</div>
				</li>

			</ul>
			<!--// accordian -->

			<!-- 이용안내
            <hr class="idpt-seperator no-border" aria-hidden="true"/>

            <div class="idpt-toggle-set">
                <button class="idpt-toggle-btn">이용안내</button>
                <div class="idpt-toggle-cont">

                    <div class="idpt-guide-title">
                        <p>1. 타사 단말기를 사용할 경우</p>
                    </div>
                    <div class="idpt-guide-cont">
                        <ul class="idpt-dot-list-black">
                            <li>타사 단말기를 사용할 경우 제공되는 서비스는 음성/문자서비스/영상통화/해외로밍/발신자표시 서비스 입니다. 데이터 서비스나 컬러메일, 그 외 부가 서비스 등은 휴대폰 별로 서비스 지원여부가 달라질 수 있습니다. SKT의 정식 망연동 테스트를 거치지 않았으므로 안정적 서비스가 되지 않을 수 있음을 양해해 주시기 바랍니다.</li>
                        </ul>
						<p class="txt-black with-star idpt-mt30">고객님이 USIM기변을 하여 타사 단말기를 사용할 경우, 지원되지 않는 서비스에 대한 요금상품들은 직접 해지하셔야 합니다.</p>
						<p class="txt-black with-star idpt-mt30">고객님의 단말기를 타사 고객이 사용하더라도 고객님의 SK텔레콤 회선은 정상적으로 유지됩니다.</p>
						<p class="txt-black with-star idpt-mt30">타사 휴대폰은 별도 설정이 필요하거나 당사가 휴대폰 스펙을 정확히 확인할 수 없어 서비스나 과금 안정성이 떨어질 수 있습니다.</p>
                    </div>

                    <div class="idpt-guide-title">
                        <p>2. 사용하던 타사 단말기를 분실하셨을 경우</p>
                    </div>
                    <div class="idpt-guide-cont">
                        <ul class="idpt-dot-list-black">
                            <li>사용하던 타사 단말기를 분실하셨을 경우 기존과 마찬가지로 분실신고를 하시면 됩니다. 분실 신고가 된 단말기는 양 이동통신사에서 모두 사용이 차단됩니다.</li>
                        </ul>
						<p class="txt-black with-star idpt-mt30">분실신고 : 현재 단말기를 사용 중이거나 단말기 소유권이 있는 고객의 이동통신사에 신고하시면 됩니다.</p>
						<p class="txt-black black-sub idpt-mt20">고객님이 친구의 KT 단말기를 USIM 기변으로 사용중이셨다면, 현 사용자이신 고객님이 SK텔레콤이나 단말기 소유권자인 친구가 KT에 신고하시면 됩니다.</p>
						<p class="txt-black with-star idpt-mt30">습득신고 : 분실 신고를 한 사람이나, 단말기 소유권자가 할 수 있습니다.</p>
						<p class="txt-black black-sub idpt-mt20">만약 동일 단말기가 양 이동통신사에 모두 가입되어 있어 단말기 소유권자가 두 명 존재하는 경우, 먼저 개통한 이동통신사 고객의 권리를 우선으로 합니다.</p>
                    </div>

                    <div class="idpt-guide-title">
                        <p>3. 중고폰 구매시</p>
                    </div>
                    <div class="idpt-guide-cont">
                        <ul class="idpt-dot-list-black">
                            <li>중고폰 구매 시 타 이동통신사에 소유권자가 존재하는지 꼭 확인하셔야 합니다.</li>
                        </ul>
                    </div>

                    <div class="idpt-guide-title">
                        <p>4. 기타</p>
                    </div>
                    <div class="idpt-guide-cont">
                        <ul class="idpt-dot-list-black">
                            <li>대리점에서 전산 처리 없이 타사 단말기에 SK텔레콤 USIM을 장착하여 USIM 기변만 하는 경우 SK텔레콤에 단말기 소유권자가 없어 SK텔레콤에서 AS 및 보상기변을 받을 수 없습니다.</li>
							<li>전산 처리를 통해 타사 단말기로 SK텔레콤에 신규 가입하거나 기기변경을 하는 경우 AS와 보상기변이 가능합니다.</li>
                        </ul>
						<p class="txt-black with-star idpt-mt30">AS : 단말기 제조사의 AS 센터를 이용할 수 있으며 AS 기변 시 동일한 기종의 단말기로 교체할 수 있습니다. SK텔레콤 고객이 사용 중인 타사 단말기는 타사 단말기로 교체해 드립니다.</p>
						<p class="txt-black black-sub idpt-mt20">AS 센터에서 교체 단말기를 받은 후 대리점에서 기변 처리는 익일부터 가능합니다.</p>
						<p class="txt-black with-star idpt-mt30">보상 기변 : 타사 단말기도 보상 기변을 받을 수 있습니다. (단, 타사 단말기를 1개월 이상 사용)</p>
                    </div>

                </div>
            </div>
			-->
            <!--// 이용안내 -->

        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>
