
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">이럴 땐 이렇게 하세요</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box howdo howdo-bg04">
                <h2 class="howdo-title">남는 데이터를<br>나눠 줄 수 있다고?</h2>
            </div>
            <!--// 타이틀 영역 -->

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
                <h3 class="howdo-title">친구 / 가족에게<br>데이터 선물하기</h3>
				<p class="idpt-mt30">
					<span class="txt-gray">친구 / 가족이 SK텔레콤 고객님이고, 내가 LTE요금제를 이용하고 있다면 남은 데이터를 <span class="txt-black idpt-bold">월 2회</span> 선물할 수 있어요. 선물과 함께 사랑의 메시지를 보내 보세요.</span>
				</p>
				<div class="idpt-img-box idpt-mt60">
					<img src="{{cdn}}/img/customer/howdo/howdo_cont04_1.jpg" alt="">
				</div>
				<p class="txt-gray gray-sub with-star idpt-mt40">만 19세 미만 고객님은 아쉽지만 데이터를 선물하실 수 없어요.</p>
				<div class="idpt-btn-wrap w50 idpt-mt40">
					<a href="/myt-data/giftdata" class="fe-link-internal idpt-btn-cs btn-full btn-blue">T끼리 데이터 선물하기</a>
					<a href="/myt-data/submain" class="fe-link-internal idpt-btn-cs btn-full btn-blue-noborder">선물 조르기</a>
				</div>
            </div>

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
                <h3 class="howdo-title">리필쿠폰이 없거나 다 썼다면<br>T데이터쿠폰으로 해결하세요.</h3>
				<p class="idpt-mt30">
					<span class="txt-gray">결합상품에 가입된 가족에게는 <span class="txt-black idpt-bold">매달 1일 자동</span>으로 데이터 선물하고, 리필쿠폰도 선물하실 수 있어요.</span>
				</p>
				<div class="idpt-img-box idpt-mt60">
					<img src="{{cdn}}/img/customer/howdo/howdo_cont04_2.jpg" alt="T데이터 쿠폰">
				</div>
				<p class="txt-black idpt-mt40">* 결합상품에 가입된 가족이란?</p>
				<p class="txt-gray idpt-mt10">
					온가족플랜, 착한 가족할인, TB끼리 온가족무료, TB끼리 온가족프리에 가입한 고객님 중 결합상품에 가입한 가족
				</p>
				<div class="idpt-btn-wrap w50 idpt-mt40">
					<a href="/myt-data/giftdata" class="fe-link-internal idpt-btn-cs btn-full btn-blue">T끼리 데이터 자동선물</a>
					<a href="/myt-data/recharge/coupon" class="fe-link-internal idpt-btn-cs btn-full btn-blue">가족간 리필쿠폰 선물</a>
				</div>
            </div>


        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
