
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">목소리 인증/ARS 상담 안내</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box">
                <h2 class="cs-title">목소리 인증</h2>
				 <p class="info-txt idpt-mt30">
					아직도 생년월일로 인증하시나요? 목소리 인증은 단 한번의 목소리 등록으로 더 안전하게 고객님을 확인하는 인증 서비스입니다.
				</p>
			</div>
			<div class="idpt-cont-box">

				<p class="txt-black idpt-bold">
					목소리 인증 안내
				</p>

				<div class="idpt-inbox">
					<div class="idpt-img-box idpt-mt20">
						<img src="{{cdn}}/img/customer/service/bg_voice1.png" alt="" style="max-width:3rem">
					</div>

					<p class="txt-black idpt-bold align-center idpt-mt10">목소리 인증은 왜 필요한가요?</p>

					<p class="txt-gray idpt-mt20">
						고객센터에서 본인 확인을 위해 기존에 이용하던 개인정보(생년월일, 주소 등) 대신 목소리 인증만으로 보다 신속하고 편리하며 안전하게 ARS 서비스를 제공해 드리며, 고객님의 정보 보호를 한층 더 강화하였습니다.
					</p>
				</div>

				<div class="idpt-inbox">
					<div class="idpt-img-box idpt-mt40">
						<img src="{{cdn}}/img/customer/service/bg_voice2.png" alt="" style="max-width:3rem">
					</div>

					<p class="txt-black idpt-bold align-center idpt-mt10">목소리 인증은 어떤 점이 좋은가요?</p>
					<p class="txt-gray idpt-mt20">
						목소리 인증은 고객님 고유의 목소리를 보다 더 정교하고 세밀하게 인지하여 고객님을 확인하는 인증 수단입니다.
						목소리 인증은 해킹 또는 분실 위험이 없으며, 번거롭게 가지고 다니거나 외울 필요가 없습니다.
					</p>
				</div>

				<p class="txt-black idpt-bold idpt-mt60">등록과 이용 방법</p>

				<ul class="card-list">
					<li class="clearfix">
						<div class="card-list-num">
							<p>1</p>
						</div>
						<div class="card-list-cont">
							<p class="card-list-title idpt-mt0">목소리 등록 문자를 받습니다.</p>
							<p class="txt-black idpt-mt20">
								개인정보 수집·이용 동의와 본인 인증이 필요하며, 고객센터(114)에서도 문자 받기가 가능합니다.
							</p>
							<div class="idpt-btn-wrap idpt-mt30">
								<a href="/customer/svc-info/voice" class="fe-link-internal idpt-btn-cs btn-full btn-blue">목소리등록 안내 문자 받기</a>
							</div>
						</div>
					</li>
					<li class="clearfix">
						<div class="card-list-num">
							<p>2</p>
						</div>
						<div class="card-list-cont">
							<p class="card-list-title idpt-mt0">고객센터에서 목소리를 등록합니다.</p>
							<p class="txt-black idpt-mt20">
								고객센터(114)로 연결하여 1번 선택 후, 목소리를 등록하시
								면 됩니다. ARS 안내에 따라 목소리 등록을 위해 “SK텔레콤
								비밀번호는 내 목소리입니다.”라고 말씀하시면 됩니다.
							</p>
							<p class="txt-gray with-star idpt-mt20">
								법인 명의의 SK텔레콤 휴대폰을 이용 중인 고객님께서는 고객센터에서 목소리 인증을 하실 수 있습니다.<br>
							</p>
							<p class="txt-gray gray-sub idpt-mt20">
								114 및 1599-0011, 02-6343-9000를 통해서도 고객센터와 연결됩니다.
							</p>
						</div>
					</li>
					<li class="clearfix">
						<div class="card-list-num">
							<p>3</p>
						</div>
						<div class="card-list-cont">
							<p class="card-list-title idpt-mt0">등록이 완료되면, 고객센터를 이용할 때 목소리로 인증하실 수 있습니다.</p>
							<p class="txt-black idpt-mt20">
								ARS를 이용하거나 상담사를 연결할 때 고객님의 목소리로 인증하실 수 있으며, 등록할 때와 동일하게 ‘SK텔레콤 비밀번호는 내 목소리입니다.’라고 말씀하시면 됩니다.
							</p>
						</div>
					</li>
				</ul>
            </div>

            <!-- FAQ -->
            <div class="idpt-toggle-set">
               <button class="idpt-toggle-btn" aria-pressed="false">FAQ</button>
               <div class="idpt-toggle-cont">
                    <div class="idpt-faq-question">
						<div class="faq-icon-txt" aria-hidden="true">Q</div>
                        <p>[목소리 인증] ‘목소리 인증’의 장점이 무엇인가요?</p>
                    </div>
                    <div class="idpt-faq-answer-sw">
						<div class="faq-icon-txt" aria-hidden="true">A</div>
                        <p>
							1) 고객님마다 고유의 목소리 특징이 있습니다<br>
							고객님 고유의 목소리 특징이 있기 때문에, 고객님과 가까운 사람은 얼굴을 보지 않고도 전화 목소리만으로 고객님을 알 수 있습니다. 이러한 고객님의 고유한 목소리 특징을 보다 더 정교하고 세밀하게 인지하여 고객님을 확인하는 방법이 목소리 인증 서비스입니다.
						</p>
						<p>
							2) 목소리 인증 서비스는 매우 정확하고 안전합니다.<br>
							고객님의 발음, 강조, 엑센트, 속도, 성대 특성, 비강 구조 등에 따른 다양한 특성 값을 비교하여 판단하기 때문에 약간의 목소리 변화가 있어도 서비스 이용에 지장이 없습니다. 또한, 고객님이 등록하신 목소리 정보는 이진수(Binary Code) 형태의 256-bit 암호화 파일로 저장되므로 절대 안전합니다.
						</p>
						<p>
							3) 분실 위험이 없으며, 외우지 않아도 됩니다.<br>
							비밀번호, 보안 카드, OTP 장치 등과 달리 분실할 위험이 없으며, 번거롭게 가지고 다니거나 외울 필요도 없습니다. 또한, 유출된 고객 정보를 다른 사람이 악용할 수도 없습니다.
						</p>
						<p>
							4) 고객님의 소중한 정보, 목소리로 지켜드리겠습니다.<br>
							카드사, 다른 통신사 등의 대규모 고객 정보 유출 사고, 이젠 안심하십시오. 악용될 수 있는 고객 정보가 아닌 고객님의 목소리로 고객님을 확인하고 기억하겠습니다.
						</p>
                    </div>
                    <div class="idpt-faq-question">
						<div class="faq-icon-txt" aria-hidden="true">Q</div>
                        <p>[목소리 인증] 만약, 내가 등록한 목소리가 해킹 등으로 유출되면 어떻게 하나요?</p>
                    </div>
                    <div class="idpt-faq-answer-sw">
						<div class="faq-icon-txt" aria-hidden="true">A</div>
                        <p>
							SK텔레콤의 해킹 방지 등 고객 정보 보호 기술은 세계 최고로서, 절대 정보 유출의 위험이 없습니다.<br>
						</p>
						<p>
							또한, 고객님이 등록하신 목소리 정보는 원음이 아닌, 저희만이 알 수 있는 이진수(Binary Code) 형태의 256-bit 암호화 파일로 저장되므로 절대 안전합니다.
						</p>
                    </div>
                    <div class="idpt-faq-question">
						<div class="faq-icon-txt" aria-hidden="true">Q</div>
                        <p>[목소리 인증] 목소리 등록 과정에서 '실패'가 났습니다. 어떻게 해야 하나요?</p>
                    </div>
                    <div class="idpt-faq-answer-sw">
						<div class="faq-icon-txt" aria-hidden="true">A</div>
                        <p>
							목소리 등록 문자의 유효 시간은 12시간이며, 유효 시간 안에는 새로 등록 문자를 받으실 필요가 없습니다.
						</p>
						<p>
							목소리를 등록할 때 ‘SK텔레콤 비밀번호는 내 목소리입니다’를 너무 빨리 말씀하시거나, 크게 말씀하시거나, 주변이 시끄럽거나, 다른 문장을 말씀하신 경우 주로 실패가 됩니다.
						</p>
						<p>
							주변이 조용하여 다른 사람의 음성이 섞이지 않는 곳에서 114에 다시 연결하신 후, 휴대폰(마이크 부분)을 입에서 조금 떼고, 정확한 문장을 조금 천천히 말씀하시면 성공적으로 등록이 완료됩니다.
						</p>
                    </div>
                    <div class="idpt-faq-question">
						<div class="faq-icon-txt" aria-hidden="true">Q</div>
                        <p>[목소리 인증] 주변 소음이 심할 경우에도 정상적으로 서비스를 받을 수 있나요?</p>
                    </div>
                    <div class="idpt-faq-answer-sw">
						<div class="faq-icon-txt" aria-hidden="true">A</div>
                        <p>
							주변 잡음 제거 기술이 적용되어 있어, 일반적인 생활 소음은 서비스를 이용하는 데 지장을 주지 않습니다.<br/>
							하지만 고객님의 목소리보다 주변 소음 또는 다른 사람의 목소리가 더 큰 경우 인증이 안 될 수도 있습니다
						</p>
                    </div>
                    <div class="idpt-faq-question">
						<div class="faq-icon-txt" aria-hidden="true">Q</div>
                        <p>[목소리 인증] 목감기로 목소리가 변했는데 목소리 인증 서비스를 받을 수 있나요?</p>
                    </div>
                    <div class="idpt-faq-answer-sw">
						<div class="faq-icon-txt" aria-hidden="true">A</div>
                        <p>
							목소리를 비교할 때 행동 특성(발음, 강조, 엑센트, 속도)과 신체 특성(성대 특성, 비강 구조, 입 모양과 크기) 등에 따른 다양한 특성 값을 비교하기 때문에 약간의 목소리 변화는 서비스를 이용하는 데 지장이 없습니다.
						</p>
						<p>
							하지만 변성기 전후, 또는 성대 결절이나 심한 목감기 등으로 목소리가 매우 심하게 변했을 경우에는 인증이 안 될 수도 있습니다.
						</p>
                    </div>
                    <div class="idpt-faq-btn">
                        <a href="/customer/faq" class="fe-link-internal idpt-btn-cs btn-full btn-blue-noborder">FAQ 바로가기</a>
                    </div>
                </div>
            </div>
            <!--// FAQ -->
        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
	</div>

</body>

</html>
