
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">이럴 땐 이렇게 하세요</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box howdo howdo-bg07">
                <h2 class="howdo-title">태블릿에서도 데이터<br>사용하기</h2>
            </div>
            <!--// 타이틀 영역 -->

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
                <h3 class="howdo-title">
					LTE데이터 함께쓰기<br>베이직을 이용해 보세요.
				</h3>

				<div class="idpt-img-box idpt-mt60">
					<img src="{{cdn}}/img/customer/howdo/howdo_cont07_1.jpg" alt="내 휴대폰 데이터 2개 회선까지 무료. 3회선은 월 9000원">
				</div>
				<p class="txt-gray align-center idpt-mt30">
					내 휴대폰 데이터를 <span class="idpt-bold">2개 회선까지 무료</span>로 나눠 쓰실 수 있어요.
				</p>
				<div class="idpt-btn-wrap idpt-mt30">
					<a href="/product/callplan?prod_id=NA00003556" class="fe-link-internal idpt-btn-cs btn-full btn-blue-nostyle">LTE 데이터 함께쓰기 베이직</a>
				</div>

			</div>

			<div class="idpt-cont-box nopadding-bottom">

				<p class="cs-title" >연관 상품</p>
				<ul class="idpt-oneline-list idpt-mt40">
					<li><a href="/product/callplan?prod_id=NA00003557" class="fe-link-internal idpt-link-black link-ra">LTE > 데이터 함께 쓰기 1GB</a></li>
					<li><a href="/product/callplan?prod_id=NA00003558" class="fe-link-internal idpt-link-black link-ra">LTE > 데이터 함께 쓰기 2.5GB</a></li>
					<li class="no-border"><a href="/product/callplan?prod_id=NA00003958" class="fe-link-internal idpt-link-black link-ra">3G > 데이터 함께 쓰기 베이직</a></li>
				</ul>

			</div>

        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
