
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">이럴 땐 이렇게 하세요</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box howdo howdo-bg30">
                <h2 class="howdo-title">스마트폰 센스를<br>올려주는 활용가이드</h2>
            </div>
            <!--// 타이틀 영역 -->

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
                <h3 class="howdo-title">
					유용한 앱으로 하루를 보다<br>스마트하게 보내 보세요.
				</h3>
				<p class="txt-black txt-icon idpt-mt60">날씨</p>
				<p class="txt-gray idpt-mt20">실시간으로 날씨를 확인하실 수 있어요.</p>

				<ul class="idpt-box-list new-box-list">
					<li class="w100-arrow"><p class="box-title">STEP. 01</p><p class="box-cont">앱스</p></li>
					<li class="w100-arrow"><p class="box-title">STEP. 02</p><p class="box-cont">날씨</p></li>
					<li class="w100-arrow"><p class="box-title">STEP. 03</p><p class="box-cont">날씨 예보</p></li>
					<li class="w100"><p class="box-title">STEP. 04</p><p class="box-cont">도시 추가</p>
						<div class="idpt-img-box idpt-mt40">
							<img src="{{cdn}}/img/customer/howdo/howdo_cont30_2.png" alt="">
						</div>
						<ul class="idpt-circle-num-list idpt-mt20">
							<li>도시 추가 : &nbsp; <img src="{{cdn}}/img/customer/howdo/howdo_cont30_icon-plus.png" style="width:0.9375rem; height:0.9375rem;" alt="추가버튼 아이콘"> 를 터치해 보세요</li>
							<li>상세 보기 : 추가되어 있는 도시를 터치하면 일주일간의 날씨를 확인하실 수 있어요.</li>
						</ul>
						<p class="txt-gray gray-sub with-star idpt-mt30">위젯으로 설정하면 홈 화면에서 바로 확인하실 수 있어요.</p>
					</li>
				</ul>

				<p class="txt-black txt-icon idpt-mt60">지도</p>
				<p class="txt-gray idpt-mt20">목적지까지의 경로를 확인하실 수 있어요.</p>

				<ul class="idpt-box-list new-box-list">
					<li class="w100-arrow"><p class="box-title">STEP. 01</p><p class="box-cont">앱스</p></li>
					<li class="w100"><p class="box-title">STEP. 02</p><p class="box-cont">지도 앱 선택</p>
						<p class="txt-black idpt-mt30">지도 사용하기 (1/2)</p>
						<div class="idpt-img-box idpt-mt20">
							<img src="{{cdn}}/img/customer/howdo/howdo_cont30_4.png" alt="">
						</div>
						<p class="txt-gray gray-sub align-center">목적지를 입력하세요.</p>
						<div class="idpt-img-box idpt-mt40">
							<img src="{{cdn}}/img/customer/common/new-box-list-arrow.png" alt="" style="width:1.75rem; height:0.9375rem">
						</div>
						<div class="idpt-img-box idpt-mt40">
							<img src="{{cdn}}/img/customer/howdo/howdo_cont30_4_1.png" alt="">
						</div>
						<p class="txt-gray gray-sub align-center">검색 결과 중 목적지를 선택하세요.</p>
						<p class="txt-gray with-star idpt-mt60" style="text-align: left;">위치 서비스 사용 중지 알림창이 뜨나요?</p>
						<div class="idpt-img-box idpt-mt20">
							<img src="{{cdn}}/img/customer/howdo/howdo_cont30_4_2.png" alt="계속하려면 Google 위치 서비스를 사용하는 기기 위치 기능을 사용 설정하세요. 아니요 확인">
						</div>
						<p class="txt-gray gray-sub align-center idpt-mt20">지도 앱과 같이 내 위치 정보를 활용하는 앱의 경우에는<br>위치 서비스를 켜주세요.</p>

						<hr class="idpt-underline">

						<p class="txt-black idpt-mt60">지도 사용하기 (2/2)</p>

						<div class="idpt-img-box idpt-mt20">
							<img src="{{cdn}}/img/customer/howdo/howdo_cont30_5.png" alt="">
						</div>
						<p class="txt-gray gray-sub align-center">경로 아이콘을 터치하세요.</p>
						<div class="idpt-img-box idpt-mt40">
							<img src="{{cdn}}/img/customer/common/new-box-list-arrow.png" alt="" style="width:1.75rem; height:0.9375rem">
						</div>
						<div class="idpt-img-box idpt-mt30">
							<img src="{{cdn}}/img/customer/howdo/howdo_cont30_5_1.png" alt="">
						</div>
						<p class="txt-gray gray-sub align-center">추천 경로 중 하나를 선택하세요.</p>
						<p class="txt-gray with-star idpt-mt60" style="text-align: left;">위치 서비스 사용 중지 알림창이 뜨나요?</p>
						<div class="idpt-img-box idpt-mt20">
							<img src="{{cdn}}/img/customer/howdo/howdo_cont30_4_2.png" alt="계속하려면 Google 위치 서비스를 사용하는 기기 위치 기능을 사용 설정하세요. 아니요 확인">
						</div>
						<p class="txt-gray gray-sub align-center idpt-mt20">지도 앱과 같이 내 위치 정보를 활용하는 앱의 경우에는<br>위치 서비스를 켜주세요.</p>
					</li>
				</ul>
			</div>

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
                <h3 class="howdo-title">
					재미있는 앱으로 하루를 보다<br>즐겁게 보내 보세요.
				</h3>
				<p class="txt-black txt-icon idpt-mt60">모바일 메신저</p>
				<p class="txt-gray idpt-mt30">무료로 가족, 친구들에게 문자, 사진, 이모티콘 등을 보내실 수 있어요.</p>

				<table class="idpt-tbl-type03 idpt-mt60">
					<caption>전화통화와 문자 보내실 때도 보다 편리하게 사용해 보세요!</caption>
					<colgroup>
						<col style="width:50%">
						<col style="width:50%">
					</colgroup>
					<thead>
					</thead>
					<tbody>
						<tr>
							<td>
								<div class="idpt-img-box idpt-mt0">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont30_6.jpg" alt="" style="max-width:4rem">
								</div>
								<div class="idpt-btn-wrap idpt-mt20">
									<a href="https://play.google.com/store/apps/details?id=com.kakao.talk" class="fe-link-external idpt-btn-table btn-full btn-blue-nostyle center small" target="_blank">카카오톡 다운로드</a>
								</div>
							</td>
							<td>
								<div class="idpt-img-box idpt-mt0">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont30_7.jpg" alt="" style="max-width:4rem">
								</div>
								<div class="idpt-btn-wrap idpt-mt20">
									<a href="https://play.google.com/store/apps/details?id=jp.naver.line.android" class="fe-link-external idpt-btn-table btn-full btn-blue-nostyle center small" target="_blank">라인 다운로드</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>

				<hr class="idpt-underline">

				<p class="txt-black idpt-mt70">무료라서 사용했는데 데이터 사용요금이 발생했다면!</p>

				<ul class="idpt-imgline-list idpt-mt0">
					<li class="three_line no-border">
						<div class="imgline-subject">
							<div class="idpt-img-box left">
								<img src="{{cdn}}/img/customer/howdo/howdo_cont30_8.jpg" alt="" style="max-width:3.6875rem">
							</div>
						</div>
						<div class="imgline-cont">
							<p>

							</p>
							<p class="txt-gray idpt-mt10">앱을 설치하는 것은 무료지만 와이파이가 아닌 상태에서 사용하시면 데이터 사용요금이 발생 돼요. 와이파이 상태인지 꼭 확인해 주세요.</p>
						</div>
					</li>
				</ul>

				<hr class="idpt-underline">

				<table class="idpt-tbl-type03 idpt-mt60">
					<caption></caption>
					<colgroup>
						<col style="width:50%">
						<col style="width:50%">
					</colgroup>
					<thead>
					</thead>
					<tbody>
						<tr>
							<td>
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont30_9.jpg" alt="" style="max-width:9.375rem">
								</div>
								<div class="idpt-btn-wrap idpt-mt20">
									<a href="javascript:void(0)" data-popup="popup01" class="idpt-popup-open idpt-btn-table btn-full btn-blue-nostyle center small">음악듣기</a>
								</div>
							</td>
							<td>
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont30_10.jpg" alt="" style="max-width:9.375rem">
								</div>
								<div class="idpt-btn-wrap idpt-mt20">
									<a href="javascript:void(0)" data-popup="popup02" class="idpt-popup-open idpt-btn-table btn-full btn-blue-nostyle center small">TV 보기, 라디오 듣기</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>

				<p class="txt-gray with-star idpt-mt30">
					해당 예시는 갤럭시S4 또는 iOS8 예요. 스마트폰의 종류나 OS에 따라 화면의 구성이 다를 수 있어요.
				</p>
			</div>

			<!-- popup 시작 -->
			<div class="idpt-popup" style="position:fixed!important;">

				<div class="idpt-popup-wrap" id="popup01">
					<div class="idpt-popup-header">
						<p class="popup-title">음악듣기</p>
						<a href="javascript:void(0)" onclick="history.back();" class="idpt-popup-close">팝업닫기</a>
					</div>
					<div class="idpt-popup-cont-wrap">
						<div class="idpt-popup-cont">

							<ul class="idpt-box-list">
								<li class="w100-arrow"><p class="box-title">STEP. 01</p><p class="box-cont">앱스</p></li>
								<li class="w100"><p class="box-title">STEP. 02</p><p class="box-cont">뮤직앱 선택</p></li>
							</ul>
							<table class="idpt-tbl-type03 popup-table">
								<caption>T멤버십 등급과 할인혜택 확인하기</caption>
								<colgroup>
									<col style="width:30%">
									<col style="width:auto">
								</colgroup>
								<thead>
								</thead>
								<tbody>
									<tr >
										<td>
											<div class="idpt-img-box left">
												<img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup30-1.jpg" alt="" style="max-width:5.2rem">
											</div>
										</td>
										<td>
											<p class="txt-gray">
												자주 듣는 음악을 재생 목록에 추가해 놓으시면 나만의 음악 목록을 만드실 수 있어요.
											</p>
										</td>
									</tr>
									<tr>
										<td>
											<div class="idpt-img-box left">
												<img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup30-2.jpg" alt="멜론" style="max-width:5.2rem">
											</div>
										</td>
										<td>
											<p class="txt-black idpt-bold">
												스마트폰 음악 저장이 귀찮으시다면,
											</p>
											<p class="txt-gray idpt-mt30">
												멜론과 같은 음악 앱을 이용하시면 스마트폰에 별도 음악 저장 없이 듣고 싶은 음악을 언제나 감상하실 수 있어요.
											</p>
											<div class="idpt-btn-wrap idpt-mt20">
												<a href="https://play.google.com/store/apps/details?id=com.iloen.melon" class="fe-link-external idpt-btn-table btn-blue-nostyle small left" target="_blank">멜론 다운로드</a>
											</div>
										</td>
									</tr>
								</tbody>
							</table>

						</div>
					</div>
				</div>

				<div class="idpt-popup-wrap" id="popup02">
					<div class="idpt-popup-header">
						<p class="popup-title">TV보기, 라디오 듣기</p>
						<a href="javascript:void(0)" onclick="history.back();" class="idpt-popup-close">팝업닫기</a>
					</div>
					<div class="idpt-popup-cont-wrap">
						<div class="idpt-popup-cont">

							<ul class="idpt-box-list">
								<li class="w100-arrow"><p class="box-title">STEP. 01</p><p class="box-cont">앱스</p></li>
								<li class="w100-arrow"><p class="box-title">STEP. 02</p><p class="box-cont">DMB 앱 선택</p></li>
								<li class="w100"><p class="box-title">STEP. 03</p><p class="box-cont">채널 선택</p></li>
							</ul>
							<table class="idpt-tbl-type03 popup-table">
								<caption>TV보기, 라디오 듣기</caption>
								<colgroup>
									<col style="width:30%">
									<col style="width:auto">
								</colgroup>
								<thead>
								</thead>
								<tbody>
									<tr >
										<td>
											<div class="idpt-img-box left">
												<img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup30-3.jpg" alt="" style="max-width:5.2rem">
											</div>
										</td>
										<td>
											<p class="txt-gray">
												DMB를 자주 사용하신다면<br>안테나만 올리면 DMB가 자동 실행되는<br>‘안테나로 DMB 자동실행’을 이용해 보세요.
											</p>
										</td>
									</tr>
									<tr>
										<td>
											<div class="idpt-img-box left">
												<img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup30-4.jpg" alt="옥수수" style="max-width:5.2rem">
											</div>
										</td>
										<td>
											<p class="txt-black idpt-bold">
												다양한 동영상을<br>선명한 화질로 보고 싶으시다면?
											</p>
											<p class="txt-gray idpt-mt30">
												DMB보다 최대 10배 선명한 화질로 80여 개의 실시간 채널과 고화질 영상을 즐기실 수 있어요.
											</p>
											<div class="idpt-btn-wrap idpt-mt20">
												<a href="https://play.google.com/store/apps/details?id=com.skb.btvmobile" class="fe-link-external idpt-btn-table btn-blue-nostyle small left" target="_blank">oksusu 다운로드</a>
											</div>
										</td>
									</tr>
								</tbody>
							</table>

						</div>
					</div>
				</div>

			</div>
			<!--// popup 끝 -->

        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
