
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">이럴 땐 이렇게 하세요</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box howdo howdo-bg13">
                <h2 class="howdo-title">스팸 정보를<br>차단하고 싶어요</h2>
            </div>
            <!--// 타이틀 영역 -->

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
                <h3 class="howdo-title">
					스팸이란?
				</h3>
				<p class="txt-gray idpt-mt30">
					스팸은 고객이 원치 않음에도 불구하고 이메일, 문자를 이용해 광고성 정보를 일방적으로 보내는 것을 의미해요.<br>
					시도 때도 없이 찾아오는 스팸,<br>
					더 이상 받지 마세요.
				</p>
			</div>

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
                <h3 class="howdo-title">
					SK텔레콤이 제공하는<br>스팸 차단 서비스
				</h3>

				<p class="txt-black idpt-mt30">수신거부 차단 서비스</p>

				<ul class="idpt-imgline-list idpt-mt30">
					<li class="right-arrow three_line idpt-re-padding">
						<div class="imgline-subject">
							<div class="idpt-img-box left">
								<img src="{{cdn}}/img/customer/howdo/howdo_cont13_1.jpg" alt="" style="max-width:3.65rem">
							</div>
						</div>
						<div class="imgline-cont">
							<a href="/product/callplan?prod_id=NA00002121" class="fe-link-internal">
								<p>
									<span class="txt-black">스팸 필터링 서비스</span>
								</p>
								<p class="txt-gray idpt-mt20">광고성 스팸문자,<br>알아서 필터링해주는 서비스</p>
							</a>
						</div>
					</li>
					<li class="right-arrow three_line idpt-re-padding">
						<div class="imgline-subject">
							<div class="idpt-img-box left">
								<img src="{{cdn}}/img/customer/howdo/howdo_cont13_2.jpg" alt="" style="max-width:3.65rem">
							</div>
						</div>
						<div class="imgline-cont">
							<a href="/product/callplan?prod_id=NA00002128" class="fe-link-internal">
								<p>
									<span class="txt-black">스팸 ARS 차단 플러스</span>
								</p>
								<p class="txt-gray idpt-mt20">특정 국번으로 시작하는 번호는 자동으로 차단</p>
							</a>
						</div>
					</li>
				</ul>
				<p class="txt-gray with-star idpt-mt30">
					고객님께서 가입하신 웹사이트를 통해 발송되는 이벤트 또는 광고 문자는 스팸이 아니므로 해당 업체로 직접 수신 거부 신청을 하셔야 해요.
				</p>

				<p class="txt-black idpt-mt60">스팸여부 미리 알려주는 서비스</p>

				<ul class="idpt-imgline-list idpt-mt30">
					<li class="right-arrow three_line idpt-re-padding">
						<div class="imgline-subject">
							<div class="idpt-img-box left">
								<img src="{{cdn}}/img/customer/howdo/howdo_cont13_3.jpg" alt="" style="max-width:3.65rem">
							</div>
						</div>
						<div class="imgline-cont">
							<a href="/product/apps/app?appId=TW50000002" class="fe-link-internal">
								<p>
									<span class="txt-black">T전화 안심통화</span>
								</p>
								<p class="txt-gray idpt-mt20">광고전화는 미리 알려주니<br>골라서 받으세요.</p>
							</a>
						</div>
					</li>
					<li class="right-arrow three_line idpt-re-padding">
						<div class="imgline-subject">
							<div class="idpt-img-box left">
								<img src="{{cdn}}/img/customer/howdo/howdo_cont13_4.jpg" alt="" style="max-width:3.65rem">
							</div>
						</div>
						<div class="imgline-cont">
							<a href="/product/callplan?prod_id=NA00003045" class="fe-link-internal">
								<p>
									<span class="txt-black">웹(WEB) 발신 알림</span>
								</p>
								<p class="txt-gray idpt-mt20">웹사이트에서 발송된 문자를 알려주는 서비스</p>
							</a>
						</div>
					</li>
				</ul>
				<p class="txt-gray with-star idpt-mt30">
					스팸 ARS차단 플러스와 T전화 안심통화는 기기 제한이 있을 수 있어요.
				</p>

				<!--
				<ul class="idpt-tag-box idpt-mt30">
					<li><a href="#none">#가입된 서비스 보기</a></li>
					<li>
						<a href="#popup01" class="idpt-popup-open">#휴대폰에서 스팸 차단하기</a>
					</li>
					<li>
						<a href="#popup02" class="idpt-popup-open">#SNS와 일정관리 서비스의 스팸 대처</a>
					</li>
				</ul>
				-->
				<ul class="idpt-link-box align-right idpt-mt20">
					<li><a href="/myt-join/additions" class="fe-link-internal idpt-btn-table center small btn-blue-nostyle idpt-mt20">가입된 서비스 보기</a></li>
				</ul>

				<div class="idpt-btn-wrap idpt-mt40">
					<a href="javascript:void(0)" data-popup="popup01" class="idpt-popup-open idpt-btn-cs btn-full btn-blue">방법1. 휴대폰에서 스팸 차단하기</a>
				</div>

				<div class="idpt-btn-wrap idpt-mt40">
					<a href="javascript:void(0)" data-popup="popup02" class="idpt-popup-open idpt-btn-cs btn-full btn-blue">방법2. SNS와 일정 관리 서비스의 스팸 대처</a>
				</div>

				<!-- popup 시작 -->
				<div class="idpt-popup">
					<div class="idpt-popup-wrap" id="popup01">
						<div class="idpt-popup-header">
							<p class="popup-title">휴대폰에서 스팸 차단하기</p>
							<a href="javascript:void(0)" onclick="history.back();" class="idpt-popup-close">팝업닫기</a>
						</div>
						<div class="idpt-popup-cont-wrap">
							<div class="idpt-popup-cont">

								<p class="info-txt idpt-bold">
									휴대폰 단말기를 통해 스팸번호를 등록하면,<br>
									해당 번호의 문자는 간단하게 차단할 수 있어요.
								</p>
								<table class="idpt-tbl-type01">
									<caption>휴대폰 단말기 별 스팸번호 차단하는 방법</caption>
									<colgroup>
										<col style="width:30%">
										<col style="width:auto">
									</colgroup>
									<thead>
									</thead>
									<tbody>
										<tr>
											<th>삼성 갤럭시 S8</th>
											<td>
												<p class="txt-black">- 문자메세지 > 더보기(우측상단) > 전화번호 차단</p>
											</td>
										</tr>
										<tr>
											<th>LG G6</th>
											<td>
												<p class="txt-black">- 문자메세지 > 더보기 > 차단번호 등록 > 확인 후 차단</p>
												<p class="txt-black idpt-mt20">- 문자리스트 > 더보기 > 설정 > 수신차단 > 차단 문구</p>
												<p class="txt-black idpt-mt20">
													차단 문구를 등록하시면, 해당 문구를 포함한 문자는 스팸으로 분류 돼요.
												</p>
											</td>
										</tr>
										<tr>
											<th>애플 아이폰7</th>
											<td>
												<p class="txt-black">- 문자메시지 > 연락처(정보ⓘ) > 이 발신자 차단</p>
											</td>
										</tr>
									</tbody>
								</table>

								<p class="txt-gray gray-sub with-star idpt-mt24">
									휴대폰마다 설정 방법이 다르니, 사용하고 있는 기기 매뉴얼을 참고해 주세요.
								</p>

							</div>
						</div>
					</div>
					<div class="idpt-popup-wrap" id="popup02">
							<div class="idpt-popup-header">
								<p class="popup-title">SNS와 일정 관리 서비스의 스팸 대처</p>
								<a href="javascript:void(0)" onclick="history.back();" class="idpt-popup-close">팝업닫기</a>
							</div>
							<div class="idpt-popup-cont-wrap">
								<div class="idpt-popup-cont">

									<table class="idpt-tbl-type03 popup-table">
										<caption>SNS와 일정 관리 서비스의 스팸 대처</caption>
										<colgroup>
											<col style="width:30%">
											<col style="width:auto">
										</colgroup>
										<thead>
										</thead>
										<tbody>
											<tr>
												<td>
													<div class="idpt-img-box left">
														<img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup13-1.jpg" alt="" style="max-width:4.5rem">
													</div>
												</td>
												<td>
													<p class="txt-black idpt-bold">
														카카오톡 스팸 신고
													</p>
													<p class="txt-black idpt-mt20">
														친구로 등록되지 않은 사람의 메시지를 주의하세요!
													</p>
													<div class="idpt-btn-wrap">
														<a href="https://cs.kakao.com/helps?locale=ko&page=2&service=8" class="idpt-btn-cs btn-full btn-blue-nostyle small left fe-link-external" target="_blank">스팸 신고 방법 보기</a>
													</div>
												</td>
											</tr>
											<tr>
												<td>
													<div class="idpt-img-box left">
														<img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup13-2.jpg" alt="" style="max-width:4.5rem">
													</div>
												</td>
												<td>
													<p class="txt-black idpt-bold">
														페이스북 스팸 차단
													</p>
													<p class="txt-black idpt-mt20">
														뉴스피드를 점령한 페이스북 스팸!<br>태그 설정으로 차단하세요.
													</p>
													<div class="idpt-btn-wrap">
														<a href="http://www.bloter.net/archives/199129" class="idpt-btn-cs btn-full btn-blue-nostyle small left fe-link-external" target="_blank">태그 설정 방법 보기</a>
													</div>
												</td>
											</tr>
											<tr class="noborder">
												<td>
													<div class="idpt-img-box left">
														<img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup13-3.jpg" alt="" style="max-width:4.5rem">
													</div>
												</td>
												<td>
													<p class="txt-black idpt-bold">
														구글 캘린더 악용 스팸
													</p>
													<p class="txt-black idpt-mt20">
														구글캘린더의 일정 공유 기능이<br>악용될 경우 설정 변경이 필요해요.
													</p>
													<div class="idpt-btn-wrap">
														<a href="https://spam.kisa.or.kr/customer/sub2_R.do?boardNo=69" class="idpt-btn-cs btn-full btn-blue-nostyle small left fe-link-external" target="_blank">구글 캘린더 설정 방법 보기</a>
													</div>
												</td>
											</tr>
										</tbody>
									</table>

								</div>
							</div>
						</div>
				</div>
				<!--// popup 끝 -->


			</div>

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
				<h3 class="howdo-title">
					불법스팸대응센터(KISA)에<br>스팸 신고해 주세요.
				</h3>

				<table class="idpt-tbl-type03 idpt-mt60">
					<caption>불법스팸 대응방법</caption>
					<colgroup>
						<col style="width:33.3%">
						<col style="width:33.3%">
						<col style="width:33.3%">
					</colgroup>
					<thead>
					</thead>
					<tbody>
						<tr>
							<td>
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont13_5.jpg" alt="웹 사이트에서 신고하기" style="max-width:5.625rem">
								</div>
								<a href="https://spam.kisa.or.kr" class="fe-link-external idpt-btn-table center small btn-blue-nostyle idpt-mt20" target="_blank">KISA 불법스팸<br>대응센터 웹사이트</a>
							</td>
							<td>
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont13_6.jpg" alt="ARS" style="max-width:5.625rem">
								</div>
								<p class="txt-gray align-center idpt-mt20">국번없이 118</p>
							</td>
							<td>
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont13_7.jpg" alt="이메일로 신고하기" style="max-width:5.625rem">
								</div>
								<p class="txt-gray align-center idpt-mt20">118@kisa.or.kr</p>
							</td>
						</tr>
					</tbody>
				</table>
				<p class="txt-gray gray-sub with-star idpt-mt40">
					한국인터넷진흥원(KISA)에 스팸신고가 접수 되면 이동통신 3사와 스팸 데이터가 공유되어 스팸차단이 동시에 가능합니다.
				</p>
				<ul class="idpt-link-box align-right idpt-mt20">
					<li><a href="https://spam.kisa.or.kr" class="fe-link-external idpt-btn-table center small btn-blue-nostyle idpt-mt20" target="_blank">KISA 스팸 신고 바로가기</a></li>
				</ul>

            </div>


        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
