
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">다이렉트샵 / 멤버십 / 로밍에 대한 안내</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box">
                <h2 class="cs-title">할인 / 혜택</h2>
                <div class="idpt-dropdown">
                    <button class="btn-dropdown dropdown-full">다이렉트샵 혜택</button>
                </div>
            </div>
            <!--// 타이틀 영역 -->

            <hr class="idpt-seperator no-border" aria-hidden="true"/>

            <!-- 안내문구 -->
            <!-- case1. 안내문구 only -->
            <div class="idpt-cont-box">
                <p class="info-txt">T world 다이렉트샵에서만 제공하는 고객 맞춤 프리미엄 서비스를 안내해 드립니다.</p>
            </div>
            <!--// case1. 안내문구 only -->

            <!--// 안내문구 -->

            <hr class="idpt-seperator no-border" aria-hidden="true"/>

            <div class="idpt-cont-box">
                <p class="accordian-cont-title idpt-mt0">찾아가는 개통 서비스</p>
                <p class="txt-black idpt-mt20">T world 다이렉트에서만 제공하는 서비스로, 휴대폰 전문 컨설턴트가 방문하여 개통 및 주소록 이전까지 해드리는 무료 서비스입니다.</p>
                <p class="txt-gray gray-sub with-star idpt-mt20"><span class="idpt-bold">주소록 사진 백업:</span> 기기별로 서비스가 제한될 수 있으며, 기기 오류로 데이터 손실이 발생할 수 있습니다.</p>

               <div class="idpt-img-box idpt-mt30">
                    <img src="{{cdn}}/img/customer/service/cont-come_service.png" alt="사용방법 안내 > 개통 > 유용한 앱 추천 > 악세사리 구매상담 > 주소록/사진 백업">
                </div>

                <p class="accordian-cont-title-sub">배송가능 지역: 전국</p>
                <p class="txt-gray gray-sub with-star idpt-mt20">단, 일부 지역에 한하여 서비스가 제공되지 않을 수 있으니 방문요청 주소를 꼭 확인해 주세요.</p>

                <p class="accordian-cont-title">개통 신청 서비스</p>
                <p class="txt-black idpt-mt20">T world 다이렉트샵에서 구매하신 기기는 택배 배송단계부터 개통 신청을 할 수 있으며, 신청 후 2시간 안에 당일 개통됩니다.</p>

                <div class="idpt-img-box idpt-mt30">
                    <img src="{{cdn}}/img/customer/service/img_pcs49_01.png" alt="" style="max-width:16rem">
                </div>

                <p class="txt-black idpt-mt20">T world 다이렉트샵을 통해 신청하실 수 있으며, 별도의 개통 신청이 없는 경우, 택배 발송 2일 후 오전 9시부터 순서대로 자동 개통됩니다.</p>
                <p class="txt-gray gray-sub with-star idpt-mt20">평일 오후 5시 전까지 개통을 신청한 경우, 신청한 날에 개통됩니다.<br/>(이후로 신청할 경우, 다음 날 오전 9시 이후 개통 진행)</p>
                <p class="txt-gray gray-sub with-star idpt-mt20">개통 보류 사유가 발생할 경우 2시간 안에 개통이 안 될 수도 있습니다.</p>
                <p class="txt-gray gray-sub with-star idpt-mt20">토/일요일, 공휴일에는 개통이 진행되지 않습니다.</p>

                <p class="accordian-cont-title">T 기프트 무료 제공</p>
                <p class="txt-black idpt-mt20">T world 다이렉트샵에서만 제공하는 특별한 선물 중 고객님이 원하는 서비스/상품으로 T 기프트를 받아가세요.</p>

                <div class="idpt-img-box idpt-mt30">
                    <img src="{{cdn}}/img/customer/service/img_pcs49_02.png" alt="">
                </div>

                <p class="txt-gray gray-sub with-star idpt-mt20">T 기프트는 T world 다이렉트샵에서만 드리는 고객 서비스 상품으로, 모든 구매 고객님이 무료로 받으실 수 있습니다.</p>
                <p class="txt-gray gray-sub with-star idpt-mt20">선택하신 휴대폰과 요금제에 따라 차등으로 제공되오니 확인 후 구매하세요.(멜론 이용권, 11번가 쿠폰, 음향 및 가전기기, 생활용품 등)</p>
            </div>

        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
