
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">이럴 땐 이렇게 하세요</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box howdo howdo-bg26">
                <h2 class="howdo-title">로밍 전용 요금제를<br>이용해 보세요</h2>
            </div>
            <!--// 타이틀 영역 -->

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
                <h3 class="howdo-title">
					요금 많이 나올까 불안하세요?<br>로밍 전용 요금제로<br>안심 여행하세요.
				</h3>
				<div class="idpt-img-box idpt-mt60">
					<img src="{{cdn}}/img/customer/howdo/howdo_cont26_1.jpg" alt="" style="max-width:20.5rem">
				</div>

                <h3 class="howdo-title idpt-mt60">
					해외에서도 스마트폰은 필수<br>데이터를 걱정없이<br>사용하고 싶다면?
				</h3>
				<ul class="idpt-imgline-list idpt-mt30">
					<li class="four_line no-border">
						<div class="imgline-subject">
							<div class="idpt-img-box left">
								<img src="{{cdn}}/img/customer/howdo/howdo_cont26_2.jpg" alt="" style="max-width:3.875rem">
							</div>
						</div>
						<div class="imgline-cont">
							<p>
								<span class="txt-black">T로밍 OnePass300</span>
							</p>
							<p class="txt-gray idpt-mt20">국가간 이동에 상관 없이 3G, LTE 데이터 사용 가능(9,900원/일, 부가세 포함)</p>
						</div>
						<ul class="idpt-link-box right-align idpt-mt40">
							<li><a href="/product/callplan?prod_id=NA00003196" class="fe-link-internal">요금제 바로가기</a></li>
						</ul>
						<p class="txt-gray gray-sub with-star idpt-mt10">3G, LTE 데이터로밍 사용요금에만 해당 돼요.</p>
					</li>
				</ul>

                <h3 class="howdo-title idpt-mt40">
					아시아, 미주, 유럽 주요 국가로<br>가신다면? 음성/문자/데이터<br>부담 없이
				</h3>
				<table class="idpt-tbl-type03 idpt-mt50">
					<caption>아시아, 미주, 유럽 주요 국가로 가신다면? 음성/문자/데이터 부담 없이</caption>
					<colgroup>
						<col style="width:32%">
						<col style="width:32%">
						<col style="width:32%">
					</colgroup>
					<thead>
					</thead>
					<tbody>
						<tr>
							<td>
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont26_3.jpg" alt="" style="max-width:4.375rem">
								</div>
								<p class="txt-gray gray-sub align-center idpt-mt20">아시아패스</p>
								<a href="/product/callplan?prod_id=NA00005900" class="fe-link-internal idpt-btn-table center small btn-blue-nostyle small idpt-mt20">요금제 바로가기</a>
							</td>
							<td>
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont26_4.jpg" alt="" style="max-width:4.375rem">
								</div>
								<p class="txt-gray gray-sub align-center idpt-mt20">미주패스</p>
								<a href="/product/callplan?prod_id=NA00006038" class="fe-link-internal idpt-btn-table center small btn-blue-nostyle small idpt-mt20">요금제 바로가기</a>
							</td>
							<td>
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont26_5.jpg" alt="" style="max-width:4.375rem">
								</div>
								<p class="txt-gray gray-sub align-center idpt-mt20">유럽패스</p>
								<a href="/product/callplan?prod_id=NA00006046" class="fe-link-internal idpt-btn-table center small btn-blue-nostyle small idpt-mt20">요금제 바로가기</a>
							</td>
						</tr>

					</tbody>
				</table>
			</div>

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
                <h3 class="howdo-title">
					여러 사람과 함께 데이터를<br>사용하고 싶다면?<br>T로밍 모바일 핫스팟
				</h3>
				<ul class="idpt-imgline-list idpt-mt30">
					<li class="four_line no-border">
						<div class="imgline-subject">
							<div class="idpt-img-box left">
								<img src="{{cdn}}/img/customer/howdo/howdo_cont26_6.jpg" alt="" style="max-width:3.5rem">
							</div>
						</div>
						<div class="imgline-cont">
							<p>
								<span class="txt-black">T로밍 모바일 핫스팟</span>
							</p>
							<p class="txt-gray idpt-mt20">로밍 전용 기기로 최대 3명까지 와이파이를 함께 이용 가능(11,000원/1일, 부가세 포함)</p>
						</div>
						<ul class="idpt-link-box right-align idpt-mt40">
							<li><a href="/product/callplan?prod_id=TW00000069" class="fe-link-internal">요금제 바로가기</a></li>
						</ul>
						<p class="txt-gray gray-sub with-star idpt-mt10">*3G, LTE 데이터로밍 사용요금에만 해당 돼요.</p>
					</li>
				</ul>

                <h3 class="howdo-title idpt-mt30">
					가족과 함께 해외여행을<br>준비하고 계신다면?<br>SNS 전용 로밍 요금제
				</h3>
				<ul class="idpt-imgline-list idpt-mt30">
					<li class="four_line no-border">
						<div class="imgline-subject">
							<div class="idpt-img-box left">
								<img src="{{cdn}}/img/customer/howdo/howdo_cont26_7.jpg" alt="" style="max-width:3.6875rem">
							</div>
						</div>
						<div class="imgline-cont">
							<p>
								<span class="txt-black">T로밍 무한톡</span>
							</p>
							<p class="txt-gray idpt-mt20">청소년과 실버 고객이라면, SNS 등 소용량 콘텐츠 전용 요금제<br>(5,500원/1일, 부가세 포함)</p>
						</div>

						<hr class="clear">

						<div class="idpt-btn-wrap w100 idpt-mt20">
							<a href="/product/callplan?prod_id=NA00004299" class="fe-link-internal idpt-btn-table btn-blue-nostyle small">T로밍 팅 + 무한톡 바로가기</a>
							<a href="/product/callplan?prod_id=NA00004326" class="fe-link-internal idpt-btn-table btn-blue-nostyle small">T로밍 실버 무한톡 바로가기</a>
						</div>

						<hr class="clear">

						<p class="txt-gray gray-sub with-star idpt-mt30">실시간 메신저 등 소용량 콘텐츠 전용 상품으로 200kbps 이하의 속도로 사용하실 수 있어요.</p>
					</li>
				</ul>


			</div>

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
                <h3 class="howdo-title">
					함께 신청하면 좋은<br>무료 부가서비스
				</h3>
				<table class="idpt-tbl-type03 idpt-mt40">
					<caption>함께 신청하면 좋은 무료 부가서비스</caption>
					<colgroup>
						<col style="width:32%">
						<col style="width:32%">
						<col style="width:32%">
					</colgroup>
					<thead>
					</thead>
					<tbody>
						<tr>
							<td class="align-center">
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont26_8.jpg" alt="" style="max-width:4.375rem">
								</div>
								<p class="txt-black align-center idpt-mt20">T로밍 도착알리미</p>
								<p class="txt-gray gray-sub align-center idpt-mt20">해외에 도착했음을 사전에 지정한 번호로 문자 알림해 주는 서비스</p>
								<a href="/product/callplan?prod_id=NA00003200" class="fe-link-internal idpt-link-default idpt-mt24">바로가기</a>
							</td>
							<td class="align-center">
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont26_9.jpg" alt="" style="max-width:4.375rem">
								</div>
								<p class="txt-black align-center idpt-mt20">로밍 안내 방송</p>
								<p class="txt-gray gray-sub align-center idpt-mt20">해외로밍 중인 고객에게 전화할 경우 로밍 중임을 알려주는 서비스</p>
								<a href="/product/callplan?prod_id=NA00002226" class="fe-link-internal idpt-link-default idpt-mt24">바로가기</a>
							</td>
							<td class="align-center">
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont26_10.jpg" alt="" style="max-width:4.375rem">
								</div>
								<p class="txt-black align-center idpt-mt20">로밍 현지시각 안내</p>
								<p class="txt-gray gray-sub align-center idpt-mt20">해외로밍 중인 고객에게 전화할 경우 현지시각을 안내해 주는 서비스</p>
								<a href="/product/callplan?prod_id=NA00002564" class="fe-link-internal idpt-link-default idpt-mt24">바로가기</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
