
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">이럴 땐 이렇게 하세요</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box howdo howdo-bg16">
                <h2 class="howdo-title">생활 속 예방으로<br>개인정보를 지키세요</h2>
            </div>
            <!--// 타이틀 영역 -->

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
                <h3 class="howdo-title">
					생활 속 예방과 관리
				</h3>
				<p class="txt-gray idpt-mt30">
					소중한 개인정보를 지키기 위해서는 고객님 스스로 예방하셔야 해요. 예방법 실천과 관리가 필요해요.
				</p>
			</div>

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
                <h3 class="howdo-title">
					업체의 주민번호 요구,<br>한번쯤 체크해 보세요.
				</h3>
				<p class="txt-black idpt-mt30">
					2014. 8. 7. 부터 개정된 개인정보보호법에 따라 주민등록번호를 함부로 수집할 수 없어요.
				</p>
				<ul class="idpt-imgline-list idpt-mt20">
					<li class="three_line no-border">
						<div class="imgline-subject">
							<div class="idpt-img-box">
								<img src="{{cdn}}/img/customer/howdo/howdo_cont16_1.jpg" alt="" style="max-width:3.75rem">
							</div>
						</div>
						<div class="imgline-cont">
							<p class="txt-black">당당히 거부하세요.</p>
							<p class="txt-gray idpt-mt20">
								법령 근거가 없으면 주민등록번호를 수집할 수 없어요.
							</p>
						</div>
					</li>
				</ul>
				<table class="idpt-tbl-type04">
					<caption>주민등록 번호를 요구하는 업체 목록 예시</caption>
					<colgroup>
						<col style="width:25%">
						<col style="width:25%">
						<col style="width:25%">
						<col style="width:25%">
					</colgroup>
					<thead>
					</thead>
					<tbody>
						<tr>
							<td>PC방</td>
							<td>미용실</td>
							<td>학원</td>
							<td>스포츠센터</td>
						</tr>
						<tr>
							<td>커피전문점</td>
							<td>식당</td>
							<td>영화관</td>
							<td>마트</td>
						</tr>
						<tr>
							<td>경품응모</td>
							<td>유통배달</td>
							<td>콜센터</td>
							<td>여행사</td>
						</tr>
						<tr>
							<td>패스트푸드</td>
							<td>인터넷가입</td>
							<td>호텔</td>
							<td>-</td>
						</tr>
					</tbody>
				</table>

				<ul class="idpt-imgline-list idpt-mt20">
					<li class="three_line no-border">
						<div class="imgline-subject">
							<div class="idpt-img-box">
								<img src="{{cdn}}/img/customer/howdo/howdo_cont16_2.jpg" alt="" style="max-width:3.75rem">
							</div>
						</div>
						<div class="imgline-cont">
							<p class="txt-black">이럴 때만 가능해요.</p>
							<p class="txt-gray idpt-mt20">
								법령 근거로 주민등록 번호를 수집할 수 있어요.
							</p>
						</div>
					</li>
				</ul>
				<table class="idpt-tbl-type04">
					<caption>주민등록 번호를 요구하는 업체 목록 예시</caption>
					<colgroup>
						<col style="width:25%">
						<col style="width:25%">
						<col style="width:25%">
						<col style="width:25%">
					</colgroup>
					<thead>
					</thead>
					<tbody>
						<tr>
							<td>병원</td>
							<td>약국</td>
							<td>학교</td>
							<td>세금납부</td>
						</tr>
						<tr>
							<td>보험</td>
							<td>금융거래</td>
							<td>자격취득</td>
							<td>근로계약</td>
						</tr>
						<tr>
							<td>부동산</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
						</tr>
					</tbody>
				</table>
				<p class="txt-gray gray-sub with-star idpt-mt24">주민등록 수집 금지에 대한 자세한 사항을 확인하실 수 있어요.</p>

                <div class="idpt-btn-wrap idpt-mt30">
                    <a href="https://www.privacy.go.kr/" class="fe-link-external idpt-btn-table btn-full btn-blue-nostyle" target="_blank">개인정보보호 종합지원포털 바로가기</a>
                </div>
                <div class="idpt-btn-wrap idpt-mt20">
                    <!--<a href="idpt_howdo_cs16(popup01).html" class="fe-link-internal idpt-btn-table btn-full btn-blue-nostyle" target="_blank">일상생활에서 개인정보보호 실천하기</a>-->
					<a href="javascript:void(0)" data-popup="popup01" class="idpt-popup-open idpt-btn-table btn-full btn-blue-nostyle">일상생활에서 개인정보보호 실천하기</a>
                </div>

			</div>

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
                <h3 class="howdo-title">
					정기적으로 바이러스 검사를<br>실행해 주세요.
				</h3>
				<table class="idpt-tbl-type03">
					<caption>주민등록 번호를 요구하는 업체 목록 예시</caption>
					<colgroup>
						<col style="width:50%">
						<col style="width:50%">
					</colgroup>
					<thead>
					</thead>
					<tbody>
						<tr>
							<td>
								<div class="idpt-img-box">
									<a href="https://m.onestore.co.kr/mobilepoc/apps/appsDetail.omp?prodId=0000329718&scYn=Y"  class="fe-link-external" target="_blank">
										<img src="{{cdn}}/img/customer/howdo/howdo_cont16_3.jpg" alt="" style="max-width:5rem">
									</a>
								</div>
								<p class="txt-black align-center">
									<a href="https://m.onestore.co.kr/mobilepoc/apps/appsDetail.omp?prodId=0000329718&scYn=Y" class="fe-link-external small idpt-link-default idpt-mt20" target="_blank">T가드 백신 다운로드</a>
								</p>
							</td>
							<td>
								<div class="idpt-img-box">
									<a href="https://play.google.com/store/apps/details?id=com.ahnlab.v3mobilesecurity.soda"  class="fe-link-external" target="_blank">
										<img src="{{cdn}}/img/customer/howdo/howdo_cont16_4.jpg" alt="" style="max-width:5rem">
									</a>
								</div>
								<p class="txt-black align-center">
								<a href="https://play.google.com/store/apps/details?id=com.ahnlab.v3mobilesecurity.soda" class="fe-link-external idpt-link-default small idpt-mt20" target="_blank">V3 다운로드</a>
								</p>
							</td>
						</tr>
						<tr>
							<td>
								<div class="idpt-img-box idpt-mt30">
									<a href="https://play.google.com/store/apps/details?id=jp.naver.lineantivirus.android"  class="fe-link-external" target="_blank">
										<img src="{{cdn}}/img/customer/howdo/howdo_cont16_5.jpg" alt="" style="max-width:5rem">
									</a>
								</div>
								<p class="txt-black align-center">
									<a href="https://play.google.com/store/apps/details?id=jp.naver.lineantivirus.android" class="fe-link-external idpt-link-default small idpt-mt20" target="_blank">라인 백신 다운로드</a>
								</p>
							</td>
							<td>
								<div class="idpt-img-box idpt-mt30">
									<a href="https://play.google.com/store/apps/details?id=com.estsoft.alyac"  class="fe-link-external" target="_blank">
										<img src="{{cdn}}/img/customer/howdo/howdo_cont16_6.jpg" alt="" style="max-width:5rem">
									</a>
								</div>
								<p class="txt-black align-center">
								<a href="https://play.google.com/store/apps/details?id=com.estsoft.alyac" class="fe-link-external idpt-link-default small idpt-mt20" target="_blank">알약 다운로드</a>
								</p>
							</td>
						</tr>
					</tbody>
				</table>
				<p class="txt-gray with-star idpt-mt60">
					PC나 휴대폰을 백신으로 보호하지 않으면, <a href="javascript:void(0)" data-popup="popup02" class="idpt-popup-open idpt-link-default underline">파밍</a>과 같은 악성코드에 감염되어 더 큰 피해가 발생할 수 있어요.
				</p>

                <div class="idpt-btn-wrap idpt-mt30">
                    <a href="https://www.boho.or.kr/download/dedicatedVaccine/download.do" class="fe-link-external idpt-btn-cs btn-full btn-blue-nostyle" target="_blank">무 / 유료 PC 백신 다운로드 자세히 보기</a>
                </div>

					<!-- popup 시작 -->
					<div class="idpt-popup">
						<!-- popup 내용 01 -->
						<div class="idpt-popup-wrap" id="popup01">
							<div class="idpt-popup-header">
								<p class="popup-title">일상생활에서 개인정보보호 실천하기</p>
								<a href="javascript:void(0)" onclick="history.back();" class="idpt-popup-close">팝업닫기</a>
							</div>
							<div class="idpt-popup-cont-wrap">
								<div class="idpt-popup-cont">

									<table class="idpt-tbl-type03 popup-table">
										<caption>일상생활에서 개인정보보호 실천하기</caption>
										<colgroup>
											<col style="width:30%">
											<col style="width:auto">
										</colgroup>
										<thead>
										</thead>
										<tbody>
											<tr>
												<td>
													<div class="idpt-img-box left">
														<img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup16-1.jpg" alt="" style="max-width:4.5rem">
													</div>
												</td>
												<td>
													<p class="txt-black idpt-bold">
														경품, 이벤트 응모
													</p>
													<p class="txt-black idpt-mt20">
														경품이나 이벤트를 응모할 때 개인정보 제공사항을 꼼꼼히 확인하세요.
													</p>
												</td>
											</tr>
											<tr>
												<td>
													<div class="idpt-img-box left">
														<img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup16-2.jpg" alt="" style="max-width:4.5rem">
													</div>
												</td>
												<td>
													<p class="txt-black idpt-bold">
														택배 운송장 내역
													</p>
													<p class="txt-black idpt-mt20">
														받은 택배 운송장에 노출된 개인정보는<br>알아볼 수 없도록 파기하세요.
													</p>
												</td>
											</tr>
											<tr class="noborder">
												<td>
													<div class="idpt-img-box left">
														<img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup16-3.jpg" alt="" style="max-width:4.5rem">
													</div>
												</td>
												<td>
													<p class="txt-black idpt-bold">
														휴면계정(ID) 탈퇴
													</p>
													<p class="txt-black idpt-mt20">
														사용하지 않은 계정은<br>방치하지 말고 탈퇴하세요.
													</p>
													<div class="idpt-btn-wrap idpt-mt20">
														<a href="https://www.eprivacy.go.kr/mainList.do" class="fe-link-external idpt-btn-table btn-blue-nostyle small left" target="_blank">주민번호 이용내역 및 탈퇴하기</a>
													</div>
												</td>
											</tr>

										</tbody>
									</table>

								</div>
							</div>
						</div>
						<!--// popup 내용 01 -->
						<!-- popup 내용 02 -->
						<div class="idpt-popup-wrap" id="popup02">
							<div class="idpt-popup-header">
								<p class="popup-title">파밍이란</p>
								<a href="javascript:void(0)" onclick="history.back();" class="idpt-popup-close">팝업닫기</a>
							</div>
							<div class="idpt-popup-cont-wrap">
								<div class="idpt-popup-cont">

									<div class="idpt-cont-inbox gray">
										<p class="txt-black idpt-bold">파밍이란?</p>
										<p class="txt-gray idpt-mt30">악성코드로 인해 진짜 사이트로 접속하더라도 가짜 사이트로 연결되어 금융정보를 빼가는 수법</p>
										<hr class="idpt-underline">
										<p class="txt-black idpt-bold idpt-mt40">피해신고 센터</p>
										<ul class="idpt-dot-list idpt-mt30">
											<li>금융감독원 보이스피싱 지킴이 민원상담(1332)</li>
											<li>인터넷침해 대응 콜 센터(118)</li>
										</ul>

									</div>

								</div>
							</div>
						</div>
						<!--// popup 내용 02 -->
					</div>
					<!--// popup 끝 -->

			</div>

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
				<h3 class="howdo-title">
					금융정보는 별도의 이동식 저장장치에 저장
				</h3>
				<p class="txt-black idpt-bold idpt-mt30">
					금융정보 절대로 PC나 휴대폰에 저장하지 마세요
				</p>

				<table class="idpt-tbl-type03 idpt-mt60">
					<caption>금융정보는 별도의 이동식 저장장치에 저장</caption>
					<colgroup>
						<col style="width:50%">
						<col style="width:50%">
					</colgroup>
					<thead>
					</thead>
					<tbody>
						<tr>
							<td>
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont16_7.jpg" alt="" style="max-width:5.625rem">
								</div>
								<p class="txt-black black-sub align-center idpt-mt30">/ 주민등록번호<br>/  공인인증서<br>/ 보안카드번호</p>
							</td>
							<td>
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont16_8.jpg" alt="" style="max-width:5.625rem">
								</div>
								<p class="txt-black black-sub align-center idpt-mt30">이동식 저장장치에 보관</p>
							</td>
						</tr>
					</tbody>
				</table>
            </div>

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
				<h3 class="howdo-title">
					안전한 비밀번호 사용,<br>주기적인 비밀번호 변경
				</h3>

				<table class="idpt-tbl-type05 idpt-mt30">
					<caption>안전한 비밀번호 사용, 주기적인 비밀번호 변경</caption>
					<colgroup>
						<col style="width:4.8rem">
						<col style="width:auto">
					</colgroup>
					<thead>
					</thead>
					<tbody>
						<tr>
							<td>
								<div class="idpt-img-box left">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont16_9.jpg" alt="" style="max-width:3.65rem">
								</div>
							</td>
							<td>
								<p class="txt-black">
									웹사이트 비밀번호 설정
								</p>
								<p class="txt-gray idpt-mt20">영문, 숫자, 특수문자 등의 문자 조합으로<br>8자리 이상으로 설정해야 안전해요.</p>
							</td>
						</tr>
						<tr>
							<td>
								<div class="idpt-img-box left">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont16_10.jpg" alt="" style="max-width:3.65rem">
								</div>
							</td>
							<td>
								<p class="txt-black">
									휴대폰 잠금 설정
								</p>
							<p class="txt-gray idpt-mt20">영문, 숫자, 특수문자 등의 문자 조합으로 8자리 이상으로 설정해야 안전해요<br>(설정 > 화면잠금 > 패턴보안)</p>
							</td>
						</tr>
						<tr>
							<td>
								<div class="idpt-img-box left">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont16_11.jpg" alt="" style="max-width:3.65rem">
								</div>
							</td>
							<td>
								<p class="txt-black">
									유 / 무선 공유기 보안 설정
								</p>
								<p class="txt-gray idpt-mt20">보안이 미흡한 공유기를 통한 바이러스<br>피해를 막기 위해 보안 설정은 꼭 필요해요.</p>
								<div class="idpt-btn-wrap idpt-mt30">
									<a href="https://www.krcert.or.kr/cyber/internetModem.do" class="fe-link-external idpt-btn-table small btn-blue-nostyle" target="_blank">공유기 보안설정 보기</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>

			</div>

        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
