
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">이럴 땐 이렇게 하세요</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box howdo howdo-bg15">
                <h2 class="howdo-title">휴대폰 명의도용,<br>이렇게 대비하세요</h2>
            </div>
            <!--// 타이틀 영역 -->

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
                <h3 class="howdo-title">
					휴대폰 명의도용이란?
				</h3>
				<p class="txt-gray idpt-mt30">
					휴대폰 명의도용은 다른 사람의 명의로 휴대폰을 개통하여 금전적 피해를 일으키는 수법으로, 본인이 명의를 꼭 지켜야 해요.
				</p>
			</div>

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
                <h3 class="howdo-title">
					SK텔레콤 공식 인증 대리점과<br>온라인 샵 이용
				</h3>
				<p class="txt-black idpt-bold idpt-mt30">
					이용 전 SK텔레콤 공식 인증마크 확인
				</p>

				<div class="idpt-img-box idpt-mt30">
					<img src="{{cdn}}/img/customer/howdo/howdo_cont15_1.jpg" alt="SK텔레콤 공식 인증마크">
				</div>
				<p class="txt-gray idpt-mt30">
					명의도용으로 개통된 휴대폰(일명 대포폰)은 각종 범죄에 악용될 수 있어 더욱 각별한 주의가 필요해요.<br>
					SK텔레콤 공식 인증마크가 있는 대리점과 온라인샵은 안심하고 믿으셔도 돼요.
				</p>

				<div class="idpt-btn-wrap idpt-mt10">
					<a href="/customer/agentsearch" class="fe-link-internal idpt-btn-table btn-blue-nostyle small">공식 인증 대리점 찾기</a>
				</div>
				<div class="idpt-btn-wrap idpt-mt10">
					<a href="http://m.shop.tworld.co.kr/nf/index_nf_yp_list.html" class="fe-link-external idpt-btn-table btn-blue-nostyle small" target="_blank">T world 다이렉트 바로가기</a>
				</div>

				<p class="txt-gray with-star idpt-mt40">
					T world 다이렉트는 SK텔레콤 공식 온라인 맞춤 샵으로 최신 휴대폰 개통과 다양한 프로모션을 확인하실 수 있어요.
				</p>

				<p class="txt-gray with-star idpt-mt30">
					개인정보 유출 방지를 위해 휴대폰 개통할 때 고객님이 작성하신 가입신청서는 꼭 챙겨가세요.
				</p>

			</div>

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
                <h3 class="howdo-title">
					명의자 동의 없이<br>휴대폰이 개통될까 걱정?
				</h3>
				<p class="txt-black idpt-bold idpt-mt30">
					이동전화 가입제한 서비스에 가입하세요.
				</p>

				<div class="idpt-img-box idpt-mt60">
					<img src="{{cdn}}/img/customer/howdo/howdo_cont15_2.jpg" alt="Msafer 로고">
				</div>
				<p class="txt-gray idpt-mt60">
					이동통신서비스 가입제한 등록은 다른 사람이 신규개통을 하지 못하도록 가입을 제한하는 서비스로 지점에서만 신청하실 수 있으며, 신청현황은 M-safer 웹사이트에서 확인하실 수 있어요.
				</p>

				<div class="idpt-btn-wrap idpt-mt30">
					<a href="/customer/agentsearch" class="fe-link-internal idpt-btn-table btn-blue-nostyle small">가까운 지점 찾기</a>
				</div>

				<div class="idpt-btn-wrap idpt-mt20">
					<!--<a href="idpt_howdo_cs15(popup01).html" class="fe-link-internal idpt-btn-table btn-blue-nostyle small" target="_blank">주민등록 이용내역 및 명의도용방지 서비스</a>-->
					<a href="javascript:void(0)" data-popup="popup01" class="idpt-popup-open idpt-btn-table btn-blue-nostyle small">주민등록 이용내역 및 명의도용방지 서비스</a>
				</div>
					<!-- popup 시작 -->
					<div class="idpt-popup">
						<div class="idpt-popup-wrap" id="popup01">
							<div class="idpt-popup-header">
								<p class="popup-title">주민등록 이용내역 및 명의도용방지 서비스</p>
								<a href="javascript:void(0)" onclick="history.back();" class="idpt-popup-close">팝업닫기</a>
							</div>
							<div class="idpt-popup-cont-wrap">
								<div class="idpt-popup-cont">

									<table class="idpt-tbl-type03 popup-table">
										<caption>주민등록 이용내역 및 명의도용방지 서비스</caption>
										<colgroup>
											<col style="width:30%">
											<col style="width:auto">
										</colgroup>
										<thead>
										</thead>
										<tbody>
											<tr>
												<td>
													<div class="idpt-img-box left">
														<img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup15-1.jpg" alt="" style="max-width:4.8rem">
													</div>
												</td>
												<td>
													<p class="txt-black idpt-bold">
														주민등록번호 이용내역
													</p>
													<p class="txt-black idpt-mt20">
														주민등록번호 클린센터에서 주민등록번호 이용내역을 한 눈에 볼 수 있어요.
													</p>
													<div class="idpt-btn-wrap">
														<a href="https://www.eprivacy.go.kr/" class="fe-link-external idpt-btn-cs btn-full btn-blue-nostyle small left" target="_blank">주민등록번호 클린센터 바로가기</a>
													</div>
												</td>
											</tr>
											<tr class="noborder">
												<td>
													<div class="idpt-img-box left">
														<img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup15-2.jpg" alt="" style="max-width:4.8rem">
													</div>
												</td>
												<td>
													<p class="txt-black idpt-bold">
														명의도용 방지 서비스
													</p>
													<p class="txt-black idpt-mt20">
														명의도용차단과 방지 관련된 다양한 유료서비스를 확인해 보세요.
													</p>
													<div class="idpt-btn-wrap idpt-mt20">
														<a href="https://www.siren24.com/" class="fe-link-external idpt-btn-table btn-blue-nostyle small left" target="_blank">싸이렌 24 바로가기</a>
													</div>
													<div class="idpt-btn-wrap idpt-mt10">
														<a href="http://www.mycredit.co.kr/" class="fe-link-external idpt-btn-table btn-blue-nostyle small left" target="_blank">마이크레딧 바로가기</a>
													</div>
												</td>
											</tr>
										</tbody>
									</table>

								</div>
							</div>
						</div>
					</div>
					<!--// popup 끝 -->

			</div>

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
				<h3 class="howdo-title">
					명의도용이 의심될 경우 신고 방법
				</h3>

				<table class="idpt-tbl-type03 idpt-mt40">
					<caption>명의도용이 의심될 경우 신고 방법</caption>
					<colgroup>
						<col style="width:32%">
						<col style="width:32%">
						<col style="width:32%">
					</colgroup>
					<thead>
					</thead>
					<tbody>
						<tr>
							<td>
								<div class="idpt-img-box right-arrow">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont15_3.jpg" alt="필요서류 확인" style="max-width:5.625rem">
								</div>
								<p class="txt-black black-sub align-center idpt-mt20">필요서류<br>확인</p>
								<p class="txt-gray gray-sub align-center idpt-mt20">명의도용 신고할 때<br>필요한<br>필요서류를<br>확인해 주세요.</p>
								<div class="idpt-link-solo">
									<a href="/customer/document" class="ghost_normal center idpt-mt20">바로가기</a>
								</div>
							</td>
							<td>
								<div class="idpt-img-box right-arrow">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont15_4.jpg" alt="SK텔레콤 지점방문 및 접수" style="max-width:5.625rem">
								</div>
								<p class="txt-black black-sub align-center idpt-mt20">SK텔레콤<br>지점 방문 / 접수</p>
								<p class="txt-gray gray-sub align-center idpt-mt20">가까운 지점으로<br>방문하여 명의도용<br>신고를 접수해<br>주세요.</p>
								<div class="idpt-link-solo">
									<a href="/customer/agentsearch" class="ghost_normal near-search center idpt-mt20"">가까운 지점 찾기</a>
								</div>
							</td>
							<td>
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont15_5.jpg" alt="접수완료와 처리진행" style="max-width:5.625rem">
								</div>
								<p class="txt-black black-sub align-center idpt-mt20">접수완료와<br>처리진행</p>
								<p class="txt-gray gray-sub align-center idpt-mt20">접수된 내용을<br>조사하여 빠른<br>시일내 처리 결과를<br>안내해 드려요.</p>
							</td>
						</tr>

					</tbody>
				</table>

            </div>


        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
