
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">T world 이용법</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box">
                <h2 class="cs-title">모두에게 평등한 T world의 웹접근성 안내</h2>
            </div>
            <!--// 타이틀 영역 -->

			<hr class="idpt-seperator no-border">
			<div class="idpt-cont-box">
				<p class="info-txt idpt-bold">웹 접근성1.<br>T world에서는</p>
				<p class="txt-gray idpt-mt20">
					누구에게나 어려움이 없이 함께할 수 있도록 웹접근성을 준수하여 모든 고객님에게 평등한 서비스를 제공하고 있습니다.
				</p>
				<div class="idpt-img-box idpt-mt30">
					<img src="{{cdn}}/img/customer/service/img_cs3_2_1t_7_1.png" alt="" style="max-width:9rem">
				</div>
				<p class="txt-gray gray-sub idpt-mt20">
                    저사양 PC, 다양한 운영체제 및 인터넷 브라우저를 지원하여 기술적 환경과 관계 없이 T world를 이용하실 수 있어요.
				</p>
			</div>

			<hr class="idpt-seperator no-border">
			<div class="idpt-cont-box">
				<p class="info-txt idpt-bold">웹 접근성2.<br>접근성을 단지 장애인에게</p>
				<p class="txt-gray idpt-mt20">
					국한된 문제라고 잘못 이해하고 있는 경우가 많습니다.<br>
					웹 콘텐츠는 장애에 구애됨이 없이 누구나 손쉽게 접근하고,<br>
					사용자의 신체적, 환경적 조건에 관계없이 이용할 수 있어야 합니다.
				</p>
				<div class="idpt-img-box idpt-mt30">
					<img src="{{cdn}}/img/customer/service/img_cs3_2_1t_7_2.png" alt="" style="max-width:9rem">
				</div>
				<p class="txt-gray gray-sub idpt-mt20">
					고령층, 저시력, 시각장애 고객님을 위해 이미지의 명도대비, 가독성, 가시성을 극대화 했습니다.
				</p>
			</div>

			<hr class="idpt-seperator no-border">
			<div class="idpt-cont-box">
				<p class="info-txt idpt-bold">웹 접근성3.<br>T world는 장애인 뿐만 아니라</p>
				<p class="txt-gray idpt-mt20">
                    고령자, 저시력자 등 모든 고객님이 서비스를 손쉽고 편리하게 이용하실 수 있도록 표준화된 웹접근성 지침을 이행하고 있습니다.
				</p>
				<div class="idpt-img-box idpt-mt30">
					<img src="{{cdn}}/img/customer/service/img_cs3_2_1t_7_3.png" alt="" style="max-width:9rem">
				</div>
				<p class="txt-gray gray-sub idpt-mt20">
                    시각장애 고객님을 위한 화면 낭동(스크린리더) 서비스를 제공하여 쉽게 읽고 이해하실 수 있습니다.
				</p>
				<div class="idpt-img-box idpt-mt30">
					<img src="{{cdn}}/img/customer/service/img_cs3_2_1t_7_4.png" alt="" style="max-width:9rem">
				</div>
				<p class="txt-gray gray-sub idpt-mt20">
                    일부 몸이 불편하신 고객님을 위해 마우스 없이 키보드만으로도 모든 서비스를 이용하실 수 있습니다
				</p>
			</div>

        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
