
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">휴대폰 요금기준 안내</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box">
                <h2 class="cs-title">부가세 포함</h2>
            </div>
            <!--// 타이틀 영역 -->

            <hr class="idpt-seperator no-border" aria-hidden="true"/>

            <!-- 안내문구 -->
            <!-- case6. 안내문구 + 박스안내 -->
            <div class="idpt-cont-box">
                <p class="info-txt">고객님의 이용요금에 대한 부가세 포함 금액을 안내해 드립니다. 요금제 공통 안내 사항을 확인하실 수 있습니다.</p>
                <div class="info-box">
                    <p class="info-box-txt">SK텔레콤 휴대폰 요금제 표시안내</p>
                    <p class="info-box-txt-sub">
						방송통신위원회 통신요금 표기방법 개선 방침에 따라 부가가치세가 포함된 실제 납부요금을 안내해 드립니다.
						아래 안내를 참고하신 후 실제 납부하실 금액을 확인하시고 이용해 주세요.
					</p>
                </div>
            </div>
            <!--// case6. 안내문구 + 박스안내 -->

            <!--// 안내문구 -->

            <!-- accordian -->
            <div class="idpt-cont-title">
                <p>안내 유형을 선택하세요.</p>
            </div>

            <ul class="idpt-accordian">
                <li>
                    <a href="javascript:void(0)" role="button" aria-pressed="false">요금제 공통 안내</a>
                    <div class="idpt-accordian-cont">
                        <p class="accordian-cont-title idpt-mt0">요금제 전체와 부가세에 대한 공통 적용 사항 안내</p>
                        <p class="txt-black idpt-mt20">
							모든 요금제의 기본요금, 월정액 및 통화요금은 부가가치세(VAT)가 별도입니다.<br><br>
							고객님께 제공되는 각종 혜택(요금할인 프로그램의 할인금액 및 팅 요금제의 기본제공 금액)도 부가세 10%를 포함하여 제공하고 있습니다.<br><br>
							예)부가세 포함하였을 경우 실제 청구금액은?<br>
							LTE 62 요금제(62,000원)와 LTE 플러스 할인프로그램(할인액 16,000원) 이용할 경우, 부가세가 포함된 월 청구금액은 ‘월정액 68,200원)에서 ‘LTE 플러스 할인액 17,600원’을 제외한 50,600원 입니다.
						</p>

						<div class="idpt-img-box idpt-mt30">
                            <img src="{{cdn}}/img/customer/service/img_cs3_1_2_5_1.png" alt="LTE62 요금상품 월정액 623000원(VAT 포함 68200원) + LTE 플러스 할인프로그램 LTE 플러스 할인액 16000원(VAT 포함 17600원) = 부가세가 포함된 월 청구 금액 68200원 - 17600원 = 50600원">
                        </div>

                        <p class="txt-gray with-star idpt-mt30">
							기본제공량 모두 사용 후 초과 사용요금, 부가서비스 및 부가 상품 이용요금, 각종 정보이용료, 기기 할부금, T약정할부금액 등은
							제외된 금액이므로 실제 청구금액과는 차이가 있습니다.
						</p>
                    </div>
                </li>
                <li>
                    <a href="javascript:void(0)" role="button" aria-pressed="false">주요 요금제 안내</a>
                    <div class="idpt-accordian-cont">
                        <p class="accordian-cont-title idpt-mt0">주요 요금제의 부가세가 포함된 월정액과 요금할인 금액 안내</p>

						<table class="idpt-tbl-type02">
							<caption>LTE 34</caption>
							<colgroup>
								<col style="width:50%"></col>
								<col style="width:auto"></col>
							</colgroup>
							<thead>
								<tr>
									<th colspan="2">LTE 34</th>
								</tr>
							</thead>
							<tr>
								<td>월정액(부가세 포함할 경우)</td>
								<td class="align-right"><span class="idpt-bold">34,000원</span><span>(37,400원)</span></td>
							</tr>
							<tr>
								<td>할인요금(실제 제공금액)</td>
								<td class="align-right"><span class="idpt-bold">7,000원</span><span>(7,700원)</span></td>
							</tr>
							<tr>
								<td>통화요금(부가세 포함할 경우)</td>
								<td class="align-right">
									<span class="idpt-bold">음성 1.8원</span><span>(1.98원)</span><br>
									<span class="idpt-bold">영상 3.0원</span><span>(3.3원)</span>
								</td>
							</tr>
						</table>

						<table class="idpt-tbl-type02">
							<caption>LTE 42</caption>
							<colgroup>
								<col style="width:50%"></col>
								<col style="width:auto"></col>
							</colgroup>
							<thead>
								<tr>
									<th colspan="2">LTE 42</th>
								</tr>
							</thead>
							<tr>
								<td>월정액(부가세 포함할 경우)</td>
								<td class="align-right"><span class="idpt-bold">42,000원</span><span>(46,200원)</span></td>
							</tr>
							<tr>
								<td>할인요금(실제 제공금액)</td>
								<td class="align-right"><span class="idpt-bold">10,500원</span><span>(11,550원)</span></td>
							</tr>
							<tr>
								<td>통화요금(부가세 포함할 경우)</td>
								<td class="align-right">
									<span class="idpt-bold">음성 1.8원</span><span>(1.98원)</span><br>
									<span class="idpt-bold">영상 3.0원</span><span>(3.3원)</span>
								</td>
							</tr>
						</table>

						<table class="idpt-tbl-type02">
							<caption>LTE 52</caption>
							<colgroup>
								<col style="width:50%"></col>
								<col style="width:auto"></col>
							</colgroup>
							<thead>
								<tr>
									<th colspan="2">LTE 52</th>
								</tr>
							</thead>
							<tr>
								<td>월정액(부가세 포함할 경우)</td>
								<td class="align-right"><span class="idpt-bold">52,000원</span><span>(57,200원)</span></td>
							</tr>
							<tr>
								<td>할인요금(실제 제공금액)</td>
								<td class="align-right"><span class="idpt-bold">13,500원</span><span>(14,850원)</span></td>
							</tr>
							<tr>
								<td>통화요금(부가세 포함할 경우)</td>
								<td class="align-right">
									<span class="idpt-bold">음성 1.8원</span><span>(1.98원)</span><br>
									<span class="idpt-bold">영상 3.0원</span><span>(3.3원)</span>
								</td>
							</tr>
						</table>

						<table class="idpt-tbl-type02">
							<caption>LTE 62</caption>
							<colgroup>
								<col style="width:50%"></col>
								<col style="width:auto"></col>
							</colgroup>
							<thead>
								<tr>
									<th colspan="2">LTE 62</th>
								</tr>
							</thead>
							<tr>
								<td>월정액(부가세 포함할 경우)</td>
								<td class="align-right"><span class="idpt-bold">62,000원</span><span>(68,200원)</span></td>
							</tr>
							<tr>
								<td>할인요금(실제 제공금액)</td>
								<td class="align-right"><span class="idpt-bold">16,000원</span><span>(17,600원)</span></td>
							</tr>
							<tr>
								<td>통화요금(부가세 포함할 경우)</td>
								<td class="align-right">
									<span class="idpt-bold">음성 1.8원</span><span>(1.98원)</span><br>
									<span class="idpt-bold">영상 3.0원</span><span>(3.3원)</span>
								</td>
							</tr>
						</table>

						<table class="idpt-tbl-type02">
							<caption>LTE 72</caption>
							<colgroup>
								<col style="width:50%"></col>
								<col style="width:auto"></col>
							</colgroup>
							<thead>
								<tr>
									<th colspan="2">LTE 72</th>
								</tr>
							</thead>
							<tr>
								<td>월정액(부가세 포함할 경우)</td>
								<td class="align-right"><span class="idpt-bold">72,000원</span><span>(79,200원)</span></td>
							</tr>
							<tr>
								<td>할인요금(실제 제공금액)</td>
								<td class="align-right"><span class="idpt-bold">18,000원</span><span>(19,800원)</span></td>
							</tr>
							<tr>
								<td>통화요금(부가세 포함할 경우)</td>
								<td class="align-right">
									<span class="idpt-bold">음성 1.8원</span><span>(1.98원)</span><br>
									<span class="idpt-bold">영상 3.0원</span><span>(3.3원)</span>
								</td>
							</tr>
						</table>

						<table class="idpt-tbl-type02">
							<caption>LTE 85</caption>
							<colgroup>
								<col style="width:50%"></col>
								<col style="width:auto"></col>
							</colgroup>
							<thead>
								<tr>
									<th colspan="2">LTE 85</th>
								</tr>
							</thead>
							<tr>
								<td>월정액(부가세 포함할 경우)</td>
								<td class="align-right"><span class="idpt-bold">85,000원</span><span>(94,500원)</span></td>
							</tr>
							<tr>
								<td>할인요금(실제 제공금액)</td>
								<td class="align-right"><span class="idpt-bold">20,000원</span><span>(22,000원)</span></td>
							</tr>
							<tr>
								<td>통화요금(부가세 포함할 경우)</td>
								<td class="align-right">
									<span class="idpt-bold">음성 1.8원</span><span>(1.98원)</span><br>
									<span class="idpt-bold">영상 3.0원</span><span>(3.3원)</span>
								</td>
							</tr>
						</table>

						<table class="idpt-tbl-type02">
							<caption>LTE 100</caption>
							<colgroup>
								<col style="width:50%"></col>
								<col style="width:auto"></col>
							</colgroup>
							<thead>
								<tr>
									<th colspan="2">LTE 100</th>
								</tr>
							</thead>
							<tr>
								<td>월정액(부가세 포함할 경우)</td>
								<td class="align-right"><span class="idpt-bold">100,000원</span><span>(110,000원)</span></td>
							</tr>
							<tr>
								<td>할인요금(실제 제공금액)</td>
								<td class="align-right"><span class="idpt-bold">24,000원</span><span>(26,400원)</span></td>
							</tr>
							<tr>
								<td>통화요금(부가세 포함할 경우)</td>
								<td class="align-right">
									<span class="idpt-bold">음성 1.8원</span><span>(1.98원)</span><br>
									<span class="idpt-bold">영상 3.0원</span><span>(3.3원)</span>
								</td>
							</tr>
						</table>

						<table class="idpt-tbl-type02">
							<caption>올인원 34</caption>
							<colgroup>
								<col style="width:50%"></col>
								<col style="width:auto"></col>
							</colgroup>
							<thead>
								<tr>
									<th colspan="2">올인원 34</th>
								</tr>
							</thead>
							<tr>
								<td>월정액(부가세 포함할 경우)</td>
								<td class="align-right"><span class="idpt-bold">34,000원</span><span>(37,400원)</span></td>
							</tr>
							<tr>
								<td>할인요금(실제 제공금액)</td>
								<td class="align-right"><span class="idpt-bold">11,000원</span><span>(12,100원)</span></td>
							</tr>
							<tr>
								<td>통화요금(부가세 포함할 경우)</td>
								<td class="align-right">
									<span class="idpt-bold">음성 1.8원</span><span>(1.98원)</span><br>
									<span class="idpt-bold">영상 3.0원</span><span>(3.3원)</span>
								</td>
							</tr>
						</table>

						<table class="idpt-tbl-type02">
							<caption>올인원 44</caption>
							<colgroup>
								<col style="width:50%"></col>
								<col style="width:auto"></col>
							</colgroup>
							<thead>
								<tr>
									<th colspan="2">올인원 44</th>
								</tr>
							</thead>
							<tr>
								<td>월정액(부가세 포함할 경우)</td>
								<td class="align-right"><span class="idpt-bold">44,000원</span><span>(48,400원)</span></td>
							</tr>
							<tr>
								<td>할인요금(실제 제공금액)</td>
								<td class="align-right"><span class="idpt-bold">14,500원</span><span>(15,950원)</span></td>
							</tr>
							<tr>
								<td>통화요금(부가세 포함할 경우)</td>
								<td class="align-right">
									<span class="idpt-bold">음성 1.8원</span><span>(1.98원)</span><br>
									<span class="idpt-bold">영상 3.0원</span><span>(3.3원)</span>
								</td>
							</tr>
						</table>

						<table class="idpt-tbl-type02">
							<caption>올인원 54</caption>
							<colgroup>
								<col style="width:50%"></col>
								<col style="width:auto"></col>
							</colgroup>
							<thead>
								<tr>
									<th colspan="2">올인원 54</th>
								</tr>
							</thead>
							<tr>
								<td>월정액(부가세 포함할 경우)</td>
								<td class="align-right"><span class="idpt-bold">54,000원</span><span>(59,400원)</span></td>
							</tr>
							<tr>
								<td>할인요금(실제 제공금액)</td>
								<td class="align-right"><span class="idpt-bold">17,500원</span><span>(19,250원)</span></td>
							</tr>
							<tr>
								<td>통화요금(부가세 포함할 경우)</td>
								<td class="align-right">
									<span class="idpt-bold">음성 1.8원</span><span>(1.98원)</span><br>
									<span class="idpt-bold">영상 3.0원</span><span>(3.3원)</span>
								</td>
							</tr>
						</table>

						<table class="idpt-tbl-type02">
							<caption>올인원 64</caption>
							<colgroup>
								<col style="width:50%"></col>
								<col style="width:auto"></col>
							</colgroup>
							<thead>
								<tr>
									<th colspan="2">올인원 64</th>
								</tr>
							</thead>
							<tr>
								<td>월정액(부가세 포함할 경우)</td>
								<td class="align-right"><span class="idpt-bold">64,000원</span><span>(70,400원)</span></td>
							</tr>
							<tr>
								<td>할인요금(실제 제공금액)</td>
								<td class="align-right"><span class="idpt-bold">19,500원</span><span>(21,450원)</span></td>
							</tr>
							<tr>
								<td>통화요금(부가세 포함할 경우)</td>
								<td class="align-right">
									<span class="idpt-bold">음성 1.8원</span><span>(1.98원)</span><br>
									<span class="idpt-bold">영상 3.0원</span><span>(3.3원)</span>
								</td>
							</tr>
						</table>

						<table class="idpt-tbl-type02">
							<caption>올인원 79</caption>
							<colgroup>
								<col style="width:50%"></col>
								<col style="width:auto"></col>
							</colgroup>
							<thead>
								<tr>
									<th colspan="2">올인원 79</th>
								</tr>
							</thead>
							<tr>
								<td>월정액(부가세 포함할 경우)</td>
								<td class="align-right"><span class="idpt-bold">79,000원</span><span>(86,900원)</span></td>
							</tr>
							<tr>
								<td>할인요금(실제 제공금액)</td>
								<td class="align-right"><span class="idpt-bold">22,500원</span><span>(24,750원)</span></td>
							</tr>
							<tr>
								<td>통화요금(부가세 포함할 경우)</td>
								<td class="align-right">
									<span class="idpt-bold">음성 1.8원</span><span>(1.98원)</span><br>
									<span class="idpt-bold">영상 3.0원</span><span>(3.3원)</span>
								</td>
							</tr>
						</table>

						<table class="idpt-tbl-type02">
							<caption>올인원 94</caption>
							<colgroup>
								<col style="width:50%"></col>
								<col style="width:auto"></col>
							</colgroup>
							<thead>
								<tr>
									<th colspan="2">올인원 94</th>
								</tr>
							</thead>
							<tr>
								<td>월정액(부가세 포함할 경우)</td>
								<td class="align-right"><span class="idpt-bold">94,000원</span><span>(103,400원)</span></td>
							</tr>
							<tr>
								<td>할인요금(실제 제공금액)</td>
								<td class="align-right"><span class="idpt-bold">27,500원</span><span>(30,250원)</span></td>
							</tr>
							<tr>
								<td>통화요금(부가세 포함할 경우)</td>
								<td class="align-right">
									<span class="idpt-bold">음성 1.8원</span><span>(1.98원)</span><br>
									<span class="idpt-bold">영상 3.0원</span><span>(3.3원)</span>
								</td>
							</tr>
						</table>

                    </div>
                </li>
                <li>
                    <a href="javascript:void(0)" role="button" aria-pressed="false">Ting 요금제 안내</a>
                    <div class="idpt-accordian-cont">
                        <p class="accordian-cont-title idpt-mt0">Ting 요금제의 부가세가 포함된 월정액, 요금할인액 및 기본제공 금액 안내</p>

						<table class="idpt-tbl-type02">
							<caption>LTETing34</caption>
							<colgroup>
								<col style="width:50%"></col>
								<col style="width:auto"></col>
							</colgroup>
							<thead>
								<tr>
									<th colspan="2">LTETing34</th>
								</tr>
							</thead>
							<tr>
								<td>월정액(부가세 포함할 경우)</td>
								<td class="align-right"><span class="idpt-bold">34,000원</span><span>(37,400원)</span></td>
							</tr>
							<tr>
								<td>할인요금(실제 제공금액)</td>
								<td class="align-right"><span class="idpt-bold">7,000원</span><span>(7,700원)</span></td>
							</tr>
							<tr>
								<td>기본제공 금액(실 제공금액)</td>
								<td class="align-right"><span class="idpt-bold">34,000원</span><span>(37,400원)</span></td>
							</tr>
							<tr>
								<td>통화요금(부가세 포함할 경우)</td>
								<td class="align-right">
									<span class="idpt-bold">음성 1.8원</span><span>(1.98원)</span><br>
									<span class="idpt-bold">영상 3.0원</span><span>(3.3원)</span>
								</td>
							</tr>
						</table>

						<table class="idpt-tbl-type02">
							<caption>LTETing42</caption>
							<colgroup>
								<col style="width:50%"></col>
								<col style="width:auto"></col>
							</colgroup>
							<thead>
								<tr>
									<th colspan="2">LTETing42</th>
								</tr>
							</thead>
							<tr>
								<td>월정액(부가세 포함할 경우)</td>
								<td class="align-right"><span class="idpt-bold">42,000원</span><span>(46,200원)</span></td>
							</tr>
							<tr>
								<td>할인요금(실제 제공금액)</td>
								<td class="align-right"><span class="idpt-bold">10,500원</span><span>(11,550원)</span></td>
							</tr>
							<tr>
								<td>기본제공 금액(실 제공금액)</td>
								<td class="align-right"><span class="idpt-bold">52,000원</span><span>(57,200원)</span></td>
							</tr>
							<tr>
								<td>통화요금(부가세 포함할 경우)</td>
								<td class="align-right">
									<span class="idpt-bold">음성 1.8원</span><span>(1.98원)</span><br>
									<span class="idpt-bold">영상 3.0원</span><span>(3.3원)</span>
								</td>
							</tr>
						</table>

						<table class="idpt-tbl-type02">
							<caption>올인원팅34</caption>
							<colgroup>
								<col style="width:50%"></col>
								<col style="width:auto"></col>
							</colgroup>
							<thead>
								<tr>
									<th colspan="2">올인원팅34</th>
								</tr>
							</thead>
							<tr>
								<td>월정액(부가세 포함할 경우)</td>
								<td class="align-right"><span class="idpt-bold">52,000원</span><span>(57,200원)</span></td>
							</tr>
							<tr>
								<td>할인요금(실제 제공금액)</td>
								<td class="align-right"><span class="idpt-bold">13,500원</span><span>(14,850원)</span></td>
							</tr>
							<tr>
								<td>기본제공 금액(실 제공금액)</td>
								<td class="align-right"><span class="idpt-bold">30,000원</span><span>(33,000원)</span></td>
							</tr>
							<tr>
								<td>통화요금(부가세 포함할 경우)</td>
								<td class="align-right">
									<span class="idpt-bold">음성 1.8원</span><span>(1.98원)</span><br>
									<span class="idpt-bold">영상 3.0원</span><span>(3.3원)</span>
								</td>
							</tr>
						</table>

						<table class="idpt-tbl-type02">
							<caption>올인원팅44</caption>
							<colgroup>
								<col style="width:50%"></col>
								<col style="width:auto"></col>
							</colgroup>
							<thead>
								<tr>
									<th colspan="2">올인원팅44</th>
								</tr>
							</thead>
							<tr>
								<td>월정액(부가세 포함할 경우)</td>
								<td class="align-right"><span class="idpt-bold">62,000원</span><span>(68,200원)</span></td>
							</tr>
							<tr>
								<td>할인요금(실제 제공금액)</td>
								<td class="align-right"><span class="idpt-bold">16,000원</span><span>(17,600원)</span></td>
							</tr>
							<tr>
								<td>기본제공 금액(실 제공금액)</td>
								<td class="align-right"><span class="idpt-bold">50,000원</span><span>(55,000원)</span></td>
							</tr>
							<tr>
								<td>통화요금(부가세 포함할 경우)</td>
								<td class="align-right">
									<span class="idpt-bold">음성 1.8원</span><span>(1.98원)</span><br>
									<span class="idpt-bold">영상 3.0원</span><span>(3.3원)</span>
								</td>
							</tr>
						</table>

                    </div>
                </li>
            </ul>
            <!--// accordian -->

            <hr class="idpt-seperator no-border" aria-hidden="true"/>

            <!-- 이용안내 -->
            <div class="idpt-toggle-set">
                <button class="idpt-toggle-btn" aria-pressed="false">이용안내</button>
                <div class="idpt-toggle-cont">
                    <div class="idpt-guide-title">
                        <p>1. 기타</p>
                    </div>
                    <div class="idpt-guide-cont">
                        <ul class="idpt-dot-list-black">
                            <li>할인요금은 LTE 요금제 이용 시 LTE플러스 할인 기준이며, 그 외 요금제는 스페셜 할인 기준입니다.</li>
                            <li>요금제별 보다 자세한 내용을 확인하시려면 T world > 요금제/부가서비스 > 이동전화 > 요금제 메뉴를 이용해 주세요.</li>
                        </ul>
                        <div class="idpt-btn-wrap idpt-mt30">
                            <a href="/product/mobileplan" class="fe-link-internal idpt-btn-cs btn-full btn-blue-noborder">요금제 메뉴 바로가기</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--// 이용안내 -->

        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
