
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">T world 이용법</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box">
                <h2 class="cs-title">소액결제 현명하게 관리하기</h2>
            </div>
            <!--// 타이틀 영역 -->

			<hr class="idpt-seperator no-border">
			<div class="idpt-cont-box">
				<p class="info-txt idpt-bold">관리하기1.<br>나의 요금 > 소액결제에서</p>
				<p class="txt-gray idpt-mt20">
                    소액결제 이용한도를 변경하실 수 있습니다.
				</p>
				<div class="idpt-img-box idpt-mt30">
					<img src="{{cdn}}/img/customer/service/img_cs3_2_1t_5_1.jpg" alt="소액결제 변경화면">
				</div>
			</div>

			<hr class="idpt-seperator no-border">
			<div class="idpt-cont-box">
				<p class="info-txt idpt-bold">관리하기2.<br>소액결제 페이지 내 [한도변경] 버튼을 클릭해주세요.</p>
				<div class="idpt-img-box idpt-mt30">
					<img src="{{cdn}}/img/customer/service/img_cs3_2_1t_5_2.jpg" alt="소액결제 변경화면 - 한도변경 클릭">
				</div>
			</div>

			<hr class="idpt-seperator no-border">
			<div class="idpt-cont-box">
				<p class="info-txt idpt-bold">관리하기3.<br>소액결제 한도 변경 팝업에서</p>
				<p class="txt-gray idpt-mt20">
                    소액결제 이용한도 금액을 선택 후 변경 신청하실 수 있습니다
				</p>
				<div class="idpt-img-box idpt-mt30">
					<img src="{{cdn}}/img/customer/service/img_cs3_2_1t_5_3.jpg" alt="소액결제 한도 변경 - 한도 설정 후 변경하기 클릭">
				</div>
			</div>

        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
