
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">이럴땐 이렇게 하세요</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box howdo howdo-bg20">
                <h2 class="howdo-title">초콜릿 멤버십몰을<br>즐겨 보세요</h2>
            </div>
            <!--// 타이틀 영역 -->

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box">

				<h3 class="howdo-title idpt-mt60">
					SK 텔레콤 고객이라면 누구나<br>이용 가능한 멤버십몰, 초콜릿
				</h3>

				<table class="idpt-tbl-type06 idpt-mt30">
					<caption>SK 텔레콤 고객이라면 누구나 이용 가능한 멤버십 몰, 초콜릿</caption>
					<colgroup>
						<col style="width:4.8rem">
						<col style="width:auto">
					</colgroup>
					<thead>
					</thead>
					<tbody>
						<tr class="noborder">
							<td>
								<div class="idpt-img-box left">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont21_1.jpg" alt="핫딜 이벤트" style="max-width:3.5rem">
								</div>
							</td>
							<td>
								<p class="txt-gray">세상 어디에도 없던 응모이벤트</p>
								<p class="txt-black idpt-mt10">핫딜 이벤트</p>
							</td>
						</tr>
						<tr class="noborder">
							<td>
								<div class="idpt-img-box left">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont21_2.jpg" alt="멤버십 스페셜" style="max-width:3.5rem">
								</div>
							</td>
							<td>
								<p class="txt-gray">할인된 가격에 멤버십 할인추가!</p>
								<p class="txt-black idpt-mt10">멤버십 스페셜</p>
							</td>
						</tr>
						<tr class="noborder">
							<td>
								<div class="idpt-img-box left">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont21_2.jpg" alt="멤버십 스페셜" style="max-width:3.5rem">
								</div>
							</td>
							<td>
								<p class="txt-gray">응모만 하면 공연이 공짜!</p>
								<p class="txt-black idpt-mt10">공연 초대 이벤트</p>
							</td>
						</tr>
					</body>
				</table>
				<div class="idpt-btn-wrap idpt-mt10">
					<a href="http://tmembership.tworld.co.kr/web/html/chocolate/main/ChocoHomeMain.jsp?sel=1" class="fe-link-external idpt-btn-table btn-full btn-blue-nostyle small" target="_blank">초콜릿 바로가기</a>
				</div>

			</div>

        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
