
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">이럴 땐 이렇게 하세요</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box howdo howdo-bg25">
                <h2 class="howdo-title">해외여행 중<br>유용한 팁 알아보기</h2>
            </div>
            <!--// 타이틀 영역 -->

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">

				<div class="idpt-img-box idpt-mt0">
					<img src="{{cdn}}/img/customer/howdo/howdo_cont25_1.jpg" alt="" style="max-width:20.5rem">
				</div>
				<p class="txt-black align-center idpt-mt30">로밍주의사항 / 현지 요금안내 / 다른 통신망 연결 시</p>

				<div class="idpt-btn-wrap maxw idpt-mt40">
					<!--<a href="idpt_howdo_cs25(popup02).html" class="idpt-btn-cs btn-full btn-blue">발송 문자 예시 보기</a>-->
					<a href="javascript:void(0)" data-popup="popup01" class="idpt-popup-open idpt-btn-cs btn-full btn-blue">발송 문자 예시 보기</a>
				</div>

			</div>

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo mh">
                <h3 class="howdo-title">
					여행 중 일어날 수 있는<br>돌발상황에 당황하지 않아도 돼요!
				</h3>
				<ul class="idpt-imgline-list idpt-mt30">
					<li class="four_line">
						<div class="imgline-subject">
							<div class="idpt-img-box left">
								<img src="{{cdn}}/img/customer/howdo/howdo_cont25_2.jpg" alt="" style="max-width:3.6875rem">
							</div>
						</div>
						<div class="imgline-cont">
							<p>
								<span class="txt-black">통화가 안 된다면, 휴대폰 다시 부팅</span>
							</p>
							<p class="txt-gray idpt-mt20">휴대폰 다시 부팅 후에도 통화가 안 된다면 네트워크를 수동으로 설정해 주세요.<br>스마트폰에 따라 설정 방법이 달라요.</p>
						</div>
						<ul class="idpt-link-box right-align idpt-mt40">
							<li>
								<!--<a href="idpt_howdo_cs25(popup01).html" class="fe-link-internal">설정방법 보기</a>-->
								<a href="javascript:void(0)" data-popup="popup02" class="idpt-popup-open">설정방법 보기</a>
							</li>
						</ul>
					</li>
					<li class="four_line">
						<div class="imgline-subject">
							<div class="idpt-img-box left">
								<img src="{{cdn}}/img/customer/howdo/howdo_cont25_3.jpg" alt="" style="max-width:3.6875rem">
							</div>
						</div>
						<div class="imgline-cont">
							<p>
								<span class="txt-black">여행 중 휴대폰을 분실했다면,<br>가장 먼저 분실신고해 주세요.</span>
							</p>
							<p class="txt-gray idpt-mt20">+82-2-6343-9000<br>T로밍 고객센터로 신고</p>
						</div>
						<hr class="clear">
						<p class="txt-gray gray-sub with-star idpt-mt30">휴대폰에 저장된 신용카드나 학생증, 공인인증서 등은 없었는지 확인하시고, 해당 기관에 꼭 신고해 주세요.</p>
						<p class="txt-gray gray-sub with-star idpt-mt20">휴대폰에 자동로그인 설정된 각종 웹사이트와 앱 비밀번호를 변경해 주세요.</p>
					</li>
					<li class="four_line no-border">
						<div class="imgline-subject">
							<div class="idpt-img-box left">
								<img src="{{cdn}}/img/customer/howdo/howdo_cont25_4.jpg" alt="" style="max-width:3.6875rem">
							</div>
						</div>
						<div class="imgline-cont">
							<p>
								<span class="txt-black">여권 / 지갑 분실 등 예기치 못한 사고를 당하셨다면</span>
							</p>
							<p class="txt-gray idpt-mt20">외교부 해외안전 웹사이트에서 위기 상황별 대처 방법을 알려 드려요.</p>
						</div>
						<ul class="idpt-link-box right-align idpt-mt40">
							<li><a href="http://www.0404.go.kr/m/dev/main.do" class="fe-link-external" target="_blank">해외안전여행 웹사이트 바로가기</a></li>
						</ul>
					</li>
				</ul>
			</div>

			<!-- popup 시작 -->
			<div class="idpt-popup">

				<div class="idpt-popup-wrap" id="popup01">
					<div class="idpt-popup-header">
						<p class="popup-title">발송 문자 예시 보기</p>
						<a href="javascript:void(0)" onclick="history.back();" class="idpt-popup-close">팝업닫기</a>
					</div>
					<div class="idpt-popup-cont-wrap">
						<div class="idpt-popup-cont">

							<div class="idpt-cont-inbox gray">
								<p class="txt-black idpt-bold">휴대폰을 켰을 때</p>
								<p class="txt-gray idpt-mt10">[ SKT ]  해외 로밍은 국내요금제와 달리 별도의 로밍요금이 부과됩니다. 로밍안내문자를 확인하세요.</p>
							</div>

							<div class="idpt-cont-inbox gray idpt-mt30">
								<p class="txt-black idpt-bold">현지 음성요금 안내</p>
								<p class="txt-gray idpt-mt10">[ SKT ] 국가명에서 한국으로 걸때 2,420원/분, 받을 때 1,335/분, 데이터 2.2원/0.5KB</p>
								<p class="txt-gray gray-sub with-star idpt-mt20">부가세 포함</p>
							</div>

							<div class="idpt-cont-inbox gray idpt-mt30">
								<p class="txt-black idpt-bold">현지 문자요금 안내</p>
								<p class="txt-gray idpt-mt10">[ SKT ]  모든 문자수신은무료! SMS 보낼때 165원, 긴문자를 보낼때 330원, 사진등을 보낼때 440원</p>
								<p class="txt-gray gray-sub with-star idpt-mt20">부가세 포함</p>
							</div>

							<div class="idpt-cont-inbox gray idpt-mt30">
								<p class="txt-black idpt-bold">데이터 사용요금 발생 시</p>
								<p class="txt-gray idpt-mt10">[ SKT ]  고객님, 8월 데이터로밍요금 22,000원 초과했습니다~<br>02-6343-9000(무료)</p>
								<p class="txt-gray gray-sub with-star idpt-mt20">부가세 포함</p>
							</div>

							<div class="idpt-cont-inbox gray idpt-mt30">
								<p class="txt-black idpt-bold">제휴 통신망이 아닌 다른 통신망 접속 시</p>
								<p class="txt-gray idpt-mt10">[ SKT ]  원패스 이용안내<br>원패스 고객님! 현재 접속하신 현재통신망명을 이용하실경우, 데이터로밍이 자동 차단됩니다. 원활한 데이터 이용을
								위해서 국가명에서는 제휴통신망명을 수동 선택하세요.</p>
								<p class="txt-gray gray-sub with-star idpt-mt20">자세히보기 : http://m.troaming.co.kr (무료접속)</p>
							</div>

						</div>
					</div>
				</div>

				<div class="idpt-popup-wrap" id="popup02">
					<div class="idpt-popup-header">
						<p class="popup-title">스마트폰 네트워크 수동 설정 방법 안내</p>
						<a href="javascript:void(0)" onclick="history.back();" class="idpt-popup-close">팝업닫기</a>
					</div>
					<div class="idpt-popup-cont-wrap">
						<div class="idpt-popup-cont">

							<p class="txt-black idpt-bold idpt-mt60">
								안드로이드 폰 네트워크 수동 설정 방법
							</p>
							<table class="idpt-tbl-type03 popup-table">
								<caption>안드로이드 폰 네트워크 수동 설정 방법</caption>
								<colgroup>
									<col style="width:30%">
									<col style="width:auto">
								</colgroup>
								<thead>
								</thead>
								<tbody>
									<tr >
										<td>
											<div class="idpt-img-box left">
												<img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup25-1.jpg" alt="" style="max-width:4.6rem" alt="">
											</div>
										</td>
										<td>
											<p class="txt-black idpt-bold">
												수동 설정 순서
											</p>
											<p class="txt-black idpt-mt20">
												‘설정’ 아이콘 선택 > ‘T로밍’ 메뉴 선택 > ‘로밍 이동통신사’ 메뉴 선택 > ‘수동 선택’ 체크 > 제휴 이동통신사 망 선택
											</p>
										</td>
									</tr>
								</tbody>
							</table>
							<p class="txt-black idpt-bold idpt-mt60">
								아이폰 네트워크 수동 설정 방법
							</p>
							<table class="idpt-tbl-type03 popup-table">
								<caption>아이폰 네트워크 수동 설정 방법</caption>
								<colgroup>
									<col style="width:30%">
									<col style="width:auto">
								</colgroup>
								<thead>
								</thead>
								<tbody>
									<tr>
										<td>
											<div class="idpt-img-box left">
												<img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup25-2.jpg" alt="" style="max-width:4.6rem" alt="">
											</div>
										</td>
										<td>
											<p class="txt-black idpt-bold">
												수동 설정 순서
											</p>
											<p class="txt-black idpt-mt20">
												‘설정’ 아이콘 선택 > ‘네트워크 사업자’ 메뉴 선택 > ‘자동’ 항목 비활성화로 체크 > 제휴 이동통신사 망 선택
											</p>
										</td>
									</tr>
								</tbody>
							</table>

						</div>
					</div>
				</div>

			</div>
			<!--// popup 끝 -->

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo mh">
                <h3 class="howdo-title">
					T로밍 고객센터<br>(24시간 전화상담 / 신청)
				</h3>
				<ul class="idpt-imgline-list idpt-mt30">
					<li class="four_line no-border">
						<div class="imgline-subject">
							<div class="idpt-img-box left">
								<img src="{{cdn}}/img/customer/howdo/howdo_cont25_5.jpg" alt="" style="max-width:3.6875rem">
							</div>
						</div>
						<div class="imgline-cont">
							<p>
								<span class="txt-black">국내: 02-6343-9000 (무료)<br>해외: +82-2-6343-9000 (SK텔레콤 핸드폰에서 무료)</span>
							</p>
							<p class="txt-gray idpt-mt20">해외에서 로밍오토다이얼을 사용할 경우<br>02-6343-9000(무료)</p>
						</div>
						<hr class="clear">
						<p class="txt-gray gray-sub with-star idpt-mt30">보딩 시간과 입국심사 등에 쫓겨 상담을 받지 못하는 고객님을 위해 출국장 면세 구역 내에도 T로밍센터가 있어요.</p>
						<ul class="idpt-link-box right-align idpt-mt40">
							<li><a href="/product/roaming/info/center" class="fe-link-internal">공항 내 T로밍센터 위치보기</a></li>
						</ul>
					</li>
				</ul>
			</div>

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box">
				<h3 class="howdo-title">여행지에서 활용 만점, 무료 앱</h3>
				<table class="idpt-tbl-type03 idpt-mt40">
					<caption>여행지에서 활용 만점, 무료 앱</h3></caption>
					<colgroup>
						<col style="width:32%">
						<col style="width:32%">
						<col style="width:32%">
					</colgroup>
					<thead>
					</thead>
					<tbody>
						<tr>
							<td>
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont25_6.jpg" alt="" style="max-width:4.375rem">
								</div>
								<p class="txt-gray gray-sub align-center idpt-mt20">모르는 길도 척척<br>구글 지도</p>
								<a href="https://play.google.com/store/apps/details?id=com.google.android.apps.maps" class="fe-link-external idpt-btn-table center small btn-blue-nostyle small idpt-mt20" target="_blank">다운로드</a>
							</td>
							<td>
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont25_7.jpg" alt="" style="max-width:4.375rem">
								</div>
								<p class="txt-gray gray-sub align-center idpt-mt20">언어장벽 극복<br>구글 번역</p>
								<a href="https://play.google.com/store/apps/details?id=com.google.android.apps.translate" class="fe-link-external idpt-btn-table center small btn-blue-nostyle small idpt-mt20" target="_blank">다운로드</a>
							</td>
							<td>
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont25_8.jpg" alt="" style="max-width:4.375rem">
								</div>
								<p class="txt-gray gray-sub align-center idpt-mt20">안전한 여행 가이드<br>해외안전여행</p>
								<a href="https://play.google.com/store/apps/details?id=com.mofat.safetravel" class="fe-link-external idpt-btn-table center small btn-blue-nostyle small idpt-mt20" target="_blank">다운로드</a>
							</td>
						</tr>

					</tbody>
				</table>

            </div>


        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
