
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">이럴 땐 이렇게 하세요</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box howdo howdo-bg19">
                <h2 class="howdo-title">아이 안전을 위한<br>스마트폰 활용방법</h2>
            </div>
            <!--// 타이틀 영역 -->

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
				<h3 class="howdo-title">
					자녀의 안전지킴 기능<br>100배 활용법
				</h3>

				<ul class="idpt-imgline-list idpt-mt40">
					<li class="no-border">
						<div class="imgline-subject">
							<div class="idpt-img-box left">
								<img src="{{cdn}}/img/customer/howdo/howdo_cont19_1.jpg" alt="" style="max-width:3.5rem">
							</div>
						</div>
						<div class="imgline-cont">
							<p class="txt-gray">우리아이 위험감지를 위한 종합 안심 앱<br>T청소년 안심팩을 이용해 보세요.</p>
						</div>
					</li>
				</ul>

				<hr style="display:block; clear:both; width:100%; height:0;">

				<div class="idpt-btn-wrap w50 idpt-mt40">
					<a href="/product/apps/app?appId=TW50000031" class="fe-link-internal idpt-btn-cs btn-full btn-blue">자세히 보기</a>
					<a href="https://play.google.com/store/apps/details?id=kr.co.safet.sk" class="fe-link-external idpt-btn-cs btn-full btn-blue-noborder" target="_blank">다운로드</a>
				</div>

				<p class="txt-black idpt-mt40">가입 / 이용방법</p>

				<ul class="idpt-box-list idpt-mt40">
					<li class="w100-arrow"><p class="box-cont">T청소년 안심팩 서비스 가입(자녀폰)</p></li>
					<li class="w100-arrow"><p class="box-cont">앱 다운로드(보호자/자녀폰)</p></li>
					<li class="w100-arrow"><p class="box-cont">앱 실행 / 인증(자녀폰 먼저)</p></li>
					<li class="w100"><p class="box-cont">앱 실행(보호자폰)</p></li>
				</ul>
				<ul class="idpt-link-box idpt-mt30">
					<li><a href="/customer/agentsearch" class="fe-link-internal">고객센터와 지점/대리점에서 가입</a></li>
					<li><a href="https://play.google.com/store/apps/details?id=kr.co.safet.sk" class="fe-link-external" target="_blank">다운로드</a></li>
				</ul>

				<p class="txt-gray gray-sub with-star idpt-mt30">
					19세 미만 고객님만 가입 가능(법정대리인 동의 필수)
				</p>
				<p class="txt-gray gray-sub with-star idpt-mt24">
					T끼리 팅 요금제 계열(LTE/3G T끼리 팅 35, 45, 55)은 자동가입되며 이외 요금제는 별도 가입 필요
				</p>

				<hr class="idpt-underline" aria-hidden="true"/>

				<ul class="idpt-imgline-list idpt-mt40">
					<li class="no-border">
						<div class="imgline-subject">
							<div class="idpt-img-box left">
								<img src="{{cdn}}/img/customer/howdo/howdo_cont19_2.jpg" alt="" style="max-width:3.5rem">
							</div>
						</div>
						<div class="imgline-cont">
							<p class="txt-gray">위급상황을 원 버튼으로 알릴 수 있는 호출<br>서비스 스마트 초록버튼을 이용해 보세요.</p>
						</div>
					</li>
				</ul>

				<!--
				<div class="idpt-btn-wrap idpt-mt10">
					<a href="#none" class="idpt-btn-table btn-blue-nostyle small">다운로드</a>
				</div>
				-->
				<div class="idpt-btn-wrap w50 idpt-mt40">
					<a href="https://play.google.com/store/apps/details?id=com.lucis.smartgreenbtn.protector" class="fe-link-external idpt-btn-cs btn-full btn-blue-noborder" target="_blank">다운로드</a>
				</div>

				<p class="txt-black idpt-mt40">가입 / 이용방법</p>

				<ul class="idpt-box-list idpt-mt40">
					<li class="w100-arrow"><p class="box-cont">스마트 초록버튼 기기 구매</p></li>
					<li class="w100-arrow"><p class="box-cont">스마트 초록버튼 웹사이트 회원가입</p></li>
					<li class="w100-arrow"><p class="box-cont">앱 다운로드 설치(보호자/자녀폰)</p></li>
					<li class="w100"><p class="box-cont">초록버튼 등록(자녀폰)</p></li>
				</ul>

				<ul class="idpt-link-box idpt-mt30">
					<li><a href="/customer/agentsearch" class="fe-link-internal">대리점 찾기</a></li>
					<li><a href="https://play.google.com/store/apps/details?id=com.lucis.smartgreenbtn.protector" class="fe-link-external" target="_blank">보호자용 다운로드</a></li>
					<li><a href="https://play.google.com/store/apps/details?id=com.lucis.smartgreenbtn" class="fe-link-external" target="_blank">자녀용 다운로드</a></li>
				</ul>
				<p class="txt-gray gray-sub with-star idpt-mt24">
					스마트 초록버튼 전용 기기는 SK텔레콤 공식인증 대리점에서 별도 구매(서비스 문의 1599-5800)
				</p>
				<p class="txt-gray gray-sub with-star idpt-mt24">
					보호자와 자녀 모두 안드로이드 OS 기반의 스마트폰을 사용하셔야 스마트 초록버튼 서비스를 이용 가능
				</p>

				<hr class="idpt-underline" aria-hidden="true"/>

				<ul class="idpt-imgline-list idpt-mt40">
					<li class="no-border">
						<div class="imgline-subject">
							<div class="idpt-img-box left">
								<img src="{{cdn}}/img/customer/howdo/howdo_cont19_3.jpg" alt="" style="max-width:3.5rem">
							</div>
						</div>
						<div class="imgline-cont">
							<p class="txt-gray">아직 학교를 다니지 않는 아이를 보호하기 위한 시계형 기기 T키즈폰 준(JooN)을 사용해 보세요.</p>
						</div>
					</li>
				</ul>

				<p class="txt-black idpt-mt80">주요기능과 가입 방법</p>
				<ul class="idpt-box-list idpt-mt40">
					<li class="w100-arrow">
						<p class="box-cont">
							<div><span class="txt-gray with-dot">응급상황 알림</span></div>
							<div><span class="txt-gray with-dot">실시간 위치확인</span></div>
							<div><span class="txt-gray with-dot">등록된 보호자와 간편통화</span></div>
						</p>
					</li>
					<li class="w100-arrow"><p class="box-cont">T 키즈폰 준 구매 및 가입</p></li>
					<li class="w100"><p class="box-cont">앱 다운로드 및 등록(보호자 폰)</p></li>
				</ul>

				<ul class="idpt-link-box idpt-mt30">
					<li><a href="/customer/agentsearch" class="fe-link-internal">대리점 찾기</a></li>
					<li><a href="https://goingnow.co.kr/" class="fe-link-external" target="_blank">다운로드</a></li>
				</ul>
				<p class="txt-gray gray-sub with-star idpt-mt24">
					12세 이하 어린이만 가입 가능
				</p>
				<p class="txt-gray gray-sub with-star idpt-mt24">
					SK텔레콤 공식 인증 대리점에서 구매와 가입하실 수 있고<br>T 키즈 안심요금제(8,800원, 부가세 포함)가 적용
				</p>

				<!-- <hr class="idpt-underline" aria-hidden="true"/>

				<ul class="idpt-imgline-list idpt-mt40">
					<li class="no-border">
						<div class="imgline-subject">
							<div class="idpt-img-box left">
								<img src="{{cdn}}/img/customer/howdo/howdo_cont19_4.jpg" alt="" style="max-width:3.5rem">
							</div>
						</div>
						<div class="imgline-cont">
							<p class="txt-gray">자녀 안전은 물론 친근한 디자인과 재미 기능이 있는 LG키즈온</p>
						</div>
					</li>
				</ul>

				<hr style="display:block; clear:both; width:100%; height:0;">

				<div class="idpt-btn-wrap w50 idpt-mt40">
					<a href="https://www.sktinsight.com/70381" class="fe-link-external idpt-btn-cs btn-full btn-blue" target="_blank">자세히 보기</a>
					<a href="https://play.google.com/store/apps/details?id=com.lge.band" class="fe-link-external idpt-btn-cs btn-full btn-blue-noborder" target="_blank">다운로드</a>
				</div> -->

				<!--
				<div class="idpt-btn-wrap idpt-mt10">
					<a href="#none" class="idpt-btn-table btn-blue-nostyle small">자세히 보기</a>
				</div>
				<div class="idpt-btn-wrap idpt-mt10">
					<a href="#none" class="idpt-btn-table btn-blue-nostyle small">다운로드</a>
				</div>
				-->

			</div>

        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
