
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">이럴 땐 이렇게 하세요</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
		<link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box howdo howdo-bg28">
                <h2 class="howdo-title">데이터 사용요금,<br>걱정 없이 쓰세요</h2>
            </div>
            <!--// 타이틀 영역 -->

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box no-border howdo mh">

                <h3 class="howdo-title idpt-mt0">
					데이터 요금, 이럴 때 발생하니<br>데이터 상태를 확인해 주세요.
				</h3>
				<p class="txt-black idpt-bold idpt-mt80">스마트폰 상단에 LTE 또는 3G 아이콘이 나타난 상태에서</p>

				<ul class="idpt-imgline-list idpt-mt10">
					<li class="four_line no-border">
						<div class="imgline-subject">
							<div class="idpt-img-box left">
								<img src="{{cdn}}/img/customer/howdo/howdo_cont28_1.jpg" alt="" style="max-width:3.6rem">
							</div>
						</div>
						<div class="imgline-cont">
							<p class="txt-gray">1. 인터넷 등을 사용할 때</p>
							<p class="txt-gray">2. SNS, 게임 등 앱 설치 또는 사용할 때</p>
							<p class="txt-gray">3. 자동으로 앱이 업데이트되거나, 데이터가 백업될 때</p>
						</div>

					</li>
				</ul>
			</div>

			<div class="idpt-tab-area">
                <div class="idpt-tab-wrap">
                    <ul class="tab-menu new-tab tab33 clearfix">
                        <li class="on">데이터<br>상태 확인</li>
                        <li>안드로이드폰<br>와이파이 설정</li>
						<li>아이폰<br>와이파이 설정</li>
                    </ul>
                    <div class="tab-contents show">
						<p class="txt-black idpt-bold idpt-mt60">데이터 상태확인</p>
						<div class="idpt-img-box idpt-mt30">
							<img src="{{cdn}}/img/customer/howdo/howdo_cont28_tab01.png" alt="">
						</div>
						<p class="txt-gray idpt-mt30">스마트폰 화면 상단에 전파 모양의 아이콘 <img src="{{cdn}}/img/customer/howdo/howdo_cont28_icon-wifi.jpg" style="width:1.25rem; height:0.875rem;" alt="와이파이 아이콘"> 이 떠 있나요?</p>

						<div class="idpt-img-box idpt-mt80">
							<img src="{{cdn}}/img/customer/howdo/howdo_cont28_tab02.png" alt="">
						</div>
						<p class="txt-gray idpt-mt30">
							전파 모양 아이콘을 와이파이(Wi-Fi)라고 하며 무료로 인터넷 등을 사용하실 수 있는 상태를 의미해요.<br>
							그 외에 LTE 또는 3G표기는 이동통신사의 데이터 망을 사용하는 것이기 때문에 속도는 빠르지만 사용하시는 만큼 사용요금이 발생 돼요.
						</p>
                    </div>

                    <div class="tab-contents">
						<p class="txt-black idpt-bold idpt-mt60">환경설정 > 와이파이 설정</p>
						<div class="idpt-img-box idpt-mt30">
							<img src="{{cdn}}/img/customer/howdo/howdo_cont28_tab03.png" alt="">
						</div>
                        <p class="txt-gray align-center idpt-mt10">[홈 화면]<br>앱스 아이콘 선택</p>

                        <div class="idpt-img-box idpt-mt40">
                            <img src="{{cdn}}/img/customer/common/new-box-list-arrow.png" alt="" style="width:1.75rem; height:0.9375rem">
                        </div>

						<div class="idpt-img-box idpt-mt40">
							<img src="{{cdn}}/img/customer/howdo/howdo_cont28_tab03-2.png" alt="">
						</div>
                        <p class="txt-gray align-center idpt-mt10">[앱스 화면]<br>환경설정 아이콘 선택</p>

                        <div class="idpt-img-box idpt-mt40">
                            <img src="{{cdn}}/img/customer/common/new-box-list-arrow.png" alt="" style="width:1.75rem; height:0.9375rem">
                        </div>

						<div class="idpt-img-box idpt-mt60">
							<img src="{{cdn}}/img/customer/howdo/howdo_cont28_tab03-3.png" alt="">
						</div>
						<p class="txt-gray align-center idpt-mt10">[연결화면]<br>와이파이 켜기</p>

						<p class="txt-gray with-star idpt-mt60">상태표시줄이란?</p>
                        <p class="txt-gray gray-sub idpt-mt10"> 화면 상단의 상태 표시줄의 알림 아이콘들을 통해 부재중 전화, 새 메시지 등을 확인하실 수 있어요.</p>

                        <hr class="idpt-underline">

						<p class="txt-black idpt-bold idpt-mt60">알림 패널 > 와이파이 설정</p>

						<div class="idpt-img-box idpt-mt30">
                            <img src="{{cdn}}/img/customer/howdo/howdo_cont28_tab04.png" alt="">
                        </div>
                        <p class="txt-gray align-center idpt-mt10">화면 상단을<br>위에서 아래로 내리기</p>

                        <div class="idpt-img-box idpt-mt40">
                            <img src="{{cdn}}/img/customer/common/new-box-list-arrow.png" alt="" style="width:1.75rem; height:0.9375rem">
                        </div>

                        <div class="idpt-img-box idpt-mt40">
                            <img src="{{cdn}}/img/customer/howdo/howdo_cont28_tab04-2.png" alt="">
                        </div>
                        <p class="txt-gray align-center idpt-mt10">[알림 패널]<br>와이파이 항목을 켜주세요.</p>

						<p class="txt-gray with-star idpt-mt60">알림 패널이란?</p>
						<p class="txt-gray gray-sub idpt-mt10">
							상태 표시줄을 아래로 드래그하면 알림 패널이 열려요. 알림 패널을 이용해 설정 상태 등을 변경할 수 있고 알림 패널을 위로 드래그하면 알림 패널을 닫을 수 있어요.
						</p>
                    </div>

                    <div class="tab-contents">
						<p class="txt-black idpt-bold idpt-mt60">설정 앱 > 와이파이 설정</p>

						<div class="idpt-img-box idpt-mt30">
							<img src="{{cdn}}/img/customer/howdo/howdo_cont28_tab05.png" alt="">
						</div>
                        <p class="txt-gray align-center idpt-mt10">[홈 화면]<br>설정 아이콘 선택</p>

                        <div class="idpt-img-box idpt-mt40">
                            <img src="{{cdn}}/img/customer/common/new-box-list-arrow.png" alt="" style="width:1.75rem; height:0.9375rem">
                        </div>

						<div class="idpt-img-box idpt-mt60">
							<img src="{{cdn}}/img/customer/howdo/howdo_cont28_tab05-2.png" alt="">
						</div>
                        <p class="txt-gray align-center idpt-mt10">[설정 화면]<br>와이파이 선택</p>

                        <div class="idpt-img-box idpt-mt40">
                            <img src="{{cdn}}/img/customer/common/new-box-list-arrow.png" alt="" style="width:1.75rem; height:0.9375rem">
                        </div>

						<div class="idpt-img-box idpt-mt60">
							<img src="{{cdn}}/img/customer/howdo/howdo_cont28_tab05-3.png" alt="">
						</div>
                        <p class="txt-gray align-center idpt-mt10">[와이파이 화면]<br>와이파이 항목을 켜짐으로 변경해 주세요.</p>

                        <hr class="idpt-underline">

                        <p class="txt-black idpt-bold idpt-mt60">제어 센터 > 와이파이 설정</p>

                        <div class="idpt-img-box idpt-mt30">
                            <img src="{{cdn}}/img/customer/howdo/howdo_cont28_tab06.png" alt="">
                        </div>
                        <p class="txt-gray align-center idpt-mt10">화면 하단을<br>아래에서 위로 올리기</p>

                        <div class="idpt-img-box idpt-mt40">
                            <img src="{{cdn}}/img/customer/common/new-box-list-arrow.png" alt="" style="width:1.75rem; height:0.9375rem">
                        </div>

                        <div class="idpt-img-box idpt-mt60">
                            <img src="{{cdn}}/img/customer/howdo/howdo_cont28_tab06-2.png" alt="">
                        </div>
                        <p class="txt-gray align-center idpt-mt10">[제어 센터]<br>와이파이 항목을 켜주세요.</p>

						<p class="txt-gray with-star idpt-mt60">제어 센터란?</p>
						<p class="txt-gray gray-sub idpt-mt10">와이파이 설정 외에 블루투스, 방해모드, 화면회전금지등과 같은 설정은 물론 손전등, 알람, 계산기, 카메라를 쉽게 실행시킬 수 있어요.</p>
                    </div>

	            </div>
			</div>

			<hr class="idpt-seperator no-border" aria-hidden="true"/>
			<div class="idpt-cont-box howdo">
                <h3 class="howdo-title">
					데이터 사용 설정으로<br>데이터를 현명하게 사용해 보세요.
				</h3>
                <p class="txt-black txt-icon idpt-mt80">데이터 사용 제한을 설정해 보세요.</p>

                <p class="txt-gray idpt-mt20">사용할 수 있는 무료 데이터양 보다 적게 설정해 두시면 데이터를 초과하여 사용하지 않을 수 있어요.</p>

				<ul class="idpt-box-list new-box-list">
					<li class="w100-arrow"><p class="box-title">STEP. 01</p><p class="box-cont">환경설정</p></li>
                    <li class="w100-arrow"><p class="box-title">STEP. 02</p><p class="box-cont">연결</p></li>
                    <li class="w100-arrow"><p class="box-title">STEP. 03</p><p class="box-cont">데이터 사용량</p></li>
                    <li class="w100-arrow"><p class="box-title">STEP. 04</p><p class="box-cont">모바일 데이터 사용량</p></li>
                    <li class="w100">
                        <p class="box-title">STEP. 05</p>
                        <p class="box-cont">설정</p>
                        <div class="idpt-img-box idpt-mt40">
                            <img src="{{cdn}}/img/customer/howdo/howdo_cont28_10.png" alt="">
                        </div>
                        <p class="txt-gray gray-sub align-center">[데이터 사용량]<br>설정 아이콘 클릭</p>
                        <div class="idpt-img-box idpt-mt40">
                            <img src="{{cdn}}/img/customer/common/new-box-list-arrow.png" alt="" style="width:1.75rem; height:0.9375rem">
                        </div>
                        <div class="idpt-img-box idpt-mt40">
                            <img src="{{cdn}}/img/customer/howdo/howdo_cont28_11.png" alt="">
                        </div>
                        <p class="txt-gray gray-sub align-center">[데이터 사용량]<br>제한 설정 체크!</p>
                        <div class="idpt-img-box idpt-mt40">
                            <img src="{{cdn}}/img/customer/common/new-box-list-arrow.png" alt="" style="width:1.75rem; height:0.9375rem">
                        </div>
                        <div class="idpt-img-box idpt-mt40">
                            <img src="{{cdn}}/img/customer/howdo/howdo_cont28_12.png" alt="">
                        </div>
                        <p class="txt-gray gray-sub align-center">[사용주기 설정]<br>매달 1일로 설정</p>
                        <div class="idpt-img-box idpt-mt40">
                            <img src="{{cdn}}/img/customer/common/new-box-list-arrow.png" alt="" style="width:1.75rem; height:0.9375rem">
                        </div>
                        <div class="idpt-img-box idpt-mt40">
                            <img src="{{cdn}}/img/customer/howdo/howdo_cont28_13.png" alt="">
                        </div>
                        <p class="txt-gray gray-sub align-center">[데이터사용량 설정]<br>선을 꾹 누른 후 드래그로 조정<br>
                        <span>* 붉은색 선 : 데이터 사용제한<br>* 주황색 선 : 데이터 경고</span></p>
                    </li>
				</ul>

                <p class="txt-black txt-icon idpt-mt80">데이터 접속 차단을 설정해 보세요.</p>

                <p class="txt-gray idpt-mt30">데이터 접속 차단을 설정하면 데이터 접속이 안되기 때문에 데이터 사용요금이 발생하지 않아요.</p>

				<ul class="idpt-box-list new-box-list">
					<li class="w100-arrow"><p class="box-title">STEP. 01</p><p class="box-cont">환경설정</p></li>
					<li class="w100-arrow"><p class="box-title">STEP. 02</p><p class="box-cont">연결</p></li>
                    <li class="w100"><p class="box-title">STEP. 03</p><p class="box-cont">데이터 사용량</p>
                        <div class="idpt-img-box idpt-mt40">
                            <img src="{{cdn}}/img/customer/howdo/howdo_cont28_7.png" alt="">
                        </div>
                    </li>
				</ul>

			</div>

			<hr class="idpt-seperator no-border" aria-hidden="true"/>
			<div class="idpt-cont-box howdo">
                <h3 class="howdo-title">
					데이터가 제공되는 요금제를<br>이용해 보세요.
				</h3>
				<p class="txt-black idpt-mt60">데이터가 기본 제공되는 데이터 요금제를 이용해 보세요.</p>
				<ul class="idpt-imgline-list idpt-mt30">
					<li class="four_line no-border">
						<div class="imgline-subject">
							<div class="idpt-img-box left">
								<img src="{{cdn}}/img/customer/howdo/howdo_cont28_8.png" alt="" style="max-width:3.6875rem">
							</div>
						</div>
						<div class="imgline-cont">
							<p class="txt-gray" style="margin-top:1rem">한 달에 300MB ~ 30GB등 기본 데이터가 제공되는 다양한 요금제예요.</p>
						</div>
						<div class="idpt-btn-wrap w100 idpt-mt40">
							<a href="/product/callplan?prod_id=NA00004775" class="fe-link-internal idpt-btn-table btn-blue-nostyle small">band 데이터 퍼펙트</a>
							<a href="/product/callplan?prod_id=NA00004772" class="fe-link-internal idpt-btn-table btn-blue-nostyle small">band 데이터 3.5G</a>
						</div>
					</li>
				</ul>

				<hr class="idpt-underline">

				<p class="txt-black idpt-mt60">실버 요금제에 대해서 들어보셨어요?</p>

				<ul class="idpt-imgline-list idpt-mt0">
					<li class="four_line no-border">
						<div class="imgline-subject">
							<div class="idpt-img-box left">
								<img src="{{cdn}}/img/customer/howdo/howdo_cont28_9.png" alt="" style="max-width:3.6875rem">
							</div>
						</div>
						<div class="imgline-cont">
							<p class="txt-gray" style="margin-top:1rem">만 65세 이상의 노년층 라이프 스타일에 맞춘 요금제예요.</p>
						</div>

						<hr class="clear">

						<div class="idpt-btn-wrap w100 idpt-mt40">
							<a href="/product/callplan?prod_id=NA00004809" class="fe-link-internal idpt-btn-table btn-blue-nostyle small">band 어르신 1.2G</a>
							<a href="/product/callplan?prod_id=NA00004934" class="fe-link-internal idpt-btn-table btn-blue-nostyle small">T끼리 어르신</a>
						</div>

						<hr class="clear">

						<div class="idpt-btn-wrap maxw idpt-mt60">
							<a href="/myt-data/hotdata" class="fe-link-internal idpt-btn-cs btn-full btn-blue">데이터 잔여량 확인하기</a>
                        </div>
                        <div class="idpt-btn-wrap maxw idpt-mt30">
                            <a href="javascript:void(0)" data-popup="popup02" class="idpt-popup-open idpt-btn-cs btn-full btn-blue">스마트폰 분실 / 스미싱 사기가 걱정될 때</a>
                        </div>

						<hr class="clear">

						<p class="txt-gray gray-sub with-star idpt-mt40">해당 예시는 갤럭시 S4 또는 iOS8 예요. 스마트폰의 종류나 OS에 따라 화면의 구성이 다를 수 있어요.</p>
					</li>
				</ul>
            </div>

            <!-- popup 시작 -->
			<div class="idpt-popup">

                <div class="idpt-popup-wrap" id="popup02">
                    <div class="idpt-popup-header">
                        <p class="popup-title">스마트폰 분실 / 스미싱 사기가 걱정될 때</p>
                        <a href="javascript:void(0)" onclick="history.back();" class="idpt-popup-close">팝업닫기</a>
                    </div>
                    <div class="idpt-popup-cont-wrap">
                        <div class="idpt-popup-cont">

                            <p class="txt-black idpt-bold idpt-mt60 align-center">
                                분실할 경우<br>스마트폰 이용내역이 걱정되실 때
                            </p>
                            <table class="idpt-tbl-type03 popup-table">
                                <caption>분실할 경우 스마트폰 이용내역이 걱정되실 때</caption>
                                <colgroup>
                                    <col style="width:30%">
                                    <col style="width:auto">
                                </colgroup>
                                <thead>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="idpt-img-box left">
                                                <img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup28-2.jpg" alt="" style="max-width:4.6rem" alt="">
                                            </div>
                                        </td>
                                        <td>
                                            <p class="txt-black idpt-mt20">
                                                소액결제 확인, 실시간 요금조회, 통화내역 열람 등을 확인해 보세요.
                                            </p>
                                            <div class="idpt-btn-wrap idpt-mt20">
                                                <a href="/customer/faq/do-like-this?id=B00038" class="fe-link-internal idpt-btn-table btn-blue-nostyle small left">자세히 보기</a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="idpt-img-box left">
                                                <img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup28-3.jpg" alt="" style="max-width:4.6rem" alt="">
                                            </div>
                                        </td>
                                        <td>
                                            <p class="txt-black idpt-mt20">
                                                전화하는 스미싱, 수법, 의심스러운 문자는 받는 즉시 삭제해 주세요.
                                            </p>
                                            <div class="idpt-btn-wrap idpt-mt20">
                                                <a href="/customer/faq/do-like-this?id=B00049" class="fe-link-internal idpt-btn-table btn-blue-nostyle small left">자세히 보기</a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <!--// popup 끝 -->

        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
