
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">이럴 땐 이렇게 하세요</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box howdo howdo-bg29">
                <h2 class="howdo-title">스마트폰 초보 탈출을<br>위한 이용방법</h2>
            </div>
            <!--// 타이틀 영역 -->

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
                <h3 class="howdo-title idpt-mt0">
					배경화면에서 벨소리까지,<br>나만의 개성으로 스마트폰을<br>꾸며 보세요.
				</h3>
				<p class="txt-black txt-icon idpt-mt60">배경화면 꾸미기</p>
				<p class="txt-gray idpt-mt30">
					기본 제공 이미지 뿐만 아니라 직접 촬영한 사진 등 다양한 이미지로 고객님만의 배경화면을 꾸미실 수 있어요.
				</p>
				<ul class="idpt-box-list new-box-list">
					<li class="w100-arrow"><p class="box-title">STEP. 01</p><p class="box-cont">환경설정</p></li>
					<li class="w100"><p class="box-title">STEP. 02</p><p class="box-cont">배경화면 및 테마</p>
						<div class="idpt-img-box idpt-mt40">
							<img src="{{cdn}}/img/customer/howdo/howdo_cont29_2.png" alt="나의 배경화면 목록에서 선택">
						</div>
					</li>
				</ul>

				<p class="txt-black txt-icon idpt-mt80">기본 제공 벨소리에서 선택하기</p>
				<p class="txt-gray idpt-mt30">
					원하는 벨소리로 선택해 보세요.
				</p>
				<ul class="idpt-box-list new-box-list">
					<li class="w100-arrow"><p class="box-title">STEP. 01</p><p class="box-cont">환경설정</p></li>
					<li class="w100-arrow"><p class="box-title">STEP. 02</p><p class="box-cont">소리 및 진동</p></li>
					<li class="w100"><p class="box-title">STEP. 03</p><p class="box-cont">벨소리</p>
						<div class="idpt-img-box idpt-mt40">
							<img src="{{cdn}}/img/customer/howdo/howdo_cont29_4.png" alt="벨소리 목록에서 곡 선택">
						</div>
					</li>
				</ul>

				<p class="txt-black txt-icon idpt-mt80">다운로드한 음악을 벨소리로 만들기</p>
				<p class="txt-gray idpt-mt30">
					벨소리 목록 상단 추가 버튼으로 다운로드한 음악을 벨소리로 만들 수 있어요.
				</p>
				<ul class="idpt-box-list new-box-list">
					<li class="w100-arrow"><p class="box-title">STEP. 01</p><p class="box-cont">환경설정</p></li>
					<li class="w100-arrow"><p class="box-title">STEP. 02</p><p class="box-cont">소리 및 진동</p></li>
					<li class="w100"><p class="box-title">STEP. 03</p><p class="box-cont">벨소리</p>
						<div class="idpt-img-box idpt-mt40">
							<img src="{{cdn}}/img/customer/howdo/howdo_cont29_5.png" alt="벨소리 목록에서 곡 선택 후 추가">
						</div>

						<div class="idpt-img-box idpt-mt40">
							<img src="{{cdn}}/img/customer/common/new-box-list-arrow.png" alt="" style="width:1.75rem; height:0.9375rem">
						</div>

						<div class="idpt-img-box idpt-mt40">
							<img src="{{cdn}}/img/customer/howdo/howdo_cont29_5_1.png" alt="사운드 선택기에서 곡 선택">
						</div>
					</li>
				</ul>

				<ul class="idpt-link-box right-align idpt-mt40">
					<li>
						<a href="javascript:void(0)" data-popup="popup01" class="idpt-popup-open">통화연결음, 컬러링 설정</a>
					</li>
				</ul>

			</div>

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
                <h3 class="howdo-title">
					전화 통화와 문자 보내실 때도<br>보다 편리하게 이용해 보세요.
				</h3>
				<table class="idpt-tbl-type03 idpt-mt60">
					<caption>전화 통화와 문자 보내실 때도 보다 편리하게 이용해 보세요.</caption>
					<colgroup>
						<col style="width:50%">
						<col style="width:50%">
					</colgroup>
					<thead>
					</thead>
					<tbody>
						<tr>
							<td>
								<div class="idpt-img-box idpt-mt0">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont29_6.jpg" alt="" style="max-width:7.1875rem">
								</div>
								<div class="idpt-btn-wrap idpt-mt0">
									<a href="javascript:void(0)" data-popup="popup03" class="idpt-popup-open idpt-btn-table btn-full btn-blue-nostyle center small">영상통화와 단축번호<br>지정하기</a>
								</div>
							</td>
							<td>
								<div class="idpt-img-box idpt-mt0">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont29_7.jpg" alt="" style="max-width:7.1875rem">
								</div>
								<div class="idpt-btn-wrap idpt-mt0">
									<a href="javascript:void(0)" data-popup="popup04" class="idpt-popup-open idpt-btn-table btn-full btn-blue-nostyle center small">여러 사람에게<br>사진, 문자 보내기</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<!-- popup 시작 -->
			<div class="idpt-popup">

			<div class="idpt-popup-wrap" id="popup01">
				<div class="idpt-popup-header">
					<p class="popup-title">통화 연결음 / 컬러링 설정</p>
					<a href="javascript:void(0)" onclick="history.back();" class="idpt-popup-close">팝업닫기</a>
				</div>
				<div class="idpt-popup-cont-wrap">
					<div class="idpt-popup-cont">

						<table class="idpt-tbl-type03 popup-table">
							<caption></caption>
							<colgroup>
								<col style="width:30%">
								<col style="width:auto">
							</colgroup>
							<thead>
							</thead>
							<tbody>
								<tr >
									<td>
										<div class="idpt-img-box left">
											<img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup29-1.jpg" alt="" style="max-width:4.5rem">
										</div>
									</td>
									<td>
										<p class="txt-black idpt-bold">
											T컬러링 / T벨링 (벨소리와 컬러링)
										</p>
										<p class="txt-gray idpt-mt30">
											컬러링 앱 하나면 음악 검색은 물론 상황별 컬러링까지 추천해 드려요.
										</p>
										<ul class="idpt-link-box idpt-mt30">
											<li><a href="https://m.onestore.co.kr/mobilepoc/apps/appsDetail.omp?prodId=0000655225" class="fe-link-external" target="_blank">T컬러링</a></li>
											<li><a href="https://m.onestore.co.kr/mobilepoc/apps/appsDetail.omp?prodId=0000055120" class="fe-link-external" target="_blank">T벨링(벨소리와 컬러링)</a></li>
										</ul>
									</td>
								</tr>
								<tr>
									<td>
										<div class="idpt-img-box left">
											<img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup29-2.jpg" alt="" style="max-width:4.5rem">
										</div>
									</td>
									<td>
										<p class="txt-black idpt-bold">
											컬러링 정액제
										</p>
										<p class="txt-gray idpt-mt30">
											다양한 컬러링 콘텐츠를 저렴하게 이용할 수 있는 월정액 요금제예요.
										</p>
										<ul class="idpt-link-box idpt-mt30">
											<li><a href="/product/callplan?prod_id=NA00000585" class="fe-link-internal">컬러링 정액제</a></li>
											<li><a href="/product/callplan?prod_id=NA00000517" class="fe-link-internal">컬러링 무제한 정액제</a></li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>

			</div>

				<div class="idpt-popup-wrap" id="popup03">
					<div class="idpt-popup-header">
						<p class="popup-title">영상통화와 단축번호 지정하기</p>
						<a href="javascript:void(0)" onclick="history.back();" class="idpt-popup-close">팝업닫기</a>
					</div>
					<div class="idpt-popup-cont-wrap">
						<div class="idpt-popup-cont">

							<p class="txt-black idpt-bold">영상통화 이용하기</p>
							<ul class="idpt-box-list">
								<li class="w100-arrow"><p class="box-title">STEP. 01</p><p class="box-cont">전화</p></li>
								<li class="w100-arrow"><p class="box-title">STEP. 02</p><p class="box-cont">키패드</p></li>
								<li class="w100-arrow"><p class="box-title">STEP. 03</p><p class="box-cont">번호입력</p></li>
								<li class="w100"><p class="box-title">STEP. 04</p><p class="box-cont">영상통화</p></li>
							</ul>
							<p class="txt-gray gray-sub idpt-mt30">
								멀리 떨어져 지내는 가족 또는 보고 싶은 사람이 있을 때 스마트폰의 영상통화 기능을 이용해 보세요.
							</p>

							<p class="txt-black idpt-bold idpt-mt60">단축번호 설정하기</p>
							<ul class="idpt-box-list">
								<li class="w100-arrow"><p class="box-title">STEP. 01</p><p class="box-cont">연락처</p></li>
								<li class="w100-arrow"><p class="box-title">STEP. 02</p><p class="box-cont">메뉴버튼</p></li>
								<li class="w100"><p class="box-title">STEP. 03</p><p class="box-cont">단축번호 설정</p></li>
							</ul>
							<p class="txt-gray gray-sub idpt-mt30">
								전화 걸 때 전화번호를 직접 입력하지 않아도 단축번호 설정만으로 편리하게 전화를 거실 수 있어요..
							</p>

						</div>
					</div>
				</div>

				<div class="idpt-popup-wrap" id="popup04">
					<div class="idpt-popup-header">
						<p class="popup-title">여러 사람에게 사진, 문자 보내기</p>
						<a href="javascript:void(0)" onclick="history.back();" class="idpt-popup-close">팝업닫기</a>
					</div>
					<div class="idpt-popup-cont-wrap">
						<div class="idpt-popup-cont">

							<p class="txt-black idpt-bold">여러 사람에게 문자 보내기</p>
							<ul class="idpt-box-list">
								<li class="w100-arrow"><p class="box-title">STEP. 01</p><p class="box-cont">메시지</p></li>
								<li class="w100-arrow"><p class="box-title">STEP. 02</p><p class="box-cont">작성</p></li>
								<li class="w100"><p class="box-title">STEP. 03</p><p class="box-cont">수신자 선택</p></li>
							</ul>
							<p class="txt-gray gray-sub idpt-mt30">
								가족 행사 일시 등 여러 사람에게 문자를 보내실 때 그룹전송 기능을 이용해 보세요.
							</p>

							<p class="txt-black idpt-bold idpt-mt60">문자 보낼 때 사진도 함께 보내기</p>
							<ul class="idpt-box-list">
								<li class="w100-arrow"><p class="box-title">STEP. 01</p><p class="box-cont">메시지</p></li>
								<li class="w100-arrow"><p class="box-title">STEP. 02</p><p class="box-cont">작성</p></li>
								<li class="w100"><p class="box-title">STEP. 03</p><p class="box-cont">첨부</p></li>
							</ul>
							<p class="txt-gray gray-sub idpt-mt30">
								메시지 기능에서는 글자 뿐만 아니라 사진, 동영상 등도 함께 보내실 수 있어요.
							</p>

						</div>
					</div>
				</div>

			</div>
			<!--// popup 끝 -->

			<hr class="idpt-seperator no-border" aria-hidden="true"/>
			<div class="idpt-cont-box no-border howdo">
                <h3 class="howdo-title">
					스마트폰 화면 구성 안내
				</h3>
				<p class="txt-black txt-icon idpt-mt60">스마트폰 초기 설정하는 방법</p>

				<p class="txt-black idpt-mt40">디스플레이 설정</p>

				<ul class="idpt-box-list new-box-list">
					<li class="w100-arrow"><p class="box-title">STEP. 01</p><p class="box-cont">환경설정</p></li>
					<li class="w100"><p class="box-title">STEP. 02</p><p class="box-cont">디스플레이</p>
						<div class="idpt-img-box idpt-mt40">
							<img src="{{cdn}}/img/customer/howdo/howdo_cont29_9.png" alt="밝기 등 설정">
						</div>
					</li>
				</ul>

				<p class="txt-black idpt-mt60">소리 설정</p>

				<ul class="idpt-box-list new-box-list">
					<li class="w100-arrow"><p class="box-title">STEP. 01</p><p class="box-cont">환경설정</p></li>
					<li class="w100"><p class="box-title">STEP. 02</p><p class="box-cont">소리 및 진동</p>
						<div class="idpt-img-box idpt-mt40">
							<img src="{{cdn}}/img/customer/howdo/howdo_cont29_11.png" alt="소리 모드, 볼륨, 벨소리 등 설정">
						</div>
					</li>
				</ul>

				<p class="txt-black txt-icon idpt-mt80">스마트폰 살펴보기</p>

			</div>

			<div class="idpt-tab-area idpt-mt0">
                <div class="idpt-tab-wrap">
                    <ul class="tab-menu new-tab tab50 clearfix">
                        <li class="on">안드로이드</li>
                        <li>아이폰</li>
                    </ul>
                    <div class="tab-contents show">
						<p class="txt-black idpt-bold idpt-mt60">상태표시 아이콘</p>

						<div class="idpt-img-box idpt-mt40">
							<img src="{{cdn}}/img/customer/howdo/howdo_cont29_tab01.png" alt="신호없음, 신호 세기 표시, 비행기 탑승 모드, LTE네트워크, Wi-Fi네트워크, 부재중 전화 수신, 문자 또는 MMS 수신, 진동 모드 실행 중, 음소거 모드 실행 중, MicroUSIM 카드 없음, 컴퓨터에 연결 중, 알람, GPS 켜짐, 블루투스, 베터리">
						</div>

						<p class="txt-black idpt-bold idpt-mt60">상태표시 아이콘 상세보기(1/2)</p>
						<ul class="idpt-imgline-list idpt-mt20">
							<li class="five_line no-border">
								<div class="imgline-subject">
									<div class="idpt-img-box">
										<img src="{{cdn}}/img/customer/howdo/howdo_cont29_tab01-1.jpg" alt="" style="max-width:4rem">
									</div>
								</div>
								<div class="imgline-cont">
									<p class="txt-black">비행기 탑승 모드</p>
									<p class="txt-gray idpt-mt20">
										비행기에 탑승하면 안전을 위해 전화, 메시지, 인터넷과 같은 통신 관련 기능을 제한하고 나머지 기능은 그대로 사용할 수 있도록 설정 / 해제해 주세요.
									</p>
								</div>
							</li>
							<li class="four_line no-border">
								<div class="imgline-subject">
									<div class="idpt-img-box">
										<img src="{{cdn}}/img/customer/howdo/howdo_cont29_tab01-2.jpg" alt="" style="max-width:4rem">
									</div>
								</div>
								<div class="imgline-cont">
									<p class="txt-black">부재 중 전화 수신</p>
									<p class="txt-gray idpt-mt20">
										걸려 온 전화를 받지 못한 경우에 표시 돼요. 화면 상단의 알림 패널을 열면 부재 중 전화내역을 확인하실 수 있어요.
									</p>
								</div>
							</li>
							<li class="three_line no-border">
								<div class="imgline-subject">
									<div class="idpt-img-box">
										<img src="{{cdn}}/img/customer/howdo/howdo_cont29_tab01-3.jpg" alt="" style="max-width:3.5rem">
									</div>
								</div>
								<div class="imgline-cont">
									<p class="txt-black">문자수신</p>
									<p class="txt-gray idpt-mt20">
										휴대폰이 와이파이 네트워크를 통해 인터넷에 연결 돼요.
									</p>
								</div>
							</li>
							<li class="four_line no-border">
								<div class="imgline-subject">
									<div class="idpt-img-box">
										<img src="{{cdn}}/img/customer/howdo/howdo_cont29_tab01-4.jpg" alt="" style="max-width:3.5rem">
									</div>
								</div>
								<div class="imgline-cont">
									<p class="txt-black">마이크로 유심 카드 없음</p>
									<p class="txt-gray idpt-mt20">
										마이크로 유심 카드를 삽입하지 않았거나 잘못 삽입한 경우, 마이크로 유심을 인식하지 못하는 경우에 표시 돼요.
									</p>
								</div>
							</li>
						</ul>

						<hr class="clear">

						<p class="txt-black idpt-bold idpt-mt60">상태표시 아이콘 상세보기(2/2)</p>
						<ul class="idpt-imgline-list idpt-mt20">
							<li class="four_line no-border">
								<div class="imgline-subject">
									<div class="idpt-img-box">
										<img src="{{cdn}}/img/customer/howdo/howdo_cont29_tab01-5.jpg" alt="" style="max-width:3.5rem">
									</div>
								</div>
								<div class="imgline-cont">
									<p class="txt-black">컴퓨터에 연결 중</p>
									<p class="txt-gray idpt-mt20">
										컴퓨터에 있는 음악이나 동영상 등을 스마트폰에 복사하기 위해 컴퓨터에 연결한 경우에 표시 돼요.
									</p>
								</div>
							</li>
							<li class="four_line no-border">
								<div class="imgline-subject">
									<div class="idpt-img-box">
										<img src="{{cdn}}/img/customer/howdo/howdo_cont29_tab01-6.jpg" alt="" style="max-width:3.5rem">
									</div>
								</div>
								<div class="imgline-cont">
									<p class="txt-black">GPS 켜짐</p>
									<p class="txt-gray idpt-mt20">
										GPS를 켜두면 지도나 카메라와 같은 위치 기반 앱에서 위치를 나타내는 데이터를 모으고 이용하실 수 있어요.
									</p>
								</div>
							</li>
							<li class="three_line no-border">
								<div class="imgline-subject">
									<div class="idpt-img-box">
										<img src="{{cdn}}/img/customer/howdo/howdo_cont29_tab01-7.jpg" alt="" style="max-width:3.5rem">
									</div>
								</div>
								<div class="imgline-cont">
									<p class="txt-black">블루투스</p>
									<p class="txt-gray idpt-mt20">
										블루투스 기능을 이용하면 가까운 거리에 있는 기기와 데이터를 공유하실 수 있어요.
									</p>
								</div>
							</li>
						</ul>
						<p class="txt-gray with-star idpt-mt30">해당 예시는 갤럭시 S4 또는 iOS8예요. 스마트폰의 종류나 OS에 따라 화면의 구성이 다를 수 있어요.</p>
                    </div>

                    <div class="tab-contents">
						<p class="txt-black idpt-bold idpt-mt60">상태표시 아이콘</p>

						<div class="idpt-img-box idpt-mt40">
							<img src="{{cdn}}/img/customer/howdo/howdo_cont29_tab02.png" alt="셀 신호, 에어플레인 모드, LTE네트워크, Wi-Fi네트워크, 방해금지 모드, 개인용 핫스팟, 동기화 진행중, 네트워크 활성상태, 착신통화 전환, 세로화면 방향고정, 알람, 위치서비스, 블루투스, 블루투스 배터리, 배터리">
						</div>

						<p class="txt-black idpt-bold idpt-mt60">상태표시 아이콘 상세보기(1/2)</p>
						<ul class="idpt-imgline-list idpt-mt20">
							<li class="four_line no-border">
								<div class="imgline-subject">
									<div class="idpt-img-box">
										<img src="{{cdn}}/img/customer/howdo/howdo_cont29_tab02-1.jpg" alt="" style="max-width:3.5rem">
									</div>
								</div>
								<div class="imgline-cont">
									<p class="txt-black">셀 신호</p>
									<p class="txt-gray idpt-mt20">
										네트워크의 범위에 있으면 전화를 걸거나 받을 수 있어요. 신호가 없는 경우 ‘서비스 안 됨’이 나타나요.
									</p>
								</div>
							</li>
							<li class="four_line no-border">
								<div class="imgline-subject">
									<div class="idpt-img-box">
										<img src="{{cdn}}/img/customer/howdo/howdo_cont29_tab02-2.jpg" alt="" style="max-width:3.5rem">
									</div>
								</div>
								<div class="imgline-cont">
									<p class="txt-black">비행기 모드</p>
									<p class="txt-gray idpt-mt20">
										비행기 모드가 켜져 있으면 전화를 걸 수 없고 다른 무선 기능이 비활성화될 수 있어요.
									</p>
								</div>
							</li>
							<li class="three_line no-border">
								<div class="imgline-subject">
									<div class="idpt-img-box">
										<img src="{{cdn}}/img/customer/howdo/howdo_cont29_tab02-3.jpg" alt="" style="max-width:3.5rem">
									</div>
								</div>
								<div class="imgline-cont">
									<p class="txt-black">방해금지 모드</p>
									<p class="txt-gray idpt-mt20">
										방해금지가 켜진 상태로 전화, 알림이 소리를 내지 못하게 하거나 화면에 불이 들어오지 않게 해요.
									</p>
								</div>
							</li>
							<li class="four_line no-border">
								<div class="imgline-subject">
									<div class="idpt-img-box">
										<img src="{{cdn}}/img/customer/howdo/howdo_cont29_tab02-4.jpg" alt="" style="max-width:3.5rem">
									</div>
								</div>
								<div class="imgline-cont">
									<p class="txt-black">개인용 핫스팟</p>
									<p class="txt-gray idpt-mt20">
										아이폰이 다른 장비가 사용할 수 있는 개인용 핫스팟을 제공하여 연결한 다른 장비와 인터넷 연결을 공유할 수 있어요.
									</p>
								</div>
							</li>
							<li class="four_line no-border">
								<div class="imgline-subject">
									<div class="idpt-img-box">
										<img src="{{cdn}}/img/customer/howdo/howdo_cont29_tab02-5.jpg" alt="" style="max-width:3.5rem">
									</div>
								</div>
								<div class="imgline-cont">
									<p class="txt-black">동기화 진행중</p>
									<p class="txt-gray idpt-mt20">
										아이폰과 아이튠즈가 동기화 중이예요. 동기화하면 컴퓨터에서 아이폰으로 또는 그 반대로 정보를 복사해요.
									</p>
								</div>
							</li>
						</ul>

						<hr class="clear">

						<p class="txt-black idpt-bold idpt-mt60">상태표시 아이콘 상세보기(2/2)</p>
						<ul class="idpt-imgline-list idpt-mt20">
							<li class="three_line no-border">
								<div class="imgline-subject">
									<div class="idpt-img-box">
										<img src="{{cdn}}/img/customer/howdo/howdo_cont29_tab02-6.jpg" alt="" style="max-width:3.5rem">
									</div>
								</div>
								<div class="imgline-cont">
									<p class="txt-black">세로화면 방향고정</p>
									<p class="txt-gray idpt-mt20">
										아이폰 화면이 세로방향으로 고정되어 있어요.
									</p>
								</div>
							</li>
							<li class="five_line no-border">
								<div class="imgline-subject">
									<div class="idpt-img-box">
										<img src="{{cdn}}/img/customer/howdo/howdo_cont29_tab02-7.jpg" alt="" style="max-width:3.5rem">
									</div>
								</div>
								<div class="imgline-cont">
									<p class="txt-black">위치 서비스</p>
									<p class="txt-gray idpt-mt20">
										위치 서비스를 이용하고 있어요. 위치 서비스는 미리 알림, 지도나 카메라와 같은 위치 기반 앱에서 위치를 나타내는 데이터를 모으고 사용할 수 있도록 해요.

									</p>
								</div>
							</li>
							<li class="five_line no-border">
								<div class="imgline-subject">
									<div class="idpt-img-box">
										<img src="{{cdn}}/img/customer/howdo/howdo_cont29_tab02-8.jpg" alt="" style="max-width:3.5rem">
									</div>
								</div>
								<div class="imgline-cont">
									<p class="txt-black">블루투스</p>
									<p class="txt-gray idpt-mt20">
										파란색 또는 흰색: 블루투스가 켜져 있으며 장비와 하나로 연결되어 있어요.<br>
										회색: 블루투스가 켜져 있으나 장비와 연결되어 있지 않아요.
									</p>
								</div>
							</li>
							<li class="three_line no-border">
								<div class="imgline-subject">
									<div class="idpt-img-box">
										<img src="{{cdn}}/img/customer/howdo/howdo_cont29_tab02-9.jpg" alt="" style="max-width:3.5rem">
									</div>
								</div>
								<div class="imgline-cont">
									<p class="txt-black">블루투스 배터리</p>
									<p class="txt-gray idpt-mt20">
										하나로 연결된 블루투스 장비의 배터리 잔량을 표시해요.
									</p>
								</div>
							</li>
						</ul>
						<p class="txt-gray with-star idpt-mt30">해당 예시는 갤럭시 S4 또는 iOS8예요. 스마트폰의 종류나 OS에 따라 화면의 구성이 다를 수 있어요.</p>
                    </div>

	            </div>
			</div>

        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
