
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">다이렉트샵 / 멤버십 / 로밍에 대한 안내</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box">
                <h2 class="cs-title">배송 개통</h2>
                <div class="idpt-dropdown">
                    <button class="btn-dropdown dropdown-full">반품 / 교환</button>
                </div>
            </div>
            <!--// 타이틀 영역 -->

            <hr class="idpt-seperator no-border" aria-hidden="true"/>

            <!-- case4. 안내문구 + 링크버튼 -->
            <div class="idpt-cont-box">
                <p class="info-txt">반품, 교환, 취소 절차와 기기 A/S 방법에 대해 알려드립니다.</p>
				<div class="idpt-cont-inbox gray idpt-mt30">
					<p class="txt-black idpt-bold">이런 경우, 반품/교환이 안 됩니다!</p>
					<ul class="idpt-dot-list-black">
						<li>고객님의 단순변심으로 반품/교환을 원하실 경우</li>
						<li>고객님에게 책임이 있는 사유로 상품 등이 멸실 또는 훼손된 경우 (단, 상품의 내용을 확인하기 위하여 포장 등을 훼손한 경우는 제외)</li>
						<li>포장을 개봉하였거나 포장이 훼손되어 상품가치가 현저히 상실된 경우 제조사 기준에 따라 결정</li>
						<li>고객님의 사용 또는 일부 소비에 의하여 상품의 가치가 현저히 감소한 경우</li>
						<li>시간의 경과에 의하여 다시 판매가 곤란할 정도로 상품 등의 가치가 현저히 감소한 경우</li>
					</ul>
				</div>
            </div>
            <!--// case4. 안내문구 + 버튼 -->

            <!-- accordian -->
            <div class="idpt-cont-title">
                <p>안내 유형을 선택하세요.</p>
            </div>

			<ul class="idpt-accordian">
                <li>
                    <a href="javascript:void(0)" role="button" aria-pressed="false">휴대폰</a>
					<div class="idpt-accordian-cont">

						<p class="txt-black idpt-bold idpt-mt30">Android 단말기 반품</p>

						<div class="idpt-img-box idpt-mt30">
							<img src="{{cdn}}/img/customer/service/img_cs_3.1.a.3t.3t.1.gif" alt="" style="max-width:6rem">
						</div>

						<ul class="idpt-dot-list-black idpt-mt20">
							<li>기기 초기 불량으로 인한 반품은 해당 제조사 A/S센터에서 불량 확인서를 발급받으신 후 접수해 주세요.</li>
							<li>통화품질 불량은 SK텔레콤 고객센터 상담사와 통화품질 상담 내용 및 품질 불량 심사 확인 후 처리됩니다.</li>
							<li>반품 접수 후, 회수는 지정된 택배사를 통해 담당자가 택배사로 회수 요청을 합니다.(고객님께서 임의 발송할 경우 정상 처리 되지 않습니다.)</li>
							<li>상품이 훼손되지 않도록 포장하셔서 방문한 택배 담당자에게 반송해 주시고, 상품에 대한 반품 운송장은 3개월 동안 보관해 주세요.(상품 확인 후 승인, 반려할 수 있으므로 이 점 유의하시기 바랍니다.)</li>
						</ul>
						<p class="txt-gray with-star idpt-mt20">반품 접수는 개통한 날을 포함해 14일 안에 신청할 수 있으며, 14일이 지나면 불가합니다.(14일째가 공휴일인 경우 하루 연장 가능)	</p>

						<p class="txt-black idpt-bold idpt-mt30">안드로이드 기기 교환</p>
						<ul class="idpt-dot-list-black idpt-mt20">
							<li>T world 웹사이트 또는 다이렉트샵 고객센터를 통해 교환 신청을 해주세요.
							<li>교환 신청 접수를 확인 후, T world 다이렉트샵에서 고객님께 기기 본체를 배송해 드립니다.
							<li>기기의 개통 처리 후, 제조사 A/S센터에서 발행한 불량판정서 원본을 기기와 함께 넣어 포장하여 우체국 택배로 보내주세요.
							<li>개통한 날을 포함 13일 안(도착기준)에 우체국 택배를 통해 아래 주소로 착불 발송해 주시면 됩니다.
							<li>휴대폰 반납 주소: 서울특별시 중구 소공로 70(충무로 1가) 서울중앙우체국 소포실 피에스앤마케팅(팀)
							<li>상품에 대한 교환 운송장은 3개월 동안 보관해 주세요. (상품 확인 후 교환을 승인, 반려할 수 있으므로 이 점 유의하시기 바랍니다.)
						</ul>

						<div class="idpt-cont-inbox gray idpt-mt30">
						<p class="txt-black idpt-bold">교환 신청하신 고객님!</p>
						<p class="txt-black idpt-mt20">교환 신청을 하면 기기 본체만 별도로 먼저 보내드리며, 기기 개통 처리 후 교환하실 기기를 우체국 택배로 보내주시면 됩니다.(찾아가는 개통 서비스 동일) 구성품은 그대로 사용하시고, 기기 본체는 안전하게 고객님께 전달해 드리겠습니다.</p>
						</div>
						<p class="txt-gray with-star idpt-mt20">14일 이후에는 각 제조사의 AS센터나 SK텔레콤 A/S센터에 내방하시어 서비스 받으실 수 있습니다.</p>
					</div>
					<div class="idpt-accordian-cont">
						<p class="txt-black idpt-bold idpt-mt0">Apple 단말기 반품</p>
						<div class="idpt-img-box idpt-mt30">
							<img src="{{cdn}}/img/customer/service/img_cs_3.1.a.3t.3t.2.gif" alt="" style="max-width:6rem">
						</div>

						<ul class="idpt-dot-list-black idpt-mt20">
							<li>기기의 기능불량으로 인한 반품은 애플 A/S센터에 기기를 반납 처리하며 개통 대리점에서는 환불 요청서와 유심 확인 후 반품 처리됩니다.(유심을 분실하거나 반납하지 않을 경우 요금 발생)</li>
							<li>통화 품질의 이상으로 반품을 원하실 경우는 다이렉트샵 고객센터에서 자세한 안내를 받으시기 바랍니다.</li>
						</ul>
						<p class="txt-gray with-star idpt-mt20">반품 접수는 개통한 날을 포함해 14일 안에 신청할 수 있으며, 14일이 지나면 불가합니다.(14일째가 공휴일인 경우 하루 연장 가능)</p>
						<p class="txt-black idpt-bold idpt-mt30">애플 기기 교환</p>
						<ul class="idpt-dot-list-black idpt-mt20">
							<li>구매하신 대리점에서는 새제품으로 교환할 수 없습니다. 새제품으로 교환을 원하실 경우 애플 A/S센터를 방문하시기 바랍니다.(SK텔레콤 A/S센터에서는 교환 안 됨)</li>
							<li>개통한 날 포함 10일 안: 구성품 포함 전체 교환 가능</li>
							<li>개통한 날 포함 30일 안: 기기만 교환 가능</li>
							<li>개통한 날 포함 1달 이후(32일부터): 새제품 교환 불가, A/S센터를 통해 서비스 제품(Whole Unit)교환 또는 부분 수리만 가능</li>
						</ul>
						<p class="txt-gray with-star idpt-mt20">기기 불량일 경우 개통한 날 포함 9일 이내/통화 품질 불량일 경우 개통한 날 포함 14일 이내에 신청하셔야 하며, 14일 이후에는 애플 A/S센터로 문의해 주시기 바랍니다.</p>

						<p class="txt-black idpt-bold idpt-mt40">스마트기기 HP제품 A/S</p>
						<p class="txt-black with-dot idpt-mt30">HP제품은 개봉 후 교환 및 환불은 원칙적으로 안 되며, 환불을 받으려면 전국 HP서비스센터에서 불량 판정서 발급 후 T world 다이렉트샵 고객센터로 신청해야 합니다.</p>
						<p class="txt-black with-dot idpt-mt30">
							서비스센터 위치 보러 가기<br>
							<!--
							<a href="http://h20424.www2.hp.com/program/servicecenter/kr/ko/consumer_map.html" class="fe-link-internal idpt-link-eng">http://h20424.www2.hp.com/program/servicecenter/kr/ko/consumer_map.html</a>
							-->
							<a href="https://support.hp.com/kr-ko/document/c03652759" class="fe-link-external idpt-link-eng" target="_blank">https://support.hp.com/kr-ko/document/c03652759</a>
						</p>
					</div>
					<div class="idpt-accordian-cont">
						<p class="txt-black idpt-bold idpt-mt0">기기 취소</p>
						<p class="txt-black with-dot idpt-mt30">
							주문 후, [결제완료] 단계까지는 my T > 나의 쇼핑 > 다이렉트샵 에서 주문번호를 클릭하여 주문취소를 할 수 있으며, [배송준비] 이후의 단계부터는 주문취소가 되지 않으므로 교환/반품 신청 또는 실시간 채팅 상담, 다이렉트샵 고객센터로 연락해 주시면 안내해 드리겠습니다.
						</p>

						<div class="idpt-img-box idpt-mt30">
							<img src="{{cdn}}/img/customer/service/img_cs_3.1.a.3t.3t.3.gif" alt="" style="max-width:16rem">
						</div>

						<p class="txt-black with-dot idpt-mt30">
							회원님의 주문이 체결된 후 상품품절 및 단종 등에 의해 배송할 수 없을 경우, 전자상거래 등에서의 소비자 보호에 관한 법률 제 15조 2항에 따라 2영업일(공휴일 제외) 안에 자동으로 취소될 수 있으며, 이 경우 고객님께 취소 안내 메일을 보내드리고, 구매할 때 입력하신 연락처로 안내 전화 드리오니 양지 바랍니다.
						</p>
					</div>
				</li>

                <li>
                    <a href="javascript:void(0)" role="button" aria-pressed="false">T 기프트</a>
					<div class="idpt-accordian-cont">

						<div class="idpt-img-box idpt-mt0">
							<img src="{{cdn}}/img/customer/service/img_cs_3.1.a.3t.3t.4.gif" alt="" style="max-width:6rem">
						</div>

						<ul class="idpt-dot-list-black idpt-mt20">
							<li>고객님의 변심에 의한 교환은 불가하며, 불량일 경우에만 같은 상품으로 교환됩니다.</li>
							<li>불량 교환일 경우 상품 수령 후, 7일 안에 다이렉트샵 고객센터로 문의/교환 접수를 해주세요.</li>
							<li>T 기프트 문의/교환 접수: 1600-5380 평일 10:00~19:00(점심시간 12:00~13:00) / 주말, 공휴일 휴무</li>
						</ul>

						<div class="idpt-img-box idpt-mt30">
							<img src="{{cdn}}/img/customer/service/img_cs_3.1.a.3t.3t.5.gif" alt="" style="max-width:6rem">
						</div>

						<ul class="idpt-dot-list-black idpt-mt20">
							<li>상품을 포장한 후, CJ택배를 이용하여 다이렉트샵 고객센터로 배송해 주세요(다른 택배사를 이용할 경우 추가 비용은 고객님 부담입니다.)</li>
							<li>상품 입고 확인 후 교환 처리를 해드리겠습니다.</li>
						</ul>
					</div>
				</li>

                <li>
                    <a href="javascript:void(0)" role="button" aria-pressed="false">액세서리</a>
					<div class="idpt-accordian-cont">

						<div class="idpt-img-box idpt-mt0">
							<img src="{{cdn}}/img/customer/service/img_cs_3.1.a.3t.3t.4.gif" alt="" style="max-width:6rem">
						</div>

						<ul class="idpt-dot-list-black idpt-mt20">
							<li>고객님의 변심에 의한 반품은 개봉되지 않은 상태에서 7일 안에 다이렉트샵 고객센터로 신청하실 수 있습니다.</li>
							<li>개봉 후, 상품이 불량일 경우 14일 안에 다이렉트샵 고객센터로 반품/교환 신청을 해주세요.</li>
							<li>액세서리 반품/교환 접수: 1600-5380 평일 10:00~19:00(점심시간 12:00~13:00) / 주말, 공휴일 휴무</li>
						</ul>

						<div class="idpt-img-box idpt-mt30">
							<img src="{{cdn}}/img/customer/service/img_cs_3.1.a.3t.3t.5.gif" alt="" style="max-width:6rem">
						</div>

						<ul class="idpt-dot-list-black idpt-mt20">
							<li>상품을 포장한 후, CJ택배를 이용하여 다이렉트샵 고객센터로 배송해 주세요(다른 택배사를 이용할 경우 추가 비용은 고객님 부담입니다.)
							<li>상품 입고 확인 후 교환 처리를 해드리겠습니다.</li>
						</ul>
					</div>
					<div class="idpt-accordian-cont">
						<p class="txt-black idpt-bold idpt-mt0">액세서리 AS</p>
						<P class="txt-black idpt-mt30">
							액세서리 상품을 사용한 후 발생하는 A/S 관련 문의는 각 제조사별 고객센터에 문의해 주세요.
						</p>
					</div>
				</li>

			</ul>
			<!--// accordian -->

        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>
