
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">이럴 땐 이렇게 하세요</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box howdo howdo-bg02">
                <h2 class="howdo-title">데이터 초과 요금<br>걱정 마세요</h2>
            </div>
            <!--// 타이틀 영역 -->

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
                <h3 class="howdo-title">'LTE 데이터 한도초과요금 상한제'로<br>데이터 추가 사용요금 걱정 끝</h3>
				<p class="idpt-mt20">
					<span class="txt-gray">LTE 데이터 기본 제공량을 초과할 경우</span><br>
					<span class="txt-black idpt-bold">19,800원(3GB, 부가세포함)까지만 부과</span>
					<span class="txt-gray">되므로 데이터 사용요금 폭탄은 걱정하지 마세요.</span>
				</p>

				<div class="idpt-img-box idpt-mt60">
					<img src="{{cdn}}/img/customer/howdo/howdo_cont02_1.jpg" alt="기본 데이터 제공량 초과되면 19800원까지만 과금">
				</div>
				<p class="txt-gray align-center idpt-mt40">데이터 3GB 초과 사용 후에는 200kbps 속도로<br>추가 요금 없이 계속 사용하실 수 있어요.</p>
            </div>


			<div class="idpt-cont-box">

				<p class="title-howdo">LTE 속도제어 해제</p>
				<p class="txt-gray idpt-mt30">
					데이터 3GB 초과 사용 후에도 정상 속도로 LTE데이터를 사용하고 싶은 경우, ‘LTE 속도제어 해제’를 신청해 주세요.(19,800원, 부가세 포함, 1MB당 6,754원 추가 사용요금 발생)
				</p>
				<div class="idpt-btn-wrap idpt-mt30">
					<a href="/product/callplan?prod_id=NA00003576" class="fe-link-internal idpt-btn-cs btn-full btn-blue-nostyle">LTE 속도제어 해제 </a>
				</div>
			</div>

			<div class="idpt-cont-box">

				<p class="title-howdo">구글 사진 / 동영상 자동백업 설정 해제</p>
				<p class="txt-gray idpt-mt30">
					구글 동기화로 인한 사진/동영상 자동백업 기능을 해제하여 데이터 손실을 막으세요.
				</p>
				<div class="idpt-btn-wrap idpt-mt30">
					<!--<a href="idpt_howdo_cs02(popup01).html" class="fe-link-internal idpt-btn-cs btn-full btn-blue-nostyle" target="_blank">구글 자동백업 해제 </a>-->
					<a href="javascript:void(0)" data-popup="popup01" class="idpt-popup-open idpt-btn-cs btn-full btn-blue-nostyle">구글 자동백업 해제 </a>

					<!-- popup 시작 -->
					<div class="idpt-popup">
						<div class="idpt-popup-wrap" id="popup01">
							<div class="idpt-popup-header">
								<p class="popup-title">구글 사진/동영상 자동백업 해제 방법</p>
								<a href="javascript:void(0)" onclick="history.back();" class="idpt-popup-close">팝업닫기</a>
							</div>
							<div class="idpt-popup-cont-wrap">
								<div class="idpt-popup-cont">

									<div class="idpt-cont-box">
										<ul>
											<li>
												<p class="info-txt">1. 내 휴대폰에서 '사진'또는 '구글+'앱을 선택하세요.</p>
												<div class="idpt-img-box idpt-mt30">
													<img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup02-1.jpg" alt="">
												</div>
											</li>
											<li>
												<p class="info-txt idpt-mt30">2. 메뉴 버튼 또는 오른쪽 위의 아이콘을 탭하여 설정을 선택하세요.</p>
											</li>
											<li>
												<p class="info-txt idpt-mt30">3. '자동백업'을 탭하여 자동백업을 해제하세요.</p>
											</li>
										</ul>
								   </div>

								</div>
							</div>
						</div>
					</div>
					<!--// popup 끝 -->

				</div>


            </div>

        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
