
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">이럴 땐 이렇게 하세요</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box howdo howdo-bg18">
                <h2 class="howdo-title">바른 휴대폰 사용습관<br>실천 가이드</h2>
            </div>
            <!--// 타이틀 영역 -->

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
				<h3 class="howdo-title">
					부모님의 바른 지도로<br>자녀들이 무분별하게 사용하지<br>않도록 해 주세요.
				</h3>

				<div class="idpt-img-box idpt-mt40">
					<img src="{{cdn}}/img/customer/howdo/howdo_cont18_1.jpg" alt="" style="max-width:10.25rem">
				</div>
				<p class="txt-gray gray-sub align-center idpt-mt30">
					부모님의 관심으로 자녀들의<br>올바른 습관을 만드세요.
				</p>
				<div class="idpt-btn-wrap idpt-mt20">
					<!--<a href="idpt_howdo_cs18(popup01).html" class="fe-link-internal idpt-btn-table btn-full btn-blue-nostyle small" target="_blank">청소년 학부모 가이드 보기</a>-->
					<a href="javascript:void(0)" data-popup="popup01" class="idpt-popup-open idpt-btn-table btn-full btn-blue-nostyle small">청소년 학부모 가이드 보기</a>
				</div>

				<div class="idpt-img-box idpt-mt40">
					<img src="{{cdn}}/img/customer/howdo/howdo_cont18_2.jpg" alt="" style="max-width:10.25rem">
				</div>
				<p class="txt-gray gray-sub align-center idpt-mt30">
					어린 자녀들은 부모하기 나름!<br>함께 노력해 보세요
				</p>
				<div class="idpt-btn-wrap idpt-mt10">
					<!--<a href="idpt_howdo_cs18(popup02).html" class="fe-link-internal idpt-btn-table btn-full btn-blue-nostyle small" target="_blank">유아 학부모 가이드 보기</a>-->
					<a href="javascript:void(0)" data-popup="popup02" class="idpt-popup-open idpt-btn-table btn-full btn-blue-nostyle small">유아 학부모 가이드 보기</a>
				</div>
				<p class="txt-gray gray-sub with-star idpt-mt40">스마트미디어 사용가이드는 인터넷중독 대응센터<br><a href="http://www.iapc.or.kr" class="fe-link-external" target="_blank">(www.iapc.or.kr)</a>에서 다양한 내용을 참고해 주세요.</p>

				<!-- popup 시작 -->
				<div class="idpt-popup">
					<div class="idpt-popup-wrap" id="popup01">
						<div class="idpt-popup-header">
							<p class="popup-title">청소년 학부모 가이드</p>
							<a href="javascript:void(0)" onclick="history.back();" class="idpt-popup-close">팝업닫기</a>
						</div>
						<div class="idpt-popup-cont-wrap">
							<div class="idpt-popup-cont">
								<div class="idpt-cont-box">
									<div class="idpt-img-box idpt-mt20">
										<img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup18-2.jpg" alt="" style="max-width:9rem">
									</div>
									<p class="txt-black align-center idpt-mt30">
										스마트폰 사용보다 부모와 자녀가 함께 할 수 있는 취미나 활동을 찾고, 즐기는 것이 무엇보다 중요해요.
									</p>
									<hr class="idpt-underline">
									<p class="txt-black with-dot idpt-mt40">스마트 미디어 이용을 자제해야 하는 시간과 장소를 정해 주세요.</p>
									<p class="txt-black with-dot idpt-mt40">스마트 미디어는 반드시 자녀 스스로 끌 수 있도록 유도해 주세요.</p>
									<p class="txt-black with-dot idpt-mt40">자녀와 스마트 미디어 과다 이용의 유해성에 대해 의견을 나눠 보세요.</p>
									<p class="txt-black with-dot idpt-mt40">스마트폰을 건전하게 사용할 수 있도록 도와주는 앱을 이용해 보세요.</p>
									<p class="txt-black with-dot idpt-mt40">자녀가 스마트 미디어로 무엇을 하는지 관심을 갖고 살펴 주세요.</p>
									<p class="txt-black with-dot idpt-mt40">평소 자녀의 학교생활과 친구관계는 어떤지, 최근에 느끼고 있는 어려움이나 마음 상태에 관심을 기울여 주세요.</p>
							   </div>
							</div>

						</div>
					</div>

					<div class="idpt-popup-wrap" id="popup02">
						<div class="idpt-popup-header">
							<p class="popup-title">유아 학부모 가이드</p>
							<a href="javascript:void(0)" onclick="history.back();" class="idpt-popup-close">팝업닫기</a>
						</div>
						<div class="idpt-popup-cont-wrap">
							<div class="idpt-popup-cont">
								<div class="idpt-cont-box">
									<div class="idpt-img-box idpt-mt20">
										<img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup18-1.jpg" alt="" style="max-width:9rem">
									</div>
									<p class="txt-black align-center idpt-mt30">
										스마트 미디어를 끄고 나면 자녀가 좋아하는 활동이나 재미있는 놀이를 부모님이 함께해 주세요.
									</p>
									<hr class="idpt-underline">
									<p class="txt-black with-dot idpt-mt40">자녀가 스마트 미디어를 이용할 때는 반드시 부모님이 함께해 주세요.</p>
									<p class="txt-black with-dot idpt-mt40">최대한 스마트 미디어를 늦게 접하도록 해 주세요.</p>
									<p class="txt-black with-dot idpt-mt40">가정에서 스마트 미디어가 허용되는 장소와 시간을 정해 주세요.</p>
									<p class="txt-black with-dot idpt-mt40">자녀 스스로 스마트 미디어 이용을 끝낼 수 있도록 도와주세요.</p>
									<p class="txt-black with-dot idpt-mt40">스마트 미디어를 지나치게 이용하면 위험하다는 것을 자녀에게 가르쳐 주세요.</p>
									<p class="txt-black with-dot idpt-mt40">자녀와 스마트 미디어 이용 시간을 정할 때는 자녀의 연령과 수준을 고려해서 ‘30분까지만 하자’보다 ‘게임 한번만 더 하자’라고 구체적으로 약속해 주세요.</p>
							   </div>
							</div>
						</div>
					</div>
				</div>
				<!--// popup 끝 -->

			</div>

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box">
				<h3 class="howdo-title">
					스스로 자신의 상태를 알 수 있도록<br>스마트폰 사용시간을 체크해 보세요.
				</h3>
				<table class="idpt-tbl-type03 idpt-mt30">
					<caption></caption>
					<colgroup>
						<col style="width:4.8rem">
						<col style="width:auto">
					</colgroup>
					<thead>
					</thead>
					<tbody>
						<tr>
							<td>
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont18_3.jpg" alt="" style="max-width:3.1rem">
								</div>
							</td>
							<td>
								<p class="txt-black">자가진단으로 사용 습관 확인하기</p>
								<p class="txt-gray idpt-mt20">
									자가진단 점수를 통해 스마트 미디어 사용 위험 여부를 알 수 있어요.
								</p>
								<div class="idpt-btn-wrap idpt-mt10">
									<a href="https://www.iapc.or.kr/kor/index.do" class="fe-link-external idpt-btn-table btn-full btn-blue-nostyle small" target="_blank">진단하기</a>
								</div>
							</td>
						</tr>
						<tr>
							<td class="	nopadding">
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont18_4.jpg" alt="" style="max-width:3.1rem">
								</div>
							</td>
							<td class="	nopadding">
								<p class="txt-black">사용한 시간 통계 알아보기</p>
								<p class="txt-gray idpt-mt20">
									앱을 통해 스마트폰 실제 사용시간을 통계로 알 수 있어요.
								</p>
								<div class="idpt-btn-wrap idpt-mt10">
									<a href="https://play.google.com/store/apps/details?id=kr.co.rinasoft.howuse" class="fe-link-external idpt-btn-table btn-full btn-blue-nostyle small" target="_blank">자세히 보기</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>

			</div>

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box">
				<h3 class="howdo-title">
					스마트폰 미디어 과다 이용 예방<br>무료 서비스
				</h3>
				<table class="idpt-tbl-type03 idpt-mt60">
					<caption>스마트폰 미디어 과다 이용 예방<br>무료 서비스</caption>
					<colgroup>
						<col style="width:4.8rem">
						<col style="width:auto">
					</colgroup>
					<thead>
					</thead>
					<tbody>
						<tr>
							<td>
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont18_5.jpg" alt="" style="max-width:3.1rem">
								</div>
							</td>
							<td>
								<p class="txt-black">인터넷 중독 상담센터(1599-0075)</p>
								<p class="txt-gray idpt-mt20">
									전화, 온라인 비밀 게시판을 통해 상담하실 수 있어요.
								</p>
								<div class="idpt-btn-wrap idpt-mt10">
									<a href="tel:1599-0075" class="idpt-btn-table btn-full btn-blue-nostyle small">전화상담하기</a>
								</div>
							</td>
						</tr>
						<tr>
							<td class="	nopadding">
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont18_6.jpg" alt="" style="max-width:3.1rem">
								</div>
							</td>
							<td class="	nopadding">
								<p class="txt-black">스마트 미디어 중독예방 콘텐츠</p>
								<p class="txt-gray idpt-mt20">
									자녀에게 올바른 스마트 미디어 이용방법을 알려 주세요.
								</p>
								<div class="idpt-btn-wrap idpt-mt10">
									<a href="https://www.iapc.or.kr/mediaList.do?idx=28&type=A1" class="fe-link-external idpt-btn-table btn-full btn-blue-nostyle small" target="_blank">자세히 보기</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
                <h3 class="howdo-title">
					자녀가 사용하는 스마트기기와<br>컴퓨터에 유해정보를 차단하는<br>소프트웨어를 설치해 주세요.
				</h3>
				<p class="txt-black idpt-mt30">T청소년 안심서비스</p>

				<div class="idpt-img-box idpt-mt60">
					<img src="{{cdn}}/img/customer/howdo/howdo_cont18_7.jpg" alt="">
				</div>
				<div class="idpt-btn-wrap idpt-mt10">
					<a href="https://play.google.com/store/apps/details?id=kr.co.safet.sk" class="fe-link-external idpt-btn-table btn-full btn-blue-nostyle small" target="_blank">다운로드</a>
				</div>
				<p class="txt-gray gray-sub with-star idpt-mt30">
					구글 Play 스토어에서 앱 다운로드 허용 등급을 설정해 주세요! (환경설정 > 콘텐츠 필터링 > 앱허용 등급선택)
				</p>
				<p class="txt-black idpt-mt50">
					자녀의 데스크탑 PC 유해정보 차단하기
				</p>

				<div class="idpt-btn-wrap idpt-mt30">
					<a href="http://www.greeninet.or.kr/" class="fe-link-external idpt-btn-table btn-full btn-blue-nostyle small left" target="_blank">청소년이용 안전망 그린 i-Net</a>
				</div>

				<p class="txt-gray idpt-mt20">
					방송통신위원회에서 제공하는 유해정보 필터링 소프트웨어
				</p>

				<div class="idpt-btn-wrap idpt-mt30">
					<a href="https://support.google.com/websearch/answer/510?p=settings_safesearch&hl=ko" class="fe-link-external idpt-btn-table btn-full btn-blue-nostyle small left" target="_blank">구글 세이프 서치</a>
				</div>
				<p class="txt-gray idpt-mt20">
					검색 결과에서 성인용 컨텐츠 필터링<br>
					(설정 > 검색설정 > 세이프서치 필터)
				</p>

			</div>

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
                <h3 class="howdo-title">
					자녀의 휴대폰에 사이버 폭력으로<br>의심되는 문자를 부모님께 알려주는 앱을 이용해 주세요.
				</h3>

				<table class="idpt-tbl-type03 idpt-mt60">
					<caption>사이버 폭력으로 의심되는 문자를 부모님께 알려주는 어플</caption>
					<colgroup>
						<col style="width:50%">
						<col style="width:50%">
					</colgroup>
					<thead>
					</thead>
					<tbody>
						<tr>
							<td>
								<p class="txt-black align-center">T청소년 안심팩</p>
								<div class="idpt-img-box idpt-mt30">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont18_8.jpg" alt="" style="max-width:7.1875rem">
								</div>
								<div class="idpt-btn-wrap idpt-mt20">
									<a href="https://play.google.com/store/apps/details?id=kr.co.safet.sk" class="fe-link-external idpt-btn-table btn-full btn-blue-nostyle center small" target="_blank">다운로드</a>
								</div>
							</td>
							<td>
								<p class="txt-black align-center">스마트 안심드림</p>
								<div class="idpt-img-box idpt-mt30">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont18_9.jpg" alt="" style="max-width:7.1875rem">
								</div>
								<div class="idpt-btn-wrap idpt-mt20">
									<a href="https://onesto.re/0000676220" class="fe-link-external idpt-btn-table btn-full btn-blue-nostyle center small" target="_blank">다운로드</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>


				<p class="txt-black idpt-mt40">
					사이버 폭력에 대해 바로 알고,<br>
					대처 방법을 통해 미리 예방하세요.
				</p>
				<p class="txt-gray idpt-mt30">
					자녀가 사이버 폭력으로 힘들어 한다면, 신중하게 고려하시어 가까운 경찰서에 직접 신고하거나, T청소년 안심팩을 통해 상담 및 신고하실 수 있어요.
				</p>
				<div class="idpt-btn-wrap idpt-mt10">
					<a href="https://www.cyber1388.kr:447/new_/school/school_10_6.asp" class="fe-link-external idpt-btn-table btn-full btn-blue-nostyle small" target="_blank">사이버 폭력예방과 대처 방법</a>
				</div>
				<div class="idpt-btn-wrap idpt-mt10">
					<a href="https://www.cyber1388.kr:447/new_/school/school_10_3.asp" class="fe-link-external idpt-btn-table btn-full btn-blue-nostyle small" target="_blank">사이버 폭력에 대한 오해</a>
				</div>
				<p class="txt-gray with-star idpt-mt40">사이버 폭력이란?</p>
				<p class="txt-gray gray-sub idpt-mt24">
					사이버 폭력 유형은 사이버 언어폭력, 사이버 명예훼손,  사이버 스토킹, 사이버 성폭력, 신상정보 유출, 사이버 따돌림 등
				</p>
				<div class="idpt-btn-wrap idpt-mt30">
					<a href="http://cyberbureau.police.go.kr/mobile/index.do" class="fe-link-external idpt-btn-table btn-full btn-blue-nostyle small" target="_blank">사이버 폭력 사례 자세히 보기</a>
				</div>

			</div>

        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
