
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">목소리 인증/전화 상담에 대한 안내</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box">
                <h2 class="cs-title">버튼식 ARS</h2>
				 <p class="info-txt idpt-mt30">
					이동전화 또는 유선전화로 ARS 서비스를 받으실 수 있습니다. 상담하실 수 있는 시간을 확인 후 이용해 주세요.
				</p>
				<p class="txt-black idpt-mt30">
					고객센터 업무 시간: 09:00~18:00<br>(365일 연중무휴)
				</p>
				<p class="info-txt idpt-mt30">
					원하는 시간에 상담을 하고 싶다면, 전화 상담 예약을 해 주세요. 고객님이 원하는 시간에 상담원이 전화 드립니다.
				</p>
				<div class="idpt-btn-wrap idpt-mt30">
					<!-- <a href="idpt_service_cs66-3.html" class="fe-link-internal idpt-btn-cs btn-full btn-blue">전화 상담 예약</a> -->
					<a href="/customer/helpline" class="fe-link-internal idpt-btn-cs btn-full btn-blue">전화 상담 예약</a>
				</div>

				<div class="idpt-tab-wrap idpt-mt50">
                    <ul class="tab-menu clearfix">
                        <li class="on">이동전화 고객센터</li>
                        <li>유선 서비스 고객센터</li>
                    </ul>
                    <div class="tab-contents show">
						<ul class="idpt-oneline-list">
							<li>114 (무료)
								<span class="idpt-link-tel">
									<a href="tel:114"><img src="{{cdn}}/img/customer/service/idpt-icon-telphone.png" alt="114 (무료) 전화걸기" style="max-width:1.5rem; vertical-align:middle"></a>
								</span>
							</li>
							<li>1599-0011 (유료)
								<span class="idpt-link-tel">
									<a href="tel:1599-0011"><img src="{{cdn}}/img/customer/service/idpt-icon-telphone.png" alt="1599-0011 (무료) 전화걸기" style="max-width:1.5rem; vertical-align:middle"></a>
								</span>
							</li>
							<li>080-011-6000 (유료)
								<span class="idpt-link-tel">
									<a href="tel:080-011-6000"><img src="{{cdn}}/img/customer/service/idpt-icon-telphone.png" alt="080-011-6000 (유료) 전화걸기" style="max-width:1.5rem; vertical-align:middle"></a>
								</span>
							</li>
						</ul>
						<p class="txt-gray gray-sub with-star idpt-mt30">휴대폰 통화 품질, 분실/습득, 로밍 상담은 365일 24시간 동안 운영됩니다.</p>
						<p class="txt-gray gray-sub with-star idpt-mt30">
							점심시간(12:00~13:00)에는 긴급 전문 상담만 하실 수 있습니다. (무선-분실, 습득, 통화 품질, 로밍, T map, 유선-장애와 해지 상담)
						</p>

						<p class="txt-black idpt-bold idpt-mt60">ARS 단축번호 안내</p>
						<div class="idpt-img-box idpt-mt30">
							<img src="{{cdn}}/img/customer/service/cont_ars_number01.png" alt="114+통화, 1번 사용요금/소액결제/수납 이력 확인, 2번 데이터 리필과 부가서비스 신청 취소, 3번 휴대폰 정지 분실/통화품질 트래픽 관리, 4번 T로밍 서비스, 5번 기기변경 가입 상담, 0번 상담사 연결">
						</div>

						<hr class="idpt-underline" aria-hidden="true">

						<!-- accordian -->
						<ul class="idpt-accordian no-padding">
							<li>
								<a href="javascript:void(0)" role="button" aria-pressed="false" class="no-padding">Case1. 1번 버튼</a>
								<div class="idpt-accordian-cont no-padding">
									<p class="txt-black idpt-bold">1. 사용요금 / 소액결제 / 수납이력 확인</p>
									<ul class="idpt-cont-inbox gray idpt-mt30">
										<li class="txt-black">
											① 청구요금 / 실시간 / 남은 기본통화 조회
										</li>
										<li class="txt-black">
											② 소액결제 한도 조회와 차단 신청
										</li>
										<li class="txt-black">
											③ 청구요금 / 수납 이력 / 세금계산서 FAX 수신
										</li>
										<li class="txt-black">
											④ 요금 납부 안내
										</li>
										<li class="txt-black">
											⑤ 선택약정할인
										</li>
										<li class="txt-black">
											&#9438; 상담사 연결
										</li>
									</ul>
								</div>
							</li>
							<li>
								<a href="javascript:void(0)" role="button" aria-pressed="false">Case2. 2번 버튼</a>
								<div class="idpt-accordian-cont no-padding">
									<p class="txt-black idpt-bold">2. 데이터 리필과 부가서비스 신청 / 취소</p>
										<ul class="idpt-cont-inbox gray idpt-mt30">
											<li class="txt-black">① 데이터 리필하기</li>
											<li class="txt-black">② 데이터 선물하기</li>
											<li class="txt-black">③ 부가서비스 신청</li>
											<li class="txt-black">④ 부가서비스 취소</li>
											<li class="txt-black">⑤ 스팸 차단 서비스</li>
											<li class="txt-black">&#9438; 상담사 연결</li>
										</ul>
								</div>
							</li>

							<li>
								<a href="javascript:void(0)" role="button" aria-pressed="false">Case3. 3번 버튼</a>
								<div class="idpt-accordian-cont no-padding">
									<p class="txt-black idpt-bold">3. 휴대폰 정지 / 분실 / 통화 품질 / 트래픽 관리</p>
									<ul class="idpt-cont-inbox gray idpt-mt30">
										<li class="txt-black">① 분실 정지</li>
										<li class="txt-black">② 통화 품질</li>
										<li class="txt-black">③ 일시정지 및 해제</li>
										<li class="txt-black">④ 트래픽 관리</li>
										<li class="txt-black">&#9438; 상담사 연결</li>
									</ul>
								</div>
							</li>

							<li>
								<a href="javascript:void(0)" role="button" aria-pressed="false">Case4. 4번 버튼</a>
								<div class="idpt-accordian-cont no-padding">
									<p class="txt-black idpt-bold">4. T로밍 서비스</p>
									<ul class="idpt-cont-inbox gray idpt-mt30">
										<li class="txt-black">① 로밍 분실 정지</li>
										<li class="txt-black">② 데이터 로밍 무조건 차단</li>
										<li class="txt-black">③ 로밍할 때 주의사항 안내</li>
										<li class="txt-black">&#9438; 상담사 연결</li>
									</ul>
								</div>
							</li>

							<li>
								<a href="javascript:void(0)" role="button" aria-pressed="false">Case5. 5번 버튼</a>
								<div class="idpt-accordian-cont no-padding">
									<p class="txt-black idpt-bold">5. 기기변경 가입 상담</p>
										<div class="idpt-cont-inbox gray idpt-mt30">
											<p class="txt-black">(가입자 정보 확인 후)상담사 연결</p>
										</div>
								</div>
							</li>

							<li>
								<a href="javascript:void(0)" role="button" aria-pressed="false">Case6. 0번 버튼</a>
								<div class="idpt-accordian-cont no-padding">
									<p class="txt-black idpt-bold">0. 상담사 연결</p>
									<ul class="idpt-cont-inbox gray idpt-mt30">
										<li class="txt-black">① 일반 상담</li>
										<li class="txt-black">② 요금 상담</li>
										<li class="txt-black">③ 통화 품질 상담</li>
										<li class="txt-black">④ T로밍 상담</li>
										<li class="txt-black">⑥ 상담 예약</li>
										<li class="txt-black">⑦ 기기변경 가입 상담</li>
									</ul>
								</div>
							</li>
						</ul>
						<!--// accordian -->
					</div>

					<div class="tab-contents">
						<ul class="idpt-oneline-list">
							<li>080-816-2000 (무료)
								<span class="idpt-link-tel">
									<a href="tel:080-816-2000"><img src="{{cdn}}/img/customer/service/idpt-icon-telphone.png" alt="080-816-2000 (무료) 전화걸기" style="max-width:1.5rem; vertical-align:middle"></a>
								</span>
							</li>
							<li>1600-2000 (유료)
								<span class="idpt-link-tel">
									<a href="tel:1600-2000"><img src="{{cdn}}/img/customer/service/idpt-icon-telphone.png" alt="1600-2000 (유료) 전화걸기" style="max-width:1.5rem; vertical-align:middle"></a>
								</span>
							</li>
						</ul>
						<p class="txt-gray gray-sub with-star idpt-mt30">인터넷 유선 전화, 인터넷전화, TV 품질 관련 장애 상담은 365일 24시간 동안 운영합니다.</p>
						<p class="txt-gray gray-sub with-star idpt-mt30">
							점심시간(12:00~13:00)에는 긴급 전문 상담만 하실 수 있습니다. (무선-분실·습득, 통화 품질, 로밍, T map, 유선-장애와 해지 상담)
						</p>

						<p class="txt-black idpt-bold idpt-mt60">ARS 단축번호 안내</p>
						<div class="idpt-img-box idpt-mt30">
							<img src="{{cdn}}/img/customer/service/cont_ars_number02.png" alt="080-816-2000+통화, 1번 인터넷/TV가입 전문 상담사 연결, 2번 요금 이사 등 각종 변경 상담사 연결, 3번 해지업무 전담 상담사 연결, 4번 A/S 장애처리 상담사 연결, 0번 상담사 연결">
						</div>
						<hr class="idpt-underline" aria-hidden="true">

						<!-- accordian -->
						<ul class="idpt-accordian no-padding">
							<li>
								<a href="javascript:void(0)" role="button" aria-pressed="false">Case1. 1번 버튼</a>
								<div class="idpt-accordian-cont no-padding">
									<p class="txt-black idpt-bold">1. 인터넷/TV 가입 전문 상담사 연결</p>
										<ul class="idpt-cont-inbox gray idpt-mt30">
											<li class="txt-black">가입자 정보 확인 후) 상담사 연결</li>
										</ul>
								</div>
							</li>

							<li>
								<a href="javascript:void(0)" role="button" aria-pressed="false">Case2. 2번 버튼</a>
								<div class="idpt-accordian-cont no-padding">
									<p class="txt-black idpt-bold">2. 요금, 이사 등 각종 변경 상담사 연결</p>
									<ul class="idpt-cont-inbox gray idpt-mt30">
										<li class="txt-black">(가입자 정보 확인 후) 상담사 연결</li>
									</ul>
								</div>
							</li>

							<li>
								<a href="javascript:void(0)" role="button" aria-pressed="false">Case3. 3번 버튼</a>
								<div class="idpt-accordian-cont no-padding">
									<p class="txt-black idpt-bold">3. 해지 업무 전담 상담사 연결</p>
									<ul class="idpt-cont-inbox gray idpt-mt30">
										<li class="txt-black">(가입자 정보 확인 후) 상담사 연결</li>
									</ul>
								</div>
							</li>

							<li>
								<a href="javascript:void(0)" role="button" aria-pressed="false">Case4. 4번 버튼</a>
								<div class="idpt-accordian-cont no-padding">
									<p class="txt-black idpt-bold">4. A/S, 장애 처리 상담사 연결</p>
									<ul class="idpt-cont-inbox gray idpt-mt30">
										<li class="txt-black">(가입자 정보 확인 후) 상담사 연결</li>
									</ul>
								</div>
							</li>

							<li>
								<a href="javascript:void(0)" role="button" aria-pressed="false">Case5. 0번 버튼</a>
								<div class="idpt-accordian-cont no-padding">
									<p class="txt-black idpt-bold">0. 상담사 연결</p>
									<ul class="idpt-cont-inbox gray idpt-mt30">
										<li class="txt-black">① 요금과 일반 업무 상담사 연결</li>
										<li class="txt-black">② 해지 업무 전담 상담사 연결</li>
										<li class="txt-black">③ A/S, 장애 처리 상담사 연결</li>
										<li class="txt-black">④ 인터넷/TV 가입 전문 상담사 연결</li>
									</ul>
								</div>
							</li>
						</ul>
						<!--// accordian -->
					</div>
				</div>
				<!--// idpt-tab -->


			</div>

		</div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
