
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">목소리 인증/전화 상담에 대한 안내</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box">
                <h2 class="cs-title">보이는 ARS (T전화)</h2>
				 <p class="info-txt idpt-mt30">
					보이는 ARS 서비스에서는 ARS 음성 안내를 끝까지 듣지 않아도, 화면에서 원하는 메뉴를 찾으실 수 있습니다.<br>
					<br>
					T전화로 접속하셔서 더 빠르고 정확하게 필요한 메뉴를 찾아보세요.
				</p>
				<p class="txt-black idpt-mt30">
					고객센터 업무 시간: 09:00~18:00<br>(365일 연중무휴)
				</p>
			</div>
			<hr class="idpt-seperator no-border" aria-hidden="true"/>
			<div class="idpt-cont-box">

				<p class="txt-black idpt-bold">
					이용 안내
				</p>
				<p class="txt-gray idpt-mt20">
					114 전화걸기’를 누르시면 T전화에서 보이는 ARS 서비스가 시작됩니다. T전화가 설치되지 않은 경우, 일반 전화 상담으로 진행됩니다.
				</p>

				<ul class="idpt-oneline-list">
					<li>114 (무료)
						<span class="idpt-link-tel">
							<a href="tel:114"><img src="{{cdn}}/img/customer/service/idpt-icon-telphone.png" alt="114 (무료) 전화걸기" style="max-width:1.5rem; vertical-align:middle"></a>
						</span>
					</li>
				</ul>

				<div class="idpt-cont-inbox">
					<p class="txt-black idpt-bold align-center">T전화</p>
					<div class="idpt-img-box idpt-mt20">
						<img src="{{cdn}}/img/customer/service/idpt_t_app_icon.png" alt="" style="max-width:5rem">
					</div>
					<ul class="idpt-oneline-list-dotted">
						<li class="right-arrow"><a href="https://m.onestore.co.kr/mobilepoc/apps/appsDetail.omp?prodId=0000719341" class="fe-link-external idpt-link-default" target="_blank">원스토어 다운로드</a></li>
						<li class="right-arrow"><a href="https://play.google.com/store/apps/details?id=com.skt.prod.dialer" class="fe-link-external idpt-link-default" target="_blank">플레이스토어 다운로드</a></li>
						<li class="right-arrow"><a href="https://itunes.apple.com/kr/app/id1150947951" class="fe-link-external idpt-link-default" target="_blank">앱스토어 다운로드</a></li>
					</ul>
				</div>
				<!-- 링크방식 변경 2019/01/21 이용규
				<table class="idpt-tbl-type03 idpt-mt60">
					<caption>T전화 앱</caption>
					<colgroup>
						<col style="width:4.8rem">
						<col style="width:auto">
					</colgroup>
					<thead>
					</thead>
					<tbody>
						<tr>
							<td>
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/service/idpt_t_app_icon.png" alt="T전화 앱 이미지" style="max-width:3.0rem">
								</div>
							</td>
							<td>
								<p class="txt-gray idpt-mt0">T전화</p>
								<div class="idpt-btn-wrap">
									<a href="javascript:void(0)" class="fe-link-external idpt-link-default idpt-mt10">앱 실행하기</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				-->

				<p class="txt-gray gray-sub with-star idpt-mt20">통화 품질, 분실, 습득, 로밍 관련 상담은 365일 24시간 운영됩니다.</p>
				<p class="txt-gray gray-sub with-star idpt-mt10">
					점심시간(12:00~13:00)에는 긴급 전문 상담만 하실 수 있습니다.
				</p>
				<p class="txt-gray gray-sub with-dot idpt-mt30">무선: 분실, 습득, 통화 품질, 로밍, T map 관련 상담</p>
				<p class="txt-gray gray-sub with-dot idpt-mt10">유선: 장애, 해지 관련 상담</p>

				<p class="txt-black idpt-bold idpt-mt60">보이는 ARS 단축번호 안내</p>
				<div class="idpt-img-box idpt-mt30">
					<img src="{{cdn}}/img/customer/service/cont_ars_number03.png" alt="
					114+ 통화
					1. 사용요금/소액결제 수납 이력
					2. 데이터 리필/부가서비스
					3. 휴대폰 정지 분실/통화 품질/트래픽 관리
					4. T로밍 서비스
					5. 내용 없음
					6. 내용 없음
					7. 내용 없음
					8. 내용 없음
					9. 내용 없음
					* 내용 없음
					0. 상담사 연결
					# 내용 없음">
				</div>

            </div>
            <!--// 타이틀 영역 -->

            <ul class="idpt-accordian">
				<li>
                    <a href="javascript:void(0)" role="button" aria-pressed="false">1. 사용요금/소액결제/수납 이력 확인</a>
                    <div class="idpt-accordian-cont">
						<div class="idpt-cont-inbox gray">
								<ul>
									<li class="txt-black">
										① 청구요금 / 실시간 / 남은 기본통화 조회
									</li>
									<li class="txt-black">
										② 소액결제 한도 조회와 차단 신청
									</li>
									<li class="txt-black">
										③ 청구요금 / 수납 이력 / 세금계산서 FAX 수신
									</li>
									<li class="txt-black">
										④ 요금 납부 안내
									</li>
									<li class="txt-black">
										⑤ 선택약정할인
									</li>
									<li class="txt-black">
										&#9438; 상담사 연결
									</li>
								</ul>
						</div>
					</div>
				</li>

			</ul>
			<!--// accordian -->

            <hr class="idpt-seperator no-border" aria-hidden="true"/>

            <div class="idpt-cont-box">
				<p class="txt-black idpt-bold">보이는 ARS 예시</p>
				<div class="idpt-img-box idpt-mt30">
					<img src="{{cdn}}/img/customer/service/img_cs3_1_6_2.png" alt="보이는 ARS 예시 화면">
				</div>
			</div>

        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
