
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">온라인 T 월드 이용안내</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box">
                <h2 class="cs-title">가려진 정보 확인 방법</h2>
                <!-- <div class="idpt-dropdown">
                    <button class="btn-dropdown dropdown-full">고객님의 정보를 가리는 이유</button>
                </div> -->
            </div>
            <!--// 타이틀 영역 -->

            <hr class="idpt-seperator no-border">

            <!-- case1. 안내문구 only -->
            <div class="idpt-cont-box">
                <p class="info-txt">가려진 정보란, 고객님의 소중한 정보가 *또는 <span class="idpt-mask-img"></span>으로 가려져 보이는 것입니다.</p>
            </div>
            <!--// case1. 안내문구 only -->

			<hr class="idpt-seperator no-border">
			<div class="idpt-cont-box">
				<p class="info-txt idpt-bold">왜 가렸을까요?</p>
				<p class="txt-gray idpt-mt20">
                    최근 사회적으로 개인정보 유출 및 스미싱의 위험이 많아지고 있어, 고객님의 소중한 정보를 보다 안전하게 보호하기 위한 것입니다.
				</p>
			</div>

			<hr class="idpt-seperator no-border">
			<div class="idpt-cont-box">
				<p class="info-txt idpt-bold">Q. 정보를 어떻게 가렸을까요?</p>
				<p class="txt-gray idpt-mt20">
					A. 고객님의 소중한 정보를 *또는 <span class="idpt-mask-img" aria-label="마스크 이미지"></span>으로 가렸어요.
				</p>
				<div class="idpt-img-box idpt-mt30">
					<img src="{{cdn}}/img/customer/service/img_cs3_2_1t_2_1.png" alt="가려진 정보 안내1 - 휴대폰번호, 단말기 정보, 개통일 등 개인정보가 *(별표)로 보여요.">
				</div>
				<div class="idpt-img-box idpt-mt30">
					<img src="{{cdn}}/img/customer/service/img_cs3_2_1t_2_2.png" alt="가려진 정보 안내2 - 숫자 자리수 유추가 가능한 정보는 보이지 않아요.">
				</div>
			</div>

			<hr class="idpt-seperator no-border">
			<div class="idpt-cont-box">
				<p class="info-txt idpt-bold">Q. 가려진 정보를 볼 수 없나요?</p>
				<p class="txt-gray idpt-mt20">
					A. 아래의 화면처럼 가려진 정보보기 버튼을 클릭하시면 정보를 보실 수 있습니다.
				</p>
				<div class="idpt-img-box idpt-mt30">
					<img src="{{cdn}}/img/customer/service/img_cs3_2_1t_2_3.png" alt="[가려진 정보보기] 버튼을 통해 볼 수 있어요.">
				</div>
			</div>

        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
