
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">이럴 땐 이렇게 하세요</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box howdo howdo-bg09">
                <h2 class="howdo-title">분실 휴대폰<br>위치 추적하기</h2>
            </div>
            <!--// 타이틀 영역 -->

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
                <h3 class="howdo-title">
					분실폰 위치추적 서비스 안내
				</h3>

				<p class="txt-gray idpt-mt30">
					친구찾기 서비스로 분실폰 위치추적을 무료로 이용하실 수 있어요. 친구찾기 모바일 앱과 T world(www.tworld.co.kr)를 통해 위치추적할 수 있어요.
				</p>

				<p class="txt-black idpt-mt40 idpt-bold">
					모바일에서 이용하기
				</p>

				<table class="idpt-tbl-type03">
					<caption>모바일에서 이용하기</caption>
					<colgroup>
						<col style="width:30%">
						<col style="width:30%">
						<col style="width:30%">
					</colgroup>
					<thead>
					</thead>
					<tbody class="b00039">
						<tr>
							<td>
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont09_1.jpg" alt="" style="max-width:6.2rem">
								</div>
								<p class="txt-gray idpt-mt24">
									원스토어에서 ‘친구찾기 앱’ 다운로드 후 설치

								</p>
							</td>
							<td>
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont09_2.jpg" alt="" style="max-width:6.2rem">
								</div>
								<p class="txt-gray idpt-mt24">
									앱 실행 후 ‘분실폰 찾기’ 메뉴 선택
								</p>
							</td>
							<td>
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont09_3.jpg" alt="" style="max-width:6.2rem">
								</div>
								<p class="txt-gray idpt-mt24">
									분실폰의 번호와 연락 받을 번호 입력 후 조회
								</p>
							</td>
						</tr>
					</tbody>
				</table>

				<div class="idpt-btn-wrap w50 idpt-mt30">
					<a href="https://m.onestore.co.kr/mobilepoc/apps/appsDetail.omp?prodId=0000298090&scYn=Y" class="fe-link-external idpt-btn-cs btn-blue-noborder" target="_blank">친구찾기 앱 다운로드</a>
				</div>
				<p class="txt-gray gray-sub align-center idpt-mt30">안드로이드 폰만 이용 가능</p>
			</div>


			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box no-border howdo">
                <h3 class="howdo-title">
					화면잠금과 위치추적까지<br>가능한 서비스 안내
				</h3>
				<p class="txt-gray idpt-mt30">갤럭시 S5, G프로 등 최신 스마트폰이라면 분실폰찾기</p>

				<table class="idpt-tbl-type03 idpt-mt60">
					<caption>갤럭시 S5, G프로 등 최신 스마트폰이라면 분실폰찾기</caption>
					<colgroup>
						<col style="width:3.75rem">
						<col style="width:auto">
					</colgroup>
					<thead>
					</thead>
					<tbody>
						<tr>
							<td>
								<div class="idpt-img-box left">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont09_4.jpg" alt="" style="max-width:2.75rem">
								</div>
							</td>
							<td>
								<p class="txt-gray">
									분실폰찾기는 휴대폰 위치추적부터 화면 잠금, 각종 개인정보를 삭제하실 수 있고, 분실 후에도 가입하실 수 있어 더욱 유용한 서비스예요.
								</p>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<p class="txt-gray gray-sub with-star">
									분실폰찾기(T파인더)는 해당기능이 탑재된 스마트폰에 한해서만 가입하실 수 있어요.
								</p>
								<p class="txt-gray gray-sub with-star idpt-mt24">
									갤럭시 노트3, 갤럭시 S5, G프로, G3, 시크릿 노트, 아이언2 등 2013.10. 이후 출시된 안드로이드 폰에 모두 탑재
								</p>
							</td>
						<tr>
					</tbody>
				</table>
				<div class="idpt-btn-wrap idpt-mt30">
					<a href="/product/callplan?prod_id=NA00004136" class="fe-link-internal idpt-btn-table btn-blue-nostyle">분실폰찾기 바로가기</a>
				</div>
			</div>

			<div class="idpt-cont-box gray howdo">
                <h3 class="howdo-title">
					갤럭시S, 갤럭시A, 갤럭시S3 등 이전 출시 기기 전용 스마트폰키퍼 서비스
				</h3>
				<p class="txt-gray idpt-mt30">원격으로 화면 잠금은 물론, 문자/주소록 삭제와 초기화 하실 수 있어요.</p>

				<div class="idpt-btn-wrap idpt-mt30">
					<a href="/product/callplan?prod_id=NA00003040" class="fe-link-internal idpt-btn-table btn-blue-nostyle">스마트폰키퍼 서비스 바로가기</a>
				</div>
			</div>

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
                <h3 class="howdo-title">
					그 외 분실 서비스 안내
				</h3>
				<p class="txt-gray idpt-mt30">다른 곳에서 제공하는 분실 서비스에 미리 가입해두셨다면 지금 바로 확인해 보세요.</p>

				<p class="txt-gray idpt-mt40">갤럭시, 노트 등 삼성 스마트폰이라면 분실 시 유용하게 이용할 수 있어요.</p>
				<div class="idpt-btn-wrap idpt-mt20">
					<a href="https://findmymobile.samsung.com/" class="fe-link-external idpt-btn-table btn-blue-nostyle left" target="_blank">삼성 다이브</a>
				</div>

				<p class="txt-gray idpt-mt40">안드로이드 사용자라면 스마트폰에 등록된 구글 계정으로 위치추적이 가능해요.</p>
				<div class="idpt-btn-wrap idpt-mt20">
					<a href="https://www.google.com/android/find?u=0" class="fe-link-external idpt-btn-table btn-blue-nostyle left" target="_blank">구글 위치추적 서비스</a>
				</div>

				<p class="txt-gray idpt-mt40">아이폰 유저라면 암호설정, 데이터 삭제, 백업/복구 등이 가능하답니다.</p>
				<div class="idpt-btn-wrap idpt-mt20">
					<a href="https://www.icloud.com/unsupported_mobile/" class="fe-link-external idpt-btn-table btn-blue-nostyle left" target="_blank">아이클라우드</a>
				</div>

			</div>


        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
