
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">다이렉트샵 / 멤버십 / 로밍에 대한 안내</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box">
                <h2 class="cs-title">모바일 T멤버십</h2>
				 <p class="info-txt idpt-mt30">
					고객님을 위한 신개념 유무선 연동 혜택서비스, <br>
					T멤버십의 다양한 혜택인 T만의 달콤한 반값 할인 초콜릿, 다양한 체험 및 문화 혜택 등 모든 혜택을 한꺼번에 이용하실 수 있습니다.
				</p>
				<div class="idpt-btn-wrap idpt-mt30">
					<a href="https://onestore.co.kr/userpoc/apps/view?pid=0000032819" class="idpt-btn-cs btn-full btn-blue-noborder fe-link-external" target="_blank">원스토어 다운로드</a>
					<a href="https://play.google.com/store/apps/details?id=Com.sktelecom.minit" class="fe-link-external idpt-btn-cs btn-full btn-blue-noborder" target="_blank">플레이스토어 다운로드</a>
					<a href="https://itunes.apple.com/kr/app/id428872117" class="idpt-btn-cs btn-full btn-blue-noborder fe-link-external" target="_blank">앱스토어 다운로드</a>
				</div>
            </div>
            <!--// 타이틀 영역 -->

            <!-- accordian -->
            <div class="idpt-cont-title">
                <p>안내 유형을 선택하세요.</p>
            </div>

            <ul class="idpt-accordian">
                <li>
                    <a href="javascript:void(0)" role="button" aria-pressed="false">T멤버십 앱에서만 만날 수 있는 특별한 혜택</a>
                    <div class="idpt-accordian-cont">
						<ol>
							<li>
								<div class="idpt-cont-inbox idpt-mt0">
									<p class="txt-black idpt-bold align-center">01. 추천</p>
									<div class="idpt-img-box idpt-mt20">
										<img src="{{cdn}}/img/customer/service/img_pcs60_01.png" alt="">
									</div>
									<p class="txt-black align-center idpt-mt20">
										사용 이력, 위치정보 등으로<br>개인 맞춤 혜택 정보 추천
									</p>
								</div>
							</li>
							<li>
								<div class="idpt-cont-inbox idpt-mt30">
									<p class="txt-black idpt-bold align-center">02. HOT&NEW</p>
									<div class="idpt-img-box idpt-mt20">
										<img src="{{cdn}}/img/customer/service/img_pcs60_02.png" alt="">
									</div>
									<p class="txt-black align-center idpt-mt20">
										최신 브랜드 혜택 정보 및<br>연관 혜택 정보 확인 가능
									</p>
								</div>
							</li>
							<li>
								<div class="idpt-cont-inbox idpt-mt30">
									<p class="txt-black idpt-bold align-center">03. 모든 혜택</p>
									<div class="idpt-img-box idpt-mt20">
										<img src="{{cdn}}/img/customer/service/img_pcs60_03.png" alt="">
									</div>
									<p class="txt-black align-center idpt-mt20">
										T멤버십의 모든 혜택을<br>보기 쉽게 한 화면으로 구성
									</p>
								</div>
							</li>
							<li>
								<div class="idpt-cont-inbox idpt-mt30">
									<p class="txt-black idpt-bold align-center">04. 멤버십 카드</p>
									<div class="idpt-img-box idpt-mt20">
										<img src="{{cdn}}/img/customer/service/img_pcs60_04.png" alt="">
									</div>
									<p class="txt-black align-center idpt-mt20">
										휴대폰에서 빠르고 간편하게<br>T멤버십 바코드를 이용
									</p>
								</div>
							</li>
							<li>
								<div class="idpt-cont-inbox idpt-mt30">
									<p class="txt-black idpt-bold align-center">05. 마이페이지</p>
									<div class="idpt-img-box idpt-mt20">
										<img src="{{cdn}}/img/customer/service/img_pcs60_05.png" alt="">
									</div>
									<p class="txt-black align-center idpt-mt20">
										멤버십 혜택을 한눈에 확인하고<br>나의 이용 패턴까지 확인
									</p>
								</div>
							</li>
						</ol>
					</div>
				</li>

                <li>
                    <a href="javascript:void(0)" role="button" aria-pressed="false">SK 패밀리 앱 다운로드</a>
                    <div class="idpt-accordian-cont">

						<div class="idpt-cont-inbox">
							<p class="txt-black idpt-bold align-center">T world</p>
							<div class="idpt-img-box idpt-mt20">
								<img src="{{cdn}}/img/customer/service/ico_familyapp1.gif" alt="" style="max-width:5rem">
							</div>
							<ul class="idpt-oneline-list-dotted">
								<li class="right-arrow"><a href="https://www.onestore.co.kr/userpoc/game/view?pid=0000032819" class="fe-link-external idpt-link-default" target="_blank">원스토어 다운로드</a></li>
								<li class="right-arrow"><a href="https://play.google.com/store/apps/details?hl=ko&id=Com.sktelecom.minit" class="fe-link-external idpt-link-default" target="_blank">플레이스토어 다운로드</a></li>
								<li class="right-arrow"><a href="https://itunes.apple.com/kr/app/id428872117" class="fe-link-external idpt-link-default" target="_blank">앱스토어 다운로드</a></li>
							</ul>
						</div>

						<div class="idpt-cont-inbox idpt-mt30">
							<p class="txt-black idpt-bold align-center">빌레터</p>
							<div class="idpt-img-box idpt-mt20">
								<img src="{{cdn}}/img/customer/service/ico_familyapp2.gif" alt="" style="max-width:5rem">
							</div>
							<ul class="idpt-oneline-list-dotted">
								<li class="right-arrow"><a href="https://www.onestore.co.kr/userpoc/game/view?pid=0000131401" class="fe-link-external idpt-link-default" target="_blank">원스토어 다운로드</a></li>
								<li class="right-arrow"><a href="https://play.google.com/store/apps/details?hl=ko&id=com.skt.smartbill" class="fe-link-external idpt-link-default" target="_blank">플레이스토어 다운로드</a></li>
								<li class="right-arrow"><a href="https://itunes.apple.com/kr/app/id435060754" class="fe-link-external idpt-link-default" target="_blank">앱스토어 다운로드</a></li>
							</ul>
						</div>

						<!-- 2019/01/21 삭제 이용규
						<div class="idpt-cont-inbox idpt-mt30">
							<p class="txt-black idpt-bold align-center">스마트 WiFi CM</p>
							<div class="idpt-img-box idpt-mt20">
								<img src="{{cdn}}/img/customer/service/ico_familyapp3.gif" alt="SMART WiFi CM" style="max-width:5rem">
							</div>
							<ul class="idpt-oneline-list-dotted">
								<li class="right-arrow"><a href="https://www.onestore.co.kr/userpoc/game/view?pid=0000091307" class="fe-link-external idpt-link-default" target="_blank">원스토어 다운로드</a></li>
							</ul>
						</div>
						-->

						<div class="idpt-cont-inbox idpt-mt30">
							<p class="txt-black idpt-bold align-center">syrup(시럽)</p>
							<div class="idpt-img-box idpt-mt20">
								<img src="{{cdn}}/img/customer/service/ico_familyapp4.gif" alt="" style="max-width:5rem">
							</div>
							<ul class="idpt-oneline-list-dotted">
								<li class="right-arrow"><a href="https://www.onestore.co.kr/userpoc/game/view?pid=0000026910" class="fe-link-external idpt-link-default" target="_blank">원스토어 다운로드</a></li>
								<li class="right-arrow"><a href="https://play.google.com/store/apps/details?hl=ko&id=com.skt.skaf.OA00026910" class="fe-link-external idpt-link-default" target="_blank">플레이스토어 다운로드</a></li>
								<li class="right-arrow"><a href="https://itunes.apple.com/kr/app/seumateuwolles-daehanmingug/id430282710?mt=8" class="fe-link-external idpt-link-default" target="_blank">앱스토어 다운로드</a></li>
							</ul>
						</div>

						<div class="idpt-cont-inbox idpt-mt30">
							<p class="txt-black idpt-bold align-center">클라우드베리</p>
							<div class="idpt-img-box idpt-mt20">
								<img src="{{cdn}}/img/customer/service/ico_familyapp5.gif" alt="" style="max-width:5rem">
							</div>
							<ul class="idpt-oneline-list-dotted">
								<li class="right-arrow"><a href="https://www.onestore.co.kr/userpoc/apps/view?pid=0000696643" class="fe-link-external idpt-link-default" target="_blank">원스토어 다운로드</a></li>
								<li class="right-arrow"><a href="https://play.google.com/store/apps/details?id=com.skt.prod.cloud" class="fe-link-external idpt-link-default" target="_blank">플레이스토어 다운로드</a></li>
								<li class="right-arrow"><a href="https://itunes.apple.com/kr/app/id1139665119" class="fe-link-external idpt-link-default" target="_blank">앱스토어 다운로드</a></li>
							</ul>
						</div>

						<div class="idpt-cont-inbox idpt-mt30">
							<p class="txt-black idpt-bold align-center">T map</p>
							<div class="idpt-img-box idpt-mt20">
								<img src="{{cdn}}/img/customer/service/ico_familyapp6.gif" alt="" style="max-width:5rem">
							</div>
							<ul class="idpt-oneline-list-dotted">
								<li class="right-arrow"><a href="https://m.onestore.co.kr/mobilepoc/apps/appsDetail.omp?prodId=0000163382&PrePageNm=/searchresult" class="fe-link-external idpt-link-default" target="_blank">원스토어 다운로드</a></li>
								<li class="right-arrow"><a href="https://play.google.com/store/apps/details?id=com.skt.tmap.ku" class="fe-link-external idpt-link-default" target="_blank">플레이스토어 다운로드</a></li>
								<li class="right-arrow"><a href="https://itunes.apple.com/kr/app/id431589174" class="fe-link-external idpt-link-default" target="_blank">앱스토어 다운로드</a></li>
							</ul>
						</div>

						<div class="idpt-cont-inbox idpt-mt30">
							<p class="txt-black idpt-bold align-center">T 스탁</p>
							<div class="idpt-img-box idpt-mt20">
								<img src="{{cdn}}/img/customer/service/ico_familyapp7.gif" alt="" style="max-width:5rem">
							</div>
							<ul class="idpt-oneline-list-dotted">
								<li class="right-arrow"><a href="https://m.onestore.co.kr/mobilepoc/apps/appsDetail.omp?prodId=0000027104&PrePageNm=/searchresult" class="fe-link-external idpt-link-default" target="_blank">원스토어 다운로드</a></li>
								<li class="right-arrow"><a href="https://play.google.com/store/apps/details?id=com.ATsolution.EXTStock" class="fe-link-external idpt-link-default" target="_blank">플레이스토어 다운로드</a></li>
								<!-- 링크 버튼 삭제 20190115 이용규
								<li class="right-arrow"><a href="#none" class="fe-link-external idpt-link-default" target="_blank">앱스토어 다운로드</a></li>
								-->
							</ul>
						</div>

					</div>
				</li>

			</ul>
			<!--// accordian -->

        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
