
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">이럴 땐 이렇게 하세요</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box howdo howdo-bg17">
                <h2 class="howdo-title">똑똑한 엄마들의<br>자녀 요금 관리법</h2>
            </div>
            <!--// 타이틀 영역 -->

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
				<h3 class="howdo-title">
					사용패턴과 연령에 맞는<br>요금제를 선택하세요!
				</h3>
				<p class="txt-black idpt-mt30">
					주말 전용 데이터를 더 드리는 요금제
				</p>

				<ul class="idpt-imgline-list idpt-mt20">
					<li class="no-border">
						<div class="imgline-subject">
							<div class="idpt-img-box">
								<img src="{{cdn}}/img/customer/howdo/howdo_cont17_1.jpg" alt="" style="max-width:4.0rem">
							</div>
						</div>
						<div class="imgline-cont">
							<p class="txt-gray">
								집전화, 이동전화 무제한, 부가 / 영상통화 50분,
								문자 기본제공, 데이터 3GB 제공,<br>
								이후 초과할 경우 400kbps로 사용 가능<br>
								토/일 1일 1GB 추가 제공!
							</p>
						</div>
					</li>
				</ul>

				<div class="idpt-btn-wrap align-right idpt-mt10">
					<a href="/product/callplan?prod_id=NA00005628" class="fe-link-internal idpt-link-default small">주말엔 팅 3.0G</a>
				</div>

			</div>

			<div class="idpt-cont-box">

				<p class="cs-title idpt-mt10" >연관 상품</p>
				<ul class="idpt-oneline-list idpt-mt40">
					<li><a href="/product/callplan?prod_id=NA00005627" class="fe-link-internal idpt-link-black link-ra">주말엔 팅 세이브</a></li>
					<li><a href="/product/callplan?prod_id=NA00005629" class="fe-link-internal idpt-link-black link-ra">주말엔 팅 5.0G</a></li>
				</ul>

				<p class="txt-black idpt-mt40">어린이 전용 휴대폰인 준(JooN)을 위한 요금제</p>
				<ul class="idpt-imgline-list idpt-mt20">
					<li class="no-border">
						<div class="imgline-subject">
							<div class="idpt-img-box">
								<img src="{{cdn}}/img/customer/howdo/howdo_cont17_2.jpg" alt="" style="max-width:4.0rem">
							</div>
						</div>
						<div class="imgline-cont">
							<p class="txt-gray">
								유아 / 어린이 안전 지킴이(긴급호출, 문자수신, 위치추적 기능)와 요금제의 종합 패키지
							</p>
						</div>
					</li>
				</ul>
				<div class="idpt-btn-wrap align-right idpt-mt10">
					<a href="/product/callplan?prod_id=NA00004484" class="fe-link-internal idpt-link-default small">쿠키즈 워치</a>
				</div>

				<hr class="idpt-underline" aria-hidden="true"/>

				<p class="cs-title idpt-mt50" >연관 상품</p>
				<ul class="idpt-oneline-list idpt-mt40">
					<li><a href="/product/callplan?prod_id=NA00004891" class="fe-link-internal idpt-link-black link-ra">쿠키즈 스마트</a></li>
				</ul>

				<p class="txt-black idpt-mt50">3G 전용 요금제</p>
				<ul class="idpt-imgline-list idpt-mt20">
					<li class="no-border">
						<div class="imgline-subject">
							<div class="idpt-img-box">
								<img src="{{cdn}}/img/customer/howdo/howdo_cont17_3.jpg" alt="" style="max-width:4.0rem">
							</div>
						</div>
						<div class="imgline-cont">
							<p class="txt-gray">
								무료 혜택을 조절하여 이용할 수 있는 어린이<br>(만 12세 이하) 요금제
							</p>
						</div>
					</li>
				</ul>
				<div class="idpt-btn-wrap align-right idpt-mt30">
					<a href="/product/callplan?prod_id=NA00002669" class="fe-link-internal idpt-link-default small">팅 주니어 표준+ 요금</a>
				</div>

				<p class="cs-title idpt-mt50">연관 상품</p>
				<ul class="idpt-oneline-list idpt-mt40">
					<li><a href="/product/callplan?prod_id=NA00004828" class="idpt-link-black link-ra">3G band 팅 세이브</a></li>
				</ul>
				<div class="idpt-btn-wrap idpt-mt30">
					<!--<a href="idpt_howdo_cs17(popup01).html" class="fe-link-internal idpt-btn-table btn-full btn-blue-nostyle small" target="_blank">데이터로밍 무조건차단 서비스(무료) 신청하기</a>-->
					<a href="javascript:void(0)" data-popup="popup01" class="idpt-popup-open idpt-btn-table btn-full btn-blue-nostyle small">데이터로밍 무조건차단 서비스(무료) 신청하기</a>
				</div>
			</div>
			<!-- popup 시작 -->
			<div class="idpt-popup">
				<div class="idpt-popup-wrap" id="popup01">
					<div class="idpt-popup-header">
						<p class="popup-title">팅요금제 가입하면 자동가입되는 무료서비스 안내</p>
						<a href="javascript:void(0)" onclick="history.back();" class="idpt-popup-close">팝업닫기</a>
					</div>
					<div class="idpt-popup-cont-wrap">
						<div class="idpt-popup-cont">

							<p class="txt-black idpt-bold align-center idpt-mt40">
								청소년 고객(팅 요금제 가입고객) 보호를 위한<br>
								다양한 무료 부가서비스를 이용해 보세요.
							</p>

							<table class="idpt-tbl-type03 popup-table">
								<caption>팅요금제 가입하면 자동가입되는 무료서비스 안내</caption>
								<colgroup>
									<col style="width:30%">
									<col style="width:auto">
								</colgroup>
								<thead>
								</thead>
								<tbody>
									<tr>
										<td>
											<div class="idpt-img-box left">
												<img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup17-1.jpg" alt="" style="max-width:4.8rem">
											</div>
										</td>
										<td>
											<p class="txt-black idpt-bold">
												소액결제 차단서비스
											</p>
											<p class="txt-black idpt-mt20">
												컨텐츠, 물품 구매할 때 휴대폰 결제 차단
											</p>
											<p class="txt-gray idpt-mt10">팅 요금제 자동가입</p>
										</td>
									</tr>
									<tr>
										<td>
											<div class="idpt-img-box left">
												<img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup17-2.jpg" alt="" style="max-width:4.8rem">
											</div>
										</td>
										<td>
											<p class="txt-black idpt-bold">
												스팸 문자 차단 서비스
											</p>
											<p class="txt-black idpt-mt20">
												060식별번호를 회신번호로 하는 문자수신 차단
											</p>
											<p class="txt-gray idpt-mt10">SK텔레콤 고객 자동가입</p>
										</td>
									</tr>
									<tr>
										<td>
											<div class="idpt-img-box left">
												<img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup17-3.jpg" alt="" style="max-width:4.8rem">
											</div>
										</td>
										<td>
											<p class="txt-black idpt-bold">
												국제전화 발신 금지 서비스
											</p>
											<p class="txt-black idpt-mt20">
												해외발송 문자와 국제전화발신 차단
											</p>
											<p class="txt-gray idpt-mt10">팅 요금제 자동가입</p>
										</td>
									</tr>
									<tr class="noborder">
										<td>
											<div class="idpt-img-box left">
												<img src="{{cdn}}/img/customer/howdo/popup-img/cont-popup17-4.jpg" alt="" style="max-width:4.8rem">
											</div>
										</td>
										<td>
											<p class="txt-black idpt-bold">
												콜렉트콜 수신거부 서비스
											</p>
											<p class="txt-black idpt-mt20">
												SK텔레콤 1541콜렉트콜 수신거부
											</p>
											<p class="txt-gray idpt-mt10">팅 요금제 자동가입</p>
										</td>
									</tr>

								</tbody>
							</table>

							<div class="idpt-cont-inbox gray">
								<p class="txt-black idpt-bold">통합 콜렉트콜 수신 차단 신청 : 1644-1739</p>
								<p class="txt-black idpt-mt30">
									사업자별 콜렉트콜 발신번호 :<br>
									KT(1541), LG U+(08217, 1633),<br>
									SK텔링크(1682), 온세통신(1677),<br>
									SK브로드밴드(1655)<br>
								</p>
							</div>

							<p class="txt-black with-dot idpt-mt40">
								팅요금제가 아닌 고객님은 고객센터에서 별도로 가입 필요
							</p>
							<p class="txt-black with-dot idpt-mt30">
								스팸 문자 차단 서비스는 연령, 요금제 상관 없이 SK텔레콤 고객님이면 자동으로 가입
							</p>

						</div>
					</div>
				</div>
			</div>
			<!--// popup 끝 -->

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
				<h3 class="howdo-title">
					사용량이 많은 자녀를 위한<br>충전과 데이터 선물 이용하기
				</h3>
				<p class="txt-black idpt-mt30">
					팅 요금 충전
				</p>

				<ul class="idpt-imgline-list idpt-mt20">
					<li class="no-border">
						<div class="imgline-subject">
							<div class="idpt-img-box">
								<img src="{{cdn}}/img/customer/howdo/howdo_cont17_4.jpg" alt="" style="max-width:4.0rem">
							</div>
						</div>
						<div class="imgline-cont">
							<p class="txt-gray">
								요금 걱정 없이 통화요금 충전해 주세요.
							</p>
						</div>
					</li>
				</ul>

				<div class="idpt-btn-wrap idpt-mt0">
					<a href="/myt-data/recharge/cookiz" class="fe-link-internal idpt-btn-table btn-full btn-blue-nostyle small">자세히 보기</a>
				</div>
				<p class="txt-gray gray-sub with-star idpt-mt30">
					법정대리인이 동의하면 아이가 최대 22,000원(부가세 포함)까지 충전할 수 있어요.
				</p>

				<p class="txt-black idpt-mt30">
					T끼리 데이터 선물
				</p>

				<ul class="idpt-imgline-list idpt-mt20">
					<li class="no-border">
						<div class="imgline-subject">
							<div class="idpt-img-box">
								<img src="{{cdn}}/img/customer/howdo/howdo_cont17_5.jpg" alt="" style="max-width:4.0rem">
							</div>
						</div>
						<div class="imgline-cont">
							<p class="txt-gray">
								아빠! 엄마! 아이에게 데이터 선물해 주세요.
							</p>
						</div>
					</li>
				</ul>

				<div class="idpt-btn-wrap idpt-mt0">
					<a href="/myt-data/giftdata" class="fe-link-internal idpt-btn-table btn-full btn-blue-nostyle small">자세히 보기</a>
				</div>

			</div>

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
				<h3 class="howdo-title">
					요금 관리 팁
				</h3>
				<p class="txt-black idpt-mt30">
					자녀 요금 통보 서비스
				</p>
				<p class="txt-gray idpt-mt30">
					자녀가 이용한 정보이용료와 이용요금내역을 무료 문자로 부모님의 휴대폰으로 발송해 드리고 있어요.
				</p>
				<p class="txt-black with-dot idpt-mt30">
					19세 이하 고객님은 자동가입(2012. 9. 3. 부터)
				</p>
				<p class="txt-black with-dot idpt-mt24">
					어린이요금제 이용 고객: 2014. 8. 5. 이후 부터 자동가입
				</p>
				<p class="txt-black with-dot idpt-mt24">
					서비스 미사용 중인 경우, 고객센터 또는 지점/대리점에서 신청 가능
				</p>
				<div class="idpt-btn-wrap idpt-mt30">
					<a href="/myt-join/additions" class="fe-link-internal idpt-btn-table btn-full btn-blue-nostyle small">서비스 가입 여부 확인</a>
				</div>
				<div class="idpt-btn-wrap idpt-mt20">
					<a href="/myt-fare/bill/hotbill/child" class="fe-link-internal idpt-btn-table btn-full btn-blue-nostyle small">자녀요금 조회 바로가기</a>
				</div>
				<p class="txt-gray idpt-mt30">
					원스토어나 구글Play 스토어에서 유료 앱 등 구매로 발생할 수 있는 콘텐츠 이용요금는 부모님의 관리가 필요해요.
				</p>
				<p class="txt-black with-dot idpt-mt30">
					결제내역을 주기적으로 확인하여 결제 한도를 낮춰 주세요.
				</p>
				<div class="idpt-btn-wrap idpt-mt30">
					<a href="/myt-fare/bill/contents" class="fe-link-internal idpt-btn-table btn-full btn-blue-nostyle small">콘텐츠 이용요금 결제한도 변경/설정</a>
				</div>
				<p class="txt-black with-dot idpt-mt30">
					원스토어나 구글 Play 스토어에 비밀번호를 설정하여 무분별한 콘텐츠 이용을 예방해 주세요.
				</p>
				<p class="txt-black with-dot idpt-mt30">
					고객센터, 지점/대리점에서 콘텐츠 구입 차단을 신청해 주세요.
				</p>

				<p class="txt-black idpt-bold idpt-mt60">
					콘텐츠 이용 비밀번호 설정으로 무분별한 이용요금 발생 줄이기
				</p>

				<p class="txt-black idpt-bold idpt-mt40">구글 Play스토어</p>

				<ul class="idpt-box-list idpt-mt30">
					<li class="w100-arrow"><p class="box-cont">환경설정</p></li>
					<li class="w100-arrow"><p class="box-cont">구매할 때 비밀번호 입력</p></li>
					<li class="w100"><p class="box-cont">이 기기에서 구글<br>플레이를 구매할 때마다</p></li>
				</ul>

				<p class="txt-black idpt-bold idpt-mt40">원 스토어</p>

				<ul class="idpt-box-list idpt-mt30">
					<li class="w100-arrow"><p class="box-cont">환경설정</p></li>
					<li class="w100-arrow"><p class="box-cont">사용잠금 설정</p></li>
					<li class="w100"><p class="box-cont">원스토어 잠금설정</p></li>
				</ul>

			</div>

        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
