
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">목소리 인증/전화 상담에 대한 안내</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box">
                <h2 class="cs-title">버튼식 ARS</h2>
				<div class="idpt-img-box idpt-mt30">
					<img src="{{cdn}}/img/customer/service/img_cs66_02.png" alt="고객님의 전화상담 예약이 완료되었습니다." style="max-width:7rem">
				</div>
				<p class="txt-black idpt-bold align-center idpt-mt30">고객님의 전화 상담 예약이<br>완료되었습니다.</p>
				<p class="txt-gray gray-sub align-center idpt-mt20">입력하신 휴대폰 또는 유선 전화로 예약하신 시간에<br>상담원이 전화를 드립니다.</p>
            </div>
            <!--// 타이틀 영역 -->

			<div class="idpt-cont-box">
				<p class="info-txt">전화상담 예약 결과</p>
				<p class="info-txt idpt-bold idpt-mt30">예약정보</p>

				<ul class="idpt-oneline-list">
					<li>
						<div class="oneline-subject">예약 일자</div>
						<div class="oneline-cont">2018년 9월 5일(수)</div>
					</li>
					<li>
						<div class="oneline-subject">예약 시간</div>
						<div class="oneline-cont">오전 11:00</div>
					</li>
					<li>
						<div class="oneline-subject">상담 유형</div>
						<div class="oneline-cont">일반 상담</div>
					</li>
					<li>
						<div class="oneline-subject">상담 지역</div>
						<div class="oneline-cont">수도권(서울, 경기, 인천, 강원)</div>
					</li>
					<li class="no-border">
						<div class="oneline-subject">연락 가능 번호</div>
						<div class="oneline-cont">010-1234-5678</div>
					</li>
				</ul>
				<div class="idpt-btn-wrap idpt-mt20">
					<a href="#none" class="fe-link-internal idpt-btn-cs btn-full btn-blue-noborder">전화 상담 예약 현황보기</a>
				</div>
			</div>

        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
