
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">휴대폰 요금기준 안내</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box">
                <h2 class="cs-title">band LTE</h2>
            </div>
            <!--// 타이틀 영역 -->

            <hr class="idpt-seperator no-border" aria-hidden="true"/>

            <!-- 안내문구 -->
            <!-- case1. 안내문구 only -->
            <div class="idpt-cont-box">
                <p class="info-txt">
					SK텔레콤이 상용화한 3밴드 LTE-A를 시작으로 향후 4개, 5개의 주파수 대역을 연결하는 4밴드, 5밴드 LTE-A 및 5G까지 아우르는 SK텔레콤의 차세대 네트워크 서비스입니다.<br>
					SK텔레콤은 명실상부한 이동통신 1위 사업자로서 빠르게 발전하는 네트워크 기술을 선도하고, 이를 바탕으로 한 차별화된 서비스를 고객님에게 지속적으로 제공하겠습니다.
					SK텔레콤이 빠른 속도를 바탕으로 제공하는 풍부한 콘텐츠를 band LTE하나로 모두 즐기세요.
				</p>
            </div>
            <!--// case1. 안내문구 only -->

            <!--// 안내문구 -->
            <hr class="idpt-seperator no-border" aria-hidden="true"/>

            <ul class="idpt-accordian">
                <li>
                    <a href="javascript:void(0)" role="button" aria-pressed="false">Band LTE 안내</a>
                    <div class="idpt-accordian-cont">
                        <p class="accordian-cont-title idpt-mt0">4배 빠른 LTE-A, SK텔레콤 상용화</p>
                        <p class="txt-black idpt-mt20">세계에서 가장 빠른 기적의 속도 300Mbps 4배 빠른 LTE-A를 실감하세요!<br>(이론상 최고 속도, 서비스 가능 지역/해당 기기에 한함)</p>
                        <div class="idpt-img-box idpt-mt30">
                            <img src="{{cdn}}/img/customer/service/img_cs42_01.png" alt="LTE 2011.7 상용화 75Mbps 110초, 광대역LTE 2013.6 상용화 150Mbps 55초, 광대역LTE-A 2014.6 상용화 2band LTE-A 225Mbps 37초">
                        </div>
                        <p class="accordian-cont-desc">1GB 동영상을 28초 만에 받을 수 있는 4배 빠른 LTE-A입니다.</p>
                        <div class="accordian-cont-box">
                            <p class="accordian-cont-box-title idpt-mt0">꿈의 속도를 구현한 첨단 기술</p>
                            <p class="txt-black idpt-mt20">SK텔레콤은 3개 대역의 주파수를 결합해 LTE보다 4배 빠른 꿈의 속도를 구현하였습니다!</p>
                            <p class="accordian-cont-box-title">3G band LTE-A란?</p>
                            <p class="txt-black idpt-mt20">20MHz 광대역 LTE 주파수 2개 (1.8GHz, 2.1GHz/2.6Hz)와 10MHz 주파수 (800MHz) 1개를 묶어서 실현한 기술입니다.</p>
                            <p class="accordian-cont-box-title">3G band LTE-A가 되면 무엇이 좋아지나요?</p>
                            <p class="txt-black idpt-mt20">대용량 서비스(개인방송, 클라우드 서비스, 무손실 음원 청취, 영화 다운로드) 등이 기존 네트워크 대비 4배 더 빠른 속도로 이용하실 수 있습니다.<br>예를 들어 1GB 동영상을 28초 만에 받아 즐기실 수 있습니다.</p>
                            <p class="txt-gray gray-title with-star idpt-mt20">CA(Carrier Aggregation)이란?</p>
                            <p class="txt-gray gray-sub">여러 개의 LTE 주파수를 하나로 묶어 결합시키는 기술로, 최대 5개의 주파수 대역을 묶어 100MHz의 대역폭까지 사용할 수 있습니다.<br>(실제 속도는 접속자 수 및 무선환경의 영향을 받을 수 있습니다.)</p>
                        </div>
                        <p class="accordian-cont-title">국내 최다 3 Band LTE-A 기지국 기반의 국내 최대 커버리지</p>
                        <div class="idpt-img-box idpt-mt30">
                            <img src="{{cdn}}/img/customer/service/img_cs42_02.gif" alt="서울 수도권 및 6대 광역시 전국 주요기역 내 서비스 제공, 지하철 1분기 내 지하철 전 구간 서비스 제공 예정">
                        </div>
                        <div class="accordian-cont-box">
                            <p class="accordian-cont-box-title idpt-mt0">이동통신사별 3 band LTE-A 기지국 규모</p>
                            <p class="txt-black idpt-mt20">가장 많은 기지국을 구축한 SK텔레콤은 2019년까지 85개 시 이상 지역에서 서비스를 제공할 예정이다.</p>
                            <div class="idpt-img-box idpt-mt30">
                                <img src="{{cdn}}/img/customer/service/img_cs42_03.png" alt="L사 10000~14000개, SK텔레콤 12000~17000개, K사 3000개">
                            </div>
                            <a href="http://www.zdnet.co.kr/news/news_view.asp?artice_id=20161013182536&type=det&re=" class="fe-link-external idpt-reference idpt-mt20" target="_blank">* 출처 : LTE 서비스 표시 광고법 관련 기사 내용 발췌</a>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
