
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">이럴 땐 이렇게 하세요</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box howdo howdo-bg06">
                <h2 class="howdo-title">나만의 사용패턴에 맞는<br>할인 방법</h2>
            </div>
            <!--// 타이틀 영역 -->

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
                <h3 class="howdo-title">
					출퇴근 시간<br>데이터 사용이 많은 직장인
				</h3>
				<table class="idpt-tbl-type03 idpt-mt60">
					<caption>출퇴근 시간 데이터 이용이 많은 직장인</caption>
					<colgroup>
						<col style="width:4.625rem">
						<col style="width:auto">
					</colgroup>
					<thead>
					</thead>
					<tbody>
						<tr>
							<td>
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont06_1.jpg" alt="" style="max-width:3.75rem">
								</div>
							</td>
							<td>
								<p class="txt-gray idpt-mt20">
									출퇴근 프리를 이용하시면, 출퇴근 시간대에<br>이동하면서 버스 또는 전철 안에서<br>데이터를 마음껏 사용하실 수 있어요.
								</p>
								<div class="idpt-btn-wrap idpt-mt30">
									<a href="/product/callplan?prod_id=NA00004324" class="fe-link-internal idpt-btn-cs btn-full btn-blue-nostyle">출퇴근 프리</a>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont06_2.jpg" alt="" style="max-width:3.75rem">
								</div>
							</td>
							<td>
								<p class="txt-gray idpt-mt20">
									지하철 프리를 이용하시면,<br>
									지하철 이용 중에는 언제든지 데이터 통화료<br>
									걱정 없이 LTE서비스를 마음껏 사용하실 수 있어요.
								</p>
								<div class="idpt-btn-wrap idpt-mt30">
									<a href="/product/callplan?prod_id=NA00004410" class="fe-link-internal idpt-btn-cs btn-full btn-blue-nostyle">지하철 프리</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
				<h3 class="howdo-title">
					특정 시점<br>데이터 사용이 많은 폭식형
				</h3>

				<table class="idpt-tbl-type03 idpt-mt60">
					<caption></caption>
					<colgroup>
						<col style="width:4.625rem">
						<col style="width:auto">
					</colgroup>
					<thead>
					</thead>
					<tbody>
						<tr>
							<td>
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont06_3.jpg" alt="" style="max-width:3.75rem">
								</div>
							</td>
							<td>
								<p class="txt-gray idpt-mt20">
									특정 시점에 데이터를 한꺼번에 사용하는 폭식형은 24시간 데이터 할인을 이용해 보세요.<br>
									가입 후 24시간 동안 데이터 사용율을 50% 할인 받으실 수 있어요.
								</p>
								<div class="idpt-btn-wrap idpt-mt30">
									<a href="/product/callplan?prod_id=TW00000102" class="fe-link-internal idpt-btn-cs btn-full btn-blue-nostyle">24시간 데이터 할인</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
            </div>

			<!--
			<div class="idpt-cont-box nopadding-bottom">
				<p class="cs-title">연관 상품</p>
				<ul class="idpt-oneline-list idpt-mt40">
					<li class="right-arrow"><a href="" class="fe-link-internal">band 타임프리</a></li>
					<li class="right-arrow"><a href="" class="fe-link-internal">band 출퇴근 프리</a></li>
					<li class="right-arrow no-border"><a href="" class="fe-link-internal">band 지하철 프리</a></li>
				</ul>
			</div>
			-->

        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
