
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">다이렉트샵 / 멤버십 / 로밍에 대한 안내</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box">
                <h2 class="cs-title">멤버십 이용</h2>
				 <p class="info-txt idpt-mt30">
					대한민국 국민이라면 누구나 혜택을 누릴 수 있다는 취지 아래 만든 멤버십은 SK텔레콤이 고객님의 똑똑한 소비생활을 위해 드리는 혜택입니다.<br>
					SK텔레콤의 다양한 멤버십 혜택이 고객님과 함께합니다.
				</p>
            </div>
            <!--// 타이틀 영역 -->

            <hr class="idpt-seperator no-border" aria-hidden="true"/>
			<div class="idpt-cont-box">
				<p class="txt-black idpt-bold">T멤버십 서비스 안내</p>
				<p class="txt-black idpt-mt20">
					T멤버십에서 제공하는 혜택 및 서비스에 대하여 안내해 드립니다.
				</p>

				<div class="idpt-cont-inbox idpt-mt30">
					<div class="idpt-img-box">
						<img src="{{cdn}}/img/customer/service/ico_cs_3_1_3_1t_1.png" alt="" style="max-width:5rem">
					</div>
					<p class="txt-black idpt-bold align-center idpt-mt20">멤버십</p>
					<p class="txt-black align-center idpt-mt20">신규/재발급/카드종류변경 등과 같은 각종 신청/변경/조회 관련 메뉴를 빠르고 편하게 이용할 수 있습니다.</p>

					<div class="idpt-btn-wrap idpt-mt30">
						<a href="/membership/my" class="fe-link-internal idpt-btn-cs btn-full btn-blue-noborder">멤버십 카드 바로가기</a>
					</div>
				</div>

				<div class="idpt-cont-inbox idpt-mt30">
					<div class="idpt-img-box">
						<img src="{{cdn}}/img/customer/service/ico_cs_3_1_3_1t_2.png" alt="" style="max-width:5rem">
					</div>
					<p class="txt-black idpt-bold align-center idpt-mt20">초콜릿</p>
					<p class="txt-black align-center idpt-mt20">매일 10시에 시작되는 T멤버십 고객을 위한 달콤한 반값 세상, 초콜릿! T멤버십 고객님께 파격적인 할인가로 구매/이용할 수 있는 혜택을 드립니다.</p>
					<div class="idpt-btn-wrap idpt-mt30">
						<a href="http://tmembership.tworld.co.kr/web/html/chocolate/main/ChocoHomeMain.jsp?sel=1" class="fe-link-external idpt-btn-cs btn-full btn-blue-noborder" target="_blank">초콜릿 바로가기</a>
					</div>
				</div>

				<div class="idpt-cont-inbox idpt-mt30">
					<div class="idpt-img-box">
						<img src="{{cdn}}/img/customer/service/ico_cs_3_1_3_1t_3.png" alt="" style="max-width:5rem">
					</div>
					<p class="txt-black idpt-bold align-center idpt-mt20">이벤트</p>
					<p class="txt-black align-center idpt-mt20">T멤버십 회원만을 위한 이벤트 공간 경품 응모, 체험 이벤트, VIP까지. 다양한 이벤트 프로모션을 체험할 수 있습니다.</p>

					<div class="idpt-btn-wrap idpt-mt30">
						<a href="/tevent/ing" class="fe-link-internal idpt-btn-cs btn-full btn-blue-noborder">이벤트 바로가기</a>
					</div>
				</div>

				<div class="idpt-cont-inbox idpt-mt30">
					<div class="idpt-img-box">
						<img src="{{cdn}}/img/customer/service/ico_cs_3_1_3_1t_4.png" alt="" style="max-width:5rem">
					</div>
					<p class="txt-black idpt-bold align-center idpt-mt20">고객센터</p>
					<p class="txt-black align-center idpt-mt20">멤버십에 대하여 궁금하신 점이나 불편하신 점은 언제든 고객센터 온라인 상담/문의를 이용해 주세요.</p>

					<div class="idpt-btn-wrap idpt-mt30">
						<a href="/customer/emailconsult" class="fe-link-internal idpt-btn-cs btn-full btn-blue-noborder">고객센터 바로가기</a>
					</div>
				</div>

				<div class="idpt-cont-inbox idpt-mt30">
					<div class="idpt-img-box">
						<img src="{{cdn}}/img/customer/service/ico_cs_3_1_3_1t_5.png" alt="" style="max-width:5rem">
					</div>
					<p class="txt-black idpt-bold align-center idpt-mt20">멤버십 정보</p>
					<p class="txt-black align-center idpt-mt20">라이프 스타일에 따라 각종 추천 정보와 이용 내역 통계를 알려드립니다. 멤버십과 관련된 개인 서비스 정보를 확인/설정할 수 있습니다.</p>

					<div class="idpt-btn-wrap idpt-mt30">
						<a href="/membership/membership_info/mbrs_0001" class="fe-link-internal idpt-btn-cs btn-full btn-blue-noborder">멤버십 정보 바로가기</a>
					</div>
				</div>

				<div class="idpt-cont-inbox idpt-mt30">
					<div class="idpt-img-box">
						<img src="{{cdn}}/img/customer/service/ico_cs_3_1_3_1t_6.png" alt="" style="max-width:5rem">
					</div>
					<p class="txt-black idpt-bold align-center idpt-mt20">제휴사 혜택 안내</p>
					<p class="txt-black align-center idpt-mt20">기본 제휴 혜택뿐만 아니라 캐시백 혜택까지 한번에 확인할 수 있고, 제휴사 매장 정보도 검색할 수 있습니다.</p>

					<div class="idpt-btn-wrap idpt-mt30">
						<a href="/membership/benefit/brand" class="fe-link-internal idpt-btn-cs btn-full btn-blue-noborder">제휴사 혜택 바로가기</a>
					</div>
				</div>

				<div class="idpt-cont-inbox idpt-mt30">
					<div class="idpt-img-box">
						<img src="{{cdn}}/img/customer/service/ico_cs_3_1_3_1t_7.png" alt="" style="max-width:5rem">
					</div>
					<p class="txt-black idpt-bold align-center idpt-mt20">모바일 T멤버십</p>
					<p class="txt-black align-center idpt-mt20">고객님을 위한 신개념 유무선 연동 혜택 서비스! 모바일에서도 T멤버십 서비스를 이용하실 수 있습니다.</p>

					<div class="idpt-btn-wrap idpt-mt30">
						<a href="https://m.onestore.co.kr/mobilepoc/apps/appsDetail.omp?prodId=0000035733&PrePageNm=/searchresult" class="fe-link-external idpt-btn-cs btn-full btn-blue-noborder" target="_blank">모바일 T 멤버십 바로가기</a>
					</div>
				</div>

			</div>

        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
