
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">모바일 T world</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box">
                <h2 class="cs-title">모바일 T world</h2>
				 <p class="info-txt idpt-mt30">
					스마트폰에서 이용하실 수 있는 모바일 T world 안내, 다운로드 링크, 주요 메뉴에 대해 안내해 드립니다.
				</p>
				 <p class="info-txt idpt-mt30">
					스마트폰을 이용하지 않는 고객님들은 M고객센터에서 주요 서비스를 이용하실 수 있습니다.
				</p>
				<div class="idpt-btn-wrap idpt-mt30">
					<a href="/customer/svc-info/site/mcenter" class="fe-link-internal idpt-btn-cs btn-full btn-blue-noborder fe-link-internal">M고객센터 바로가기</a>
				</div>
            </div>
            <!--// 타이틀 영역 -->

			<div class="idpt-cont-box">
                <h2 class="cs-title">모바일 T world 안내</h2>
				<p class="txt-gray idpt-mt20">
					나의 요금제 정보 및 다양한 서비스를 이용할 수 있는<br>모바일 T world를 지금 바로 만나보세요.
				</p>
				<div class="idpt-img-box idpt-mt60">
					<img src="{{cdn}}/img/customer/service/img_pcs79_01.png" alt="">
				</div>
            </div>

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box">

				<h2 class="cs-title">다운로드 안내</h2>
				<table class="idpt-tbl-type02">
					<caption></caption>
					<colgroup>
						<col style="width:30%">
						<col style="width:70%">
					</colgroup>
					<thead>
					</thead>
					<tbody>
						<tr>
							<td>
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/service/img_pcs79_02.png" alt="" style="max-width:7rem">
								</div>
							</td>
							<td>
								<p class="txt-black"><span class="idpt-bold">원스토어</span> (www.onestore.co.kr)</p>
								<div class="idpt-btn-wrap idpt-mt30">
									<a href="https://onestore.co.kr/userpoc/apps/view?pid=0000032819" class="fe-link-external idpt-btn-cs btn-full btn-blue" target="_blank">다운로드 바로가기</a>
								</div>
							</td>
						</tr>
						<tr class="line_sec">
							<td>
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/service/img_pcs79_03.png" alt="" style="max-width:7rem">
								</div>
							</td>
							<td>
								<p class="txt-black"><span class="idpt-bold">구글 Play 스토어</span> (play.google.com/store)</p>
								<div class="idpt-btn-wrap idpt-mt30">
									<a href="https://play.google.com/store/apps/details?id=Com.sktelecom.minit" class="fe-link-external idpt-btn-cs btn-full btn-blue" target="_blank">다운로드 바로가기</a>
								</div>
							</td>
						</tr>
						<tr class="line_sec">
							<td>
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/service/img_pcs79_04.png" alt="" style="max-width:7rem">
								</div>
							</td>
							<td>
								<p class="txt-black"><span class="idpt-bold">앱스토어</span> (itunes.apple.com/kr)</p>
								<div class="idpt-btn-wrap idpt-mt30">
									<a href="https://itunes.apple.com/kr/app/id428872117" class="fe-link-external idpt-btn-cs btn-full btn-blue" target="_blank">다운로드 바로가기</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box">
                <h2 class="cs-title">주요 메뉴 안내</h2>
				<p class="info-txt idpt-mt20">
					모바일 T world에서 이용하실 수 있는 주요 메뉴에 대해 안내해 드립니다.
				</p>

            </div>
            <!-- accordian -->
            <ul class="idpt-accordian">
                <li>
                    <a href="javascript:void(0)" role="button" aria-pressed="false">나의 데이터 / 통화</a>
                    <div class="idpt-accordian-cont">
						<ul class="idpt-dot-list-black idpt-mt0">
							<li>실시간 잔여량</li>
							<li>T끼리데이터선물</li>
							<li>리필쿠폰</li>
							<li>최근 충전 / 선물 내역</li>
						</ul>
					</div>
				</li>

                <li>
                    <a href="javascript:void(0)" role="button" aria-pressed="false">나의 요금</a>
                    <div class="idpt-accordian-cont">
						<ul class="idpt-dot-list-black idpt-mt0">
							<li>요금안내서</li>
							<li>실시간 이용요금</li>
							<li>요금안내서 설정</li>
							<li>납부방법</li>
							<li>소액결제</li>
							<li>콘텐츠 이용요금</li>
							<li>요금납부내역 조회</li>
						</ul>
					</div>
				</li>

                <li>
                    <a href="javascript:void(0)" role="button" aria-pressed="false">나의 가입 정보</a>
                    <div class="idpt-accordian-cont">
						<ul class="idpt-dot-list-black idpt-mt0">
							<li>나의 요금제</li>
							<li>나의 부가서비스</li>
							<li>나의 결합상품</li>
							<li>약정할인 / 기기상환 정보</li>
							<li>휴대폰 일시정지</li>
							<li>인터넷 / 집전화 / IPTV 신청내역</li>
							<li>인터넷 / 집전화 / IPTV 일시 정지 / 해제</li>
						</ul>
					</div>
				</li>

                <li>
                    <a href="javascript:void(0)" role="button" aria-pressed="false">T멤버십</a>
                    <div class="idpt-accordian-cont">
						<ul class="idpt-dot-list-black idpt-mt0">
							<li>나의 T멤버십</li>
							<li>제휴브랜드</li>
							<li>T멤버십 안내</li>
						</ul>
					</div>
				</li>

                <li>
                    <a href="javascript:void(0)" role="button" aria-pressed="false">혜택 / 할인</a>
                    <div class="idpt-accordian-cont">
						<ul class="idpt-dot-list-black idpt-mt0">
							<li>나의 혜택 / 할인</li>
							<li>요금 할인</li>
							<li>결합 할인</li>
							<li>장기가입 혜택</li>
							<li>참여 혜택</li>
						</ul>
					</div>
				</li>
                <li>
                    <a href="#none" class="no-accordian">이벤트</a>
				</li>
                <li>
                    <a href="#none" class="no-accordian">요금제</a>
				</li>
                <li>
                    <a href="#none" class="no-accordian">부가서비스</a>
				</li>
                <li>
                    <a href="#none" class="no-accordian">인터넷 / 집전화 / IPTV</a>
				</li>
                <li>
                    <a href="javascript:void(0)" role="button" aria-pressed="false">T로밍</a>
                    <div class="idpt-accordian-cont">
						<ul class="idpt-dot-list-black idpt-mt0">
							<li>나의 T로밍 이용현황</li>
							<li>국가별 로밍 이용요금 조회</li>
							<li>T로밍 요금제</li>
							<li>T로밍 부가서비스</li>
							<li>T파이 임대</li>
							<li>T로밍센터</li>
							<li>T로밍안내</li>
						</ul>
					</div>
				</li>
                <li>
                    <a href="javascript:void(0)" role="button" aria-pressed="false">이용안내</a>
                    <div class="idpt-accordian-cont">
						<ul class="idpt-dot-list-black idpt-mt0">
							<li>지점 / 대리점 찾기</li>
							<li>A/S센터 찾기</li>
							<li>임대폰 제공 매장 찾기</li>
							<li>이메일 상담하기</li>
							<li>이메일 상담내역</li>
							<li>자주 하는 질문</li>
							<li>서비스 이용안내</li>
							<li>사이트 이용방법</li>
							<li>필요서류 안내</li>
							<li>공지사항</li>
							<li>칭찬합니다</li>
							<li>설문조사</li>
							<li>이용자 피해예방센터</li>
							<li>제안합니다</li>
						</ul>
					</div>
				</li>
			</ul>
			<!--// accordian -->

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box">

				<h2 class="cs-title">M 고객센터 안내</h2>

				<p class="txt-black">
					스마트폰을 이용하지 않는 고객님들은<br>
					M고객센터를 통해 T world의 주요 서비스를 이용하실 수 있습니다.
				</p>
				<div class="idpt-btn-wrap idpt-mt30">
					<a href="/customer/svc-info/site/mcenter" class="fe-link-internal idpt-btn-cs btn-full btn-blue fe-link-internal">M고객센터 바로가기</a>
				</div>
			</div>

            <hr class="idpt-seperator no-border" aria-hidden="true"/>

            <!-- FAQ -->
            <div class="idpt-toggle-set">
               <button class="idpt-toggle-btn" aria-pressed="false">FAQ</button>
                <div class="idpt-toggle-cont">

                    <div class="idpt-faq-question">
						<div class="faq-icon-txt" aria-hidden="true"/>Q</div>
                        <p>[모바일 T world] T world 아이디와 비밀번호를 잃어버렸습니다. 모바일 T world에서 아이디 비밀번호 찾기가 가능한가요?</p>
                    </div>
                    <div class="idpt-faq-answer-sw">
						<div class="faq-icon-txt" aria-hidden="true"/>A</div>
                        <p>모바일 T world의 로그인 화면에서 ‘아이디 찾기’ 또는 ‘비밀번호 재설정’을 탭하시고 본인명의 휴대폰 인증, 아이핀 인증, 이메일 인증 등 본인인증을 통해 아이디 찾기, 비밀번호 재설정을 하실 수 있습니다.</p>
                    </div>

                    <div class="idpt-faq-question">
						<div class="faq-icon-txt" aria-hidden="true"/>Q</div>
                        <p>[모바일 T world] 모바일 T world에서 소액결제 이용한도 변경 및 제한 설정하는 방법을 알려 주세요.</p>
                    </div>
                    <div class="idpt-faq-answer-sw">
						<div class="faq-icon-txt" aria-hidden="true"/>A</div>
                        <p>모바일 T world 메인 하단 신청/변경 > 소액결제내역 > 소액결제 설정에서 소액결제 이용제한 및 이용한도를 변경할 수 있습니다. 소액결제 이용금액 한도 상향 변경은 월 1회만 가능합니다.</p>
                    </div>

                    <div class="idpt-faq-question">
						<div class="faq-icon-txt" aria-hidden="true"/>Q</div>
                        <p>[모바일 T world] 위젯은 어떻게 이용하나요? 바탕화면에서 볼 수 있는 항목과 디자인도 선택할 수 있나요?</p>
                    </div>
                    <div class="idpt-faq-answer-sw">
						<div class="faq-icon-txt" aria-hidden="true"/>A</div>
                        <p>위젯 서비스는 안드로이드 OS 이용 고객님, 자동 로그인 설정이 On이 되어 있는 고객님만 이용하실 수 있습니다.</p>
                    </div>

                    <div class="idpt-faq-question">
						<div class="faq-icon-txt" aria-hidden="true"/>Q</div>
                        <p>[모바일 T world] 앱 설치는 완료되었는데.. 정상적으로 이용이 안돼요. 어떻게 해야 하나요?</p>
                    </div>
                    <div class="idpt-faq-answer-sw">
						<div class="faq-icon-txt" aria-hidden="true"/>A</div>
                        <p>
							모바일 T world 앱이 설치 과정에서 정상적으로 설치가 안되었을 수 있습니다.<br/>
							기기의 설정 > 일반 > 앱 관리 화면에서 모바일 T world를 선택해서 삭제 또는 업데이트 제거를 진행해 주세요. 이후 다시 스토리에서 다운로드 받아 재설치 후 이용해 주세요.
							(앱 관리 화면에 대한 경로는 기기마다 다를 수 있으니 기기 이용 매뉴얼을 참고해 주세요.)
						</p>
                    </div>
                    <div class="idpt-faq-question">
						<div class="faq-icon-txt" aria-hidden="true"/>Q</div>
                        <p>[모바일 T world] 모바일 T world 서비스 이용 데이터 통화료는 무료인가요?</p>
                    </div>
                    <div class="idpt-faq-answer-sw">
						<div class="faq-icon-txt" aria-hidden="true"/>A</div>
                        <p>
							3G/LTE 망에서 모바일 T world 이용 시 데이터 사용료는 무료입니다. 단, 해외로밍 이용 시에는 데이터 사용료가 부과됩니다. 블랙베리 BIS 요금제 가입 고객님의 경우, 3G/LTE 이용시 데이터 사용료가 부과될 수 있습니다.
						</p>
                    </div>
                    <div class="idpt-faq-btn">
                        <a href="/customer/faq" class="fe-link-internal idpt-btn-cs btn-full btn-blue-noborder">FAQ 바로가기</a>
                    </div>
                </div>
            </div>
            <!--// FAQ -->

        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
