
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">다이렉트샵 / 멤버십 / 로밍에 대한 안내</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box">
                <h2 class="cs-title">구매</h2>
                <div class="idpt-dropdown">
                    <button class="btn-dropdown dropdown-full">다이렉트샵 구매 가이드</button>
                </div>
            </div>
            <!--// 타이틀 영역 -->

            <hr class="idpt-seperator no-border" aria-hidden="true"/>

            <div class="idpt-cont-box">
                <p class="accordian-cont-title idpt-mt0">하나, 우선 마음에 드는 휴대폰을 선택하세요.</p>
                <div class="idpt-img-box idpt-mt30">
                    <img src="{{cdn}}/img/customer/service/img_cs51_01.png" alt="다이렉트샵 휴대폰 목록 화면">
                </div>
            </div>

            <hr class="idpt-seperator no-border" aria-hidden="true"/>

            <div class="idpt-cont-box">
                <p class="accordian-cont-title idpt-mt0">둘, 나에게 맞는 옵션을 선택하세요.</p>
                <p class="accordian-cont-title-sub">할부기간 선택에 대한 안내입니다.</p>
                <div class="idpt-img-box idpt-mt30">
                    <img src="{{cdn}}/img/customer/service/img_cs51_02.png" alt="할부기간 선택 화면">
                </div>
                <p class="accordian-cont-title-sub">요금제 선택에 대한 안내입니다.</p>
                <div class="idpt-img-box idpt-mt30">
                    <img src="{{cdn}}/img/customer/service/img_cs51_03.png" alt="요금제 선택 화면">
                </div>
            </div>

            <hr class="idpt-seperator no-border" aria-hidden="true"/>

            <div class="idpt-cont-box">
                <p class="accordian-cont-title idpt-mt0">셋, 선택하신 상품 구성과 월 납부금액을 확인하고, 원하는 주문 방식을 선택해 주세요.</p>
                <div class="idpt-img-box idpt-mt30">
                    <img src="{{cdn}}/img/customer/service/img_cs51_04.png" alt="주문 방식 선택 화면">
                </div>

            </div>

            <hr class="idpt-seperator no-border" aria-hidden="true"/>

            <div class="idpt-cont-box">
                <p class="accordian-cont-title idpt-mt0">넷, 오직 T world 다이렉트샵에서만 제공되는 무료 ‘T 기프트’를 선택하세요.</p>
                <div class="idpt-img-box idpt-mt30">
                    <img src="{{cdn}}/img/customer/service/img_cs51_05.png" alt="T기프트 선택 화면">
                </div>
            </div>

            <hr class="idpt-seperator no-border" aria-hidden="true"/>

            <div class="idpt-cont-box">
                <p class="accordian-cont-title idpt-mt0">다섯, 서비스를 업그레이드한 T world 다이렉트샵만의 가치 있는 서비스를 경험해 보세요.</p>
                <div class="idpt-img-box idpt-mt30">
                    <img src="{{cdn}}/img/customer/service/img_cs51_06.png" alt="다이렉트샵 화면">
                </div>
            </div>

        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
