
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">이럴땐 이렇게 하세요</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box howdo howdo-bg22">
                <h2 class="howdo-title">VIP 혜택과 해외이용<br>혜택 보기</h2>
            </div>
            <!--// 타이틀 영역 -->

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">

				<h3 class="howdo-title idpt-mt30">
					VIP는 VIP답게 누리는 급이<br>다른 헤택, VIP 프리미엄 멤버십
				</h3>

				<table class="idpt-tbl-type03 idpt-mt40">
					<caption>VIP는 VIP답게 누리는 급이 다른 헤택, VIP 프리미엄 멤버십</caption>
					<colgroup>
						<col style="width:50%">
						<col style="width:50%">
					</colgroup>
					<thead>
					</thead>
					<tbody>
						<tr>
							<td>
								<div class="idpt-img-box left">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont22_1.jpg" alt="극장 연 6회 무료 VIP 1,000원당 150원" style="max-width:10.3125rem">
								</div>
							</td>
							<td>
								<div class="idpt-img-box right">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont22_2.jpg" alt="피자 30%, TGIF 20% 외식혜택" style="max-width:10.3125rem">
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="idpt-img-box left">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont22_3.jpg" alt="짝수월 신세계 상품권 10% 할인" style="max-width:10.3125rem">
								</div>
							</td>
							<td>
								<div class="idpt-img-box right">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont22_4.jpg" alt="자동차 종합헤택패키지 카 라이프" style="max-width:10.3125rem">
								</div>
							</td>
						</tr>
					</tbody>
				</table>

				<div class="idpt-btn-wrap idpt-mt10">
					<a href="#none" class="fe-link-internal idpt-btn-table btn-full btn-blue-nostyle small">VIP 혜택 더 보기</a>
				</div>
			</div>

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">

				<h3 class="howdo-title idpt-mt30">
					해외여행지에서도<br>멤버십 혜택과 함께하세요<br>T멤버십 글로벌
				</h3>

				<table class="idpt-tbl-type03 idpt-mt40">
					<caption>해외여행지에서도 멤버십 혜택과 함께하세요 T멤버십 글로벌</caption>
					<colgroup>
						<col style="width:50%">
						<col style="width:50%">
					</colgroup>
					<thead>
					</thead>
					<tbody>
						<tr>
							<td colspan="2">
								<div class="idpt-img-box left">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont22_5.jpg" alt="해외호텔 할인 및 T로밍 원패스 제공" style="max-width:20.5rem">
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="idpt-img-box left">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont22_6.jpg" alt="인기 여행지 입장권/교통패스 할인" style="max-width:10.3125rem">
								</div>
							</td>
							<td>
								<div class="idpt-img-box right">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont22_7.jpg" alt="인천공항 마티나 라운지 할인" style="max-width:10.3125rem">
								</div>
							</td>
						</tr>
					</tbody>
				</table>

				<div class="idpt-btn-wrap idpt-mt10">
					<a href="#none" class="fe-link-internal idpt-btn-table btn-full btn-blue-nostyle small">제휴사 혜택 더 보기</a>
				</div>
				<p class="txt-gray gray-sub with-star idpt-mt30">
					세부내용은 T멤버십 홈페이지 또는 App.을 참고해 주세요.
				</p>

			</div>

        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
