
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">다이렉트샵 / 멤버십 / 로밍에 대한 안내</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box">
                <h2 class="cs-title">T로밍 이용안내</h2>
				 <p class="info-txt idpt-mt30">
					T로밍 고객센터, T로밍 가이드를 안내해 드립니다
				</p>
				<div class="idpt-btn-wrap idpt-mt30">
					<a href="/product/roaming" class="idpt-btn-cs btn-full btn-blue-noborder">T로밍 고객센터 위치 바로가기</a>
				</div>
            </div>
            <!--// 타이틀 영역 -->

            <!-- accordian -->
            <div class="idpt-cont-title">
                <p>안내 유형을 선택하세요.</p>
            </div>

            <ul class="idpt-accordian">
                <li>
                    <a href="javascript:void(0)" role="button" aria-pressed="false">T로밍 고객센터</a>
                    <div class="idpt-accordian-cont">

							<p class="txt-black idpt-bold">쿠폰/배송 상품 구매 방법 안내</p>
							<table class="idpt-tbl-type02">
								<caption>쿠폰/배송 상품 구매 방법 안내</caption>
								<colgroup>
									<col style="width:30%">
									<col style="width:70%">
								</colgroup>
								<thead>
								</thead>
								<tbody>
									<tr>
										<td>
											<div class="idpt-img-box">
												<img src="{{cdn}}/img/customer/service/img_cs61_01.png" alt="">
											</div>
										</td>
										<td>
											<p class="txt-black idpt-bold">국내</p>
											<p class="txt-black idpt-mt20">02-6343-9000(SK텔레콤 휴대폰에서 무료)</p>
										</td>
									</tr>
									<tr class="line_sec">
										<td>
											<div class="idpt-img-box">
												<img src="{{cdn}}/img/customer/service/img_cs61_02.png" alt="">
											</div>
										</td>
										<td>
											<p class="txt-black idpt-bold">해외</p>
											<p class="txt-black idpt-mt20">+82-2-6343-9000(SK텔레콤 휴대폰에서 무료)</p>
											<p class="txt-gray gray-sub with-star idpt-mt20">
												단, 로밍오토다이얼 이용할 경우<br>02-6343-9000 (SK텔레콤 휴대폰에서 무료)
											</p>
										</td>
									</tr>
								</tbody>
							</table>

							<p class="txt-black idpt-bold idpt-mt60">해외에서 일반/공중/호텔전화 이용할 경우</p>
							<ul class="idpt-box-list">
								<li class="w100-arrow">
									<p class="txt-black align-center">
										국가별 수신자부담 전화
									</p>
									<div class="idpt-btn-wrap idpt-mt30">
										<a href="javascript:void(0)" data-popup="popup01" class="idpt-popup-open idpt-btn-cs btn-full btn-blue">자세히 보기</a>
									</div>
								</li>
								<li class="w100-arrow">
									<p class="txt-black align-center">
										안내중 "#"버튼
									</p>
								</li>
								<li class="w100">
									<p class="txt-black align-center">
										고객님의 휴대폰번호 누르면 상담원 연결
									</p>
								</li>
							</ul>
							<p class="txt-gray gray-sub with-star idpt-mt20">해외 현지에서 국내로 발신할 경우 요금이 발생합니다.</p>
					</div>
				</li>

                <li>
                    <a href="javascript:void(0)" role="button" aria-pressed="false">로밍 가이드 다운로드</a>
                    <div class="idpt-accordian-cont">

							<p class="txt-black idpt-bold">PDF 다운로드</p>
							<table class="idpt-tbl-type02">
								<caption>PDF 다운로드</caption>
								<colgroup>
									<col style="width:30%">
									<col style="width:70%">
								</colgroup>
								<thead>
								</thead>
								<tbody>
									<tr>
										<td>
											<div class="idpt-img-box">
												<img src="{{cdn}}/img/customer/service/img_pcs61_01.gif" alt="">
											</div>
										</td>
										<td>
											<p class="txt-black idpt-bold idpt-mt10">스마트폰</p>
											<a href="http://cdnm.tworld.co.kr/adminupload/guide/file/smartphone_AUTO.pdf" class=" idpt-link-default fe-link-external idpt-mt10" target="_blank">자동 로밍 가이드</a>
										</td>
									</tr>
									<tr class="line_sec">
										<td>
											<div class="idpt-img-box">
												<img src="{{cdn}}/img/customer/service/img_pcs61_02.gif" alt="">
											</div>
										</td>
										<td>
											<p class="txt-black idpt-bold idpt-mt10">일반폰</p>
											<a href="http://cdnm.tworld.co.kr/adminupload/guide/file/AUTO.pdf" class=" idpt-link-default fe-link-external idpt-mt10" target="_blank">자동 로밍 가이드</a>
										</td>
									</tr>
								</tbody>
							</table>
							<p class="txt-gray gray-sub with-star idpt-mt20">
								PDF 로밍 가이드를 보시려면 어도비 리더를 다운받으시기 바랍니다.
							</p>

							<div class="idpt-btn-wrap idpt-mt30">
								<a href="https://get.adobe.com/kr/reader/" class="idpt-btn-cs btn-full btn-blue fe-link-external" target="_blank">어도비 리더 다운 받기</a>
							</div>

					</div>
				</li>

			</ul>
			<!--// accordian -->

			<!-- popup 시작 -->
			<div class="idpt-popup">
				<div class="idpt-popup-wrap" id="popup01">
					<div class="idpt-popup-header">
						<p class="popup-title">국가별 수신자부담 전화번호 안내</p>
						<a href="javascript:void(0)" onclick="history.back();" class="idpt-popup-close">팝업닫기</a>
					</div>
					<div class="idpt-popup-cont-wrap">
						<div class="idpt-popup-cont">


							<table class="idpt-tbl-type01">
								<caption>국가별 수신자부담 전화번호 안내</caption>
								<colgroup>
									<col width="50%">
									<col width="50%">
								</colgroup>
								<thead>
									<tr>
										<th>국가명</th>
										<th>전화번호</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>괌(Guam)/사이판(Saipan)</td>
										<td>1-800-789-1782</td>
									</tr>
									<tr>
										<td>그리스(Greece)</td>
										<td>00800-12-5907</td>
									</tr>
									<tr>
										<td>네덜란드(Netherlands)</td>
										<td>0800-022-7428</td>
									</tr>
									<tr>
										<td>대만(Taiwan)</td>
										<td>0800-881-855</td>
									</tr>
									<tr>
										<td>독일(Germany)</td>
										<td>0800-187-3559</td>
									</tr>
									<tr>
										<td>마카오(macau)</td>
										<td>080-870</td>
									</tr>
									<tr>
										<td>말레이시아(Malaysia)</td>
										<td>1-800-80-4527</td>
									</tr>
									<tr>
										<td>미국(United States)/<br>하와이(Hawaii)</td>
										<td>1800-435-6575</td>
									</tr>
									<tr>
										<td>멕시코(Mexico)</td>
										<td>001-866-869-8441</td>
									</tr>
									<tr>
										<td>베트남(Vietnam)</td>
										<td>120-82-007</td>
									</tr>
									<tr>
										<td>벨기에(Belguim)</td>
										<td>0800-11261</td>
									</tr>
									<tr>
										<td>브라질(Brazil)</td>
										<td>0800-891-9483</td>
									</tr>
									<tr>
										<td>스웨덴(Sweden)</td>
										<td>020-79-0067</td>
									</tr>
									<tr>
										<td>스위스(Switzerland)</td>
										<td>0800-563-798</td>
									</tr>
									<tr>
										<td>스페인(Spain)</td>
										<td>900-98-8318</td>
									</tr>
									<tr>
										<td>싱가포르(Singapore)</td>
										<td>800-008-2021</td>
									</tr>
									<tr>
										<td>영국(United Kingdom)</td>
										<td>0800-404-8980</td>
									</tr>
									<tr>
										<td>오스트리아(Austria)</td>
										<td>0800-293-528</td>
									</tr>
									<tr>
										<td>이스라엘(Israel)</td>
										<td>1-80-921-3878</td>
									</tr>
									<tr>
										<td>이집트(Egypt)</td>
										<td>795-5770<br>+ 영어멘트 중 3838</td>
									</tr>
									<tr>
										<td>이탈리아(Italy)</td>
										<td>1-800-789-1782</td>
									</tr>
									<tr>
										<td>인도(India)</td>
										<td>000-800-100-6239</td>
									</tr>
									<tr>
										<td>인도네시아(Indomesia)</td>
										<td>007-801-8213</td>
									</tr>
									<tr>
										<td>일본(Japan)</td>
										<td>00531-008-266</td>
									</tr>
									<tr>
										<td>중국(China) 북부</td>
										<td>108-824</td>
									</tr>
									<tr>
										<td>중국(China) 남부</td>
										<td>10800-152-1096</td>
									</tr>
									<tr>
										<td>캐나다(Canada)</td>
										<td>1-888-431-5699</td>
									</tr>
									<tr>
										<td>태국(Thailand)</td>
										<td>001-999-4000(일반전화)<br>1800-0082-40(공중전화)</td>
									</tr>
									<tr>
										<td>페루(Peru)</td>
										<td>0-800-50010<br>+ 영어 멘트 중 3838</td>
									</tr>
									<tr>
										<td>폴란드(Poland)</td>
										<td>00800-111-2096</td>
									</tr>
									<tr>
										<td>프랑스(France)</td>
										<td>0800-91-7351</td>
									</tr>
									<tr>
										<td>필리핀(Philippines)</td>
										<td>105-826</td>
									</tr>
									<tr>
										<td>헝가리(Hungary)</td>
										<td>06-8001-8238</td>
									</tr>
									<tr>
										<td>호주(Australia)</td>
										<td>1800-106-846</td>
									</tr>
									<tr>
										<td>홍콩(Hongkong)</td>
										<td>800-93-2701</td>
									</tr>
								</tbody>
							</table>

							<!-- 이용안내 -->
							<div class="idpt-toggle-set">
								<button class="idpt-toggle-btn" aria-pressed="false">이용안내</button>
								<div class="idpt-toggle-cont">

									<div class="idpt-guide-title">
										<p>1. 수신자부담 전화 이용 안내</p>
									</div>
									<div class="idpt-guide-cont">
										<p class="txt-black with-dot idpt-mt0">
											수신자부담 전화를 이용할 경우 해외 현지에서 국내로 발신하는 요금이 발생합니다.
										</p>
										<p class="txt-black with-dot idpt-mt30">
											호텔 전화를 이용할 경우 호텔에 따라 추가 요금이 발생할 수 있습니다.
										</p>
									</div>

									<div class="idpt-guide-title">
										<p>2. 중국 지역 안내</p>
									</div>
									<div class="idpt-guide-cont">
										<p class="txt-black with-dot idpt-mt0">
											중국 북부: 북경, 천진, 호남성, 산동성, 산서성, 하북성, 요녕성, 길림성, 흑룡강성, 내몽고자치구
										</p>
										<p class="txt-black with-dot idpt-mt30">
											중국 남부: 북부에 속해 있는 성, 시 이외의 지역
										</p>
									</div>

								</div>
							</div>
							<!--// 이용안내 -->

						</div>
					</div>
				</div>
			</div>
			<!--// popup 끝 -->


        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
