
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">이럴 땐 이렇게 하세요</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box howdo howdo-bg23">
                <h2 class="howdo-title">T로밍 서비스<br>이용방법은?</h2>
            </div>
            <!--// 타이틀 영역 -->

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
                <h3 class="howdo-title">
					T로밍 서비스 안내
				</h3>

				<table class="idpt-tbl-type03 idpt-mt60">
					<caption>금융정보는 별도의 이동식 저장장치에 저장</caption>
					<colgroup>
						<col style="width:50%">
						<col style="width:50%">
					</colgroup>
					<thead>
					</thead>
					<tbody>
						<tr>
							<td>
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont23_1.jpg" alt="" style="max-width:5.625rem">
								</div>
								<p class="txt-black black-sub align-center idpt-mt30">해외에서도 별도 신청 없이,<br>쓰던 휴대폰 그대로</p>
							</td>
							<td>
								<div class="idpt-img-box">
									<img src="{{cdn}}/img/customer/howdo/howdo_cont23_2.jpg" alt="" style="max-width:5.625rem">
								</div>
								<p class="txt-black black-sub align-center idpt-mt30">여행국가의 통화 요금 기준<br>확인은 필수</p>
							</td>
						</tr>
					</tbody>
				</table>

				<div class="idpt-btn-wrap w50 idpt-mt20">
					<a href="/product/roaming/info/lte#lte-guide" class="fe-link-internal idpt-btn-cs btn-full btn-blue">자동로밍 서비스</a>
					<a href="/product/roaming/do/search-before" class="fe-link-internal idpt-btn-cs btn-full btn-blue">국가별 요금안내</a>
				</div>
				<p class="txt-gray gray-sub with-star idpt-mt60">
					일부 휴대폰은 자동로밍이 지원되지 않을 수 있으니, 꼭 체크해 주세요.
				</p>
				<p class="txt-gray gray-sub with-star idpt-mt20">
					국내 요금제와 상관 없이 여행국가의 요금기준에 따라 통화료가 발생 돼요.
				</p>
				<ul class="idpt-imgline-list idpt-mt30">
					<li class="three_line right-arrow idpt-re-padding">
						<div class="imgline-subject">
							<div class="idpt-img-box left">
								<img src="{{cdn}}/img/customer/howdo/howdo_cont23_3.jpg" alt="" style="max-width:3.75rem">
							</div>
						</div>
						<div class="imgline-cont">
							<a href="/product/roaming/info/lte#lte-guide" class="fe-link-internal">
								<p>
									<span class="txt-black idpt-bold">내 휴대폰은 자동로밍 또는 임대로밍</span>
								</p>
								<p class="txt-gray idpt-mt20">휴대폰 기종과 출국 국가에 따라 이용할 수 있는 T로밍 서비스를 알려 드려요.</p>
							</a>
						</div>
					</li>
					<li class="three_line no-border right-arrow idpt-re-padding">
						<div class="imgline-subject">
							<div class="idpt-img-box left">
								<img src="{{cdn}}/img/customer/howdo/howdo_cont23_4.jpg" alt="" style="max-width:3.75rem">
							</div>
						</div>
						<div class="imgline-cont">
							<a href="/product/callplan?prod_id=NA00000294" class="fe-link-internal">
								<p>
									<span class="txt-black idpt-bold">국제전화 발신금지 확인해 주세요.</span>
								</p>
								<p class="txt-gray idpt-mt20">국제전화발신금지 상태인 경우 로밍 후에도 국제전화를 사용하실 수 없으니 발신금지 해지 후 이용해 주세요.</p>
							</a>
						</div>
					</li>
				</ul>
			</div>

			<hr class="idpt-seperator no-border" aria-hidden="true"/>

			<div class="idpt-cont-box howdo">
                <h3 class="howdo-title">
					잠깐! 출발하시기 전<br>T로밍센터와 임대로밍서비스를<br>확인하세요.
				</h3>

				<ul class="idpt-imgline-list idpt-mt30">
					<li class="four_line">

						<div class="imgline-cont">
							<p>
								<span class="txt-black idpt-bold">임대로밍 서비스</span>
							</p>
							<p class="txt-gray idpt-mt20">자동로밍이 되지 않는 휴대폰은 별도로 임대 받아 쓰던 번호 그대로 해외에서 사용해 주세요.</p>
						</div>

						<div class="imgline-subject">
							<div class="idpt-img-box boxalign-right">
								<img src="{{cdn}}/img/customer/howdo/howdo_cont23_5.jpg" alt="" style="max-width:3.625rem">
							</div>
						</div>
						<ul class="idpt-link-box">
							<li><a href="/product/roaming/info/center" class="fe-link-internal">임대로밍 예약하기</a></li>
						</ul>
						<p class="txt-gray gray-sub with-star idpt-mt0">
							T로밍 온라인에서 간편하게 예약 신청하실 수 있어요.
						</p>
						<p class="txt-gray gray-sub with-star idpt-mt20">
							임대로밍 시 수령 / 반납에 대한 주의사항을 확인해 주세요.
						</p>
						<ul class="idpt-link-box right-align">
							<li>
								<!--<a href="idpt_howdo_cs23(popup01).html" class="fe-link-internal">주의사항 확인</a>-->
								<a href="javascript:void(0)" data-popup="popup01" class="idpt-popup-open">주의사항 확인</a>
							</li>
						</ul>
					</li>
					<li class="four_line no-border">
						<div class="imgline-cont">
							<a href="#none" class="fe-link-internal">
								<p>
									<span class="txt-black idpt-bold">T로밍센터 서비스</span>
								</p>
								<p class="txt-gray idpt-mt20">로밍 관련 사항은 물론 해외에서 필요한 충전기, 멀티플러그, 충전용 젠더를 무상으로 대여해 드려요.</p>
							</a>
						</div>
						<div class="imgline-subject">
							<div class="idpt-img-box boxalign-right">
								<img src="{{cdn}}/img/customer/howdo/howdo_cont23_6.jpg" alt="" style="max-width:3.25rem">
							</div>
						</div>
						<ul class="idpt-link-box">
							<li><a href="/product/roaming/info/center" class="fe-link-internal">T로밍센터 위치보기</a></li>
						</ul>
					</li>
				</ul>

				<!-- popup 시작 -->
				<div class="idpt-popup">
					<div class="idpt-popup-wrap" id="popup01">
						<div class="idpt-popup-header">
							<p class="popup-title">임대로밍 시 수령 / 반납에 대한 주의사항</p>
							<a href="javascript:void(0)" onclick="history.back();" class="idpt-popup-close">팝업닫기</a>
						</div>
						<div class="idpt-popup-cont-wrap">
							<div class="idpt-popup-cont">

								<div class="idpt-cont-box">
									<p class="txt-black with-dot">원하는 휴대폰을 임대하시려면 T로밍 고객센터에 미리 예약해 주세요.</p>
									<p class="txt-black with-dot idpt-mt40">임대폰의 수령과 반납은 출국/입국 당일 T로밍 고객센터로 방문해서 진행해 주세요.</p>
									<p class="txt-black with-dot idpt-mt40">임대료는 수령일로부터 반납일까지를 기준으로 1일 2,200원(부가세 포함)이 부과 돼요.</p>
									<p class="txt-black with-dot idpt-mt40">임대폰을 반납할 경우, 입국 장소가 출국 장소와 다를 경우라도 각 공항 또는 항만 내 T로밍 고객센터에 반납하실 수 있어요.</p>
							   </div>

							</div>
						</div>
					</div>
				</div>
				<!--// popup 끝 -->

			</div>


        </div>
        <!--// #contents -->

<!-- ##################################################################################################### -->
    </div>
</body>

</html>
