
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">가려진 정보보기(마스킹)</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <hr class="idpt-seperator no-border" aria-hidden="true"/>

            <!-- case4. 안내문구 + 링크버튼 -->
            <div class="idpt-cont-box">
                <p class="txt-black idpt-bold">고객님의 개인정보를 화면에서 *<!-- 또는 <span class="idpt-mask-img"></span>-->로 가려 보호합니다.</p>
            </div>
            <!--// case4. 안내문구 + 버튼 -->

            <hr class="idpt-seperator no-border" aria-hidden="true"/>

            <div class="idpt-cont-box">
                <p class="txt-black idpt-bold">정보를 *<!-- 또는 <span class="idpt-mask-img"></span>-->로 가리는 이유는?</p>
				<p class="txt-black idpt-mt30">
					개인정보 유출로부터 고객님의 소중한 정보를 보호하기 위해 이름, 전화번호, 주소 등 개인정보를 화면에서 가려 보호합니다.
				</p>
				<div class="idpt-img-box idpt-mt40">
					<img src="{{cdn}}/img/customer/damage-pre/img_cont_p91_01.png" alt="" style="max-width:14rem">
				</div>
			</div>
			<div class="idpt-cont-box">
				<p class="txt-black idpt-bold">가려진 정보 확인 방법</p>
				<p class="txt-black with-dot idpt-mt30">'가려진 정보 표시' 버튼 누르기<br>페이지 하단/상단에 위치한 자물쇠 이미지를 누르세요.</p>
				<div class="idpt-img-box idpt-mt40">
					<img src="{{cdn}}/img/customer/damage-pre/img_cont_p91_02.png" alt="" style="max-width:14rem">
				</div>
				<p class="txt-black with-dot idpt-mt30">
					본인 인증하기<br>
					SK텔레콤 문자, 다른 이동통신사 문자, 범용 공인인증서 등 조회하고자 하는 정보에 따라 인증 방식은 달라집니다.
				</p>
				<p class="txt-black with-dot idpt-mt30">
					가려진 정보 확인하기<br>
					 본인인증을 하시면 가려진 정보를 확인하실 수 있습니다. 단, 이름, 전화번호, 주소 등 일부 정보는 인증 후에도 보이지 않습니다. 그 외 고객님의 소중한 금융정보보호를 위해 계좌번호, 카드번호, 생년월일 등 일부만 확인하실 수 있습니다.
				</p>
			</div>

        </div>
        <!--// #contents -->
<!-- ##################################################################################################### -->
    </div>
</body>
