
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">이용자 피해예방 가이드</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <hr class="idpt-seperator no-border" aria-hidden="true"/>

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box howdo prev-bg02">
                <h2 class="prev-title">메모리 해킹 주의보</h2>
				<h3 class="prev-title">신종 금융사기인 메모리 해킹 사례와<br>예방법을 알려드립니다.</h3>
            </div>
            <!--// 타이틀 영역 -->

            <hr class="idpt-seperator no-border" aria-hidden="true"/>

            <div class="idpt-cont-box">
                <p class="txt-black idpt-bold">메모리 해킹이란?</p>
				<p class="txt-black idpt-mt20">
					악성코드에 감염된 피해자 PC에서 키보드입력 정보를 유출하고 보안 프로그램이 제 기능을 못하게 합니다. 이후 예금이체정보 등을 조작하여 돈을 인출해가는 수법입니다.
				</p>
			</div>

			<div class="idpt-cont-box">
				<p class="txt-black idpt-bold">메모리 해킹 수법 안내</p>
				<div class="idpt-img-box idpt-mt30">
					<img src="{{cdn}}/img/customer/damage-pre/img_cont_p78_01.png" alt="1.악성코드 유포, 2.공인인증서 등 금융정보 유출, 3.정상적인 인터넷뱅킹, 4.금융거래 종료, 5.(악성코드)허위/위장 거래요청, 6.(은행)차회 보안카드 번호 요청, 7.보안카드번호 추가 입력 요구 *앞뒤2자리(보안강화 팝업창), 8.보안카드 번호 탈취, 9.수집한 금융정보를 이용하여 예금인출">
				</div>
			</div>

            <!-- accordian -->
            <ul class="idpt-accordian">
                <li>
                    <a href="javascript:void(0)" role="button" aria-pressed="false">메모리 해킹 수법 안내</a>
                    <div class="idpt-accordian-cont">
						<p class="txt-black idpt-bold underline-gray idpt-mt0">가짜가 아닌, 정상 은행 사이트에 접속해도 돈을 인출합니다.</p>
						<p class="txt-black idpt-mt30">이체 거래 시 반복적인 오류가 발생합니다.</p>
						<p class="txt-gray idpt-mt30">인터넷 뱅킹 거래를 할 때, 악성코드를 통해 반복적인 오류를 발생시킵니다. 입력했던 보안카드 번호 등 금융정보를 탈취해 무단 이체를 실행합니다.</p>

						<hr class="idpt-underline" aria-hidden="true"/>

						<p class="txt-black idpt-mt40">이체 거래 정상 완료 후, 개인정보 입력을 요구하는 팝업이 실행됩니다.</p>
						<p class="txt-gray idpt-mt30">
							보안 강화를 목적으로 금융정보 입력을 요구합니다.<br>
							정보를 입력하시면 무단 이체를 실행합니다.
						</p>
					</div>

                </li>
				<li>
					 <a href="javascript:void(0)" role="button" aria-pressed="false">메모리 해킹 피해예방 안전 수칙</a>
					 <div class="idpt-accordian-cont">
                        <p class="txt-black idpt-bold idpt-mt0">OTP와 보안토큰을 사용합니다.</p>
						<ul>
							<li>
								<p class="txt-gray idpt-bold idpt-mt30">OTP</p>
								<p class="txt-gray idpt-mt24">
									금융 거래할 때 새로운 6자리 비밀번호를 생성하는 일회용 비밀번호 생성기입니다.
								</p>
							</li>
							<li>
								<p class="txt-gray idpt-bold idpt-mt30">보안토큰</p>
								<p class="txt-gray idpt-mt24">
									외부 위협으로부터 공인인증서를 안전하게 보호할 수 있는 스마트카드, USB 형태의 휴대용 저장장치입니다.
								</p>
							</li>
							<li>
								<p class="txt-black idpt-bold idpt-mt40">전자금융사기 예방서비스에 가입합니다.</p>
								<p class="txt-gray idpt-bold idpt-mt30">가입 후 추가적인 본인확인 필요</p>
								<p class="txt-gray with-dot idpt-mt20">공인인증서를 발급 / 재발급 받거나 다른 기관에서 발급한 공인인증서를 등록하는 경우
								<p class="txt-gray with-dot idpt-mt20">인터넷 뱅킹을 이용하여 300만원 이상(1일 누적기준) 이체하는 경우</p>

								<p class="txt-gray idpt-bold idpt-mt30">본인 확인 방법</p>
								<p class="txt-gray with-dot idpt-mt20">보안카드 또는 OTP카드 인증 후, 기기 지정(PC, 스마트폰 등) 및 문자/ARS 인증이 필요합니다.</p>
							</li>
						</ul>

						<ul class="idpt-oneline-list idpt-mt40">
							<li class="top-border"><p class="txt-black">출처가 확인되지 않은 파일과 이메일은 즉시 삭제합니다.</p></li>
							<li><p class="txt-black">윈도우, 백신프로그램은 최신 상태로 유지합니다.</p></li>
							<li><p class="txt-black">영화 등 무료 다운로드 사이트를 주의하세요.<br>
							출처가 확인되지 않은 파일은 절대로 다운로드 받지 않습니다.</p></li>
						</ul>

					</div>
				</li>
            </ul>
            <!--// accordian -->

			<div class="idpt-cont-box top-border">
				<p class="txt-black idpt-bold">관련 부가서비스 안내</p>
				<table class="idpt-product-box idpt-mt40">
					<caption>관련 부가서비스 안내</caption>
					<colgroup>
						<col style="width:50%">
						<col style="width:50%">
					</colgroup>
					<thead>
					</thead>
					<tbody>
						<tr>
							<td>
								<p class="txt-black idpt-bold">T_세이퍼 (New)</p>
								<p class="txt-black idpt-mt20">바이러스, 악성코드 치료<br>(PC 종합 보안 서비스)</p>
								<a href="http://m.tworld.co.kr/mwire.do?serviceId=S_WIRE3000&viewId=M_WIRE3000&prod_id=NI00000404" target="_self" class="idpt-link-default small idpt-mt20">바로가기</a>
							</td>
							<td>
								<p class="txt-black idpt-bold">T_PC원스톱</p>
								<p class="txt-black idpt-mt20">PC 사용 중 발생 문제<br>원격 A/S</p>
								<a href="http://m.tworld.co.kr/mwire.do?serviceId=S_WIRE3000&viewId=M_WIRE3000&prod_id=NI00000266" target="_self" class="idpt-link-default small idpt-mt20">바로가기</a>
							</td>
						</tr>
						<tr>
							<td>
								<p class="txt-black idpt-bold">T_가디언</p>
								<p class="txt-black idpt-mt20">인터넷 유해 콘텐츠 차단<br>(음란, 폭력물 등)</p>
								<a href="http://m.tworld.co.kr/mwire.do?serviceId=S_WIRE3000&viewId=M_WIRE3000&prod_id=NI00000333" target="_self" class="idpt-link-default small idpt-mt20">바로가기</a>
							</td>
							<td>
								<a href="#none">
									<p class="txt-black idpt-bold">T_홈CCTV(3년)</p>
									<p class="txt-black idpt-mt20">스마트폰 활용 CCTV<br>실시간 모니터링</p>
								</a>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<p class="txt-black idpt-bold">T_클린</p>
								<p class="txt-black idpt-mt20">바이러스, 악성코드 치료 및 PC성능 개선<br>(B인터넷 가입 고객 대상)</p>
								<a href="http://m.tworld.co.kr/mwire.do?serviceId=S_WIRE3000&viewId=M_WIRE3000&prod_id=NI00000314" target="_self" class="idpt-link-default small idpt-mt20">바로가기</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

        </div>
        <!--// #contents -->
<!-- ##################################################################################################### -->
    </div>
</body>
