
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">이용자 피해예방 가이드</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <!--<link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" />-->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <hr class="idpt-seperator no-border" aria-hidden="true"/>

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box howdo prev-bg01">
                <h2 class="prev-title">스미싱 피해예방 안내</h2>
				<h3 class="prev-title">스마트폰을 통한 스미싱 피해예방법을<br>알려드립니다.</h3>
            </div>
            <!--// 타이틀 영역 -->

            <hr class="idpt-seperator no-border" aria-hidden="true"/>

            <div class="idpt-cont-box">
                <p class="txt-black idpt-bold">스미싱이란?</p>
				<p class="txt-black idpt-mt20">
					문자(SMS)와 피싱(Phishing)의 합성어입니다.<br>
					지인, 공공기관, 기업을 사칭한 문자 내 URL에 접속하면, 악성코드가 설치되어 소액결제 피해가 발생하거나 개인/금융정보가 탈취됩니다.
				</p>
			</div>

			<div class="idpt-cont-box">
				<p class="txt-black idpt-bold">스미싱 문자 유형</p>
				<div class="idpt-img-box idpt-mt30">
					<img src="{{cdn}}/img/customer/damage-pre/img_cont_p77_01.png" alt="10월30일 저희 결혼해요.축하해주세요.모시는글 http://ed99.uso.com, [소액결제]넥슨 10/26 결제금액:55000원 결제내역확인 http://goglep.net - URL 접속금지">
				</div>
                <div class="idpt-btn-wrap idpt-mt30">
                    <!--<a href="page001(popup01).html" class="fe-link-internal idpt-btn-cs btn-full btn-blue" target="_blank">스미싱 피해 유형 상세 보기</a>-->
					<a href="javascript:void(0)" data-popup="popup01" class="idpt-popup-open idpt-btn-cs btn-full btn-blue">스미싱 피해 유형 상세 보기</a>
                </div>
			</div>

            <!-- accordian -->
            <ul class="idpt-accordian">
                <li>
                    <a href="javascript:void(0)" role="button" aria-pressed="false">스미싱 피해예방 안전 수칙</a>
                    <div class="idpt-accordian-cont">
						<p class="txt-black idpt-bold underline-gray idpt-mt0">출처가 불분명한 문자의 URL에 접속하지 않습니다.</p>
						<p class="txt-black idpt-mt30">알 수 없는 출처의 앱 설치는 '끄기'로 설정합니다.</p>
						<p class="txt-gray with-star idpt-mt24">안드로이드폰의 경우, 이 방법으로 보안 설정을 강화하면 스미싱 피해를 90%이상 줄일 수 있습니다.</p>

						<div class="idpt-img-box idpt-mt60">
							<img src="{{cdn}}/img/customer/howdo/howdo_cont14_3.jpg" alt="" style="max-width:9.375rem">
						</div>
						<p class="txt-black idpt-mt20 align-center">설정 > 잠금화면 및 보안</p>
						<hr class="idpt-down-box" aria-hidden="true"/>

						<div class="idpt-img-box idpt-mt30">
							<img src="{{cdn}}/img/customer/howdo/howdo_cont14_4.jpg" alt="" style="max-width:9.375rem">
						</div>
						<p class="txt-black idpt-mt20 align-center">주기적으로<br>보안 업데이트 확인</p>
						<hr class="idpt-down-box" aria-hidden="true"/>

						<div class="idpt-img-box idpt-mt30">
							<img src="{{cdn}}/img/customer/howdo/howdo_cont14_5.jpg" alt="" style="max-width:9.375rem">
						</div>
						<p class="txt-black idpt-mt20 align-center">출처를 알 수 없는 앱 설치<br>'허용 안 됨'으로 유지</p>
						<p class="txt-gray idpt-mt30">앱 설치 전 확인을 통해 악성 앱이 자동으로 설치되는 것을 막아 피해를 예방합니다.</p>

						<ul class="idpt-oneline-list idpt-mt40">
							 <li class="top-border">
								<p class="one-title">‘T가드’ 무료백신 앱을 설치한 후 주기적으로 검사를 실행합니다.</p>
								<div class="idpt-btn-wrap idpt-mt30">
									<a href="https://m.onestore.co.kr/mobilepoc/apps/appsDetail.omp?prodId=0000329718&PrePageNm=/searchresult" class="fe-link-external idpt-btn-cs btn-full btn-blue" target="_blank">T가드 무료백신 앱 다운로드 바로가기</a>
								</div>
							</li>
							 <li>
								<p class="one-title">스팸 필터링 부가서비스(무료)에 가입합니다.</p>
								<div class="idpt-btn-wrap idpt-mt30">
									<a href="http://m.tworld.co.kr/mnormal.do?serviceId=S_PHOW0004&viewId=M_PHOW1002&prodId=TW50000029" class="fe-link-internal idpt-btn-cs btn-full btn-blue">스팸필터링 부가서비스 신청하기</a>
								</div>
							</li>
							 <li>
								<p class="one-title">소액결제 차단 / 제한 설정을 합니다.</p>
								<p class="txt-gray idpt-mt20">휴대폰 소액결제 기능을 차단하거나, 결제금액 한도를 제한할 수 있습니다.</p>
									<div class="idpt-btn-wrap idpt-mt30">
										<a href="/myt-fare/bill/small" class="fe-link-internal idpt-btn-cs btn-full btn-blue">소액결제 차단 / 제한 설정 바로가기</a>
									</div>
							</li>
							 <li>
								<p class="one-title">휴대폰결제 비밀번호 서비스(무료)를 신청합니다.</p>
								<p class="txt-gray idpt-mt20">소액결제를 신청하시면 설정하신 비밀번호를 입력해야만 결제가 가능하므로 보안이 더욱 강화됩니다.</p>
								<div class="idpt-btn-wrap idpt-mt30">
									<a href="http://m.tworld.co.kr/mnormal.do?serviceId=S_PROD2001&viewId=M_PROD2001&prod_id=NA00003909" class="fe-link-internal idpt-btn-cs btn-full btn-blue">휴대폰결제 비밀번호 부가서비스 신청하기</a>
								</div>
							</li>
						</ul>
					</div>

                </li>
				<li>
					 <a href="javascript:void(0)" role="button" aria-pressed="false">스미싱 피해가 발생할 경우 대처방법</a>
					 <div class="idpt-accordian-cont">
                        <p class="txt-black idpt-bold idpt-mt0">금전피해가 발생할 경우, 다음의 절차를 따르세요.</p>
						<ul>
							<li>
								<p class="txt-gray idpt-bold idpt-mt30">1단계. 경찰서 방문 / 신고</p>
								<p class="txt-gray idpt-mt30">
									신분증, 스미싱 피해 휴대폰, 피해내역 (요금안내서 내 소액결제 이용내역 등 증빙자료)을 가지고 경찰서에 방문합니다.<br>
									피해내용을 신고한 후 ‘사건사고 사실확인원’을 발급받습니다. (발급용도는 ‘통신사 제출용’입니다. 피해 금액과 발급번호를 꼭 적어 주세요.)
								</p>
							</li>
							<li>
								<p class="txt-gray idpt-bold idpt-mt30">2단계. SK텔레콤 고객센터 접수</p>
								<p class="txt-gray idpt-mt30">
									SK텔레콤 고객센터(114)로 전화해 스미싱 피해를 접수하시고 ‘사건사고 사실확인원’을 FAX로 발송합니다.
								</p>
							</li>
							<li>
								<p class="txt-gray idpt-bold idpt-mt30">3단계. 접수 결과 안내</p>
								<p class="txt-gray idpt-mt30">
									SK텔레콤에 접수하신 피해사례는 소액결제사 또는 콘텐츠 제공업체에 확인 후, 6일 이내에 처리 결과를 전화로 안내해드립니다.
								</p>
							</li>
						</ul>
						<hr class="idpt-underline" aria-hidden="true"/>
						<p class="txt-black idpt-bold idpt-mt40">설치된 ‘악성파일’을 삭제합니다.</p>
						<p class="txt-gray idpt-mt30">
							휴대폰 내 ‘다운로드’ 앱 실행 > 문자 내 URL 접속 후, 확장자명 'apk'파일 저장 여부 확인 > 해당 'apk'파일 삭제<br>
							(삭제되지 않는 경우, 제조사 서비스센터를 방문하거나, 휴대폰을 초기화해주세요.)
						</p>

					</div>
				</li>
            </ul>
            <!--// accordian -->

			<!-- popup 시작 -->
			<div class="idpt-popup">
				<div class="idpt-popup-wrap" id="popup01">
					<div class="idpt-popup-header">
						<p class="popup-title">스미싱 피해 유형 상세 보기</p>
						<a href="javascript:void(0)" onclick="history.back();" class="idpt-popup-close">팝업닫기</a>
					</div>
					<div class="idpt-popup-cont-wrap">
						<div class="idpt-popup-cont">

							<div class="idpt-cont-box">
								<p class="info-txt idpt-bold">금융 정보 탈취</p>
								<ul class="idpt-dot-list-black">
									<li>휴대폰에 저장된 보안카드, 공인인증서 등을 탈취해 해커에게 전송합니다.</li>
									<li>
										금융 뱅킹 앱을 사칭하는 가짜 앱 설치를 유도합니다. 이후 보안등급 업그레이드 등의 명목으로 보안카드번호 입력을 유도합니다.
										<p class="txt-gray with-star idpt-mt20">
											 은행권에서 제공하는 앱은 보안 강화를 목적으로 금융정보 입력을 요구하지 않습니다.
										</p>
									</li>
								</ul>
							</div>

							<div class="idpt-cont-box">
								<p class="info-txt idpt-bold">내 휴대폰의 수신 문자 탈취</p>
								<ul class="idpt-dot-list-black">
									<li>휴대폰으로 수신되는 문자를 가로채서 해커의 서버로 자동 전송합니다.</li>
									<li>이 수법으로 소액결제 인증문자를 탈취하여 의도하지 않은 결제 등의 금전적 피해를 줍니다.</li>
								</ul>
							</div>

							<div class="idpt-cont-box">
								<p class="info-txt idpt-bold">지인에게 문자 자동 전송</p>
								<ul class="idpt-dot-list-black">
									<li>내 휴대폰에 저장된 지인들에게 단체로 동일한 스미싱 문자를 전송합니다.</li>
									<li>최근 발신번호를 속여 스미싱 문자를 유포하기 위해 사용되는 방법입니다.</li>
									<li>대량 문자 전송 요금 발생 등의 피해가 발생합니다.</li>
								</ul>
							</div>

							<div class="idpt-cont-box">
								<p class="info-txt idpt-bold">개인정보 탈취</p>
								<ul class="idpt-dot-list-black">
									<li>휴대폰에 저장된 주소록 정보 및 사진파일, 문자메시지 내용 등 개인정보를 탈취해 해커에게 전송합니다.</li>
								</ul>
							</div>

							<div class="idpt-cont-box">
								<p class="info-txt idpt-bold">해커가 조작 가능한 좀비폰으로 만듦</p>
								<ul class="idpt-dot-list-black">
									<li>휴대폰을 악성코드에 감염시켜 해커의 명령에 따라 개인정보를 전송하거나 문자를 발송하는 등 다른 스마트폰을 감염시키는 악성코드의 숙주 역할을 하게 합니다.</li>
								</ul>
							</div>

						</div>
					</div>
				</div>
			</div>
			<!--// popup 끝 -->

        </div>
        <!--// #contents -->
<!-- ##################################################################################################### -->
    </div>
</body>
