
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">이용자 피해예방 가이드</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <hr class="idpt-seperator no-border" aria-hidden="true"/>

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box howdo prev-bg04">
                <h2 class="prev-title">클라우드 보안 방법</h2>
				<h3 class="prev-title">쉽고 간단한 클라우드 보안<br>방법을 알려 드립니다.</h3>
            </div>
            <!--// 타이틀 영역 -->

            <hr class="idpt-seperator no-border" aria-hidden="true"/>

            <div class="idpt-cont-box">
                <p class="txt-black idpt-bold">클라우드란?</p>
				<p class="txt-black idpt-mt30">
					네트워크로 연결된 파일 저장 공간 제공 서비스를 말하며<br>
					스마트폰, 태블릿 등 인터넷으로 연결된 기기라면 언제 어디서나 저장된 파일을 실행할 수 있습니다.
				</p>
			</div>

			<div class="idpt-cont-box">
				<p class="txt-black idpt-bold">클라우드 보안 우려?</p>
				<p class="txt-black idpt-mt30">
					클라우드 서비스는 언제 어디서나 파일을 관리할 수 있는 편리한 서비스입니다. 하지만 해당 파일저장 서버에 연결만 되면 타인에게 저장 파일이 노출될 수 있는 해킹 위험성을 가지고 있습니다.
				</p>
				<div class="idpt-img-box idpt-mt30">
					<img src="{{cdn}}/img/customer/damage-pre/img_cont_p80_01.jpg" alt="">
				</div>
			</div>

            <!-- accordian -->
            <ul class="idpt-accordian">
                <li>
                    <a href="javascript:void(0)" role="button" aria-pressed="false">클라우드 서비스 보안 방법</a>
                    <div class="idpt-accordian-cont">
						<p class="txt-black idpt-bold idpt-mt0">동기화 기능을 ‘끄기’로 설정합니다.</p>
						<p class="txt-gray idpt-mt30">스마트폰이나 PC의 특정 프로그램을 통해 원하지 않아도 파일이 자동으로 클라우드 공간에 업로드될 수 있습니다.</p>

						<p class="txt-gray idpt-bold idpt-mt40">① 안드로이드의 경우(구글 사진 앱)</p>

						<div class="idpt-img-box idpt-mt30">
							<img src="{{cdn}}/img/customer/damage-pre/img_cont_p80_01-1.jpg" alt="구글 사진 앱 > 설정" style="max-width:9.375rem">
						</div>
						<hr class="idpt-down-box">
						<div class="idpt-img-box idpt-mt30">
							<img src="{{cdn}}/img/customer/damage-pre/img_cont_p80_01-2.jpg" alt="구글 드라이브 동기화 기능 끄기" style="max-width:9.375rem">
						</div>

						<p class="txt-gray idpt-bold idpt-mt40">② iOS의 경우</p>

						<div class="idpt-img-box idpt-mt30">
							<img src="{{cdn}}/img/customer/damage-pre/img_cont_p80_02-1.png" alt="Apple ID > iCloud > 사진" style="max-width:9.375rem">
						</div>
						<hr class="idpt-down-box">
						<div class="idpt-img-box idpt-mt30">
							<img src="{{cdn}}/img/customer/damage-pre/img_cont_p80_02-2.png" alt="나의 사진 스트림 끄기" style="max-width:9.375rem">
						</div>

						<hr class="idpt-underline" aria-hidden="true"/>
						<p class="txt-black idpt-bold idpt-mt40">계정 정보가 노출되지 않도록 관리합니다.</p>
						<p class="txt-gray idpt-mt30">
							클라우드 서비스는 아이디와 비밀번호 등을 입력해 사용하는 개인 서비스로 계정관리가 필수입니다.<br>
							공공 PC처럼 여러 사람이 쓰는 PC에서 클라우드를 사용한 이후 반드시 로그아웃하고 개인정보를 삭제해야 클라우드 해킹을 방지할 수 있습니다.
						</p>

						<hr class="idpt-underline" aria-hidden="true"/>
						<p class="txt-black idpt-bold idpt-mt40">이중 인증을 사용합니다.</p>
						<p class="txt-gray idpt-mt30">
							이중 인증은 2가지 인증방법을 조합한 방식이며, 단일 인증의 보안 취약점을 보강합니다.<br>
							특히 로그인할 때마다 휴대폰으로 인증번호를 발송해 입력하도록 하는 이중 보안 방식을 권장합니다.
						</p>

					</div>

                </li>
            </ul>
            <!--// accordian -->

        </div>
        <!--// #contents -->
<!-- ##################################################################################################### -->
    </div>
</body>
