
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">SNS 피해예방법</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <hr class="idpt-seperator no-border" aria-hidden="true"/>

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box howdo prev-bg12">
                <h2 class="prev-title">SNS 개인정보 보호 꿀팁</h2>
				<h3 class="prev-title">게시물 사진 속<br>개인정보 확인하기</h3>
            </div>
            <!--// 타이틀 영역 -->

			<hr class="idpt-seperator no-border" aria-hidden="true"/>
            <div class="idpt-cont-box">
				<p class="txt-black align-center">
					쉽게 공유되고 확산될 수 있기에 더<br>조심해야되는 SNS속 개인정보 보호.<br>
					반드시 알아야 할 &#60;SNS속 개인정보 체크포인트를 카드뉴스&#62;로 꼼꼼히 알려드려요!
				</p>
				<div class="idpt-img-box idpt-mt30">
					<ul>
						<li><img src="{{cdn}}/img/customer/damage-pre/sns02/img_cont_sns01.png" alt="내 SNS 개인정보 안전하게 지키는 방법, 얼마나 알고 있나요? 게시물 사진 속 개인정보 확인하기"></li>
                        <li><img src="{{cdn}}/img/customer/damage-pre/sns02/img_cont_sns02.png" alt="내 정보 신문 - 자세한 내용은 다음 텍스트를 참고하세요.">
                            <div class="blind">
                                <h5>내 정보 신문 - 2018 인터넷 내정보 지킴이 캠페인 9월 17일(월) ~ 11월 16일(금)</h5>
                                <strong>무심코 올린 SNS 사진 때문에 범죄와 정보 노출까지?</strong><!-- 181026 웹접근성수정_01 -->
                                <p>최근 SNS에 게시된 사진 게시물을 악용한 범죄가 속출하는 상황</p>
                                <ul>
                                    <li>휴가계획을 SNS에 자랑했다가 빈집털이범의 표적이 되기도!</li>
                                    <li>SNS에 게시된 10대 여학생들 사진 '6,000'여 장 무단으로 타 채널에 게시한 사건 발생!</li><!-- 181026 웹접근성수정_02 -->
                                    <li>그 외 개인정보가 담긴 SNS 사진게시물을 통한 각종 악의적인 범죄가 속출</li>
                                </ul>
                            </div>
                        </li>
						<li><img src="{{cdn}}/img/customer/damage-pre/sns02/img_cont_sns03.png" alt="그렇다면 SNS 사진 게시할 때 유의할 점은 무엇일까요?! SNS에 함부로 게시해선 '안되는 사진'들을 알려드립니다!"></li>
                        <li><img src="{{cdn}}/img/customer/damage-pre/sns02/img_cont_sns04.png" alt="SNS 사진 게시할 때 유의할 점 1. 비행기 탑승권 - 자세한 내용은 다음 텍스트를 참고하세요.">
                            <div class="blind">
                                <h5>1. 비행기 탑승권 - 탑승권에 찍힌 바코드는 개인정보 엑기스?!</h5>
                                <strong>무심코 찍은 탑승권 속 여행 일정은 곧 내가 집을 비운 일정이라는 사실! * 특히 바코드는 절대 게시해선 안 돼요!</strong>
                                <p>→ 탑승권 바코드를 인식하면 이름은 물론 각종 개인정보와 여행정보, 항공 마일리지까지 조회 및 갈취가 가능!</p>
                            </div>
                        </li>
                        <li><img src="{{cdn}}/img/customer/damage-pre/sns02/img_cont_sns05.png" alt="SNS 사진 게시할 때 유의할 점 2. 공연 티켓 - 자세한 내용은 다음 텍스트를 참고하세요.">
                            <div class="blind">
                                <h5>2. 공연 티켓 - 공연 티켓 또한 내 신변을 위험하게 할 수 있습니다!</h5>
                                <strong></strong>
                                <p>공연 시간을 노출하는 것은 공연 시간 동안 집을 비울 것이라는 정보를 넘겨주는 셈! 티켓 안에 쓰인 결재자의 이름, 결제 정보는 범죄에 이용 당할 수 있어요! 또, 허위 티켓 판매 사기꾼의 좋은 자료로 사용될 수 있으니 게시를 자제하세요!</p>
                            </div>
                        </li>
                        <li><img src="{{cdn}}/img/customer/damage-pre/sns02/img_cont_sns06.png" alt="SNS 사진 게시할 때 유의할 점 3. 이력서 등 개인정보가 명확히 기록된 사진 - 자세한 내용은 다음 텍스트를 참고하세요.">
                            <div class="blind">
                                <h5>3. 이력서 등 개인정보가 명확히 기록된 사진 - 이력서 및 기타 개인정보가 적힌 사진은 주의해야 합니다!</h5>
                                <ul>
                                    <li>SNS에는 이력서, 운전면허증, 수험표 같은 개인정보가 명시된 사진은 절대 게시해선 안됩니다!</li>
                                    <li>일상 사진을 찍었을 때도 근처 자신의 전화번호, 주소, 카드번호가 찍혔는지 확인!</li>
                                </ul>
                            </div>
                        </li>
                        <li><img src="{{cdn}}/img/customer/damage-pre/sns02/img_cont_sns07.png" alt="SNS 사진 게시할 때 유의할 점 4. 그 밖에 올려선 안되는 사진들! - 자세한 내용은 다음 텍스트를 참고하세요.">
                            <div class="blind">
                                <h5>4. 그 밖에 올려선 안되는 사진들!</h5>
                                <ul>
                                    <li>기타 휴가 정보, 행사 계획이 담긴 사진은 당신이 집을 비울 거라는 것과 위치정보 및 사행활 노출의 위험!</li>
                                    <li>택배 상자에 붙여져 있는 주소 스티커는 찍히지 않도록 반드시 주의!</li>
                                    <li>문자 메시지, 메신저 대화 같은 사적인 내용은 올리지 않도록 해요!</li>
                                </ul>
                            </div>
                        </li>
						<li><img src="{{cdn}}/img/customer/damage-pre/sns02/img_cont_sns08.png" alt="더 자세한 정보나 궁금한 점은? 온라인 개인정보보호 포털 i-privacy.kr 방문 혹은 전화 118로 연락주세요! (관련 기관 : 방송통신위원회, KISA 한국인터넷진흥원)"></li>
					</ul>
					<div class="idpt-btn-wrap idpt-mt30">
						<a href="http://m.tworld.co.kr/tglink.jsp?urlname=mTG_2229" class="fe-link-internal idpt-btn-cs btn-full btn-blue-noborder">목록</a>
					</div>
				</div>

			</div>

        </div>
        <!--// #contents -->
<!-- ##################################################################################################### -->
    </div>
</body>
