
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">이용자 피해예방 가이드</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <hr class="idpt-seperator no-border" aria-hidden="true"/>

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box howdo prev-bg03">
                <h2 class="prev-title">파밍 피해 예방법</h2>
				<h3 class="prev-title">파밍 사이트 식별법과<br>대처방안을 알려드립니다.</h3>
            </div>
            <!--// 타이틀 영역 -->

            <hr class="idpt-seperator no-border" aria-hidden="true"/>

            <div class="idpt-cont-box">
                <p class="txt-black idpt-bold">파밍이란?</p>
				<p class="txt-black idpt-mt30">
					정상 사이트 주소로 접속해도 해커가 만든 위조 사이트로 이동시킵니다. 이후 이용자의 금융정보를 탈취해 부당하게 돈을 인출해 가는 수법입니다.
				</p>
			</div>

			<div class="idpt-cont-box">
				<p class="txt-black idpt-bold">파밍 사이트 식별 방법</p>
				<p class="txt-black idpt-mt30">정상 사이트와 위조 사이트 URL이 동일하므로, URL이 아닌 ‘녹색 주소창’을 통해 정상 사이트인지 식별할 수 있습니다.</p>
				<div class="idpt-img-box idpt-mt30">
					<img src="{{cdn}}/img/customer/damage-pre/img_cont_p79_01.png" alt="정상사이트는 녹색 주소 표시줄 제공, 보안상태 표시(서비스 제공 회사명과 인증 기관 표시)">
				</div>
                <div class="idpt-btn-wrap">
                    <!--<a href="idpt_prev_cs79(popup01).html" class="fe-link-internal idpt-btn-cs btn-full btn-blue idpt-mt30" target="_blank">그 외 파밍사이트 추가 식별방법</a>-->
					<a href="javascript:void(0)" data-popup="popup01" class="idpt-popup-open idpt-btn-cs btn-full btn-blue idpt-mt30">그 외 파밍 사이트 추가 식별 방법</a>
                </div>
			</div>

            <!-- accordian -->
            <ul class="idpt-accordian">
                <li>
                    <a href="javascript:void(0)" role="button" aria-pressed="false">파밍 피해예방 안전 수칙</a>
                    <div class="idpt-accordian-cont">
						<p class="txt-black idpt-bold idpt-mt0">각 은행이 제공하는 2차 인증 서비스를 이용합니다.</p>
						<p class="txt-gray idpt-bold idpt-mt40">그래픽 인증</p>
						<p class="txt-gray idpt-mt30">
							그림의 순서를 설정하고 이를 기억하는 방식입니다.<br>
							사전에 미리 선택한 그림(Hole)에 설정한 그림들을 넣는 방식으로 로그인 후에 정확한 접속여부를 확인할 수 있습니다.
						</p>

						<p class="txt-gray idpt-bold idpt-mt30">개인화 이미지</p>
						<p class="txt-gray idpt-mt30">본인만 알 수 있는 특정 이미지를 미리 등록하므로, 인터넷 뱅킹 사이트로 로그인 후 내가 접속한 것이 진짜 사이트인지 알 수 있습니다.</p>

						<p class="txt-gray idpt-bold idpt-mt30">나만의 은행주소 서비스</p>
						<p class="txt-gray idpt-mt30">인터넷 뱅킹 주소에 나만 알 수 있는 추가 URL을 붙이는 방식입니다. 또한 나만의 은행주소로 접속할 경우 직접 설정한 나만의 캐릭터, 이미지, 문구 등이 나타나 안전하게 접속했는지 확인이 가능합니다.</p>
						<hr class="idpt-underline" aria-hidden="true"/>
						<p class="txt-black idpt-bold idpt-mt30">‘파밍캅’ 프로그램을 이용합니다.</p>
						<p class="txt-gray idpt-mt30">
							‘파밍캅’은 경찰청에서 배포하는 프로그램입니다.<br>
							‘파밍캅’은 악성코드가 감염된 윈도우 host 파일의 감염된 사이트 내용을 수정해 정상 사이트로 접속할 수 있도록 해, 파밍에 대한 예방이 가능합니다.
						</p>
					</div>

                </li>
				<li>
					 <a href="javascript:void(0)" role="button" aria-pressed="false">파밍 피해가 발생할 경우 대처 방법</a>
					 <div class="idpt-accordian-cont">
                        <p class="txt-black idpt-bold idpt-mt0">금전피해 발생 시, 구제 절차를 따릅니다.</p>
						<ul>
							<li>
								<p class="txt-gray idpt-bold idpt-mt30">Step1. 금융기관에 지급정지 신청</p>
								<p class="txt-gray idpt-mt24">
									112 또는 금융기관 콜센터에 전화해 지급정지를 신청합니다.
								</p>
							</li>
							<li>
								<p class="txt-gray idpt-bold idpt-mt30">Step2. 경찰서 방문/신고</p>
								<p class="txt-gray idpt-mt24">
									계좌이체 확인서/접속로그자료 등을 확보하여 신고하고 경찰서에 ‘사건사고 사실확인원’ 발급을 요청합니다.
								</p>
							</li>
							<li>
								<p class="txt-gray idpt-bold idpt-mt30">Step3. 피해금 환급 신청</p>
								<p class="txt-gray idpt-mt24">
									해당 금융기관에 ‘사건사고 사실확인원’ 제출해 피해금 환급을 신청합니다.
								</p>
							</li>
						</ul>
						<hr class="idpt-underline" aria-hidden="true"/>
						<p class="txt-black idpt-bold idpt-mt40">설치된 ‘악성파일’을 삭제합니다.</p>
						<p class="txt-gray idpt-bold idpt-mt30">백신 프로그램 이용</p>
						<p class="txt-gray with-dot idpt-mt30">KISA ‘보호나라’ 서비스, 백신프로그램을 이용해 치료</p>
						<div class="idpt-btn-wrap">
							<a href="https://www.boho.or.kr/main.do" class="fe-link-external idpt-btn-cs btn-full btn-blue-nostyle idpt-mt30" target="_blank">KISA 보호나라 바로가기</a>
						</div>
						<p class="txt-gray with-dot idpt-mt30">피해 컴퓨터 포맷</p>

					</div>
				</li>
            </ul>
            <!--// accordian -->

			<!-- popup 시작 -->
			<div class="idpt-popup">
				<div class="idpt-popup-wrap" id="popup01">
					<div class="idpt-popup-header">
						<p class="popup-title">그 외 파밍 사이트 추가 식별 방법</p>
						<a href="javascript:void(0)" onclick="history.back();" class="idpt-popup-close">팝업닫기</a>
					</div>
					<div class="idpt-popup-cont-wrap">
						<div class="idpt-popup-cont">

							<ul class="idpt-dot-list-black">
								<li>파밍 전용 백신 또는 보안 프로그램을 이용하시면 안전할 수 있습니다.</li>
								<li>사이트 이용 시 평소와 다른 입력 정보를 요구할 경우 의심해 볼 수 있습니다.</li>
								<li>스마트폰으로 동일한 주소를 입력했을 때 똑같은 화면이 나오는지 확인하실 수 있습니다.</li>
								<li>와이파이를 통한 휴대폰 접속할 경우에도 파밍 사이트로 연결될 때 LTE접속을 통해 PC화면과 비교하면서 확인하실 수 있습니다.</li>
							</ul>

						</div>
					</div>
				</div>
			</div>
			<!--// popup 끝 -->

        </div>
        <!--// #contents -->
<!-- ##################################################################################################### -->
    </div>
</body>
