
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">SNS 피해예방법</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <hr class="idpt-seperator no-border" aria-hidden="true"/>

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box howdo prev-bg11">
                <h2 class="prev-title">SNS 개인정보 보호 꿀팁</h2>
				<h3 class="prev-title">계정 로그인<br>2단계 인증 설정하기</h3>
            </div>
            <!--// 타이틀 영역 -->

			<hr class="idpt-seperator no-border" aria-hidden="true"/>
            <div class="idpt-cont-box">
				<p class="txt-black align-center">
					쉽게 공유되고 확산될 수 있기에 더<br>조심해야되는 SNS속 개인정보 보호.<br>
					반드시 알아야 할 &#60;SNS속 개인정보 체크포인트를 카드뉴스&#62;로 꼼꼼히 알려드려요!
				</p>
				<div class="idpt-img-box idpt-mt30">
					<ul>
						<li><img src="{{cdn}}/img/customer/damage-pre/sns01/img_cont_sns01.png" alt="내 SNS 개인정보 안전하게 지키는 방법, 얼마나 알고 있나요? 계정 로그인 2단계 인증 설정하기"></li>
                        <li><img src="{{cdn}}/img/customer/damage-pre/sns01/img_cont_sns02.png" alt="계정 로그인 2단계 인증 설정하기 - 자세한 내용은 다음 텍스트를 참고하세요.">
                            <div class="blind">
                                <p>당신의 SNS 계정은 안전한가요? SNS 계정 해킹을 통한 피해 사례가 최근 급속도로 많아지고 있는 상황</p>
                                <p>2015년 올해 8울까지 아이디(계정) 해킹&middot;도용 상담 건수가 1만8천여 건! 세계적으로 최근 1년간 공격당한 사용자
                                    계정 수는 전 동기 대비 300% 증가, 악성 IP로 부터의 계정 로그인 시도 또한 44% 상승, 일반인 뿐만 아니라 유명
                                    스타들의 해킹 사례 또한 속출 하고 있는 상황.</p><!-- 181026 웹접근성수정_02 -->
                                <p>아이디(계정) 해킹&middot;도용 상담 통게 건수(단위 : 건) 자료 : 한국인터넷진흥원(KISA)</p>
                                <ul>
                                    <li>2015년 7823건</li>
                                    <li>2016년 5855건</li>
                                    <li>2017년(1~8월) 4293건</li>
                                </ul>
                            </div>
                        </li>
						<li><img src="{{cdn}}/img/customer/damage-pre/sns01/img_cont_sns03.png" alt="그렇다면 우리의 소중한 SNS 계정을 어떻게 지킬 수 있을까요?! SNS 계정 로그인 2단계 인증 설정으로 쉽게 지켜보세요!"></li>
                        <li><img src="{{cdn}}/img/customer/damage-pre/sns01/img_cont_sns04.png" alt="1. 페이스북 인증 설정 방법 - 자세한 내용은 다음 텍스트를 참고하세요.">
                            <div class="blind">
                                <h5>1. 페이스북에서는?</h5>
                                <strong>타 기기에서 로그인할 경우 2단계 인증 요청을 통한 보호 방법! 3단계 절차로 편하고 빠르게 지키세요!</strong>
                                <p>페이지 내 [톱니아이콘(설정) → 계정설정 → 보안]을 눌러서 활성화하고 핸드폰으로 인증 문자를 받으면 끝! ※ 최초 로그인을
                                    시도하는 기기나 브라우저일 경우만 작동하므로 매우 편리!</p>
                            </div>
                        </li>
                        <li><img src="{{cdn}}/img/customer/damage-pre/sns01/img_cont_sns05.png" alt="2. 인스타그램 인증 설정 방법 - 자세한 내용은 다음 텍스트를 참고하세요.">
                            <div class="blind">
                                <h5>2. 인스타그램 에서는?</h5>
                                <strong>등록된 기기가 아닌 알 수 없는 기기에서 로그인할 때마다 사용자 이름 및 비밀번호와 함께 SMS 보안코드, 백업코드를
                                    추가로 입력하라는 메시지가 표시. 3단계 절차로 편하고 빠르게 지키세요!</strong><!-- 181026 웹접근성수정_03 -->
                                <p>페이지 내 [내 인스타그램 설정 → 2단계 인증 → 코드번호 인증]하면 끝! ※ 최초 로그인을 시도하는 기기나 브라우저일 경우만
                                    작동하므로 매우 편리!</p><!-- 181026 웹접근성수정_04 -->
                            </div>
                        </li>
                        <li><img src="{{cdn}}/img/customer/damage-pre/sns01/img_cont_sns06.png" alt="3. 트위터 인증 설정 방법 - 자세한 내용은 다음 텍스트를 참고하세요.">
                            <div class="blind">
                                <h5>3. 트위터에서는?</h5>
                                <strong>'로그인할 때 인증 코드 확인하기'기능 설정으로 내 개인정보 안전하게 지켜요! 2단계 절차로 편하고 빠르게 지키세요!</strong>
                                <p>[톱니아이콘(설정) → 계정보안의 '로그인할 때 인증 코드 확인하기'를 체크] ※ 단, 인증코드 수신은 문자로만 받을 수 있으니
                                    핸드폰 분실 및 전화번호 변경을 감안하여 백업 코드는 반드시 캡쳐 또는 메모해주세요!</p>
                            </div>
                        </li>
                        <li><img src="{{cdn}}/img/customer/damage-pre/sns01/img_cont_sns07.png" alt="자주 쓰는 메신저 인증 설정 방법(카카오톡) - 자세한 내용은 다음 텍스트를 참고하세요.">
                            <div class="blind">
                                <h5>하나 더! 자주 쓰는 메신저 계정도 보호할 수 있나요?</h5>
                                <strong>다음카카오 [카카오톡]에서는 PC 연결 관리로 로그인 확인 및 알림 가능! 4단계 절차로 편하고 빠르게 지키세요!</strong>
                                <p>[더보기 → 톱니아이콘(설정) → 개인/보안 → PC 연결 관리] 옵션을 찾아 설정하면 끝! ※ 카카오계정 옵션에 들어가면 로그인
                                    이력조회 및 관리도 가능하니 해킹이 의심된다면 꼭 확인해보아요!</p>
                            </div>
                        </li>
                        <li><img src="{{cdn}}/img/customer/damage-pre/sns01/img_cont_sns08.png" alt="자주 쓰는 메신저 인증 설정 방법(네이버) - 자세한 내용은 다음 텍스트를 참고하세요.">
                            <div class="blind">
                                <h5>하나 더! 자주 쓰는 메신저 계정도 보호할 수 있나요?</h5>
                                <strong>네이버 [LINE]에서는 내 계정에 접속 중인 기기 확인 가능! 4단계 절차로 편하고 빠르게 지키세요!</strong>
                                <p>[더보기 → 톱니아이콘(설정) → 계정 → 접속 중인 기기 확인!] ※ 그 외계정과 연동된 앱 확인을 통해 개인정보 보호를 강화할
                                    수 있으니 함께 확인해보아요!</p>
                            </div>
                        </li>
						<li><img src="{{cdn}}/img/customer/damage-pre/sns01/img_cont_sns09.png" alt="더 자세한 정보나 궁금한 점은? 온라인 개인정보보호 포털 i-privacy.kr 방문 혹은 전화 118로 연락주세요! (관련 기관 : 방송통신위원회, KISA 한국인터넷진흥원)"></li>
					</ul>
					<div class="idpt-btn-wrap idpt-mt30">
						<a href="http://m.tworld.co.kr/tglink.jsp?urlname=mTG_2229" class="fe-link-internal idpt-btn-cs btn-full btn-blue-noborder">목록</a>
					</div>
				</div>

			</div>

        </div>
        <!--// #contents -->
<!-- ##################################################################################################### -->
    </div>
</body>
