
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">이용자 피해예방 가이드</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <hr class="idpt-seperator no-border" aria-hidden="true"/>

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box howdo prev-bg05">
                <h2 class="prev-title">스마트폰 보안 수칙</h2>
				<h3 class="prev-title">스마트폰 안전 사용을 위한<br>보안 수칙을 알려드립니다.</h3>
            </div>
            <!--// 타이틀 영역 -->

            <hr class="idpt-seperator no-border" aria-hidden="true"/>

            <div class="idpt-cont-box">
                <p class="txt-black idpt-bold">안전한 스마트폰 사용의 필요성</p>
				<p class="txt-black idpt-mt30">
					모바일 기기의 개인화와 소형화, 스마트워크 활성화에 따라 개인정보 유출과 피싱 등의 보안 위협이 커졌습니다. 이를 방지하기 위해 사용자 개인의 보안의식과 실천이 중요합니다.
				</p>
			</div>

			<div class="idpt-cont-box">
				<p class="txt-black idpt-bold">소중한 스마트폰 보호를 위해 지켜야 할 보안 수칙</p>
				<ul class="idpt-dot-list-black idpt-mt30">
                    <li>스마트폰용 보안 소프트웨어와 백신을 설치합니다.</li>
                    <li>스마트폰에 저장된 개인정보 보호를 위해 비밀번호를 설정합니다. 중요한 데이터는 암호화합니다.</li>
					<li>발신인이 불명확하거나 의심스러운 문자 또는 메일은 읽지 않고 삭제합니다.</li>
					<li>의심스러운 앱은 다운로드 하지 않습니다.</li>
					<li>블루투스 등 무선 인터페이스를 통한 악성코드 유포를 주의합니다.</li>
					<li>스마트폰에 이상 증상이 발견되면, 백신 프로그램을 통해 기기 진단 및 치료를 진행합니다.</li>
					<li>다운로드한 파일은 바이러스 감염 여부를 검사한 후 사용합니다.</li>
					<li>PC에도 백신 프로그램을 설치해, PC의 악성코드가 스마트폰에 옮겨지지 않게 주의합니다.</li>
					<li>스마트폰 플랫폼 구조를 임의로 변경하지 않습니다.</li>
					<li>비밀번호 등 개인정보가 외부에 유출되지 않도록 주의합니다.</li>
				</ul>
			</div>

			<!--
            <ul class="idpt-accordian">
                <li>
                    <a href="#none">클라우드 서비스 보안 방법</a>
                    <div class="idpt-accordian-cont">
						<p class="txt-black idpt-bold idpt-mt0">동기화 기능 ‘off’ 설정을 합니다.</p>
						<p class="txt-gray idpt-mt30">스마트폰이나 PC의 특정 프로그램을 통해 원하지 않아도 파일이 자동으로 클라우드 공간에 업로드될 수 있습니다.</p>

                        <ul class="idpt-circle-num-list idpt-mt40">
                            <li>
								<p class="txt-gray idpt-bold">안드로이드의 경우(구글 사진 App)</p>
								<div class="idpt-img-box idpt-mt30">
									<img src="<%= CDN %>/img/common/cs-center/dummy.jpg" alt="">
								</div>
							</li>
                            <li>
								<p class="txt-gray idpt-bold">iOS의 경우</p>
								<div class="idpt-img-box idpt-mt30">
									<img src="<%= CDN %>/img/common/cs-center/dummy.jpg" alt="">
								</div>
							</li>
                        </ul>
						<hr class="idpt-underline" aria-hidden="true"/>
						<p class="txt-black idpt-mt40">계정 정보가 노출되지 않도록 관리합니다.</p>
						<p class="txt-gray sub-gray idpt-mt30">
							클라우드 서비스는 아이디와 비밀번호 등을 입력해 사용하는 개인 서비스로 계정관리가 필수입니다.<br>
							공공 PC처럼 여러 사람이 쓰는 PC에서 클라우드를 사용한 이후 반드시 로그아웃 후 개인정보를 삭제해야 클라우드 해킹을 방지할 수 있습니다.
						</p>

						<hr class="idpt-underline" aria-hidden="true"/>
						<p class="txt-black idpt-mt40">이중 인증을 사용합니다.</p>
						<p class="txt-gray sub-gray idpt-mt30">
							이중인증은 2가지 인증방법을 조합한 방식이며, 단일 인증의 보안 취약점을 보강합니다.<br>
							특히 로그인할 때마다 휴대전화로 인증번호를 발송해 입력하도록 하는 이중 보안방식을 권장합니다.
						</p>

					</div>

                </li>
            </ul>
            -->

        </div>
        <!--// #contents -->
<!-- ##################################################################################################### -->
    </div>
</body>
