
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <link rel="shortcut icon" href="img/common/favicon.ico" />
    <link rel="shortcut icon" href="img/common/favicon.png" />
    <link rel="apple-touch-icon" href="img/common/favicon.png" />
    <meta name="description" content="페이지설명" />
    <meta name="keywords" content="서비스키워드" />
    <meta property="og:title" content="SKT 홈페이지" />
    <meta property="og:site_name" content="SKT" />
    <meta property="og:image" content="/image/common/skt_facebook.jpg" />
    <meta property="og:description" content="SKT framework" />
    <title>SKT</title>
	<link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/common.css" media="all" /><!-- [C] 공통 스타일 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/layout.css" media="all" /><!-- [C] 박스 모델 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/widgets.css" media="all" /><!-- [C] 기능별 위젯 -->
    <link rel="stylesheet" type="text/css" href="http://ipt.rbipt.com/css/components.css" media="all" /><!-- [C] 단락별 컴퍼넌트 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/idpt-cs-mobile.js"></script>
</head>

<body>
    <!-- #skip_navigation -->
    <!-- <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div> -->
    <!--// #skip_navigation -->
    <div class="wrap">
		<!-- header -->
		<div id="header" class="header-wrap">
            <div class="h-belt">
                <div class="h-default">
                    <div class="h-menu">
                        <button type="button" class="icon-gnb-menu"><span class="blind">메뉴열기</span></button>
                    </div>
                    <div class="h-tit">이용자 피해예방 가이드</div>
                    <div class="h-serarch">
                        <button class="icon-gnb-search"><span class="blind">검색</span></button>
                    </div>
                </div>
            </div>
        </div>
		<!--// header -->
<!-- ##################################################################################################### -->
        <link rel="stylesheet" type="text/css" href="css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
        <link rel="stylesheet" type="text/css" href="css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
        <!-- #contents -->
        <div class="idpt-container">

            <hr class="idpt-seperator no-border" aria-hidden="true"/>

            <!-- 타이틀 영역 -->
            <div class="idpt-cont-box howdo prev-bg06">
                <h2 class="prev-title">스팸 문자 대응 방법</h2>
				<h3 class="prev-title">과다한 불법 스팸에 대한<br>대응방법을 알려드립니다.</h3>
            </div>
            <!--// 타이틀 영역 -->

            <hr class="idpt-seperator no-border" aria-hidden="true"/>

            <div class="idpt-cont-box">
                <p class="txt-black idpt-bold">스팸 문자란?</p>
				<p class="txt-black idpt-mt30">
					무작위로 추출한 주소 목록으로 네트워크를 통해 불특정다수에게 유포하는 광고성 문자입니다.
				</p>
			</div>

			<div class="idpt-cont-box">
				<p class="txt-black idpt-bold">스팸 문자 대응방법</p>
				<p class="txt-black idpt-mt50">서비스 가입 시 제공하는 개인정보를 최소화합니다.</p>
				<p class="txt-gray gray-sub idpt-mt30">
					웹사이트에 가입할 때 입력하는 개인정보가 스팸 문자의 대상이 될 수 있습니다. 원치 않는 스팸 문자를 막기 위해 개인 정보 활용 동의 항목에 ‘ V ’ 체크를 최소화해야 합니다.<br>
					서비스 가입을 위해 꼭 체크해야 하는 부분과 ‘제휴 서비스 홍보와 가입 권유를 위한 상품 안내 동의’ 등과 같이 선택하지 않아도 되는 항목을 꼼꼼히 확인 후, 필요하지 않는 부분은 ‘ V ’ 체크를 하지 않습니다.
				</p>
				<p class="txt-black idpt-mt50">(안드로이드) 스마트폰에서 직접 차단합니다.</p>
				<p class="txt-gray gray-sub idpt-mt30">
					스팸 문자 창의 [스팸 번호 등록] 메뉴에서 직접 스팸 번호를 등록합니다.
				</p>

				<div class="idpt-img-box idpt-mt30">
					<img src="{{cdn}}/img/customer/damage-pre/img_cont_p82_01-1.jpg" alt="스팸문자 창 > 수신 차단" style="max-width:9.375rem">
				</div>
				<hr class="idpt-down-box">
				<div class="idpt-img-box idpt-mt30">
					<img src="{{cdn}}/img/customer/damage-pre/img_cont_p82_01-2.jpg" alt="이 번호의 전화 및 메시지는 받지 않습니다. 확인" style="max-width:9.375rem">
				</div>


				<p class="txt-black idpt-mt50">(iOS) 스마트폰에서 직접 차단합니다.</p>
				<p class="txt-gray gray-sub idpt-mt30">
					iOS7 이상의 기기는 발신자 차단 서비스를 제공합니다. 스팸 문자 창 오른쪽 위의 ‘세부사항’에 접속합니다. [ i ] 아이콘을 누르신 후 ‘이 발신자 차단’ 기능을 이용하실 수 있습니다.
				</p>

				<div class="idpt-img-box idpt-mt30">
					<img src="{{cdn}}/img/customer/damage-pre/img_cont_p82_02-1.png" alt="스팸문자 창 오른쪽 위 정보 클릭" style="max-width:9.375rem">
				</div>
				<hr class="idpt-down-box">
				<div class="idpt-img-box">
					<img src="{{cdn}}/img/customer/damage-pre/img_cont_p82_02-2.png" alt="세부사항" style="max-width:9.375rem">
				</div>
				<hr class="idpt-down-box">
				<div class="idpt-img-box">
					<img src="{{cdn}}/img/customer/damage-pre/img_cont_p82_02-3.png" alt="이 발신자 차단" style="max-width:9.375rem">
				</div>

			</div>

        </div>
        <!--// #contents -->
<!-- ##################################################################################################### -->
    </div>
</body>
